Repository eclipse-omr/omr, pull requests merged in 2018-10, with the labels that each got.

#3013 Fix for missing platform check for Guarded Storage
  compiler/codegen/OMRCodeGenPhase.cpp
Labels: compiler

#3015 AArch64: Enable arch_arm64 in OMRCPU.cpp
  compiler/env/OMRCPU.cpp
Labels: compiler

#3021 AArch64: Fix isRegisterOffsetInstruction(), etc.
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: compiler

#2963 AArch64: Implement loadConstant32() and loadConstant64()
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/ARM64ShiftCode.hpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#2964 AArch64: Add utility functions for generating MOV, MUL, etc.
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
Labels: compiler

#3024 Add bitOrU32 to AtomicSupport.hpp
  include_core/AtomicSupport.hpp
Labels: port

#2575 Introduce support for sqrt IL OpCode on X86
  compiler/env/OMRArithEnv.hpp
  compiler/il/ILOpCodeProperties.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHandlers.hpp
  compiler/optimizer/OMRSimplifierTableEnum.hpp
  compiler/x/amd64/codegen/TreeEvaluatorTable.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertest/tests/OpCodesTest.cpp
  fvtest/compilertest/tests/OpCodesTest.hpp
  fvtest/compilertest/tests/X86OpCodesTest.cpp
Labels: compiler

#2999 Implement atomic add and swap codegen support for Z
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ras/Debug.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Labels: compiler

#2900 AArch64: Implement OMRMachine functions
  compiler/aarch64/codegen/MemoryReference.hpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMachine.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
Labels: compiler

#3023 Enable vbpermq support in the Power codegen
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OpBinary.cpp
  compiler/p/codegen/OpProperties.cpp
  compiler/p/codegen/PPCOps.ops
  compiler/ras/PPCOpNames.cpp
Labels: compiler

#2978 Improvements for Relocatable Compilations
  compiler/codegen/FrontEnd.hpp
  compiler/codegen/Relocation.cpp
  compiler/compile/Method.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/ResolvedMethod.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/il/symbol/OMRResolvedMethodSymbol.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/runtime/Runtime.hpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Labels: compiler

#3038 Fix for compilation error under certain compilers
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: compiler

#3022 Clean up GC test shutdown; don't run GC tests for disabled features
  fvtest/gctest/GCConfigTest.cpp
  gc/startup/omrgcstartup.cpp
  gc/startup/omrgcstartup.hpp
Labels: gc, test

#3010 Restore building on gcc>=4.9
  fvtest/jitbuildertest/ConvertBitsTest.cpp
Labels: jitbuilder, test

#3041 Add new static get opCode APIs for code generator evaluators
  compiler/z/codegen/InstOpCode.cpp
  compiler/z/codegen/OMRInstOpCode.hpp
Labels: compiler

#2727 Make hookgen/tracegen deal with EBCDIC on z/OS
  configure
  configure.ac
  example/glue/configure_includes/configure_zos_390.mk
  omrmakefiles/configure.mk.in
  omrmakefiles/rules.zos.mk
  third_party/pugixml-1.5/pugixml.cpp
  tools/hookgen/main.cpp
  tools/hookgen/makefile
  tools/tracegen/FileUtils.cpp
  tools/tracegen/main.cpp
  tools/tracegen/makefile
  tools/tracemerge/main.cpp
  tools/tracemerge/makefile
Labels: tooling

#3045 Compressedrefs - Map memory below 4GB - OSX
  cmake/modules/platform/os/osx.cmake
  fvtest/porttest/omrmemTest.cpp
  port/common/omrmemtag.c
Labels: build / configure, cmake, port

#3046 Set aladd internal pointer flag for VP arraycopy
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: compiler

#3036 Deprecate ShrinkWrapping - Part I
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/codegen/OMRCodeGenPhase.hpp
  compiler/codegen/OMRCodeGenPhaseEnum.hpp
  compiler/codegen/OMRCodeGenPhaseFunctionTable.hpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRGCStackAtlas.cpp
  compiler/codegen/OMRLinkage.hpp
  compiler/compile/OMRCompilation.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/il/OMRBlock.cpp
  compiler/il/OMRBlock.hpp
  compiler/optimizer/CMakeLists.txt
  compiler/optimizer/DataFlowAnalysis.cpp
  compiler/optimizer/DataFlowAnalysis.enum
  compiler/optimizer/DataFlowAnalysis.hpp
  compiler/optimizer/OMROptimizationManager.cpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMROptimizer.hpp
  compiler/optimizer/Optimizations.enum
  compiler/optimizer/RegisterAnticipatability.cpp
  compiler/optimizer/RegisterAvailability.cpp
  compiler/optimizer/ShrinkWrapping.cpp
  compiler/optimizer/ShrinkWrapping.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/PPCDebug.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/X86SystemLinkage.cpp
  compiler/x/i386/codegen/IA32SystemLinkage.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/S390Peephole.cpp
  fvtest/compilertest/build/files/common.mk
  fvtest/compilertest/env/FrontEnd.cpp
  jitbuilder/build/files/common.mk
  jitbuilder/env/FrontEnd.cpp
  jitbuilder/optimizer/JBOptimizer.cpp
Labels: compiler

#3048 Cmake: Add OS helper variables
  cmake/modules/OmrDetectSystemInformation.cmake
Labels: cmake

#3057 Remove Linux x86 (32bit) testing
  .travis.yml
  scripts/build-on-travis.sh
Labels: build / configure, ci

#3053 Map OS name "Darwin" to "Mac OS X"
  port/unix/omrsysinfo.c
Labels: port

#2996 Make OMR an installable library
  CMakeLists.txt
  OmrConfig.cmake
  omrsigcompat/CMakeLists.txt
  util/avl/CMakeLists.txt
Labels: cmake

#3037 Deprecate ShrinkWrapping - Part II
  compiler/optimizer/RegisterAnticipatability.cpp
  compiler/optimizer/RegisterAvailability.cpp
  compiler/optimizer/ShrinkWrapping.cpp
Labels: compiler

#3054 Report if CS is H/W assisted
  gc/include/omrmm.hdf
  gc/verbose/VerboseHandlerOutput.cpp
Labels: gc

#3058 Correct the comment of indirectCallEvaluator on X86
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#3062 Align comments in tree evaluator tables on X86
  compiler/x/amd64/codegen/TreeEvaluatorTable.hpp
  compiler/x/i386/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3065 Remove Linux x86-64 compressed references testing
  .travis.yml
  scripts/build-on-travis.sh
Labels: build / configure, ci

#3068 Deprecate ShrinkWrapping - Part III
  compiler/control/OMROptions.cpp
Labels: compiler

#3066 Software RangeCheck Read Barrier
  gc/base/GCExtensionsBase.hpp
Labels: gc

#3071 Remove arm and aarch64 builds from Travis
  .travis.yml
  scripts/build-on-travis.sh
Labels: build / configure, ci

#3067 Align heap for GS if necessary only
  gc/base/GCExtensionsBase.hpp
Labels: gc

#3070 Fix OSX implementation of omrsig_info()
  port/osx/omrsignal_context.c
  port/unix/omrsignal.c
Labels: port

#3032 AArch64: Implement TR_ARM64RegisterDependencyGroup::assignRegisters()
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
Labels: compiler

#3073 Remove bogus assertion in TR_IndirectCallSite
  compiler/optimizer/Inliner.cpp
Labels: compiler

#3090 Fix MSVC error C2398 requires narrowing conversion
  fvtest/compilertriltest/SimplifierFoldAbsNegTest.cpp
Labels: compiler

#3094 State explicitly CS witout H/W assistance
  gc/base/GCExtensionsBase.hpp
  gc/include/omrmm.hdf
  gc/verbose/VerboseHandlerOutput.cpp
Labels: gc

#3095 Add support for CUDA 10.0
  port/common/omrcuda.cpp
Labels: port

#3091 Explicit thread count for parallel GC task
  gc/base/Dispatcher.cpp
  gc/base/Dispatcher.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
Labels: gc

#3085 Avoid inlining TR_ScratchBufferInfo::writeToBuffer
  compiler/compile/OSRData.cpp
Labels: bug, compiler

#3110 Use _extensions in VGC handler
  gc/verbose/VerboseHandlerOutput.cpp
Labels: bug, gc

#3093 Flush GC caches for concurrent marker thread
  gc/base/standard/ConcurrentGC.cpp
Labels: gc

#3118 Set Specialized for arraycopy direction on IBM Z
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3111 Remove pointless obtaining of GR1
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3120 Remove unused ParallelDispatcher API
  gc/base/Dispatcher.cpp
  gc/base/Dispatcher.hpp
  gc/base/ParallelDispatcher.hpp
Labels: gc

#3020 AArch64: Implement BBStart/BBEnd evaluators
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3099 AArch64: Add guard to Machine::assignOneRegister()
  compiler/aarch64/codegen/OMRMachine.cpp
Labels: compiler

#3097 AArch64: Add incRegisterTotalUseCounts() to RegisterDependencyConditions
  compiler/aarch64/codegen/OMRInstruction.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.hpp
Labels: compiler

#3092 AArch64: Remove code related to MemoryDataRegister from OMRMemoryReference
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: compiler

#3082 AArch64: Add ARM64RegBranchInstruction for br/blr/ret
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: compiler

#2984 AArch64: Implement iconstEvaluator() and some others
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: compiler

#3027 Add wrtbar/wrtbari opcodes
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/TreeEvaluatorTable.hpp
  compiler/codegen/NodeEvaluation.cpp
  compiler/il/ILOpCodeProperties.hpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRIL.hpp
  compiler/il/OMRILOpCodesEnum.hpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/LocalAnalysis.cpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierTableEnum.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/TreeEvaluatorTable.hpp
  compiler/ras/Tree.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/amd64/codegen/TreeEvaluatorTable.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/TreeEvaluatorTable.hpp
  compiler/z/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3122 Fix cannot be narrowed to type 'uintptrj_t' error
  compiler/control/OMROptions.cpp
Labels: compiler

#3116 Delete zeroOutAutoOnEdge implementation
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
Labels: compiler

#3098 AArch64: Fix code generation of return
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3064 Remove 'no virt' comments from code generators
  compiler/arm/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRInstruction.hpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: compiler

#3106 Set ICF flags on labels instead of instructions in the Z codegen
  compiler/il/symbol/OMRSymbol_inlines.hpp
  compiler/z/codegen/BinaryAnalyser.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/CompareAnalyser.cpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/FPTreeEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OpMemToMem.cpp
  compiler/z/codegen/OpMemToMem.hpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390Evaluator.hpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390Peephole.cpp
Labels: compiler

#3069 Properly set array related feature flags on X86
  compiler/x/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3119 Store sync before forwarding in CS
  gc/base/standard/Scavenger.cpp
Labels: gc

#3008 Supporting rdbar/wrtbar changes for field watch
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: compiler

#3130 Remove usages of LA instruction when loading constants in Z codegen
  compiler/z/codegen/FPTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#3131 Remove unused packed decimal IL OpCode
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/OMRSimplifierHelpers.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/ras/Tree.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3138 Fix result loading from unresolved class data snippet
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#3087 AArch64: Binary Encoding Fix and Addition of 'B' and 'BL' Instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: compiler

#2994 Added the iterator mechanism for getting the Cgroup metrics in OMR
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: port
