Repository eclipse-omr/omr, pull requests merged in 2018-08, with the labels that each got.

#2807 Allow accessing TR_OutlinedInstructions on X86
  compiler/x/codegen/OutlinedInstructions.hpp
Labels: compiler

#2780 Hoist registerFile to base Machine class
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMachine.hpp
  compiler/arm/codegen/OMRMachine.hpp
  compiler/codegen/OMRMachine.hpp
  compiler/p/codegen/OMRMachine.cpp
  compiler/p/codegen/OMRMachine.hpp
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/amd64/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/i386/codegen/OMRMachine.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/OMRMachine.hpp
  compiler/z/codegen/S390Debug.cpp
Labels: compiler

#2819 Consolidate data size check helpers on X86
  compiler/codegen/OMRTreeEvaluator.hpp
  compiler/env/jittypes.h
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
Labels: compiler

#2675 Updates to compiler docs
  doc/compiler/CompilerOptions.md
  doc/compiler/ProblemDetermination.md
Labels: compiler, documentation

#2779 AArch64: This Fixes duplicate opcode in ARM64Ops
  compiler/aarch64/codegen/ARM64Ops.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: compiler

#2803 Deprecate Access Register (AR) support in Z codegen
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/RegisterConstants.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/optimizer/RegisterCandidate.cpp
  compiler/ras/Debug.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/OMRMachine.hpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRRealRegister.cpp
  compiler/z/codegen/OMRRealRegister.hpp
  compiler/z/codegen/OMRRegister.cpp
  compiler/z/codegen/OMRRegister.hpp
  compiler/z/codegen/OMRRegisterDependency.cpp
  compiler/z/codegen/OMRRegisterDependency.hpp
  compiler/z/codegen/OMRRegisterIterator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OpMemToMem.cpp
  compiler/z/codegen/OpMemToMem.hpp
  compiler/z/codegen/PseudoRegisterEnum.hpp
  compiler/z/codegen/RealRegisterEnum.hpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
  compiler/z/codegen/S390Instruction.hpp
  compiler/z/codegen/S390SystemLinkage.hpp
  compiler/z/codegen/SystemLinkage.cpp
Labels: compiler

#2814 AArch64: Add functions for generating Shift (immediate) instructions
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
Labels: compiler

#2778 AArch64: Use OMR::ARM64::InstOpCode instead of TR_ARM64OpCode
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: compiler

#2785 Fix return code of retrieveLinuxCgroupMemoryStats
  port/unix/omrsysinfo.c
Labels: port

#2828 Deprecate Access Register (AR) support in Z codegen
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/OMRMachine.hpp
Labels: compiler

#2800 Optimize the fbits2i Evaluator
  compiler/z/codegen/FPTreeEvaluator.cpp
Labels: compiler

#2825 Add support for CUDA 9.1 and 9.2
  port/common/omrcuda.cpp
Labels: port

#2838 Guard against negative callerIndexes in debugCounters
  compiler/ras/DebugCounter.cpp
Labels: compiler

#2834 Introduce CodeCache::initialize() without CodeCacheHashEntrySlab parm
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCache.hpp
Labels: compiler

#2821 Change implementation of JitBuilder's Switch service
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  jitbuilder/release/src/Switch.cpp
Labels: compiler, jitbuilder

#2827 AArch64: Initial version of OMRMemoryReference.generateBinaryEncoding()
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/OMRInstOpCode.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
Labels: compiler

#2843 Create an implementation of findOrCreateLiteral in Z CodeGenerator
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#2829 Add peephole replacing load-store with mem-mem instruction
  compiler/z/CMakeLists.txt
  compiler/z/codegen/OMRCodeGenPhase.cpp
  compiler/z/codegen/OMRCodeGenPhase.hpp
  compiler/z/codegen/OMRCodeGenPhaseEnum.hpp
  compiler/z/codegen/OMRCodeGenPhaseFunctionTable.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/S390Peephole.cpp
  compiler/z/codegen/S390Peephole.hpp
  fvtest/compilertest/build/files/target/z.mk
  jitbuilder/build/files/target/z.mk
Labels: compiler

#2850 Remove Access Register (AR) mask enums
  compiler/z/codegen/RealRegisterMaskEnum.hpp
Labels: compiler

#2840 Update PPA format to RRF2
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
Labels: compiler

#2846 AArch64: Initial version of ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/ras/Debug.hpp
Labels: compiler

#2852 Support lcall on X86-32
  compiler/x/i386/codegen/IA32SystemLinkage.cpp
  fvtest/compilertest/tests/X86OpCodesTest.cpp
Labels: compiler

#2868 AArch64: Remove CodeGenerator parm from MemoryReference::estimateBinaryLength()
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
Labels: compiler

#2861 Rename SQRTSFRegReg to SQRTSSRegReg on X86
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
Labels: compiler

#2862 Remove checking REX.W when encoding on X86-32
  compiler/x/codegen/X86Ops_inlines.hpp
Labels: compiler

#2863 Build AArch64 Compiler Files
  jitbuilder/build/files/target/aarch64.mk
Labels: bug, compiler

#2794 Add feature to ignore spin thread bound
  include_core/omrthread.h
  thread/common/threadhelpers.cpp
Labels: thread

#2866 Print S390InterfaceCallDataSnippet correctly in trace
  compiler/z/codegen/ConstantDataSnippet.cpp
Labels: compiler

#2798 Improve DDR support to allow use of VS 2017
  configure
  configure.ac
  ddr/lib/ddr-scanner/pdb/PdbScanner.cpp
Labels: build / configure

#2858 Fix compile error
  fvtest/porttest/omrvmemTest.cpp
Labels: bug, test

#2854 Implement omrsig_is_signal_ignored
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsignal.c
  port/omrportpriv.h
  port/unix/omrsignal.c
  port/win32/omrsignal.c
  port/win64amd/omrsignal.c
  port/ztpf/omrsignal.c
Labels: port

#2870 Avoid reusing mem ref in fbits2i evaluator in Z codegen
  compiler/z/codegen/FPTreeEvaluator.cpp
Labels: compiler

#2808 Code cleanup - remove deprecated code
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/i386/codegen/OMRCodeGenerator.cpp
Labels: compiler

#2851 Change implementation of JitBuilder's IfAnd and IfOr services
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  jitbuilder/release/src/Conditionals.cpp
Labels: jitbuilder

#2845 Introduce isInlineableNativeMethod API in OMR_InlinerPolicy
  compiler/optimizer/Inliner.hpp
Labels: compiler

#2859 Code cleanup related to VMifInstanceOf on X86
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: compiler

#2873 Add registers in maxMinHelper to register dependency
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/OMRRegisterDependency.hpp
Labels: compiler

#2872 Read barrier stats
  gc/stats/ScavengerCopyScanRatio.cpp
  gc/stats/ScavengerCopyScanRatio.hpp
  gc/stats/ScavengerStats.cpp
  gc/stats/ScavengerStats.hpp
Labels: gc

#2874 Add IncompatibleClassChangeError helper aliasing
  compiler/il/Aliases.cpp
Labels: compiler

#2849 CacheList Splitting Configuration Modification
  gc/verbose/VerboseHandlerOutput.cpp
Labels: gc

#2884 Change insert prefetch to insert BPP after ICF
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: compiler

#2889 Use port library for printing types
  ddr/include/ddr/ir/Symbol_IR.hpp
  ddr/include/ddr/ir/TypePrinter.hpp
  ddr/lib/ddr-ir/Symbol_IR.cpp
  ddr/lib/ddr-ir/TypePrinter.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Labels: diagnostic support

#2877 Do GC on idle every time
  gc/base/GCExtensionsBase.hpp
  gc/base/MemorySubSpace.cpp
Labels: gc

#2891 Delete deprecated file on X86
  compiler/x/codegen/ConstantDataSnippet.cpp
Labels: compiler

#2855 Allow OMRPORT_OMRSIG_SUPPORT to be enabled and disabled globally
  cmake/config.cmake
  configure
  configure.ac
  include_core/omrcfg.h.in
  omrcfg.CMakeTemplate.h
  omrmakefiles/configure.mk.in
Labels: build / configure

#2871 Add inliningrecfib build artifact to jitbuilder/release gitignore
  jitbuilder/release/.gitignore
Labels: jitbuilder

#2883 Fix incorrect usage of TR::Options
  compiler/compile/OMRCompilation.cpp
  compiler/control/CompileMethod.cpp
  compiler/il/Aliases.cpp
  compiler/optimizer/Inliner.hpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OrderBlocks.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/x/amd64/codegen/AMD64SystemLinkage.cpp
Labels: compiler

#2892 Rename IA32DataSnippet and IA32ConstantDataSnippet
  compiler/x/amd64/codegen/MemoryReference.hpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/amd64/codegen/OMRMemoryReference.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/ConstantDataSnippet.hpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/DataSnippet.hpp
  compiler/x/codegen/FPBinaryArithmeticAnalyser.cpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/MemoryReference.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRMemoryReference.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#2831 Fix JitBuilder Call to return the right type for Int8 and Int16
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  fvtest/jitbuildertest/CMakeLists.txt
  fvtest/jitbuildertest/CallReturnTest.cpp
  fvtest/jitbuildertest/Makefile
Labels: compiler, jitbuilder

#2882 Deprecate many unused Z codegen APIs
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/z/codegen/CallSnippet.cpp
  compiler/z/codegen/CallSnippet.hpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/ConstantDataSnippet.hpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRMemoryReference.hpp
  compiler/z/codegen/OMRSnippet.cpp
  compiler/z/codegen/OMRSnippet.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/S390Evaluator.hpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
  compiler/z/codegen/S390Peephole.cpp
Labels: compiler

#2899 Remove deprecated X86ScratchArgHelperCallSnippet
  compiler/ras/Debug.hpp
  compiler/x/codegen/OMRSnippet.cpp
Labels: compiler

#2895 Fix Struct/Union fieldName resolution
  compiler/ilgen/OMRTypeDictionary.cpp
  fvtest/jitbuildertest/CMakeLists.txt
  fvtest/jitbuildertest/FieldNameTest.cpp
  fvtest/jitbuildertest/Makefile
Labels: jitbuilder

#2898 Fix 'error=class-memaccess' warnings with gcc 8
  ddr/tools/blob_reader/blob_reader.cpp
  gc/base/standard/ConcurrentSweepScheme.cpp
Labels: diagnostic support, gc

#2856 Allows arbitrary size data snippet on X86
  compiler/x/codegen/ConstantDataSnippet.hpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/DataSnippet.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: compiler
