Repository eclipse-omr/omr, pull requests merged in 2018-04, with the labels that each got.

#2410 ASSERT before dereferencing asserted variable
  thread/common/omrthread.c
Labels: thread

#2407 Fix CMake build fails on ParallelGlobalGC.cpp / Scavenger.cpp compilation
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Labels: bug, gc

#2412 Add comments to JIT BinaryCommutativeAnalyser files for ARM
  compiler/arm/codegen/BinaryCommutativeAnalyser.cpp
  compiler/arm/codegen/BinaryCommutativeAnalyser.hpp
Labels: compiler

#2402 Disable peeking under HCR
  compiler/compile/Method.cpp
  compiler/compile/ResolvedMethod.hpp
Labels: compiler

#2416 Fix for missing data snippet in trace log
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/X86Debug.cpp
Labels: bug, compiler

#2415 Introduce support for fabs and dabs on X86
  compiler/x/amd64/codegen/TreeEvaluatorTable.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/i386/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertest/tests/X86OpCodesTest.cpp
Labels: compiler

#2396 Fix bug in KnowledgeLevel
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/PreExistence.cpp
  compiler/optimizer/PreExistence.hpp
Labels: compiler

#2413 Add stubs for new omrsig functions
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsignal.c
  port/omrportpriv.h
  port/unix/omrsignal.c
  port/win32/omrsignal.c
  port/win64amd/omrsignal.c
  port/ztpf/omrsignal.c
Labels: port

#2427 Introduce RegMem form of PMULLD and fix names
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
Labels: compiler

#2424 Upgrade lint job environment on Travis CI to Trusty
  .travis.yml
Labels: ci

#2419 Enable DDR on Windows
  ddr/include/ddr/scanner/pdb/PdbScanner.hpp
  ddr/lib/ddr-blobgen/java/genBinaryBlob.cpp
  ddr/lib/ddr-blobgen/java/genSuperset.cpp
  ddr/lib/ddr-ir/TypePrinter.cpp
  ddr/lib/ddr-scanner/pdb/PdbScanner.cpp
  ddr/tools/getmacros
  gc/base/HeapRegionDescriptor.hpp
  gc/base/MemorySubSpace.hpp
  gc/include/omrmm.hdf
  omrmakefiles/rules.mk
  thread/win32/dllmain.c
Labels: diagnostic support

#2433 Optimized iabs and labs evaluator on X86
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/codegen/X86Ops.hpp
  compiler/x/codegen/X86Ops.ins
Labels: compiler

#2388 Refactor code related to setting of default max heap size
  fvtest/porttest/si.cpp
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
  include_core/omrport.h
  include_core/omrporterror.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: gc

#2423 Fix objcopy invocation for creating shared libraries debug info
  omrmakefiles/rules.linux.mk
  omrmakefiles/rules.ztpf.mk
Labels: build / configure

#2411 Introduce CMOVEGE and PCMPEQW instructions to X86
  compiler/x/codegen/X86Ops.hpp
  compiler/x/codegen/X86Ops.ins
Labels: compiler

#2448 Introduce RegMem form of PSHUFB on X86
  compiler/x/codegen/X86Ops.ins
Labels: compiler

#2437 Clean up obsolete pddivSelect
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/ras/Tree.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: compiler

#2330 Add the bitPermute Evaluator for Z
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertriltest/BitPermuteTest.cpp
Labels: compiler

#2463 Resolve link issue when using ld
  omrmakefiles/rules.aix.mk
Labels: build / configure

#2421 Add new portlib signal flags to support new signals
  include_core/omrport.h
Labels: port

#2432 Fix signal issues unix
  port/unix/omrsignal.c
Labels: port

#2461 Remove the obsolete pdremSelect opCode
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/ras/Tree.cpp
Labels: compiler

#2441 Remove unused compressedRefs anchors in dead trees
  compiler/optimizer/DeadTreesElimination.cpp
Labels: compiler

#2440 Recognize String.value loads as non-null in VP
  compiler/optimizer/VPHandlers.cpp
Labels: compiler

#2475 Revert "Fix signal issues unix"
  port/unix/omrsignal.c
Labels: bug, port

#2476 Revert "Add new portlib signal flags to support new signals"
  include_core/omrport.h
Labels: bug, port

#2472 Extend CS assert with a print
  gc/base/MarkingScheme.hpp
Labels: gc

#2474 Reverse #2463 'Resolve link issue when using ld'
  fvtest/rastest/cpuLoadAgent.mk
  omrmakefiles/rules.aix.mk
Labels: build / configure

#2457 Make extensible class macro naming more consistent and correct
  compiler/arm/codegen/OMRInstruction.hpp
  compiler/arm/codegen/OMRMachine.hpp
  compiler/codegen/ELFRelocationResolver.hpp
  compiler/codegen/Machine.hpp
  compiler/codegen/OMRInstruction.hpp
  compiler/codegen/OMRMachine.hpp
  compiler/compile/OMRCompilation.hpp
  compiler/p/codegen/Instruction.hpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/p/codegen/OMRMachine.hpp
  compiler/p/runtime/OMRCodeCacheConfig.hpp
  compiler/runtime/CodeCacheManager.hpp
  compiler/runtime/CodeCacheMemorySegment.hpp
  compiler/runtime/OMRCodeCache.hpp
  compiler/runtime/OMRCodeCacheConfig.hpp
  compiler/runtime/OMRCodeCacheMemorySegment.hpp
  compiler/x/amd64/codegen/OMRMachine.hpp
  compiler/x/codegen/Instruction.hpp
  compiler/x/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRMachine.hpp
  compiler/z/codegen/Instruction.hpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/OMRMachine.hpp
  jitbuilder/codegen/CodeGenerator.hpp
Labels: compiler

#2418 Add non-null constraint for indirect load of this$0 field from trusted classes
  compiler/optimizer/VPHandlers.cpp
Labels: compiler

#2493 Register Assignment Direction Queries Removed
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: compiler

#2477 CMake: make all depend on run_tracemerge
  cmake/modules/OmrTracegen.cmake
Labels: cmake

#2435 VRSb instruction memory reference needs separate index register
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
Labels: compiler

#2483 Refactor options; add option to print blacklisted type names
  ddr/tools/ddrgen/ddrgen.cpp
Labels: diagnostic support

#2487 Remove deprecated code related to ArrayCmp on X86
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#2498 CMake cleanup
  CMakeLists.txt
  cmake/caches/Appveyor.cmake
  gc/CMakeLists.txt
  gc/base/CollectorLanguageInterface.cpp
  gc/base/CopyScanCache.cpp
  gc/base/CycleState.cpp
  gc/base/ParallelSweepChunk.cpp
  gc/base/Validator.cpp
  gc/base/standard/CopyScanCacheStandard.cpp
  gc/stats/AllocationFailureStats.cpp
  gc/stats/ConcurrentCardTableStats.cpp
  gc/stats/ConcurrentSweepStats.cpp
  gc/stats/CopyForwardStatsCore.cpp
  gc/stats/HeapMemorySnapshot.cpp
  gc/stats/HeapStats.cpp
  gc/stats/PercolateStats.cpp
  gc/structs/ObjectHeapIterator.cpp
  gc/structs/ObjectIteratorState.cpp
Labels: cmake, gc

#2480 AArch64: Initial version of RealRegister-related files
  compiler/aarch64/codegen/OMRRealRegister.cpp
  compiler/aarch64/codegen/OMRRealRegister.hpp
  compiler/aarch64/codegen/RealRegister.hpp
  compiler/aarch64/codegen/RealRegisterEnum.hpp
  compiler/aarch64/codegen/RealRegisterMaskEnum.hpp
Labels: compiler

#2484 AArch64: Initial version of OMRMachine files
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMachine.hpp
Labels: compiler

#2499 Fixing dcmplt and dcmpgt Instruction handling on PPC
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRInstOpCode.hpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCInstruction.cpp
Labels: compiler

#2442 Share result temps for primitive return values
  compiler/optimizer/Inliner.cpp
Labels: compiler

#2501 CMake: Detect git SHA
  cmake/versions.cmake
Labels: cmake

#2510 Print data snippet label name log in tracelog
  compiler/x/codegen/X86Debug.cpp
Labels: compiler

#2509 Remove deprecated SSE2IfArraycmpEvaluator on X86
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: compiler

#2444 Prepare redundant goto elim for post-GRA requests
  compiler/il/OMRBlock.cpp
  compiler/il/OMRBlock.hpp
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalOpts.hpp
Labels: compiler

#2506 Store addressable physical memory in GC_ExtensionsBase
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
Labels: gc
