Repository eclipse-omr/omr, pull requests merged in 2018-11, with the labels that each got.

#3132 Rename evacuate read barrier type
  include_core/omrgcconsts.h
Labels: gc

#3140 Remove unnecessary cast
  port/unix/omrsysinfo.c
Labels: port

#3146 Removes unnecessary loop & makes pointer incremented to certain level
  port/unix/omrsysinfo.c
Labels: port

#3135 z/TPF OMR configuration update
  glue/configure_includes/configure_linux_ztpf_390.mk
Labels: port

#3134 Disable CGroup Calls in omrsysinfo for TPF
  port/unix/omrsysinfo.c
Labels: port

#3136 Get ddrgen working on OSX
  ddr/include/ddr/scanner/dwarf/DwarfFunctions.hpp
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/getmacros
  omrmakefiles/rules.osx.mk
Labels: tooling

#3030 Add two helpers for OSR related optimizations
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/optimizer/Inliner.cpp
  compiler/ras/Debug.cpp
  doc/compiler/osr/OSR.md
Labels: compiler

#3125 Avoid unnecessary MemRef materialization on X86-64
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
Labels: compiler

#3157 Refactor recognition of standard types
  ddr/include/ddr/error.hpp
  ddr/include/ddr/ir/Type.hpp
  ddr/lib/ddr-blobgen/java/genBinaryBlob.cpp
  ddr/lib/ddr-ir/ClassType.cpp
  ddr/lib/ddr-ir/EnumUDT.cpp
  ddr/lib/ddr-ir/Macro.cpp
  ddr/lib/ddr-ir/NamespaceUDT.cpp
  ddr/lib/ddr-ir/Type.cpp
  ddr/lib/ddr-ir/TypePrinter.cpp
  ddr/lib/ddr-ir/UDT.cpp
  ddr/lib/ddr-macros/MacroTool.cpp
Labels: diagnostic support

#3154 Improve byte simplification
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: compiler

#3133 AArch64: Separate SP and XZR registers
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRRealRegister.cpp
  compiler/aarch64/codegen/RealRegisterEnum.hpp
Labels: compiler

#3158 Call generateCatchBlockBBStartPrologue in ARM BBStartEvaluator
  compiler/arm/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#3167 Add ArrayCopy helper functions
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Labels: compiler

#3169 AArch64: Call generateCatchBlockBBStartPrologue in BBStartEvaluator
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#3160 AArch64: Implement iRegLoad/iRegStoreEvaluator(), etc.
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3155 Add CODEOWNERS file for automated review requests
  CODEOWNERS
Labels: documentation

#3170 Fix Concurrent Scavenge GC compilation errors
  gc/base/standard/Scavenger.cpp
  gc/structs/ForwardedHeader.cpp
Labels: gc

#3176 z/TPF Backtrace Translation and Processing Fixes
  port/ztpf/omrosbacktrace_impl.c
Labels: port

#3173 Check register properties for generating load
  compiler/z/codegen/OMRRegisterDependency.cpp
Labels: compiler

#3018 Add support for inlining new atomic methods on Power
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#3183 Adding a .gitignore entry for emacs save files
  .gitignore
Labels: build / configure

#3182 Move variable declarations to top of scope for c89 compilers
  port/unix/omrsysinfo.c
Labels: port

#3124 Update CMake code to handle NASM
  cmake/modules/OmrCompilerSupport.cmake
  cmake/modules/OmrPlatform.cmake
  cmake/modules/platform/arch/aarch64.cmake
  cmake/modules/platform/arch/ppc.cmake
  cmake/modules/platform/arch/s390.cmake
  cmake/modules/platform/arch/x86.cmake
Labels: cmake, compiler

#3177 AArch64: Fix createPrologue()
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
Labels: compiler

#3195 Remove some extra semicolons
  gc/base/LightweightNonReentrantLock.cpp
  gc/base/TLHAllocationSupport.cpp
  gc/base/segregated/HeapRegionDescriptorSegregated.cpp
  gc/stats/MarkStats.cpp
  gc/stats/ScavengerStats.cpp
  gc/verbose/VerboseHandlerOutput.cpp
Labels: compiler

#3060 Remove J9 project specific arraycopy code on X86
  compiler/il/ILOpCodeProperties.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: compiler

#3184 AArch64: Add is64bit parameter to generateCompareInstruction()
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
Labels: compiler

#3126 Improve ArrayCopy Sequence Part on IBM Z
  compiler/codegen/ScratchRegisterManager.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
Labels: compiler

#3186 Remove bad check if unsigned int is less than 0
  port/unix/omrintrospect.c
Labels: port

#3165 Simplify child index calculation code in PRE
  compiler/optimizer/PartialRedundancy.cpp
Labels: compiler

#3172 Change LoopVersioner var/function names for awrtbari
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/LoopVersioner.hpp
Labels: compiler

#3203 Fix build break
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: bug, compiler

#3187 Use an int to store the output of ioctl FIONREAD
  port/unix/omrtty.c
Labels: port

#3193 Add new helper induceOSRAtCurrentPCAndRecompile
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OSRData.cpp
  compiler/il/OMRBlock.cpp
  compiler/il/OMRSymbolReference.cpp
  compiler/il/OMRSymbolReference.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
  compiler/z/codegen/CallSnippet.cpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/S390HelperCallSnippet.cpp
Labels: compiler

#3188 Use a union to eliminate an aliasing error
  include_core/AtomicSupport.hpp
Labels: port, utilities

#3205 Concurrent Scavenger yield
  gc/base/CollectorLanguageInterface.hpp
  gc/base/standard/ConcurrentScavengeTask.hpp
  gc/base/standard/EnvironmentStandard.cpp
  gc/base/standard/EnvironmentStandard.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/verbose/VerboseHandlerOutput.cpp
Labels: gc

#3228 Enable specialized arraycopy trees for 31-Bit Z platform
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#3171 AArch64: Implement icmpeqEvaluator(), etc.
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64ConditionCode.hpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: compiler

#3223 Add induceOSRAfterAndRecompile API in OMR
  compiler/il/symbol/OMRResolvedMethodSymbol.cpp
  compiler/il/symbol/OMRResolvedMethodSymbol.hpp
Labels: compiler

#3190 Remove deprecated J9 snippets on X86 [Phase 1/2]
  compiler/ras/Debug.hpp
  compiler/x/codegen/OMRSnippet.cpp
  compiler/x/codegen/X86Debug.cpp
Labels: compiler

#3200 Remove TR_X86FPStackIterator (X87 FP) class
  compiler/ras/Debug.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: compiler

#3222 cmake: add omr_base: a library defining basic configuration
  CMakeLists.txt
  cmake/modules/OmrCompilerSupport.cmake
  ddr/CMakeLists.txt
  example/CMakeLists.txt
  fvtest/rastest/CMakeLists.txt
  fvtest/util/CMakeLists.txt
  gc/CMakeLists.txt
  jitbuilder/CMakeLists.txt
  omr/CMakeLists.txt
  omrsigcompat/CMakeLists.txt
  omrtrace/CMakeLists.txt
  port/CMakeLists.txt
  thread/CMakeLists.txt
  util/a2e/CMakeLists.txt
  util/avl/CMakeLists.txt
  util/hookable/CMakeLists.txt
  util/main_function/CMakeLists.txt
  util/omrutil/CMakeLists.txt
  util/pool/CMakeLists.txt
Labels: cmake

#3221 cmake: Add OmrOption, a util for declaring build options
  CMakeLists.txt
  cmake/modules/OmrOption.cmake
Labels: cmake

#3209 DDR: fix ddrgen bugs involving empty structs
  ddr/lib/ddr-blobgen/java/genBinaryBlob.cpp
Labels: tooling, utilities

#3166 Cleanup CMake defines and modify the README.md
  CMakeLists.txt
  README.md
  cmake/caches/Appveyor.cmake
  cmake/caches/Travis.cmake
  cmake/config.cmake
  configure.ac
  doc/BuildingWithCMake.md
  include_core/omrcfg.h.in
  omrcfg.CMakeTemplate.h
  omrmakefiles/configure.mk.in
Labels: build / configure, cmake

#3199 Documentation and testing improvements for the JitBuilder API generator
  jitbuilder/CMakeLists.txt
  jitbuilder/apigen/README.md
  jitbuilder/apigen/test.py
  jitbuilder/apigen/test/test_sample.json
Labels: jitbuilder

#3233 Misc startup/shutdown fixes for Concurrent Scavenger
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/Scavenger.cpp
  gc/structs/SublistPool.cpp
  gc/structs/SublistPool.hpp
Labels: gc

#2943 Add bcLength to BytecodeBuilder
  compiler/ilgen/BytecodeBuilder.hpp
  compiler/ilgen/OMRBytecodeBuilder.cpp
  compiler/ilgen/OMRBytecodeBuilder.hpp
Labels: enhancement, jitbuilder

#3225 Handle signals blocked by a parent process
  port/common/omrport.tdf
  port/unix/omrsignal.c
Labels: port

#3141 Add warning flags to thread objects
  thread/CMakeLists.txt
  thread/common/omrthread.c
  thread/linux/omrthreadnuma.c
  thread/linux/priority.c
Labels: thread

#3202 Add a JITaaS heuristics option and fix typo
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: compiler

#3214 Tril Tests for ladd / lsub
  fvtest/compilertriltest/ArithmeticTest.cpp
Labels: compiler, test, tril

#3194 GC: Relax Scavenger's Aliasing Inhibiting Condition
  gc/base/Dispatcher.cpp
  gc/base/Dispatcher.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
  gc/base/standard/ConcurrentScavengeTask.hpp
  gc/base/standard/ParallelScavengeTask.cpp
  gc/base/standard/ParallelScavengeTask.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: gc

#3232 Consolidate FPtoInt Type-Coercion Evaluators
  compiler/z/codegen/FPTreeEvaluator.cpp
Labels: compiler

#3243 AArch64: Change the operand order of store instructions in trace file
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: compiler

#3242 Only devirtualize call for compatible classes
  compiler/optimizer/LocalOpts.cpp
Labels: compiler

#3252 GC: Mac clang fix - hidden overloaded virtual function
  gc/base/Dispatcher.cpp
  gc/base/Dispatcher.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
Labels: gc

#3251 Extend GC build flags when API is enabled
  gc/api/CMakeLists.txt
Labels: gc

#3234 VGC: report Concurrent Scavenger phase termination
  gc/base/standard/Scavenger.cpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
  gc/verbose/schema.xsd
Labels: diagnostic support, gc

#3250 Initialize Suballocator variables all platforms
  gc/base/GCExtensionsBase.hpp
  include_core/omrgcconsts.h
Labels: gc

#3185 Add -fno-strict-aliasing to compiler options
  cmake/modules/platform/toolcfg/gnu.cmake
  gc/CMakeLists.txt
  omrmakefiles/rules.linux.mk
Labels: build / configure

#3259 Add GC clang-format
  gc/.clang-format
Labels: gc

#3258 Add a cmake cache enabling OMR_GC_API
  cmake/caches/GcApi.cmake
Labels: gc

#3254 AArch64: Remove unnecessary ARM64Dep*Instruction classes
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/ras/Debug.hpp
Labels: compiler

#3168 Provide read/write barrier kind info in Object Model
  compiler/env/OMRObjectModel.hpp
Labels: compiler

#3262 Store barrier in co-operative copy
  gc/structs/ForwardedHeader.cpp
Labels: gc

#3255 MM_Scavenger::aliasToCopyCache Update Comment
  gc/base/standard/Scavenger.cpp
Labels: gc

#3231 Constrain VFT of ClassObject to be java/lang/Class
  compiler/optimizer/VPHandlers.cpp
Labels: compiler

#3129 AArch64: Implement iabs/labsEvaluator()
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: compiler

#3264 Add comment regarding disabled CS wrtbar optimization
  compiler/optimizer/VPHandlers.cpp
Labels: compiler

#3266 Restrict setting TR_DisableInternalPointer to current compilation
  compiler/compile/OMRCompilation.cpp
Labels: compiler

#3265 Remove CLQ queries as they have migrated to OpenJ9
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: compiler
