Repository eclipse-omr/omr, pull requests merged in 2018-03, with the labels that each got.

#2334 Fixing CR instruction handling on PPC
  compiler/p/codegen/OMRRealRegister.cpp
  compiler/p/codegen/OMRRealRegister.hpp
Labels: compiler

#2352 Fix handling of 'flag' macros
  ddr/tools/getmacros
Labels: diagnostic support

#2350 Update tracepoint information for calculatePGCCompactionRate
  gc/base/j9mm.tdf
Labels: gc

#2354 Improve support for cast expressions
  ddr/lib/ddr-ir/Macro.cpp
Labels: diagnostic support

#2353 Update Contributor Guidelines for compiler architecture reviews
  CONTRIBUTING.md
Labels: documentation

#2356 Add trace points to portlib APIs related to cgroups
  port/common/omrport.tdf
  port/unix/omrsysinfo.c
Labels: port

#2362 Replace CARD_SIZE & CARD_SIZE_SHIFT with macros
  gc/include/omrmodroncore.h
Labels: diagnostic support

#2363 Enable missing AIX port test in CMake
  fvtest/porttest/CMakeLists.txt
Labels: bug, cmake, test

#2364 Fix handling of literals of anonymous enum types
  ddr/include/ddr/blobgen/java/genSuperset.hpp
  ddr/include/ddr/ir/ClassType.hpp
  ddr/include/ddr/ir/ClassUDT.hpp
  ddr/include/ddr/ir/EnumUDT.hpp
  ddr/include/ddr/ir/NamespaceUDT.hpp
  ddr/include/ddr/ir/Type.hpp
  ddr/include/ddr/ir/TypePrinter.hpp
  ddr/include/ddr/ir/TypedefUDT.hpp
  ddr/include/ddr/ir/UnionUDT.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-blobgen/java/genSuperset.cpp
  ddr/lib/ddr-ir/ClassType.cpp
  ddr/lib/ddr-ir/ClassUDT.cpp
  ddr/lib/ddr-ir/EnumUDT.cpp
  ddr/lib/ddr-ir/Makefile
  ddr/lib/ddr-ir/Members.cpp
  ddr/lib/ddr-ir/NamespaceUDT.cpp
  ddr/lib/ddr-ir/Symbol_IR.cpp
  ddr/lib/ddr-ir/Type.cpp
  ddr/lib/ddr-ir/TypePrinter.cpp
  ddr/lib/ddr-ir/TypedefUDT.cpp
  ddr/lib/ddr-ir/UnionUDT.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Labels: diagnostic support

#2366 Reduce size of generated *.i files
  omrmakefiles/rules.mk
Labels: build / configure

#2365 Fix incorrect xrelease prefix while tracing
  compiler/x/codegen/X86Ops.ins
Labels: compiler

#2371 Fix typo in README
  README.md
Labels: documentation

#2373 Fix error: '/*' within block comment for CLang 6.0.0 for Windows
  .gitignore
  port/win32/omrsysinfo.c
Labels: bug, port

#2372 Use sed instead of grep
  omrmakefiles/rules.mk
Labels: diagnostic support

#2378 CMake: Add a missing closing brace
  cmake/modules/FindLibDwarf.cmake
Labels: bug, cmake

#2380 fvtest: Fix comparison between pointers and zero error
  fvtest/porttest/omrfilestreamTest.cpp
Labels: port, test

#2357 [ci skip] Update the README.md to include the AIX build badge
  README.md
Labels: documentation

#2379 CMake: Fix DDR on Windows building using Clang
  cmake/modules/platform/toolcfg/gnu.cmake
  cmake/modules/platform/toolcfg/msvc.cmake
  cmake/modules/platform/toolcfg/verify.cmake
  cmake/modules/platform/toolcfg/xlc.cmake
  thread/CMakeLists.txt
Labels: cmake

#2374 [skip ci] Document how to build OMR on Windows using CMake
  doc/BuildingWithCMake.md
Labels: cmake, documentation

#2384 Create a disableZEC12 alias for disableZHelix
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: compiler

#2313 Fix checks when printing RS Instructions
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390Instruction.hpp
Labels: compiler

#2387 Fix index out-of-bound for _loaFreeRatioHistory[]
  gc/base/MemoryPoolLargeObjects.cpp
Labels: gc

#2358 Add a few more SSE instructions on x86
  compiler/x/codegen/X86Ops.ins
Labels: compiler

#2382 Enable Windows stack protection (/GS flag)
  omrmakefiles/rules.win.mk
Labels: build / configure

#2389 Fix incorrect return value from AtomicFetchAndAdd
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: bug, compiler

#2390 Fix GS compile error by removing inline asm
  port/win32/omrintrospect.c
Labels: port

#2391 Make memory reference separate index register for PackedDecimal
  compiler/z/codegen/S390GenerateInstructions.cpp
Labels: compiler

#2392 Tenure Heap Recycling
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: gc

#2394 Allocate a matrix in the rastest on the heap
  fvtest/rastest/CMakeLists.txt
  fvtest/rastest/cpuLoadAgent.c
Labels: test

#2367 Eliminate return, reason codes from Return IL nodes
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/ras/IlVerifierHelpers.hpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRLinkage.hpp
  fvtest/compilertest/tests/OptTestDriver.cpp
Labels: compiler

#2344 Read Barrier on collected reference dereference
  compiler/codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.hpp
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/ras/Debug.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#2359 Fix existing PATH hack for Windows
  run_configure.mk
Labels: build / configure
