Repository eclipse-omr/omr, pull requests merged in 2018-09, with the labels that each got.

#2917 Remove use of C++11 nullptr
  compiler/x/codegen/DataSnippet.cpp
Labels: compiler

#2901 Remove unused reconnectCache() function
  gc/base/AllocationInterfaceGeneric.cpp
  gc/base/AllocationInterfaceGeneric.hpp
  gc/base/ObjectAllocationInterface.cpp
  gc/base/ObjectAllocationInterface.hpp
  gc/base/TLHAllocationInterface.cpp
  gc/base/TLHAllocationInterface.hpp
  gc/base/segregated/SegregatedAllocationInterface.cpp
  gc/base/segregated/SegregatedAllocationInterface.hpp
  gc/include/omrmodroncore.h
Labels: gc

#2924 Update documents related to C++11 nullptr
  compiler/README.md
Labels: documentation

#2734 Optimized Simplifier related to abs/neg
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHandlers.hpp
  compiler/optimizer/OMRSimplifierTableEnum.hpp
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/SimplifierFoldAbsNegTest.cpp
Labels: compiler

#2925 Remove incorrect assertion
  thread/common/omrthread.c
Labels: thread

#2926 Move all definitions for J9VMSTATE_GC to OMR
  gc/include/omrmodroncore.h
Labels: gc

#2909 Remove unused queries in CodeGen
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: compiler

#2920 Do not skip generation of LA in aiadd evaluator
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: bug, compiler

#2908 Signal changes [win32/win64amd]
  omrsigcompat/omrsig.cpp
  omrsigcompat/omrsig_internal.hpp
  port/win32/omrsignal.c
  port/win64amd/omrsignal.c
Labels: port

#2837 AArch64: Initial version of createPrologue/Epilogue() for SystemLinkage
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
Labels: compiler

#2913 Enable external relocations outside of AOT compiles
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/codegen/Relocation.cpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/env/FEBase_t.hpp
Labels: compiler

#2865 Properly link omrsig with ddrgen
  ddr/tools/ddrgen/CMakeLists.txt
  ddr/tools/ddrgen/Makefile
Labels: build / configure, tooling

#2767 added api to read the cgroup subsystem file and get value
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/unix_include/omrcgroup.h
  port/win32/omrsysinfo.c
Labels: port

#2935 Fix for incorrect conversionAnalyser evaluation on X86
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: compiler

#2936 CMake: Fix CheckSourceTree
  cmake/CheckSourceTree.cmake
Labels: cmake

#2944 Enable DDR to work with VS2017
  ddr/include/ddr/ir/Field.hpp
  ddr/include/ddr/ir/Members.hpp
  ddr/include/ddr/ir/NamespaceUDT.hpp
  ddr/include/ddr/ir/Type.hpp
  ddr/include/ddr/ir/TypedefUDT.hpp
  ddr/include/ddr/ir/UDT.hpp
  ddr/lib/ddr-ir/EnumUDT.cpp
  ddr/lib/ddr-ir/Field.cpp
  ddr/lib/ddr-ir/Symbol_IR.cpp
  ddr/lib/ddr-ir/Type.cpp
  ddr/lib/ddr-ir/TypedefUDT.cpp
  ddr/lib/ddr-ir/UDT.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/lib/ddr-scanner/pdb/PdbScanner.cpp
Labels: diagnostic support

#2934 Introduce CodeGen support queries for intrinsics
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRCodeGenerator_inlines.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  fvtest/compilertest/tests/injectors/OpIlInjector.cpp
Labels: compiler

#2937 Rename J9VMSTATE_GC states to OMRVMSTATE_GC
  gc/base/AllocateInitialization.hpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelHeapWalker.cpp
  gc/base/ParallelMarkTask.cpp
  gc/base/Task.cpp
  gc/base/segregated/SegregatedSweepTask.hpp
  gc/base/standard/CardCleanerForMarking.hpp
  gc/base/standard/CompactFixHeapForWalkTask.hpp
  gc/base/standard/ConcurrentClearNewMarkBitsTask.hpp
  gc/base/standard/ConcurrentCompleteTracingTask.hpp
  gc/base/standard/ConcurrentFinalCleanCardsTask.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
  gc/base/standard/ConcurrentPrepareCardTableTask.hpp
  gc/base/standard/ConcurrentScanRememberedSetTask.hpp
  gc/base/standard/ConcurrentScavengeTask.hpp
  gc/base/standard/ConcurrentSweepScheme.cpp
  gc/base/standard/ParallelCompactTask.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelScavengeTask.hpp
  gc/base/standard/ParallelSweepScheme.hpp
  gc/base/standard/Scavenger.cpp
  gc/include/omrmodroncore.h
Labels: gc

#2929 Change getmacros annotation to not use @ symbol
  ddr/tools/getmacros
  omrmakefiles/rules.mk
Labels: diagnostic support

#2945 Add helper definition for ConstantDynamic
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: compiler

#2940 Implement ILBuilder Negate Service
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  compiler/p/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertest/tests/PPCOpCodesTest.cpp
  fvtest/jitbuildertest/CMakeLists.txt
  fvtest/jitbuildertest/Makefile
  fvtest/jitbuildertest/NegateTest.cpp
Labels: enhancement, jitbuilder

#2931 Implement JitBuilder bit-wise type conversion services
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  fvtest/jitbuildertest/CMakeLists.txt
  fvtest/jitbuildertest/ConvertBitsTest.cpp
  fvtest/jitbuildertest/Makefile
Labels: jitbuilder

#2942 Simplify NaN normalization fbits2i
  compiler/z/codegen/FPTreeEvaluator.cpp
Labels: compiler

#2717 Initial changes to refactor snapshot at the beginning barrier
  example/glue/ConcurrentMarkingDelegate.hpp
  gc/CMakeLists.txt
  gc/base/Configuration.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MarkingScheme.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
  gc/base/standard/ConcurrentGCIncrementalUpdate.cpp
  gc/base/standard/ConcurrentGCIncrementalUpdate.hpp
  gc/base/standard/ConcurrentGCSATB.cpp
  gc/base/standard/ConcurrentGCSATB.hpp
  gc/base/standard/ConcurrentSafepointCallback.cpp
  gc/base/standard/ConfigurationStandard.cpp
  gc/base/standard/ConfigurationStandard.hpp
  gc/base/standard/RememberedSetSATB.cpp
  gc/base/standard/RememberedSetSATB.hpp
  gc/base/standard/WorkPacketsSATB.cpp
  gc/base/standard/WorkPacketsSATB.hpp
  include_core/omrgcconsts.h
Labels: gc

#2932 Update instruction formats and descriptions as defined in PoPs
  compiler/z/codegen/InstOpCode.cpp
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/OMRInstOpCodeEnum.hpp
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
  compiler/z/codegen/S390Peephole.cpp
Labels: compiler

#2953 Add Debug print function for J9S390InterfaceDataSnippet
  compiler/ras/Debug.hpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/OMRSnippet.cpp
Labels: compiler

#2906 AArch64: Add constructors for ARM64AdminInstruction
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/Instruction.hpp
  compiler/aarch64/codegen/OMRInstruction.cpp
  compiler/aarch64/codegen/OMRInstruction.hpp
Labels: compiler

#2957 Fix missing file in gc/CMakeLists.txt
  gc/CMakeLists.txt
Labels: cmake

#2961 AArch64: Fix createEpilogue() code
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
Labels: compiler

#2914 AArch64: Implement OMRMemoryReference::assignRegisters()
  compiler/aarch64/codegen/OMRInstruction.cpp
  compiler/aarch64/codegen/OMRInstruction.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
Labels: compiler

#2888 AArch64: Add utility functions for generating CMP and TST instructions
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
Labels: compiler

#2878 Minor OpenJ9 project specific changes to relocations
  compiler/compile/OMRCompilation.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Labels: compiler

#2960 Remove deprecated API aotMethodCodeStart
  compiler/compile/OMRCompilation.hpp
Labels: compiler

#2919 AArch64: Implement assignRegisters(), etc. in ARM64Instruction
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
Labels: compiler

#2939 Optimized atomic memory update inlining on X86
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: compiler

#2893 AArch64: Implement OMRCodeGenerator functions
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OMRInstruction.hpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMachine.hpp
Labels: compiler

#2967 Use logical comparison in minEvaluator
  compiler/z/codegen/ControlFlowEvaluator.cpp
Labels: compiler

#2965 Add TR_J2IVirtualThunkPointer relocation kind
  compiler/codegen/Relocation.cpp
  compiler/runtime/Runtime.hpp
Labels: compiler

#2916 Enable 64 bit registers on 32 bit for Linux on Z
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/control/OMROptions.cpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalOpts.hpp
  compiler/optimizer/OMROptimizationManager.cpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/Optimizations.enum
  compiler/z/codegen/FPTreeEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRRegisterDependency.cpp
Labels: compiler

#2927 Remove S390InterfaceCallDataSnippet
  compiler/ras/Debug.hpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/ConstantDataSnippet.hpp
Labels: compiler

#2719 Enable DDR on AIX
  ddr/include/ddr/macros/MacroInfo.hpp
  ddr/include/ddr/scanner/dwarf/AixSymbolTableParser.hpp
  ddr/lib/ddr-scanner/Scanner.cpp
  ddr/lib/ddr-scanner/dwarf/AixSymbolTableParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/getmacros
  omrmakefiles/rules.aix.mk
Labels: diagnostic support

#2897 Change checking opcode to queries on properties
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/il/OMRNode.cpp
Labels: compiler

#2832 Move allocation of CodeCacheHashEntrySlab to CodeCache initialization
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCacheManager.cpp
  compiler/runtime/OMRCodeCacheManager.hpp
Labels: compiler

#2875 Add rdbar/rdbari opcodes
  compiler/arm/codegen/TreeEvaluatorTable.hpp
  compiler/il/ILOpCodeProperties.hpp
  compiler/il/ILProps.hpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRIL.hpp
  compiler/il/OMRILOpCodesEnum.hpp
  compiler/il/OMRILOps.hpp
  compiler/optimizer/OMRSimplifierTableEnum.hpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/TreeEvaluatorTable.hpp
  compiler/x/amd64/codegen/TreeEvaluatorTable.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/TreeEvaluatorTable.hpp
  compiler/z/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#2867 Update OMR README with Travis Matrix Builds
  README.md
Labels: documentation

#2975 AArch64: Add rdbar/rdbari opcodes
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: bug, compiler

#2972 Remove TRMemory dependence on jitConfig
  compiler/env/TRMemory.hpp
  compiler/env/TRPersistentMemory.cpp
Labels: compiler

#2973 Update name of TR_referenceArrayCopy
  compiler/ras/Debug.cpp
Labels: compiler

#2976 AArch64: Initial version of UnaryEvaluator.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: compiler

#2959 Add a transform util to create alternate path for existing operations
  compiler/optimizer/OMRTransformUtil.cpp
  compiler/optimizer/OMRTransformUtil.hpp
Labels: compiler

#2966 Fix overloaded virtual function hidden error
  gc/base/segregated/MemorySubSpaceSegregated.cpp
  gc/base/segregated/MemorySubSpaceSegregated.hpp
Labels: gc

#2971 Add an option to disable guarded static final field folding
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: compiler

#2986 Fix copyright dates
  gc/base/segregated/MemorySubSpaceSegregated.cpp
  gc/base/segregated/MemorySubSpaceSegregated.hpp
Labels: gc, license

#2982 Final cleanup of J9VMSTATE_GC_* definitions
  gc/base/standard/ConcurrentGCIncrementalUpdate.hpp
  gc/base/standard/ConcurrentGCSATB.hpp
  gc/include/omrmodroncore.h
Labels: gc

#2983 Avoid uses of memset() with a constant zero length
  port/common/omrstr.c
Labels: port

#2970 Delete unneeded cache of CodeCacheManager from PersistentInfo
  compiler/env/OMRPersistentInfo.hpp
Labels: compiler

#2887 AArch64: Implement OMRMemoryReference::estimateBinaryLength()
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
Labels: compiler

#2995 Fix typos in documentation of return values
  port/common/omrfile.c
Labels: documentation

#2989 Swap limit and usage must be 0 in absence of swap limit capabilities
  port/unix/omrsysinfo.c
Labels: port

#2990 Fix address type alignment in OMRIlTypes
  compiler/ilgen/OMRIlType.cpp
Labels: bug, compiler

#2956 Change for supporting CopyForwardHybrid
  gc/base/GCExtensionsBase.hpp
  gc/base/WorkPackets.hpp
  gc/base/WorkStack.cpp
  gc/base/WorkStack.hpp
  gc/stats/CopyForwardStatsCore.hpp
Labels: gc

#2980 Improve maxMinHelper in z/codegen
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/JitTest.hpp
  fvtest/compilertriltest/MaxMinTest.cpp
Labels: compiler, tril

#3006 AArch64: Add missing files in aarch64.mk for jitbuilder
  jitbuilder/build/files/target/aarch64.mk
Labels: jitbuilder

#3005 AArch64: Remove env/OMRCompilerEnv.hpp from aarch64
  compiler/aarch64/env/OMRCompilerEnv.hpp
Labels: compiler

#3001 AArch64: Add ARM64Instruction.cpp to aarch64.mk for jitbuilder
  compiler/aarch64/codegen/ARM64Instruction.hpp
  jitbuilder/build/files/target/aarch64.mk
Labels: compiler, jitbuilder

#3007 AArch64: Duplicated definition of print() in Debug class
  compiler/ras/Debug.cpp
Labels: compiler

#3002 Restore Nursery allocation after aborted Scavenge
  gc/base/MemorySubSpaceFlat.cpp
  gc/base/MemorySubSpaceGenerational.cpp
  gc/base/MemorySubSpaceGeneric.cpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/MemorySubSpaceSemiSpace.hpp
  gc/base/j9mm.tdf
Labels: gc
