Repository eclipse-omr/omr, pull requests merged in 2019-12, with the labels that each got.

#4619 Misc. Z RegisterDependency cleanup
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRRegisterDependency.cpp
  compiler/z/codegen/OMRRegisterDependency.hpp
Labels: arch:z, comp:compiler

#4621 AArch64: Add computedCallTargetRegister to ARM64LinkageProperties
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
Labels: arch:aarch64, comp:compiler

#4606 Add option disabling inline JSR292 without peeking
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#4587 AArch64: Implement generateARM64OutOfLineCodeSectionDispatch()
  compiler/aarch64/codegen/ARM64OutOfLineCodeSection.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
Labels: arch:aarch64, comp:compiler

#4614 AArch64: Add call to TR_Debug::print(TR::ARM64RecompilationSnippet)
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler

#4616 Move arithmeticNeedsLiteralFromPool function from OMR to OpenJ9
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler

#4336 Add new 'MinimalTest' suite to compilertest.
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/MinimalTest.cpp
Labels: comp:compiler, comp:test

#4580 Fix JNI performance regression
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCOutOfLineCodeSection.cpp
Labels: arch:power, comp:compiler

#4605 Move the calls to AC_PROG_CC/CXX higher
  configure
  configure.ac
Labels: build / configure

#4620 DDR: add support for xlc/xlclang version 16
  ddr/include/ddr/config.hpp
  ddr/include/ddr/scanner/dwarf/AixSymbolTableParser.hpp
  ddr/include/ddr/scanner/dwarf/DwarfFunctions.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/include/ddr/scanner/pdb/PdbScanner.hpp
  ddr/include/ddr/std/unordered_map.hpp
  ddr/lib/ddr-blobgen/java/genBlobJava.cpp
  ddr/lib/ddr-scanner/dwarf/AixSymbolTableParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfFunctions.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
  gc/base/standard/CompactScheme.hpp
  include_core/omr.h
Labels: comp:diagnostic

#4634 AArch64: Add jitCollapseJNIReferenceFrame helper
  compiler/runtime/Helpers.inc
Labels: arch:aarch64, comp:compiler

#4633 AArch64: Implement tableEvaluator
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4626 Removed codegen/FrontEnd.hpp and codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.hpp
  fvtest/compilertest/build/files/common.mk
  jitbuilder/build/files/common.mk
Labels: comp:compiler

#4443 Rename disableTOCForConsts option and disable TOC when the opti…
  compiler/arm/codegen/ConstantDataSnippet.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/p/codegen/OMRConstantDataSnippet.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCTableOfConstants.cpp
Labels: arch:power, comp:compiler

#4632 Make ccache treat omrcfg.h as a dependency for every object
  buildenv/jenkins/jobs/builds/Build-aix_ppc-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-aix_ppc-64
Labels: ci, os:aix

#4442 Rework MemoryReference::accessStaticItem in Power for JITServer
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRMemoryReference.cpp
Labels: arch:power, comp:compiler

#4536 Add support of J9OS_I5 for ddrgen
  ddr/include/ddr/scanner/dwarf/DwarfFunctions.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-scanner/dwarf/AixSymbolTableParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
Labels: comp:diagnostic

#4640 Stop re-downloading config.guess and config.sub
  buildenv/jenkins/jobs/builds/Build-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_x86-64_cmprssptrs
  run_configure.mk
  scripts/build-on-travis.sh
Labels: build / configure, ci

#4628 AArch64: Allow negative immediate offset for memory access
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#4638 AArch64: Implement OMR::ARM64::RegisterDependencyConditions::clone
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.hpp
Labels: arch:aarch64, comp:compiler

#4639 AArch64: Make logicImmediateHelper available outside BinaryEvaluator.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#3907 Initial RISC-V port
  compiler/env/OMRCPU.cpp
  compiler/env/OMRCPU.hpp
  compiler/env/defines.h
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/riscv/CMakeLists.txt
  compiler/riscv/codegen/BinaryEvaluator.cpp
  compiler/riscv/codegen/ControlFlowEvaluator.cpp
  compiler/riscv/codegen/FPTreeEvaluator.cpp
  compiler/riscv/codegen/GenerateInstructions.cpp
  compiler/riscv/codegen/GenerateInstructions.hpp
  compiler/riscv/codegen/InstOpCode.hpp
  compiler/riscv/codegen/Instruction.hpp
  compiler/riscv/codegen/Linkage.hpp
  compiler/riscv/codegen/MemoryReference.hpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
  compiler/riscv/codegen/OMRInstOpCode.hpp
  compiler/riscv/codegen/OMRInstOpCodeEnum.hpp
  compiler/riscv/codegen/OMRInstruction.cpp
  compiler/riscv/codegen/OMRInstruction.hpp
  compiler/riscv/codegen/OMRInstructionKindEnum.hpp
  compiler/riscv/codegen/OMRLinkage.cpp
  compiler/riscv/codegen/OMRLinkage.hpp
  compiler/riscv/codegen/OMRMachine.cpp
  compiler/riscv/codegen/OMRMachine.hpp
  compiler/riscv/codegen/OMRMemoryReference.cpp
  compiler/riscv/codegen/OMRMemoryReference.hpp
  compiler/riscv/codegen/OMRRealRegister.cpp
  compiler/riscv/codegen/OMRRealRegister.hpp
  compiler/riscv/codegen/OMRRegister.hpp
  compiler/riscv/codegen/OMRRegisterDependency.cpp
  compiler/riscv/codegen/OMRRegisterDependency.hpp
  compiler/riscv/codegen/OMRRegisterDependencyStruct.hpp
  compiler/riscv/codegen/OMRSnippet.cpp
  compiler/riscv/codegen/OMRSnippet.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OpBinary.cpp
  compiler/riscv/codegen/PseudoRegisterEnum.hpp
  compiler/riscv/codegen/RVDebug.cpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVInstruction.hpp
  compiler/riscv/codegen/RVOutOfLineCodeSection.cpp
  compiler/riscv/codegen/RVOutOfLineCodeSection.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/riscv/codegen/RVSystemLinkage.hpp
  compiler/riscv/codegen/RealRegister.hpp
  compiler/riscv/codegen/RealRegisterEnum.hpp
  compiler/riscv/codegen/RealRegisterMaskEnum.hpp
  compiler/riscv/codegen/RegisterDependency.hpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
  compiler/riscv/codegen/UnaryEvaluator.cpp
  compiler/riscv/codegen/riscv-regs.h
  compiler/riscv/env/OMRDebugEnv.cpp
  compiler/riscv/env/OMRDebugEnv.hpp
  compiler/riscv/env/OMREnvironment.hpp
  compiler/runtime/Helpers.inc
  compiler/runtime/Runtime.hpp
  doc/compiler/riscv/Building.md
Labels: arch:riscv, cmake, comp:compiler

#4431 Update configure scripts for RISC-V in OMR (part1/misc)
  CONTRIBUTING.md
  cmake/modules/platform/arch/riscv.cmake
  compiler/env/defines.h
  configure
  configure.ac
  example/glue/configure_includes/configure_linux_riscv.mk
  omrmakefiles/confighelpers.m4
  run_configure.mk
  tools/configure
Labels: arch:riscv

#4642 CMake: Link ddr tooling against omr thread/port libraries
  ddr/tools/blob_reader/CMakeLists.txt
  ddr/tools/ddrgen/CMakeLists.txt
Labels: build / configure, cmake

#4648 CMake: Refactor DDR support
  cmake/config.cmake
  cmake/modules/OmrDDRSupport.cmake
  cmake/modules/platform/toolcfg/gnu.cmake
Labels: cmake

#4651 CMake: Fix ddr on osx
  cmake/modules/ddr/cmake_ddr.awk
Labels: build / configure, toolchain bug

#4643 CMake: Make ddr scan j9pool.h
  util/pool/CMakeLists.txt
Labels: cmake, tooling

#4644 Add GC_DOUBLE_MAP_ARRAYLETS flag to cmake version of omrcfg.h
  CMakeLists.txt
  include_core/omrcfg.cmake.h.in
  include_core/omrversionstrings.cmake.h.in
Labels: build / configure, cmake

#4650 Redefine CG queries to return correct answer
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
Labels: comp:compiler

#4627 Runtime compressed refs work
  gc/structs/ForwardedHeader.cpp
  gc/structs/ForwardedHeader.hpp
Labels: comp:gc

#4654 Revert "Migrate processor/feature detection from OpenJ9 to OMR Part 1"
  fvtest/porttest/si.cpp
  include_core/omrport.h
  port/CMakeLists.txt
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsysinfo.c
  port/common/omrsysinfo_helpers.c
  port/common/omrsysinfo_helpers.h
  port/linuxs390/omrsysinfo_helpers.h
  port/omrportpriv.h
  port/port_objects.mk
  port/unix/omrsysinfo.c
  port/unix_include/omrportpg.h
  port/win32/omrsysinfo.c
  port/zos390/omrportpg.h
  port/zos390/omrsysinfo_helpers.h
Labels: comp:port

#4653 Remove uses of J9VM_OUT_OF_PROCESS
  include_core/thread_api.h
  thread/common/omrthreadinspect.c
Labels: comp:core

#4652 CMake: Update FindDiaSDK
  cmake/modules/FindDiaSDK.cmake
Labels: cmake

#4658 Export omrthread_attr_set_detachstate
  thread/exports.cmake
  thread/thread_include.mk
Labels: comp:thread

#4596 MCS Lock (Part 4): Integrate MCS Lock into OMRThreadMonitor API
  cmake/caches/Appveyor.cmake
  cmake/caches/Travis.cmake
  thread/common/omrthread.c
  thread/common/threadhelpers.cpp
Labels: comp:thread

#4660 Disable the OMR_THR_MCS_LOCKS flag
  cmake/caches/Appveyor.cmake
  cmake/caches/Travis.cmake
Labels: comp:thread

#4655 CMake: Enable OMR_EXE_LAUNCHER support when launching ddrgen
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: cmake, tooling

#4562 Add OMR_SOCKET_API flag to enable/disable usage of socket API
  cmake/caches/Appveyor.cmake
  cmake/caches/Travis.cmake
  cmake/config.cmake
  configure
  configure.ac
  example/glue/configure_includes/configure_common.mk
  fvtest/porttest/CMakeLists.txt
  fvtest/porttest/makefile
  fvtest/porttest/omrsockTest.cpp
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  include_core/omrport.h
  omrmakefiles/configure.mk.in
  port/CMakeLists.txt
  port/common/omrport.c
  port/common/omrsock.c
  port/omrportpriv.h
  port/port_objects.mk
Labels: build / configure, comp:port

#4566 Fix argument info propagation in inlining
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalOpts.hpp
  compiler/optimizer/PreExistence.hpp
Labels: comp:compiler

#4661 DDR: add support for xlc/xlclang version 16
  ddr/include/ddr/config.hpp
  ddr/include/ddr/scanner/dwarf/AixSymbolTableParser.hpp
  ddr/include/ddr/scanner/dwarf/DwarfFunctions.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/include/ddr/scanner/pdb/PdbScanner.hpp
  ddr/include/ddr/std/unordered_map.hpp
  ddr/lib/ddr-blobgen/java/genBlobJava.cpp
  ddr/lib/ddr-scanner/dwarf/AixSymbolTableParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfFunctions.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
  gc/base/standard/CompactScheme.hpp
  include_core/omr.h
Labels: tooling

#4517 Change Dwarf_CU_Context files list from vector to map
  ddr/include/ddr/scanner/dwarf/DwarfFunctions.hpp
  ddr/lib/ddr-scanner/dwarf/AixSymbolTableParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfFunctions.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
Labels: comp:diagnostic

#4663 AArch64: Add generateBinaryEncodingPrePrologue in OMRCodeGenerator
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#4433 Update makefile scripts for RISC-V in OMR (part3/omr)
  omrmakefiles/configure.mk.in
  omrmakefiles/rules.linux.mk
Labels: arch:riscv, build / configure

#4665 Add eaEscapeHelperSymbol
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler, enhancement

#4670 Fixes incorrect Register Copy and consolidates register availab…
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRMachine.cpp
Labels: arch:z, comp:compiler

#4588 AArch64: Add Constant Data Snippet
  compiler/aarch64/CMakeLists.txt
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ConstantDataSnippet.cpp
  compiler/aarch64/codegen/ConstantDataSnippet.hpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRSnippet.hpp
  jitbuilder/build/files/target/aarch64.mk
Labels: arch:aarch64, comp:compiler

#4674 Interface and abstract class can not be final
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalOpts.hpp
Labels: comp:compiler

#4673 Remove definitions and uses of J9VM_ flags
  gc/base/Configuration.cpp
  gc/base/modronopt.h
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
  include_core/omr.h
  include_core/omrcomp.h
Labels: comp:gc

#4558 Used fgets to read file in parseFile
  fvtest/tril/tril/parser.cpp
Labels: comp:tril

#4608 Added ASTToTRNode class to refactor Tril ilgen
  compiler/ilgen/OMRTypeDictionary.cpp
  compiler/ilgen/OMRTypeDictionary.hpp
  fvtest/tril/test/IlGenTest.cpp
  fvtest/tril/tril/CMakeLists.txt
  fvtest/tril/tril/CallConverter.cpp
  fvtest/tril/tril/CallConverter.hpp
  fvtest/tril/tril/GenericNodeConverter.cpp
  fvtest/tril/tril/GenericNodeConverter.hpp
  fvtest/tril/tril/converter.hpp
  fvtest/tril/tril/ilgen.cpp
  fvtest/tril/tril/ilgen.hpp
  fvtest/tril/tril/simple_compiler.cpp
  fvtest/tril/tril/state.hpp
Labels: comp:compiler, comp:tril

#4675 AArch64: Use madd and msub instructions when applicable
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4671 Fix incorrect binary encoding for vmax* instructions
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Labels: arch:power, bug, comp:compiler

#4680 Deprecate assignRegistersNoDependencies as it is no longer used
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
Labels: arch:z, comp:compiler

#4677 AArch64: Add TR_ASSERT() to generateCompareImmInstruction()
  compiler/aarch64/codegen/GenerateInstructions.cpp
Labels: arch:aarch64, comp:compiler

#4672 Fix incorrect binary encoding for tabortwc
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Labels: arch:power, bug, comp:compiler

#4635 Add Data Section and Header to Relocatable ELF Object
  compiler/codegen/ELFGenerator.cpp
  compiler/codegen/ELFGenerator.hpp
Labels: comp:compiler

#4681 Enable simplifying conditional store in CFG simplifier on x, p,…
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/optimizer/OMRCFGSimplifier.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler

#4667 Rename VMX record form compare instructions
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#4685 Add jit newValue helper
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/il/Aliases.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler
