Repository eclipse-omr/omr, pull requests merged in 2019-01, with the labels that each got.

#3404 Tril tests for fcmpeq, etc.
  fvtest/compilertriltest/CompareTest.cpp
Labels: compiler, test, tril

#3334 Add AOT support on X86 for CP address symbol
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Labels: compiler

#3393 Remove deprecated TR_EnableLateCleanFolding Option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: compiler

#3413 Use numeric_limits, not stdint.h limits
  compiler/ilgen/OMRJitBuilderRecorderBinaryBuffer.cpp
Labels: jitbuilder

#3411 Remove early return for OMRPORT_VMEM_ALLOC_QUICK
  port/linux/omrvmem.c
Labels: port

#3401 Tril tests for iffcmpeq, etc.
  fvtest/compilertriltest/CompareTest.cpp
Labels: compiler, test, tril

#3416 fvtest: 'register' is deprecated and incompatible with C++17
  fvtest/porttest/si.cpp
  fvtest/porttest/si_numcpusTest.cpp
Labels: port, test

#3299 Fix warnings in multiple (mostly compiler/optimizer) files
  compiler/il/Aliases.cpp
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/LoadExtensions.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHelpers.cpp
  compiler/optimizer/RegisterCandidate.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/VirtualGuardHeadMerger.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
Labels: compiler

#3419 Percolate on exhausted Concurrent Mark
  gc/base/MemorySubSpace.hpp
  gc/base/MemorySubSpaceGeneric.hpp
  gc/base/gcutils.cpp
  gc/base/j9mm.tdf
  gc/base/standard/Scavenger.cpp
  include_core/omrgcconsts.h
Labels: gc

#3415 Heap size startup hints
  gc/base/GCExtensionsBase.hpp
  gc/base/gcutils.cpp
  gc/base/standard/PhysicalSubArenaVirtualMemorySemiSpace.cpp
  include_core/omrgcconsts.h
Labels: gc

#3395 Add case for IsTrg1Src3 type P9 instructions in mrPeepholes()
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3406 AArch64: Fix code generation of isub
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: bug, compiler

#3422 Multiple ddrgen fixes
  ddr/include/ddr/blobgen/java/genSuperset.hpp
  ddr/lib/ddr-blobgen/java/genBinaryBlob.cpp
  ddr/lib/ddr-blobgen/java/genSuperset.cpp
  ddr/lib/ddr-ir/Type.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Labels: diagnostic support

#3414 Set the C++ standard to C++0x everywhere
  cmake/modules/platform/toolcfg/gnu.cmake
  cmake/modules/platform/toolcfg/xlc.cmake
  omrmakefiles/rules.aix.mk
  omrmakefiles/rules.linux.mk
  omrmakefiles/rules.osx.mk
  omrmakefiles/rules.zos.mk
Labels: build / configure, cmake

#3425 AArch64: Add is64bit flag to generateMovInstruction()
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
Labels: compiler

#2947 Modify DeadTreesElimination to support rdbars
  compiler/optimizer/DeadTreesElimination.cpp
Labels: compiler

#3362 Read barrier verification
  example/glue/GlobalCollectorDelegate.hpp
  gc/base/CollectorLanguageInterface.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/HeapVirtualMemory.cpp
  gc/base/MemoryManager.cpp
  gc/base/MemoryManager.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelGlobalGC.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  glue/CollectorLanguageInterfaceImpl.hpp
Labels: gc

#3394 AArch64: Implement ARM64Src1/Src2Instruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: compiler

#3431 Fix spelling of 'barrier'
  compiler/optimizer/DeadTreesElimination.cpp
Labels: compiler

#3429 Tril tests: Use floating-point abs function in filters
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/CompareTest.cpp
  fvtest/compilertriltest/TypeConversionTest.cpp
Labels: compiler, test, tril

#3423 Tril tests for fabs, fneg, etc.
  fvtest/compilertriltest/ArithmeticTest.cpp
Labels: test, tril

#3434 Tril test case for imulh
  fvtest/compilertriltest/ArithmeticTest.cpp
Labels: compiler, test, tril

#3430 compiler: build: Allow dollars in identifiers
  fvtest/compilertest/build/toolcfg/gnu/common.mk
  jitbuilder/build/toolcfg/gnu/common.mk
Labels: build / configure, compiler, jitbuilder

#3442 transformArrayCopyCall needs to know about read barriers
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: compiler

#3437 Fix spelling
  gc/base/GCExtensionsBase.hpp
Labels: gc

#3421 Implement dynamic array clone in value propagation
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3341 AArch64: Implement aconst/aloadEvaluator()
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: compiler

#3386 AArch64: Improve code generation of lcmpeq, lucmpeq, etc.
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: compiler

#3387 AArch64: Implement ifiucmpeq, iflcmpeq, iflucmpeq, etc.
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3456 Fix spelling
  gc/base/GCExtensionsBase.hpp
Labels: gc

#3457 Implemented tril tests for lmul, lrem, and ldiv
  fvtest/compilertriltest/ArithmeticTest.cpp
Labels: compiler, test, tril

#3459 Add UsingLoadParam, Unary and Binary, LogicalTest Tril Tests
  fvtest/compilertriltest/LogicalTest.cpp
Labels: compiler, test, tril

#3398 Add awareness of Xrdbar operations for Power
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3178 Allows iterator to complete a cycle irrespective of file availability
  include_core/omrport.h
  include_core/omrporterror.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: port

#3454 Combine enter/exit tracing queries into one method
  compiler/codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.hpp
Labels: compiler

#3465 Fix intermixed indentation style
  port/unix/omrsysinfo.c
Labels: port

#3463 Free the code cache repository segment in the Test Compiler and JitBuilder on JIT shutdown
  compiler/runtime/OMRCodeCacheManager.cpp
  compiler/runtime/OMRCodeCacheManager.hpp
  fvtest/compilertest/runtime/TestCodeCacheManager.cpp
  fvtest/compilertest/runtime/TestCodeCacheManager.hpp
  jitbuilder/runtime/JBCodeCacheManager.cpp
  jitbuilder/runtime/JBCodeCacheManager.hpp
Labels: compiler

#3468 Only free the code cache repository segment when it's used
  compiler/runtime/OMRCodeCacheManager.cpp
Labels: bug, compiler

#3149 Removed deprecated X86XMMBinaryArithmeticAnalyser
  compiler/x/CMakeLists.txt
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/XMMBinaryArithmeticAnalyser.cpp
  compiler/x/codegen/XMMBinaryArithmeticAnalyser.hpp
  fvtest/compilertest/build/files/target/x.mk
  jitbuilder/build/files/target/x.mk
Labels: compiler

#3461 Implemented land/lor/lxor tril tests
  fvtest/compilertriltest/LogicalTest.cpp
Labels: compiler, test, tril

#3443 Get_OS_version fall back to plist file on MacOS if sysctl doesn't work
  port/unix/omrsysinfo.c
Labels: port

#3446 Avoid revisit node in TR_ParameterToArgumentMapper
  compiler/optimizer/Inliner.cpp
Labels: compiler

#3427 Add a direct method call relocation and clean up some related code
  compiler/codegen/OMRAheadOfTimeCompile.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
  compiler/runtime/Runtime.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Labels: compiler

#3453 AArch64: Implement lneg Evaluator
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: compiler

#3407 AArch64: Implement directCallEvaluator()
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3445 Update target windows version to win 7
  cmake/modules/platform/os/win.cmake
  omrmakefiles/rules.win.mk
Labels: build / configure, cmake

#3476 Add realtime gcCycleOn fields to OMR_VM from OpenJ9
  gc/base/GCExtensionsBase.cpp
  include_core/omr.h
Labels: gc

#3486 Remove unused _start_time field from FEBase
  compiler/env/FEBase.hpp
Labels: compiler

#3451 Add JITaaS option to do local compiles for remote compiles
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: compiler

#3487 Removed some unused functions in the code
  compiler/arm/codegen/OMRRegister.hpp
Labels: compiler

#3491 On Windows omrfile_lastmod() should return -1 if an error occurs
  fvtest/porttest/omrfileTest.cpp
  port/win32/omrfile.c
Labels: port

#3490 Introduce a helper for OpenJ9
  compiler/runtime/Helpers.inc
Labels: compiler

#3400 AArch64: Implement fadd, dsub, etc.
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3469 Copy OSR exception edge from caller when block is not split
  compiler/optimizer/Inliner.cpp
Labels: compiler

#3435 AArch64: Implement imulh/lmulhEvaluator()
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3405 AArch64: Implement fcmpeqEvaluator, etc.
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3494 Remove CodeCache and CodeCacheManager from FETraits
  compiler/env/FEBase.hpp
  compiler/env/FEBase_t.hpp
  fvtest/compilertest/env/FrontEnd.hpp
  jitbuilder/env/FrontEnd.hpp
Labels: compiler

#3321 lneg evaluator triltest
  fvtest/compilertriltest/LogicalTest.cpp
Labels: compiler, test, tril

#3481 Add missing RememberedSet structures from OpenJ9
  include_core/j9nongenerated.h
Labels: gc

#3420 Added portlibrary global to make isRunningInContainer called at startup
  include_core/omrport.h
  port/common/omrsysinfo.c
  port/include/omrportpg.h
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/unix_include/omrportpg.h
  port/win32/omrsysinfo.c
  port/win32_include/omrportpg.h
  port/zos390/omrportpg.h
Labels: port

#3483 Set CURRENTLY REFERENCED object state atomically
  gc/base/standard/Scavenger.cpp
Labels: gc

#3497 Fix file handle leak in isRunningInContainer() function
  port/unix/omrsysinfo.c
Labels: port

#3502 Eliminate FrontEnd calls to inquire about CodeCache bounds
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3478 Fix bad code - dereferencing a null pointer
  port/osx/omrintrospect.c
Labels: port

#3508 Create CodeGenerator trimCodeMemoryToActualSize() API
  compiler/codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.hpp
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/env/FEBase.hpp
  compiler/env/FEBase_t.hpp
Labels: compiler

#3509 S390: Fix type of FPC register
  port/linuxs390/omrsignal_context.c
  port/zos390/omrsignal_context.c
  port/zos390/omrsignal_context_ceehdlr.c
  port/ztpf/omrsignal_context.c
Labels: port

#3485 Remove OMR refactoring scaffolding
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/env/FEBase.hpp
  compiler/env/FEBase_t.hpp
Labels: compiler

#3510 Introduce empty CPU extension classes for ARM and AArch64
  compiler/aarch64/CMakeLists.txt
  compiler/aarch64/env/OMRCPU.cpp
  compiler/aarch64/env/OMRCPU.hpp
  compiler/arm/env/OMRCPU.cpp
  compiler/arm/env/OMRCPU.hpp
  fvtest/compilertest/build/files/target/arm.mk
  jitbuilder/build/files/target/aarch64.mk
  jitbuilder/build/files/target/arm.mk
Labels: compiler

#3513 Acquire current CodeCache directly from CodeGenerator
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/control/CompileMethod.cpp
  compiler/env/FEBase_t.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: compiler

#3512 Rename J9VMGCRememberedSet to MM_GCRememberedSet
  gc/base/standard/RememberedSetSATB.cpp
  gc/base/standard/RememberedSetSATB.hpp
Labels: gc

#3504 Enhance JIT version generation script
  cmake/modules/OmrCompilerSupport.cmake
  fvtest/compilertest/build/rules/gnu/common.mk
  jitbuilder/build/rules/gnu/common.mk
  tools/compiler/scripts/generateVersion.pl
Labels: build / configure, compiler, jitbuilder

#3520 Refine the guidance on using the TR namespace
  compiler/README.md
Labels: compiler, documentation

#3516 Travis: Update to use Xenial vm
  .travis.yml
Labels: ci

#3503 Remove deprecated FrontEnd CodeCache boundary inquiry functions
  compiler/codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.hpp
Labels: compiler

#3528 Add runtime helper jitReportFinalFieldModified for Openj9
  compiler/il/Aliases.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: compiler

#3532 Remove deprecated FrontEnd function releaseCodeMemory
  compiler/codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.hpp
Labels: compiler

#3534 Remove OpenJ9-specific FrontEnd functions
  compiler/codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.hpp
Labels: compiler

#3533 Deprecate FrontEnd allocateCodeMemory
  compiler/codegen/FrontEnd.cpp
  compiler/codegen/FrontEnd.hpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/env/FEBase.hpp
  compiler/env/FEBase_t.hpp
Labels: compiler

#3479 Provide a consistent interface for asking if trampolines are required
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/env/OMRCPU.cpp
  compiler/aarch64/env/OMRCPU.hpp
  compiler/arm/codegen/ARMBinaryEncoding.cpp
  compiler/arm/codegen/ARMDebug.cpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRCodeGenerator.hpp
  compiler/arm/env/OMRCPU.cpp
  compiler/arm/env/OMRCPU.hpp
  compiler/arm/runtime/VirtualGuardRuntime.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRInstruction.cpp
  compiler/p/codegen/PPCDebug.cpp
  compiler/p/codegen/PPCHelperCallSnippet.cpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/x/amd64/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/HelperCallSnippet.cpp
  compiler/x/codegen/HelperCallSnippet.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86FPConversionSnippet.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRSnippet.cpp
  compiler/z/codegen/S390HelperCallSnippet.cpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/env/OMRCPU.hpp
Labels: compiler

#3325 AArch64: Implement FP type conversion evaluators
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3402 AArch64: Implement floating-point conditional branches
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: compiler

#3536 Remove deprecated option EnableMethodTrampolineReservation
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/runtime/OMRCodeCacheManager.cpp
Labels: compiler

#3523 Allow alternative path to merge to else block
  compiler/optimizer/OMRTransformUtil.cpp
Labels: compiler

#3537 Dont crash when seeing invalid tree while tracing
  compiler/ras/Tree.cpp
Labels: compiler
