Repository eclipse-omr/omr, pull requests merged in 2019-08, with the labels that each got.

#4182 Enable change to determine calling method for OSR code in Inliner
  compiler/optimizer/Inliner.hpp
Labels: comp:compiler

#4173 Prepare JITaaS to be replaced with JITServer
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/VerboseLog.cpp
  compiler/env/VerboseLog.hpp
Labels: comp:compiler

#4186 AArch64: Add DMB instruction to opcode tables
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#4185 AArch64: Add ARM64CondTrg1Src2Instruction to ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:compiler

#4190 AArch64: Add ARM64HelperCallSnippet.cpp to CMakeLists.txt
  compiler/aarch64/CMakeLists.txt
Labels: arch:aarch64, comp:compiler

#4191 Implement ARM64CompareBranchInstruction::generateBinaryEncoding()
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
Labels: arch:aarch64, comp:compiler

#4164 Bit vector analysis code cleanup
  compiler/optimizer/BackwardBitVectorAnalysis.cpp
  compiler/optimizer/BitVectorAnalysis.cpp
Labels: comp:compiler

#4194 CMake: Stop hardcoding preprocessor for DDR
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: comp:diagnostic

#4193 Document C++ features usable in OMR
  compiler/README.md
  doc/CxxInOmr.md
Labels: documentation

#4169 Make JitBuilder sources private
  fvtest/jitbuildertest/CMakeLists.txt
Labels: cmake, comp:jitbuilder, comp:test

#4196 AArch64: Pretty print for movz/movn/movk instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler

#4189 AArch64: Generate DMB instructions for volatile variables
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4195 AArch64: Add assignRegisters(), etc. for ARM64CompareBranchInstruction
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
Labels: arch:aarch64, comp:compiler

#4152 Add support to split blocks post GRA
  compiler/il/OMRBlock.cpp
  compiler/il/OMRBlock.hpp
Labels: comp:compiler

#4201 AArch64: Fix fstore/dstore evaluators
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4202 AArch64: Add assignRegisters(), etc. for ARM64RegBranchInstruction
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
Labels: arch:aarch64, comp:compiler

#4167 Add ARM64ExceptionInstruction kind
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
Labels: arch:aarch64, comp:compiler

#4197 Remove OMR::Compilation::needRelocationsForStatics
  compiler/compile/OMRCompilation.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Labels: comp:compiler

#4187 Implement NULLCHKEvaluator for AArch64
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:aarch64, comp:compiler

#4192 AArch64: Implement TR_Debug::printARM64GCRegisterMap()
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler

#4206 Replace PowerPC pragmata with inline assembler
  include_core/AtomicSupport.hpp
  port/unix/omrcpu.c
  util/omrutil/j9memclr.c
Labels: arch:power, comp:core, comp:port

#4205 Handle specific arraycopy case
  compiler/z/codegen/OMRMemoryReference.cpp
Labels: arch:z, comp:compiler

#4216 Enable change to determine calling method for OSR code unconditionally
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
Labels: comp:compiler

#4209 Remove JITaaS name references
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/VerboseLog.cpp
  compiler/env/VerboseLog.hpp
Labels: comp:compiler

#3842 Enable Pre-/PostEscapeAnalysis optimizations for OpenJ9
  compiler/optimizer/OMROptimizer.cpp
Labels: comp:compiler

#4208 Replace #pragmas mc_func and #reg_killed_by with gcc inline asm
  compiler/ras/CallStack.cpp
Labels: arch:power, comp:compiler, os:aix

#4239 AArch64: Correct return info of methods with reference return type
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:aarch64, comp:compiler

#4242 Deprecate isBreakPoint in favor of the BREAK pseudo-instruction
  compiler/arm/codegen/OMRInstruction.hpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/ras/Debug.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch32, arch:z, comp:compiler

#4244 Copy linkage register info to parm symbols during CodeGenerator init
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#4243 Support signals needed by Jython
  include_core/omrport.h
  port/unix/omrsignal.c
Labels: comp:port
