Repository eclipse-omr/omr, pull requests merged in 2019-04, with the labels that each got.

#3705 CMake: Add export info
  port/CMakeLists.txt
  thread/CMakeLists.txt
  thread/exports.cmake
  util/hookable/CMakeLists.txt
Labels: build / configure, cmake

#3707 AArch64: Add entries to Helpers.inc
  compiler/runtime/Helpers.inc
Labels: arch:aarch64, comp:compiler

#3696 Update GitHub label information in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#3698 Substitute CodeCache::reserveSpaceForTrampoline_bridge
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCache.hpp
Labels: comp:compiler

#3695 Loop versioner support for dynamic checkcast
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#3709 Fix two mistakes in omrformatconsts.h
  include_core/omrformatconsts.h
Labels: comp:core

#3596 Define TR_ALLOC everywhere
  compiler/ilgen/IlInjector.hpp
  compiler/ilgen/OMRIlType.hpp
  compiler/ilgen/OMRIlValue.hpp
  compiler/ilgen/OMRMethodBuilder.hpp
  jitbuilder/apigen/cppgen.py
Labels: comp:compiler

#3634 Support of i/a typed ternary opcode on P codegen
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/GenerateInstructions.cpp
  compiler/p/codegen/GenerateInstructions.hpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCInstruction.cpp
  compiler/p/codegen/PPCInstruction.hpp
Labels: arch:power, comp:compiler

#3639 Robust support of i/a ternary evaluation on X86
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/X86Ops.hpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluatorTable.hpp
  fvtest/compilertest/tests/X86OpCodesTest.cpp
Labels: arch:x86, comp:compiler

#3712 Format output of jitbuilder apigen
  jitbuilder/apigen/cppgen.py
  jitbuilder/apigen/genutils.py
Labels: comp:jitbuilder

#3711 Thread final/non-final Release Caches
  gc/base/standard/EnvironmentStandard.cpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#3598 Make mcc_printf a variadic function macro
  compiler/runtime/CodeCacheTypes.cpp
  compiler/runtime/CodeCacheTypes.hpp
  compiler/runtime/OMRCodeCacheManager.cpp
Labels: comp:compiler

#3660 Provide Compilation API for checking for recursive calls
  compiler/arm/codegen/ARMBinaryEncoding.cpp
  compiler/arm/codegen/ARMDebug.cpp
  compiler/arm/codegen/OMRLinkage.cpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/p/codegen/OMRInstruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/z/codegen/S390Instruction.cpp
Labels: comp:compiler

#3716 Collapse equivalent definitions of J9MODRON_HMI_SLOT_EMPTY
  gc/base/HeapMapIterator.hpp
Labels: comp:gc

#3715 Introduce new Z Linkage constructor
  compiler/z/codegen/Linkage.hpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
Labels: arch:z, comp:compiler

#3701 Enable CopyForwardMarkCompactHybrid mode
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

#3714 Change Staccato to Realtime
  cmake/config.cmake
  configure
  configure.ac
  gc/base/GCExtensionsBase.hpp
  gc/base/HeapRegionList.hpp
  gc/base/Packet.hpp
  gc/base/standard/RememberedSetSATB.hpp
  include_core/j9nongenerated.h
  include_core/omrcfg.h.in
  omrcfg.CMakeTemplate.h
  omrmakefiles/configure.mk.in
Labels: comp:gc

#3645 Fix assertions in VerboseBuffer.cpp with CS
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.cpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.hpp
Labels: comp:gc

#3597 Make fatal_assertion actually "no return"
  compiler/infra/Assert.cpp
Labels: comp:compiler

#3555 Add double map API for LINUX and balanced GC policy
  cmake/modules/platform/os/linux.cmake
  example/glue/ArrayletObjectModel.hpp
  fvtest/porttest/omrvmemTest.cpp
  gc/base/Heap.hpp
  gc/base/HeapSplit.cpp
  gc/base/HeapSplit.hpp
  gc/base/HeapVirtualMemory.cpp
  gc/base/HeapVirtualMemory.hpp
  gc/base/MemoryManager.cpp
  gc/base/MemoryManager.hpp
  gc/base/VirtualMemory.cpp
  gc/base/VirtualMemory.hpp
  gc/base/j9mm.tdf
  gc/include/RootScannerTypes.h
  glue/ArrayletObjectModel.hpp
  include_core/omrport.h
  port/CMakeLists.txt
  port/aix/omrvmem.c
  port/common/omrport.c
  port/common/omrvmem.c
  port/linux/omrvmem.c
  port/omrportpriv.h
  port/osx/omrvmem.c
  port/win32/omrvmem.c
  port/zos390/omrvmem.c
  port/ztpf/omrvmem.c
Labels: comp:port, comp:test

#3721 Guard double mapping api under a config flag
  cmake/config.cmake
  configure
  configure.ac
  example/glue/ArrayletObjectModel.hpp
  gc/base/MemoryManager.cpp
  glue/ArrayletObjectModel.hpp
  include_core/omrcfg.h.in
Labels: comp:gc, comp:glue

#3726 Define OMR_NEED_RT for external projects
  cmake/modules/platform/os/linux.cmake
Labels: comp:port

#3719 Make arraytranslate return correct # of translated chars
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:z, comp:compiler

#3730 Fix the signature of 'proc_setattr'
  port/unix/omrosdump.c
Labels: comp:port

#3731 Fix omrvmem_free_memory
  fvtest/porttest/omrvmemTest.cpp
  port/aix/omrvmem.c
  port/linux/omrvmem.c
  port/zos390/omrvmem.c
Labels: comp:port

#3732 Remove uses of OMR_INTERP_COMPRESSED_OBJECT_HEADER
  example/glue/Object.hpp
  example/glue/ScavengerDelegate.cpp
  example/glue/ScavengerDelegate.hpp
  gc/base/HeapLinkedFreeHeader.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/standard/Scavenger.cpp
  gc/structs/ForwardedHeader.cpp
  gc/structs/ForwardedHeader.hpp
  glue/ScavengerDelegate.cpp
  glue/ScavengerDelegate.hpp
  port/common/omrmem32helpers.c
  port/common/omrportcontrol.c
  port/unix/omrmem.c
Labels: comp:gc, comp:glue, comp:port

#3735 CMake: add SEND_ERROR option to omr_assert
  cmake/modules/OmrAssert.cmake
Labels: cmake

#3724 Guard double mapping api under config flag
  cmake/config.cmake
  configure
  configure.ac
  example/glue/ArrayletObjectModel.hpp
  gc/base/Heap.hpp
  gc/base/HeapSplit.cpp
  gc/base/HeapSplit.hpp
  gc/base/HeapVirtualMemory.cpp
  gc/base/HeapVirtualMemory.hpp
  gc/base/MemoryManager.cpp
  gc/base/MemoryManager.hpp
  gc/base/VirtualMemory.cpp
  gc/base/VirtualMemory.hpp
  glue/ArrayletObjectModel.hpp
  include_core/omrcfg.h.in
Labels: comp:gc

#3736 Improved Value Propagation for Constant Arrays
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#3733 Adopt new read/write barrier kind
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/control/OMROptions.hpp
  compiler/control/OMROptions_inlines.hpp
  compiler/env/OMRObjectModel.hpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler

#3734 CMake: remove use of OMR_INTERP_COMPRESSED_OBJECT_HEADER
  cmake/config.cmake
  omrcfg.CMakeTemplate.h
Labels: cmake

#3725 Remove deprecated X86CheckAsyncMessagesSnippet
  compiler/x/codegen/HelperCallSnippet.cpp
  compiler/x/codegen/HelperCallSnippet.hpp
Labels: arch:x86, comp:compiler

#3723 Code clean related to Label Instruction on X86
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
Labels: arch:x86, comp:compiler

#3742 Fix spelling of createKnownStaticReferenceSymbolRef
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#3741 Revert "Improved Value Propagation for Constant Arrays"
  compiler/optimizer/VPHandlers.cpp
Labels: arch:z, bug, comp:compiler, os:linux, os:zos

#3737 Add support for new signals
  include_core/omrport.h
  port/unix/omrsignal.c
Labels: comp:port

#3657 Convert RuntimeAssumptionTable to mark with lazy sweep
  compiler/runtime/OMRRuntimeAssumptions.hpp
Labels: comp:compiler

#3738 Remove pass-by-reference parameter
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
  gc/base/ObjectScanner.hpp
Labels: comp:gc

#3744 Remove uses of INTERP_SMALL_MONITOR_SLOT
  gc/base/standard/CompactScheme.cpp
Labels: comp:gc

#3739 CMake: Fix option handling for MSVC
  cmake/modules/platform/toolcfg/msvc.cmake
Labels: cmake

#3638 Add JitBuilder services for unsigned division and remainder
  compiler/il/OMRILOps.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  compiler/optimizer/VPHandlers.cpp
  fvtest/jitbuildertest/CMakeLists.txt
  fvtest/jitbuildertest/Makefile
  fvtest/jitbuildertest/UnsignedDivRemTest.cpp
  jitbuilder/apigen/jitbuilder.api.json
Labels: comp:jitbuilder

#3728 Add APIs for creating temp symRef with known obj
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Labels: comp:compiler

#3727 Change enum for constant pool address symbol
  compiler/il/symbol/OMRSymbol.hpp
Labels: comp:compiler

#3750 Remove the OMR_GC_SCAVENGER_DELEGATE flag
  cmake/config.cmake
  configure
  configure.ac
  include_core/omrcfg.h.in
  omrcfg.CMakeTemplate.h
  omrmakefiles/configure.mk.in
Labels: build / configure, comp:gc

#3747 Rework OMRLinkage base class
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
  compiler/arm/codegen/OMRLinkage.cpp
  compiler/arm/codegen/OMRLinkage.hpp
  compiler/codegen/OMRLinkage.cpp
  compiler/codegen/OMRLinkage.hpp
  compiler/codegen/OMRLinkage_inlines.hpp
  compiler/p/codegen/OMRLinkage.cpp
  compiler/p/codegen/OMRLinkage.hpp
  compiler/x/codegen/OMRLinkage.cpp
  compiler/x/codegen/OMRLinkage.hpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
Labels: comp:compiler

#2174 Introducing Atomic Compare And Swap Support to X86
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/ras/Debug.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: arch:x86, comp:compiler

#3757 Improve coverage of IsolatedStoreElimination
  compiler/optimizer/IsolatedStoreElimination.cpp
Labels: comp:compiler

#3752 Missing return
  compiler/il/OMRILOps.hpp
Labels: comp:compiler

#3762 Add support for SIGIO (async signal)
  include_core/omrport.h
  port/unix/omrsignal.c
  port/zos390/omrsignal_ceehdlr.c
Labels: comp:port

#3767 Add Visual Studio Code meta data to .gitignore
  .gitignore
Labels: build / configure

#3760 Code cleanup related to new read/write barrier kind
  compiler/control/OMROptions.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#3765 Introduce OMRVMMethodEnv.cpp stub
  compiler/env/CMakeLists.txt
  compiler/env/OMRVMMethodEnv.cpp
  fvtest/compilertest/build/files/common.mk
  jitbuilder/build/files/common.mk
Labels: comp:compiler

#3771 Add new APIs for mixed compressed mode
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  include_core/omr.h
Labels: comp:gc

#3770 Delete top level glue directory
  glue/ArrayletObjectModel.hpp
  glue/CMakeLists.txt
  glue/CollectorLanguageInterfaceImpl.cpp
  glue/CollectorLanguageInterfaceImpl.hpp
  glue/CompactSchemeFixupObject.cpp
  glue/CompactSchemeFixupObject.hpp
  glue/ContractslotScanner.hpp
  glue/FrequentObjectsStats.cpp
  glue/FrequentObjectsStats.hpp
  glue/LanguageSegregatedAllocationCache.hpp
  glue/LanguageThreadLocalHeap.hpp
  glue/LanguageVMGlue.c
  glue/MixedObjectModel.hpp
  glue/ObjectIterator.cpp
  glue/ObjectIterator.hpp
  glue/ObjectModel.cpp
  glue/ObjectModel.hpp
  glue/ObjectScannerState.hpp
  glue/Profiling.c
  glue/ScavengerDelegate.cpp
  glue/ScavengerDelegate.hpp
  glue/StartupManagerImpl.cpp
  glue/StartupManagerImpl.hpp
  glue/UtilGlue.c
  glue/VerboseManagerImpl.cpp
  glue/VerboseManagerImpl.hpp
  glue/configure_includes/configure_aix_ppc.mk
  glue/configure_includes/configure_linux_390.mk
  glue/configure_includes/configure_linux_aarch64.mk
  glue/configure_includes/configure_linux_arm.mk
  glue/configure_includes/configure_linux_ppc.mk
  glue/configure_includes/configure_linux_x86.mk
  glue/configure_includes/configure_linux_ztpf_390.mk
  glue/configure_includes/configure_osx.mk
  glue/configure_includes/configure_win_x86.mk
  glue/configure_includes/configure_zos_390.mk
  glue/objectdescription.h
  glue/sizeclasses.h
Labels: comp:gc

#3754 Introduce CodeGenerator utilities file
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/OMRCodeGeneratorUtils.hpp
  compiler/arm/codegen/BinaryEvaluator.cpp
  compiler/arm/codegen/ControlFlowEvaluator.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRCodeGeneratorUtils.hpp
  compiler/arm/codegen/OMRLinkage.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/codegen/CodeGeneratorUtils.hpp
  compiler/codegen/OMRCodeGeneratorUtils.hpp
  compiler/p/codegen/BinaryEvaluator.cpp
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGeneratorUtils.hpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCSystemLinkage.cpp
  compiler/p/codegen/TreeEvaluatorVMX.cpp
Labels: comp:compiler

#3768 Add IBM i specfic process for retrieving memory and CPU infos
  port/unix/omrsysinfo.c
Labels: comp:port

#3777 Remove J9 from omrsig* code [Part 1]
  port/aix/omrsignal_context.c
  port/aix/omrsignal_context.h
  port/common/omrsignal.c
  port/linux386/omrsignal_context.c
  port/linux386/omrsignal_context.h
  port/linuxaarch64/omrsignal_context.c
  port/linuxaarch64/omrsignal_context.h
  port/linuxamd64/omrsignal_context.c
  port/linuxamd64/omrsignal_context.h
  port/linuxarm/omrsignal_context.c
  port/linuxarm/omrsignal_context.h
  port/linuxppc/omrsignal_context.c
  port/linuxppc/omrsignal_context.h
  port/linuxs390/omrsignal_context.c
  port/linuxs390/omrsignal_context.h
  port/osx/omrsignal_context.c
  port/osx/omrsignal_context.h
  port/unix/omrsignal.c
  port/win32/omrintrospect.c
  port/win32/omrosbacktrace_impl.c
  port/win32/omrosdump.c
  port/win32/omrsignal.c
  port/win32_include/omrsignal.h
  port/win64amd/omrsignal.c
  port/win64amd/omrsignal.h
  port/zos390/omrsignal_ceehdlr.c
  port/zos390/omrsignal_context.c
  port/zos390/omrsignal_context.h
  port/ztpf/omrsignal.c
  port/ztpf/omrsignal.h
  port/ztpf/omrsignal_context.c
  port/ztpf/omrsignal_context.h
Labels: comp:port

#3763 Provide project specialization function for constrainAcall
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#3772 CMake: ddr bug fixes
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: comp:diagnostic

#3467 Implemented lmul evaluator
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#3748 Add TableSwitch API
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  jitbuilder/apigen/jitbuilder.api.json
  jitbuilder/build/rules/common.mk
  jitbuilder/release/CMakeLists.txt
  jitbuilder/release/cpp/Makefile
  jitbuilder/release/cpp/samples/TableSwitch.cpp
  jitbuilder/release/cpp/samples/TableSwitch.hpp
Labels: comp:jitbuilder

#3786 First pass of changes for mixed mode object references
  example/glue/GlobalCollectorDelegate.hpp
  example/glue/ScavengerDelegate.cpp
  example/glue/ScavengerDelegate.hpp
  gc/base/Configuration.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryManager.cpp
  gc/base/modronapicore.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelGlobalGC.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/verbose/VerboseHandlerOutput.cpp
  include_core/omr.h
Labels: comp:gc

#3680 Add new evaluator and refactor for ardbari opCode
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/codegen/S390Peephole.cpp
  compiler/z/codegen/S390Peephole.hpp
Labels: arch:z, comp:compiler

#3790 Replaces uses of UINT32_MAX which is not defined on z/OS
  ddr/lib/ddr-blobgen/java/genBinaryBlob.cpp
Labels: comp:diagnostic

#3791 Remove unnecessary use of grep '-h' option
  ddr/tools/getmacros
Labels: comp:diagnostic

#3792 Fix maxMinHelper when generating Select instructions
  compiler/z/codegen/ControlFlowEvaluator.cpp
Labels: arch:z, comp:compiler, os:linux, os:zos

#3784 Add Eclipse OMR Jenkins build and pull request pipelines
  .gitignore
  buildenv/jenkins/jobs/builds/Build-aix_ppc-64
  buildenv/jenkins/jobs/builds/Build-linux_390-64
  buildenv/jenkins/jobs/builds/Build-linux_aarch64
  buildenv/jenkins/jobs/builds/Build-linux_arm
  buildenv/jenkins/jobs/builds/Build-linux_ppc-64_le_gcc
  buildenv/jenkins/jobs/builds/Build-linux_x86
  buildenv/jenkins/jobs/builds/Build-linux_x86-64
  buildenv/jenkins/jobs/builds/Build-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-osx_x86-64
  buildenv/jenkins/jobs/builds/Build-win_x86-64
  buildenv/jenkins/jobs/builds/Build-zos_390-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-aix_ppc-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_390-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_aarch64
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_arm
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_ppc-64_le_gcc
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_x86
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-osx_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-win_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-zos_390-64
Labels: build / configure
