Repository eclipse-omr/omr, pull requests merged in 2020-01, with the labels that each got.

#4693 Disable ResumableTraps when TR_DisableTraps option is set
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: arch:power, comp:compiler

#4691 Remove redundant parm to avoid incorrect usage
  compiler/compile/OMRCompilation.cpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/il/OMRResolvedMethodSymbol.hpp
Labels: comp:compiler

#4589 AArch64: Add AOT relocation to address constant
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4690 AArch64: Correctly decode logic immediate in ARM64Debug
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#4700 Remove redundant NULL check code to fix xlc 16 compile error
  port/unix/omrsysinfo.c
Labels: comp:port

#4679 Add TR::Region::reset helper function
  compiler/compile/OMRCompilation.cpp
  compiler/env/Region.hpp
  compiler/il/NodePool.cpp
  compiler/infra/OMRCfg.cpp
  compiler/optimizer/RegisterCandidate.hpp
Labels: comp:compiler

#4699 Added support for loadaddr in copy propagation
  compiler/optimizer/CopyPropagation.cpp
Labels: comp:compiler

#4701 Change control access of isLargePage in MemoryManager to public
  gc/base/MemoryManager.hpp
Labels: comp:gc

#4704 Add arraylet double map request field
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

#4708 Revert PR4699 "Added support for loadaddr in copy propagation."
  compiler/optimizer/CopyPropagation.cpp
Labels: bug, comp:compiler

#4678 AArch64: Load StartPC constant with pc-relative load instruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#4709 Remove references to deprecated class TR_NodeAliasSetInterface
  compiler/il/OMRSymbolReference.hpp
Labels: comp:compiler

#4707 Remove xlC V1R11 workaround in optimizer
  compiler/optimizer/VPConstraint.cpp
Labels: arch:z, comp:compiler, os:zos

#4705 Merge pull request #4705 from bragaigor/verbose_option
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryManager.cpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/schema.xsd
Labels: comp:gc

#4713 Runtime compressed refs work
  gc/base/IndexableObjectScanner.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/ObjectScanner.hpp
  gc/base/SlotObject.hpp
  gc/base/segregated/MemoryPoolSegregated.cpp
  gc/base/standard/ConcurrentGC.cpp
Labels: comp:gc

#4312 Remove redundant z13 processor checks on Z
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/S390Peephole.cpp
Labels: arch:z, comp:compiler

#4676 CMake: Add exported symbol support for gcc
  cmake/modules/platform/toolcfg/gnu.cmake
  cmake/modules/platform/toolcfg/gnu_exports.exp.in
Labels: cmake

#4710 Add -Xjit option TR_DisableImmutableFieldAliasing
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#4723 AArch64: Set prepareForOSR helper to system linkage
  compiler/il/OMRResolvedMethodSymbol.cpp
Labels: arch:aarch64, comp:compiler

#4715 Deprecate getFirstReadWriteMemoryReference
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
Labels: arch:z, comp:compiler

#4725 Added support for loadaddr in copy propagation
  compiler/optimizer/CopyPropagation.cpp
Labels: comp:compiler

#4722 AArch64: Add generateNop to code generator
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#4729 Merge pull request #4729 from gacholio/compress
  gc/base/IndexableObjectScanner.hpp
Labels: comp:gc

#4730 Fix null pointer deref when encoding a MemoryReference
  compiler/p/codegen/OMRMemoryReference.cpp
Labels: arch:power, comp:compiler

#4724 AArch64: Enable OSR
  compiler/control/OMROptions.cpp
Labels: arch:aarch64, comp:compiler

#4434 Merge pull request #4434 from ChengJin01/riscv_omr_part4_port_dir
  include_core/omrport.h
  port/CMakeLists.txt
  port/common/omrsysinfo.c
  port/linuxriscv64/omrsignal_context.c
  port/port_objects.mk
  port/unix/omrmmap.c
  port/unix/omrsysinfo.c
Labels: arch:riscv, comp:port

#4727 Remove the unused Power ba and bla instructions
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Labels: arch:power, comp:compiler

#4726 Add a new dynamic constant API to dereference the pointer
  compiler/compile/ResolvedMethod.cpp
  compiler/compile/ResolvedMethod.hpp
Labels: comp:compiler

#4736 Move object meta data flag defines to omrgcconsts.h
  gc/base/ObjectModelBase.hpp
  include_core/omrgcconsts.h
Labels: comp:gc

#4711 Enhance CFGSimplifier simplifyBooleanStore
  compiler/optimizer/OMRCFGSimplifier.cpp
Labels: comp:compiler

#4696 Add NoRecompilationRecoverableILGenException
  compiler/compile/CompilationException.hpp
Labels: comp:compiler

#4739 Revert "Added support for loadaddr in copy propagation"
  compiler/optimizer/CopyPropagation.cpp
Labels: bug, comp:compiler

#4735 Make double map true as default option
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

#4742 Add Unix rlimit support for RLIMIT_DATA
  include_core/omrport.h
  port/unix/omrsysinfo.c
Labels: comp:port

#4716 Heap Resize: Concurrent KO/Uninitialized Mark Map Bug fix
  gc/base/Collector.hpp
  gc/base/Heap.cpp
  gc/base/Heap.hpp
  gc/base/MemorySpace.cpp
  gc/base/MemorySpace.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/MemorySubSpace.hpp
  gc/base/PhysicalSubArenaVirtualMemoryFlat.cpp
  gc/base/segregated/MemorySubSpaceSegregated.cpp
  gc/base/segregated/MemorySubSpaceSegregated.hpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/segregated/SegregatedGC.hpp
  gc/base/standard/ConcurrentCardTable.cpp
  gc/base/standard/ConcurrentCardTable.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelGlobalGC.hpp
  gc/base/standard/PhysicalSubArenaVirtualMemorySemiSpace.cpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/startup/omrgcstartup.cpp
  include_core/omrgcconsts.h
Labels: comp:gc

#4435 Change misc code for RISC-V in OMR (part5/misc)
  include_core/ute_dataformat.h
  omrtrace/omrtracelog.cpp
  thread/common/thrprof.c
  util/omrutil/gettimebase.c
Labels: arch:riscv

#4669 Consider callee type in exceptionRaised query
  compiler/compile/OMRCompilation.cpp
  compiler/il/OMRMethodSymbol.hpp
  compiler/il/OMRNode.cpp
Labels: comp:compiler

#4770 Revert "Make double map true as default option "
  gc/base/GCExtensionsBase.hpp
Labels: bug, comp:gc

#4733 Fix and enable a large subset of tests on the z/OS OMR CI
  buildenv/jenkins/jobs/builds/Build-zos_390-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-zos_390-64
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/TLSCompilationManager.cpp
  compiler/control/CompilationController.cpp
  compiler/env/FEBase_t.hpp
  compiler/ilgen/OMRMethodBuilder.cpp
  compiler/ilgen/OMRMethodBuilder.hpp
  compiler/infra/ThreadLocal.h
  compiler/infra/ThreadLocal.hpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/SystemLinkageLinux.cpp
  compiler/z/codegen/SystemLinkageLinux.hpp
  compiler/z/codegen/SystemLinkagezOS.cpp
  compiler/z/codegen/SystemLinkagezOS.hpp
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/control/TestJit.cpp
  fvtest/compilertest/runtime/TestCodeCacheManager.cpp
  fvtest/compilertriltest/MinimalTest.cpp
  fvtest/jitbuildertest/SystemLinkageTest.cpp
  fvtest/porttest/CMakeLists.txt
  fvtest/threadextendedtest/CMakeLists.txt
  fvtest/tril/test/IlGenTest.cpp
  fvtest/tril/tril/parser.cpp
  jitbuilder/control/Jit.cpp
  jitbuilder/release/cpp/samples/RecursiveFib.cpp
  jitbuilder/runtime/JBCodeCacheManager.cpp
Labels: arch:z, ci, comp:compiler, comp:jitbuilder, comp:tril, os:zos

#4772 CMake: Refactor _LONG_LONG definition
  cmake/modules/platform/arch/s390.cmake
  cmake/modules/platform/os/linux.cmake
Labels: cmake

#4771 CMake: avoid splitting debug symbols multiple times
  cmake/modules/OmrPlatform.cmake
Labels: cmake

#4769 AArch64: Add code for compressed refs - istoreEvaluator
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4767 AArch64: Add code for compressed refs - astoreEvaluator
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:aarch64, comp:compiler

#4776 Use setProperty instead of setProperties in Z system linkages
  compiler/z/codegen/SystemLinkageLinux.cpp
  compiler/z/codegen/SystemLinkagezOS.cpp
Labels: arch:z, bug, comp:compiler

#4766 AArch64: Add code for compressed refs - l2aEvaluator, aloadEvaluator
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4778 heapReconfigure API Rework Follow-Up
  gc/base/Collector.hpp
  gc/base/PhysicalSubArenaVirtualMemoryFlat.cpp
Labels: comp:gc

#4781 Add VectorFacilityEnhancement1 feature on Z::CPU
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Labels: arch:z, comp:compiler

#4763 Fix generateS390CompareAndBranchOpsHelper
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:z, comp:compiler

#4768 AArch64: Add code for compressed refs to memory reference
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#4602 Add byte and short multiplier on x86
  compiler/x/amd64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/codegen/BinaryEvaluator.cpp
  compiler/x/codegen/X86Ops.hpp
  compiler/x/i386/codegen/OMRTreeEvaluatorTable.hpp
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/JitTest.hpp
Labels: arch:x86, comp:compiler, enhancement

#4780 Scan Queue splitting defaults
  gc/base/Configuration.cpp
  gc/base/GCExtensionsBase.hpp
  gc/verbose/VerboseHandlerOutput.cpp
Labels: comp:gc

#4784 Assorted improvements to RISC-V backend
  compiler/riscv/codegen/OMRInstruction.cpp
  compiler/riscv/codegen/OMRInstruction.hpp
  compiler/riscv/codegen/OMRMemoryReference.cpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVInstruction.hpp
Labels: arch:riscv, comp:compiler

#4790 Compile with xlc_r on AIX
  buildenv/jenkins/jobs/builds/Build-aix_ppc-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-aix_ppc-64
Labels: ci, comp:utilities, os:aix

#4743 Track the total usage of the code cache
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCacheManager.cpp
  compiler/runtime/OMRCodeCacheManager.hpp
Labels: comp:compiler

#4782 Remove duplicate if branches from addConstantToLong
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: arch:power, comp:compiler

#4732 Moving supportVMInternalNatives from OMR to Openj9
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler

#4785 Implement instruction printers for RISC-V
  compiler/env/OMRCPU.hpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/riscv/codegen/OMRInstruction.hpp
  compiler/riscv/codegen/RVDebug.cpp
  compiler/riscv/codegen/RVInstruction.hpp
Labels: arch:riscv, comp:compiler

#4789 Add Identityless node flag
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#4788 Fix CMake AIX issues
  cmake/modules/platform/os/aix.cmake
  fvtest/rastest/CMakeLists.txt
Labels: bug, cmake, os:aix

#4792 Remove old aliases for record-form VMX instructions
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
Labels: arch:power, comp:compiler

#4734 Add Git Crash Course
  CONTRIBUTING.md
  doc/GitCrashCourse.md
  doc/images/addition-of-a-fork.svg
  doc/images/branch1.svg
  doc/images/branch2.svg
  doc/images/branch3.svg
  doc/images/distributed-vcs-model.svg
  doc/images/omr-dev-workflow.svg
  doc/images/rebase1.svg
  doc/images/rebase2.svg
  doc/images/rebase3.svg
Labels: documentation

#4791 CMake: Fix bug in stripping debug info on xlc
  cmake/modules/platform/toolcfg/xlc.cmake
Labels: bug, cmake

#4760 RISC-V: add CI pipelines for RISC-V
  buildenv/jenkins/jobs/builds/Build-linux_riscv64
  buildenv/jenkins/jobs/builds/Build-linux_riscv64_cross
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_riscv64
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_riscv64_cross
Labels: arch:riscv, ci

#4796 Fix rebasing figures and minor typo in Git Crash Course
  doc/GitCrashCourse.md
  doc/images/rebase1.svg
  doc/images/rebase2.svg
Labels: documentation
