Repository eclipse-omr/omr, pull requests merged in 2020-11, with the labels that each got.

#5633 Remove deprecated Power register liveness code
  compiler/codegen/CodeGenRA.cpp
  compiler/codegen/RegisterPressureSimulatorInner.hpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/p/codegen/OMRRegisterDependency.hpp
  compiler/p/codegen/PPCInstruction.hpp
Labels: arch:power, comp:compiler

#5579 Improve RISC-V recursive method invocations
  compiler/riscv/codegen/OMRCodeGenerator.hpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/riscv/codegen/RVSystemLinkage.hpp
Labels: arch:riscv, comp:compiler

#5645 Fix byteswapped store optimization on Power
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5643 RISC-V: rename extensible header files
  compiler/riscv/codegen/OMRTreeEvaluatorTable.hpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
Labels: arch:riscv, comp:compiler

#5649 Add API to get the sentinel assumption
  compiler/runtime/OMRRuntimeAssumptions.hpp
Labels: comp:compiler

#5646 Disable byteswap support on x86 until issues are resolved
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: arch:power, arch:x86, comp:compiler

#5632 Make PortSockTest::poll_functionality_many_sockets more robust
  fvtest/porttest/omrsockTest.cpp
Labels: comp:test

#5653 Fix lbyteswap store optimization on ppc32
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5599 Remove unneeded content from FrontEnd.hpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OSRData.cpp
  compiler/control/CompileMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/env/CompileTimeProfiler.hpp
  compiler/env/FEBase.cpp
  compiler/env/FrontEnd.hpp
  compiler/env/TRPersistentMemory.cpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/il/OMRResolvedMethodSymbol.hpp
  compiler/infra/SimpleRegex.cpp
  compiler/ras/LimitFile.cpp
  compiler/ras/OptionsDebug.cpp
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCacheManager.cpp
Labels: comp:compiler

#5656 Fix invalid use of stdbrx on P6 and before
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5644 Fix the badIlOp node generated by RegDepCopyRemoval
  compiler/optimizer/RegDepCopyRemoval.cpp
Labels: bug, comp:compiler

#5637 Replacing isAbstractClass() and isInterfaceClass() with isConcreteClass()
  compiler/env/OMRClassEnv.hpp
  compiler/optimizer/LocalOpts.cpp
Labels: comp:compiler, first contribution

#5655 Implement omrcpu_flush_icache() for ARM and AArch64
  port/unix/omrcpu.c
Labels: arch:aarch32, arch:aarch64, comp:port

#5647 Remove default CodeGenerator constructor
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRCodeGenerator.hpp
  compiler/codegen/CodeGenerator.hpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
  compiler/x/amd64/codegen/OMRCodeGenerator.cpp
  compiler/x/amd64/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/i386/codegen/OMRCodeGenerator.cpp
  compiler/x/i386/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler

#5565 Fix missing verbose log acquire and release
  compiler/control/CompileMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/infra/SimpleRegex.cpp
  compiler/ras/LimitFile.cpp
  compiler/ras/OptionsDebug.cpp
Labels: comp:compiler, first contribution

#4915 Centralize opcode enum
  .gitignore
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluatorTable.hpp
  compiler/il/OMRILOpCodeProperties.hpp
  compiler/il/OMRILOpCodesEnum.hpp
  compiler/il/OMROpcodes.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHandlers.hpp
  compiler/optimizer/OMRSimplifierTableEnum.hpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluatorTable.hpp
  compiler/riscv/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/i386/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
Labels: comp:compiler

#5662 Remove reverse load and store opcodes from ValuePropagationTable.hpp
  compiler/optimizer/ValuePropagationTable.hpp
Labels: comp:compiler

#5659 Deprecate Travis CI in favor of Azure
  .github/labeler.yml
  .travis.yml
  CONTRIBUTING.md
  README.md
  azure-pipelines.cache
  azure-pipelines.yml
  doc/GuideForCommitters.md
  fvtest/tril/README.md
  scripts/build-on-travis.sh
Labels: ci, comp:test, comp:tril, documentation

#5615 Replace reg dep RealRegister property checks with meaningful queries
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRRegisterDependencyStruct.hpp
  compiler/arm/codegen/ARMDebug.cpp
  compiler/arm/codegen/OMRRegisterDependency.cpp
  compiler/arm/codegen/OMRRegisterDependency.hpp
  compiler/arm/codegen/OMRRegisterDependencyStruct.hpp
  compiler/codegen/OMRRegisterDependencyStruct.hpp
  compiler/codegen/RegisterDependencyStruct.hpp
  compiler/p/codegen/OMRRegisterDependency.cpp
  compiler/p/codegen/OMRRegisterDependencyStruct.hpp
  compiler/riscv/codegen/OMRRegisterDependency.cpp
  compiler/riscv/codegen/OMRRegisterDependencyStruct.hpp
  compiler/x/codegen/OMRLinkage.cpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRRegisterDependencyStruct.hpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/z/codegen/OMRRegisterDependency.cpp
  compiler/z/codegen/OMRRegisterDependency.hpp
  compiler/z/codegen/OMRRegisterDependencyStruct.hpp
  compiler/z/codegen/PseudoRegisterEnum.hpp
Labels: comp:compiler

#5665 AArch64: Enable fsqrt/dsqrt evaluators in OMRTreeEvaluatorTable
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:aarch64, comp:compiler

#5660 Improve selection criteria for IndVarEliminination
  compiler/optimizer/LoopCanonicalizer.cpp
Labels: comp:compiler

#5634 Add CCData data structure and related functions/tests
  compiler/codegen/CCData.cpp
  compiler/codegen/CCData.hpp
  compiler/codegen/CCData_inlines.hpp
  compiler/codegen/CMakeLists.txt
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/tests/CCDataTest.cpp
  fvtest/compilertest/tests/CCDataTest.hpp
  fvtest/coretest/TestBytes.cpp
  include_core/OMR/Bytes.hpp
  include_core/omrcomp.h
Labels: comp:compiler, comp:core, comp:test

#5664 Add NonSpecificConstObject flag
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbol_inlines.hpp
Labels: comp:compiler

#5668 Move postDominators allocation to heap
  compiler/optimizer/LoopCanonicalizer.cpp
Labels: comp:compiler

#5667 Avoid duplicate work in non-cmake builds
  GNUmakefile
  ddr/Makefile
  ddr/lib/Makefile
  ddr/tools/Makefile
  fvtest/compilertest/iwyu.mk
  fvtest/compilertest/linter.mk
  jitbuilder/linter.mk
Labels: comp:diagnostic, comp:jitbuilder, comp:test

#5672 Explicitly specify output for resource compiler
  omrmakefiles/rules.win.mk
Labels: build / configure

#5671 Correct "Elf Hello World Tutorial" link
  doc/compiler/runtime/ELFGenerator.md
Labels: documentation

#5666 Use a default empty message when NULL passed to set error api
  port/common/omrerror.c
Labels: comp:port

#5479 CMake: Enable support for ddr on zos
  CMakeLists.txt
  cmake/modules/OmrDDRSupport.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#5638 Add Dynamic Breadth First Scan Ordering to Balanced GC
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  example/glue/ObjectModelDelegate.hpp
  gc/base/EnvironmentBase.cpp
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/ObjectModelBase.hpp
Labels: comp:compiler, comp:gc

#5677 Correct formating to clarify code in for loop
  compiler/codegen/ELFGenerator.cpp
Labels: comp:compiler

#5675 Add print cpu feature info port library API
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: arch:x86, comp:core, comp:port, os:windows

#5679 Use TR_BitVector instead of CS2::ABitVector in TR_InterferenceGraph
  compiler/infra/InterferenceGraph.cpp
  compiler/infra/InterferenceGraph.hpp
Labels: comp:compiler

#5669 NULL ptr field `_postDominators` to avoid scope issues in future
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#5670 Centralize opcode enum - allow downstream extensions
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/arm/codegen/OMRTreeEvaluatorTable.hpp
  compiler/il/OMRILOpCodeProperties.hpp
  compiler/il/OMRILOpCodesEnum.hpp
  compiler/il/OMROpcodes.enum
  compiler/il/OMROpcodes.hpp
  compiler/il/Opcodes.enum
  compiler/optimizer/OMRSimplifierHandlers.hpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/SimplifierTable.hpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluatorTable.hpp
  compiler/ras/Tree.cpp
  compiler/riscv/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/i386/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:riscv, arch:x86, arch:z, comp:compiler

#5674 Add support for CUDA version 11.1
  port/common/omrcuda.cpp
Labels: comp:port

#5685 Temporarily disable Power reverse load/store optimizations
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5658 Require address load instruction for statics in JITServer
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
Labels: arch:x86, comp:compiler

#5682 RISC-V: fully-qualify evaluators in OMRTreeEvaluatorTable.hpp
  compiler/riscv/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:riscv, comp:compiler

#5690 Fixed traceMsg in LocalAnticipatability
  compiler/optimizer/LocalAnticipatability.cpp
Labels: comp:compiler

#5673 AArch64: Implement hbit/nolz/notz evaluators
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5689 Supporting changes to add fences after volatile field stores
  compiler/runtime/Helpers.inc
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:z, comp:compiler

#5683 Only unset argInfo if value changes
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#5680 Incorporate review feedback for CCData
  compiler/codegen/CCData.cpp
  compiler/codegen/CCData.hpp
  compiler/codegen/CCData_inlines.hpp
  fvtest/CMakeLists.txt
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/tests/CCDataTest.cpp
  fvtest/compilertest/tests/CCDataTest.hpp
  fvtest/compilerunittest/CCData.cpp
  fvtest/compilerunittest/CMakeLists.txt
  include_core/omrcomp.h
Labels: comp:compiler, comp:test

#5607 Print `initialized` stanza to each file
  gc/verbose/VerboseBuffer.cpp
  gc/verbose/VerboseBuffer.hpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
  gc/verbose/VerboseManager.hpp
  gc/verbose/VerboseWriterChain.cpp
  gc/verbose/VerboseWriterChain.hpp
  gc/verbose/VerboseWriterFileLogging.cpp
  gc/verbose/VerboseWriterFileLogging.hpp
  gc/verbose/VerboseWriterFileLoggingBuffered.cpp
  gc/verbose/VerboseWriterFileLoggingBuffered.hpp
  gc/verbose/VerboseWriterFileLoggingSynchronous.cpp
  gc/verbose/VerboseWriterFileLoggingSynchronous.hpp
Labels: comp:gc

#5631 Define OpenJ9-specific HandleRecompilationOps optimization
  compiler/control/OMROptions.cpp
  compiler/optimizer/OMROptimizer.cpp
Labels: comp:compiler

#5691 Swap dequeue and decrement in Scavenger scan queue
  gc/base/standard/CopyScanCacheList.cpp
Labels: comp:gc

#5687 Return quickly on OSX when 2M pages cannot be allocated
  port/osx/omrvmem.c
Labels: arch:x86, comp:port, os:macos

#5692 Fix compile problems in PR #5607
  gc/verbose/VerboseHandlerOutput.hpp
Labels: comp:gc
