Repository eclipse-omr/omr, pull requests merged in 2020-03, with the labels that each got.

#4877 Initialize OptTestDriver's members
  fvtest/compilertest/tests/OptTestDriver.cpp
  fvtest/compilertest/tests/OptTestDriver.hpp
Labels: comp:compiler, comp:test

#4876 Reduce counts when running without SCC and many CPUs are available
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#4829 Support Known Object Table in JITServer
  compiler/compile/OMRCompilation.hpp
  compiler/env/OMRKnownObjectTable.cpp
  compiler/env/OMRKnownObjectTable.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#4859 CopyScanCache pool size
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#4853 Update omrsl_open_shared library behaviour on unix platforms
  cmake/modules/OmrDetectSystemInformation.cmake
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  port/unix/omrsl.c
Labels: comp:port

#4826 Inactive copy caches for Concurrent Scavenger
  example/glue/EnvironmentDelegate.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/MasterGCThread.cpp
  gc/base/OMRVMThreadInterface.cpp
  gc/base/standard/EnvironmentStandard.cpp
  gc/base/standard/EnvironmentStandard.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#4879 Rename OMR_BSD to OMR_OS_BSD
  cmake/modules/platform/os/bsd.cmake
Labels: comp:port

#4838 Add omrsysinfo_processor_disable_feature API
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: comp:port

#4773 Remove unused compressed ref flags
  cmake/config.cmake
  configure
  configure.ac
  example/glue/configure_includes/configure_aix_ppc.mk
  example/glue/configure_includes/configure_linux_390.mk
  example/glue/configure_includes/configure_linux_ppc.mk
  example/glue/configure_includes/configure_linux_riscv.mk
  example/glue/configure_includes/configure_linux_x86.mk
  example/glue/configure_includes/configure_win_x86.mk
  example/glue/configure_includes/configure_zos_390.mk
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  omrmakefiles/configure.mk.in
Labels: build / configure

#4885 Cleanup preprocessor logic in omrport.h
  include_core/omrport.h
Labels: comp:port

#4882 Add omrsysinfo_get_physical_memory implementation for BSD
  port/unix/omrsysinfo.c
Labels: comp:port

#4884 Fix segfault in omrvmemtest
  fvtest/porttest/omrvmemTest.cpp
Labels: comp:port, comp:test

#4881 Change setjmp to sigsetjmp
  fvtest/sigtest/sigTest.cpp
Labels: comp:test

#4857 Move split array mark stats to OMR for metronome
  gc/stats/MarkStats.cpp
  gc/stats/MarkStats.hpp
Labels: comp:gc

#4897 Runtime compressed refs work
  cmake/config.cmake
  configure
  configure.ac
  include_core/omr.h
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  omrmakefiles/configure.mk.in
Labels: build / configure, comp:gc

#4744 Migrate x86 processor info from codegen to CPU
  compiler/aarch64/env/OMRCPU.hpp
  compiler/arm/env/OMRCPU.hpp
  compiler/env/CPU.hpp
  compiler/env/OMRCPU.cpp
  compiler/env/OMRCPU.hpp
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/OMRCompilerEnv.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Labels: comp:compiler

#4898 Add missing properties in OMRILOpCodeProperties
  compiler/il/OMRILOpCodeProperties.hpp
Labels: bug, comp:compiler

#4899 Enable invariant argument prex only when recompilation supported
  compiler/optimizer/LocalOpts.cpp
Labels: comp:compiler

#4902 Runtime compressed refs work
  cmake/caches/Appveyor.cmake
  cmake/caches/GcApi.cmake
  cmake/caches/Travis.cmake
  example/glue/configure_includes/configure_aix_ppc.mk
  example/glue/configure_includes/configure_linux_390.mk
  example/glue/configure_includes/configure_linux_aarch64.mk
  example/glue/configure_includes/configure_linux_arm.mk
  example/glue/configure_includes/configure_linux_ppc.mk
  example/glue/configure_includes/configure_linux_riscv.mk
  example/glue/configure_includes/configure_linux_x86.mk
  example/glue/configure_includes/configure_osx.mk
  example/glue/configure_includes/configure_win_x86.mk
  example/glue/configure_includes/configure_zos_390.mk
  include_core/omr.h
Labels: build / configure, comp:gc

#4903 Refactor TR_PrexArgInfo to reduce coupling with TR_InlinerTracer
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/PreExistence.cpp
  compiler/optimizer/PreExistence.hpp
Labels: comp:compiler

#4892 Remove the redundant implementation of findSingleImplementer
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#4762 Add capability to give preference to pageable large pages on Z/OS
  include_core/omrport.h
  port/zos390/omrvmem.c
Labels: arch:z, comp:port, os:zos

#4872 Remove references of deprecated Add/Sub IL Opcode
  compiler/arm/codegen/BinaryEvaluator.cpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/GeneralLoopUnroller.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/BinaryEvaluator.cpp
  compiler/x/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
Labels: comp:compiler

#4832 Added Unix Implementation for omrsock_getaddrinfo and omrsock_freeaddrinfo in OMRSOCK API
  fvtest/porttest/omrsockTest.cpp
  include_core/omrport.h
  include_core/omrporterror.h
  port/common/omrsock.c
  port/omrportpriv.h
  port/unix/omrsock.c
  port/win32/omrsock.c
Labels: comp:port

#4911 Fix hang in omrrastest
  fvtest/rastest/cpuLoadAgent.c
Labels: comp:test

#4814 Implement dmin/dmax and fmin/fmax on Z
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
  fvtest/compilertriltest/MaxMinTest.cpp
Labels: arch:z, comp:compiler, comp:test

#4831 Add support for recognizing fma on x86
  compiler/env/ProcessorInfo.hpp
  compiler/x/codegen/X86Ops.hpp
Labels: arch:x86, comp:compiler

#4917 Create and use CodeGenerator flag for recompilation support
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/OMRCompilation.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler

#4900 Add omrsysinfo_processor_set_feature API
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: comp:port

#4922 Add X86VFPCallCleanupInstruction comment
  compiler/x/codegen/OMRX86Instruction.hpp
Labels: arch:x86, comp:compiler

#4865 Refactor ternary to select cleanup
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRIL.hpp
  compiler/il/OMRILOpCodesEnum.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRILProps.hpp
Labels: comp:compiler

#4913 Fix bug in value propagation for lowestOneBit
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#4921 CMake: Link port library with omrsig if OMRPORT_OMRSIG_SUPPORT enabled
  port/CMakeLists.txt
Labels: build / configure, cmake

#4821 RISC-V: enable compiler tests in CI pipeline
  buildenv/jenkins/jobs/builds/Build-linux_riscv64
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_riscv64
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/CompareTest.cpp
  fvtest/compilertriltest/ILValidatorTest.cpp
  fvtest/compilertriltest/IfxcmpgeReductionTest.cpp
  fvtest/compilertriltest/JitTest.hpp
  fvtest/compilertriltest/LinkageTest.cpp
  fvtest/compilertriltest/LongAndAsRotateTest.cpp
  fvtest/compilertriltest/MaxMinTest.cpp
  fvtest/compilertriltest/MinimalTest.cpp
  fvtest/compilertriltest/SelectTest.cpp
  fvtest/compilertriltest/ShiftAndRotateTest.cpp
  fvtest/compilertriltest/TypeConversionTest.cpp
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/jitbuildertest/CMakeLists.txt
Labels: arch:riscv, ci, comp:test

#4932 AArch64: Correct the binary encoding of 64-bit "extr" instruction
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#4802 Allow extra context to be printed on assertion failures
  compiler/infra/Assert.cpp
  compiler/infra/Assert.hpp
  compiler/p/codegen/OMRInstOpCode.hpp
Labels: comp:compiler

#4624 Merge TR_SymAliasSetInterface to TR_AliasSetInterface
  compiler/il/AliasSetInterface.hpp
  compiler/il/OMRSymbolReference.hpp
Labels: comp:compiler

#4890 Generate XPLINK call descriptor inline to handle large methods
  compiler/ras/Debug.hpp
  compiler/z/CMakeLists.txt
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRInstructionKindEnum.hpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
  compiler/z/codegen/SystemLinkagezOS.cpp
  compiler/z/codegen/SystemLinkagezOS.hpp
  compiler/z/codegen/snippet/XPLINKCallDescriptorSnippet.cpp
  compiler/z/codegen/snippet/XPLINKCallDescriptorSnippet.hpp
  fvtest/compilertest/build/files/target/z.mk
  jitbuilder/build/files/target/z.mk
Labels: arch:z, bits:32, comp:compiler, os:zos

#4935 Add additional generate functions for X86ImmSymInstruction
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
Labels: arch:x86, comp:compiler

#4837 Override CPU::detect() on Z and X86
  compiler/env/OMRCPU.cpp
  compiler/env/OMRCPU.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Labels: arch:z, comp:compiler

#4937 AArch64: Correct the binary encoding of 64-bit "extr" instruction
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
Labels: arch:aarch64, comp:compiler

#4939 Fix use of uintptrj_t guarded by J9_PROJECT_SPECIFIC
  compiler/z/codegen/SystemLinkagezOS.cpp
Labels: arch:z, comp:compiler

#4894 RISC-V: implement min max evaluators
  compiler/riscv/codegen/ControlFlowEvaluator.cpp
  compiler/riscv/codegen/FPTreeEvaluator.cpp
  compiler/riscv/codegen/RVInstruction.hpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertriltest/MaxMinTest.cpp
Labels: arch:riscv, comp:compiler

#4923 Add OMR_GC_POINTER_MODE flag
  cmake/caches/Appveyor.cmake
  cmake/caches/GcApi.cmake
  cmake/caches/Travis.cmake
  cmake/config.cmake
  configure
  configure.ac
  example/glue/configure_includes/configure_aix_ppc.mk
  example/glue/configure_includes/configure_linux_390.mk
  example/glue/configure_includes/configure_linux_aarch64.mk
  example/glue/configure_includes/configure_linux_arm.mk
  example/glue/configure_includes/configure_linux_ppc.mk
  example/glue/configure_includes/configure_linux_riscv.mk
  example/glue/configure_includes/configure_linux_x86.mk
  example/glue/configure_includes/configure_osx.mk
  example/glue/configure_includes/configure_win_x86.mk
  example/glue/configure_includes/configure_zos_390.mk
  include_core/omr.h
Labels: build / configure, cmake

#4941 Fix OMROptions_includes.hpp missing from OMRCPU on Z
  compiler/z/env/OMRCPU.cpp
Labels: arch:z, comp:compiler

#4944 Fix VP constraint merging for multi-dimensional arrays
  compiler/optimizer/VPConstraint.cpp
Labels: bug, comp:compiler

#4930 Clean-up support for Known Object Table in JITServer
  compiler/env/OMRKnownObjectTable.cpp
  compiler/env/OMRKnownObjectTable.hpp
Labels: comp:compiler

#4946 Fix int/long division with MIN_INT/MIN_LONG divisors
  compiler/x/codegen/BinaryEvaluator.cpp
Labels: arch:x86, bug, comp:compiler

#4936 Add additional X86 generate instruction functions
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
Labels: arch:x86, comp:compiler

#4943 Fix reference to global align
  compiler/runtime/OMRCodeCache.hpp
Labels: comp:compiler

#4914 Fix ssub and bsub evaluators on Z to use a non-commutative analyzer
  compiler/z/codegen/BinaryEvaluator.cpp
  fvtest/compilertriltest/ArithmeticTest.cpp
Labels: arch:z, bug, comp:compiler, comp:test

#4951 AArch64: Change REACHEABLE_RANGE_KB to 128MB
  compiler/runtime/OMRCodeCacheManager.cpp
Labels: arch:aarch64, comp:compiler

#4952 Fix dselect IL opcode properties (and add tests)
  compiler/il/OMRILOpCodeProperties.hpp
  fvtest/compilertriltest/SelectTest.cpp
Labels: comp:compiler, comp:test

#4948 Remove option to specify compressed pointers
  configure
  configure.ac
Labels: build / configure, comp:gc

#4815 Simplify implementation of split()
  ddr/lib/ddr-scanner/dwarf/AixSymbolTableParser.cpp
Labels: comp:diagnostic

#4956 Annotate OMRNode code cleanup with issue number
  compiler/il/OMRNode.cpp
Labels: comp:compiler, documentation

#4957 Update debug info file names
  omrmakefiles/rules.aix.mk
  omrmakefiles/rules.linux.mk
  omrmakefiles/rules.osx.mk
Labels: build / configure

#4950 Fix sysinfo_test0 for Windows
  .appveyor.yml
  buildenv/jenkins/jobs/builds/Build-win_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-win_x86-64
  fvtest/porttest/si.cpp
Labels: comp:test, os:windows

#4928 New Inline function areAnyLiveObjectsInCard
  gc/base/HeapMap.hpp
  gc/base/MarkMap.hpp
Labels: comp:gc

#4960 Use OMR::align() in OMR compiler
  compiler/runtime/OMRCodeCache.cpp
Labels: comp:compiler

#4905 Concurrent Scavenger Async Handler triggering
  gc/base/EnvironmentBase.cpp
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/CopyScanCacheStandard.hpp
  gc/base/standard/EnvironmentStandard.cpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#4964 Prepare compiled MethodBuilder for use in later Call()
  compiler/ilgen/OMRMethodBuilder.cpp
Labels: bug, comp:jitbuilder

#4972 AArch64: Set the enforceStoreOrder flag
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#4609 Lower newvalue to new
  compiler/codegen/CodeGenPrep.cpp
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/env/TypeLayout.hpp
Labels: comp:compiler

#4945 Change realTimeGC field to an internal option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#4918 Expand omrvmemtest on Z/OS
  fvtest/porttest/omrvmemTest.cpp
Labels: comp:port, comp:test

#4975 Fix for ZOS linkage
  gc/base/Collector.hpp
  gc/base/EnvironmentBase.cpp
  gc/base/EnvironmentBase.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelGlobalGC.hpp
Labels: comp:gc

#4774 Add DefineGlobal to MethodBuilder
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/ilgen/OMRMethodBuilder.cpp
  compiler/ilgen/OMRMethodBuilder.hpp
  fvtest/jitbuildertest/CMakeLists.txt
  fvtest/jitbuildertest/GlobalTest.cpp
  jitbuilder/apigen/jitbuilder.api.json
Labels: comp:jitbuilder

#4981 RISC-V: disable failing (new) UsingLoadParamAndLoadConst
  fvtest/compilertriltest/ArithmeticTest.cpp
Labels: arch:riscv, comp:compiler, comp:test

#4982 AArch64: Add OMR_ARCH_AARCH64 to omrcfg.h.in
  include_core/omrcfg.h.in
Labels: arch:aarch64

#4983 AArch64: Use OMR_ARCH_AARCH64 instead of AARCH64
  include_core/AtomicSupport.hpp
Labels: arch:aarch64

#4984 AArch64: Add OMR_ARCH_AARCH64 to omrcfg.cmake.h.in
  include_core/omrcfg.cmake.h.in
Labels: arch:aarch64

#4954 Add isClassValueType to ClassEnv query
  compiler/env/OMRClassEnv.hpp
Labels: comp:compiler

#4979 Define new UnsupportedValueTypeOperation exception
  compiler/compile/CompilationException.hpp
Labels: comp:compiler

#4962 Changed dependency list overflow assert to fatal
  compiler/z/codegen/OMRRegisterDependency.hpp
Labels: arch:z, comp:compiler

#4968 Fix shared library trace formats
  port/common/omrport.tdf
Labels: comp:port

#4860 Update to avoid initial LOA size is smaller than largeObjectMinimumSize
  gc/base/MemoryPoolLargeObjects.cpp
  gc/base/MemoryPoolLargeObjects.hpp
Labels: comp:gc

#4987 RISC-V: implement ?select evaluators
  compiler/riscv/codegen/ControlFlowEvaluator.cpp
  compiler/riscv/codegen/FPTreeEvaluator.cpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertriltest/SelectTest.cpp
Labels: arch:riscv, comp:compiler

#4980 Skip sysinfo_test for MacOS
  fvtest/porttest/si.cpp
Labels: comp:test, os:macos

#4985 RISC-V: implement rest of unsigned arithmetic
  compiler/riscv/codegen/BinaryEvaluator.cpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertriltest/ArithmeticTest.cpp
Labels: arch:riscv, comp:compiler

#4989 Add support for element iteration in IndexableScanner
  gc/base/IndexableObjectScanner.hpp
  gc/base/ObjectScanner.hpp
Labels: comp:gc

#4993 Fix Debug Build failures due to out of order options
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#4998 AArch64: Fix instruction for add with sign-extension
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#4995 Add Azure Pipelines build definitions for Windows, Linux, and macOS
  azure-pipelines.cache
  azure-pipelines.yml
Labels: arch:x86, ci, os:linux, os:macos, os:windows

#5000 Code cleanup for unused __arrayTranslateTRTOSimpleVMX function
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: arch:power, comp:compiler

#4996 Fix Select Evaluators for Double and Float
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
  fvtest/compilertriltest/SelectTest.cpp
Labels: arch:z, comp:compiler, comp:test

#4820 Refactor Power binary encoder (phase 3)
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/infra/Bit.hpp
  compiler/p/codegen/BinaryEvaluator.cpp
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/GenerateInstructions.cpp
  compiler/p/codegen/GenerateOMRInstructions.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.hpp
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRInstruction.cpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/p/codegen/OMRInstructionKindEnum.hpp
  compiler/p/codegen/OMRMachine.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCDebug.cpp
  compiler/p/codegen/PPCInstruction.cpp
  compiler/p/codegen/PPCInstruction.hpp
  compiler/p/codegen/PPCOpsDefines.hpp
  compiler/p/codegen/PPCSystemLinkage.cpp
  compiler/p/codegen/TreeEvaluatorVMX.cpp
  compiler/ras/Debug.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: arch:power, comp:compiler

#4971 Omit optional transformations in an opt marked as MustBeDone
  compiler/ras/Debug.cpp
Labels: comp:compiler

#4965 Change TR_PREXARGINFO_TRACER_CLASS macro definition to TR_LogTracer
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
  compiler/optimizer/PreExistence.hpp
Labels: comp:compiler

#4598 Generate instanceOf checks in Block Versioner for index field objects and introduce throttling heuristics
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
Labels: comp:compiler

#4970 Deprecate XPLINKCallDescriptorSnippet
  compiler/z/codegen/snippet/XPLINKCallDescriptorSnippet.cpp
  compiler/z/codegen/snippet/XPLINKCallDescriptorSnippet.hpp
Labels: arch:z, comp:compiler

#4924 Fix addrinfo element extraction function name in OMRSOCK API
  fvtest/porttest/omrsockTest.cpp
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsock.c
  port/omrportpriv.h
  port/unix/omrsock.c
  port/win32/omrsock.c
Labels: comp:port, comp:test

#4963 Add register dependencies to ICF end label
  compiler/x/codegen/FPTreeEvaluator.cpp
Labels: arch:x86, comp:compiler
