Repository eclipse-omr/omr, pull requests merged in 2020-10, with the labels that each got.

#5570 Print s390 processor feature name
  port/unix/omrsysinfo.c
Labels: comp:port

#5558 Simplify the Power ZEROCHK evaluator
  compiler/p/codegen/ControlFlowEvaluator.cpp
Labels: arch:power, comp:compiler

#5590 Support Int64 Length Node within setmemoryEvaluator
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5589 CMake: call $(MAKE) for ddr on makefile generators
  cmake/modules/OmrDDRSupport.cmake
Labels: build / configure, cmake

#5593 Flip default setting of isExternalRelocation
  compiler/codegen/Relocation.hpp
Labels: comp:compiler

#5600 Print ppc processor feature name
  port/unix/omrsysinfo.c
Labels: comp:port

#5365 Remove deprecated code from StoreSinking
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/SinkStores.hpp
Labels: comp:compiler

#5537 Privatize all MemoryReference constructors and Remove/Replace legacy constructor
  compiler/p/codegen/MemoryReference.hpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRMemoryReference.hpp
Labels: arch:power, comp:compiler

#5602 AArch64: Add another method to kill temporary registers added to register dependency
  compiler/aarch64/codegen/OMRRegisterDependency.hpp
Labels: arch:aarch64, comp:compiler

#5597 Add tempSlot symbol in Symbol Reference Table
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#5560 Adding `stalltimems` in `gc-end` stanza
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
  gc/stats/CollectionStatistics.hpp
  gc/stats/GlobalGCStats.hpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
  gc/verbose/schema.xsd
Labels: comp:gc

#5578 Remove deprecated codegen Relocations
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler

#5606 Create default parameters for findOrCreateRuntimeHelper
  compiler/arm/codegen/BinaryEvaluator.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/p/codegen/BinaryEvaluator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/z/codegen/FPTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OpMemToMem.cpp
Labels: comp:compiler

#5609 Remove unused JVMPI options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler, first contribution

#5612 AArch64: Fix debug print for tst instruction
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler

#5614 Clear array split stats
  gc/stats/ScavengerStats.cpp
Labels: comp:gc

#5605 Prevent cfg simplification from transforming stores of internal pointers
  compiler/optimizer/OMRCFGSimplifier.cpp
Labels: comp:compiler

#5603 AArch64: Add support for tbz/tbnz instructions
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:compiler

#5617 AArch64: Change ConstantDataSnippet to use targetaddress2 for non-aconst node
  compiler/aarch64/codegen/ConstantDataSnippet.cpp
Labels: arch:aarch64, comp:compiler

#5624 Avoid null dereference in inliner due to BCD
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#5618 Disable x87 floating point GRA
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/optimizer/RegisterCandidate.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler

#5595 Use entryPointFromCompiledMethod linkage API for recursive calls
  compiler/arm/codegen/ARMBinaryEncoding.cpp
  compiler/compile/OMRCompilation.cpp
  compiler/p/codegen/OMRInstruction.cpp
  compiler/p/codegen/PPCDebug.cpp
  compiler/z/codegen/S390Instruction.cpp
Labels: arch:aarch32, arch:power, arch:z, comp:compiler

#5625 Reorder J9MemorySegment constants from low to high value
  include_core/j9nongenerated.h
Labels: comp:core

#5626 Compile twice for DDR on z/OS so optimization is not hindered
  omrmakefiles/rules.zos.mk
Labels: build / configure

#5584 Add and use CodeGenerator factory function
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/OMRCompilation.cpp
Labels: comp:compiler

#5441 Add supportsIntAbs/FPAbs() functions to CodeGenerator
  compiler/arm/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler

#5583 Unify LinkageInfo word initialization
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: arch:power, arch:x86, arch:z, comp:compiler

#5619 CMake: Update langlvl on aix
  cmake/modules/platform/toolcfg/xlc.cmake
Labels: build / configure, cmake

#5580 Add double map API for OSX
  fvtest/porttest/omrvmemTest.cpp
  gc/base/Heap.hpp
  gc/base/HeapSplit.cpp
  gc/base/HeapSplit.hpp
  gc/base/HeapVirtualMemory.cpp
  gc/base/HeapVirtualMemory.hpp
  gc/base/MemoryManager.cpp
  gc/base/MemoryManager.hpp
  gc/base/VirtualMemory.cpp
  gc/base/VirtualMemory.hpp
  include_core/omrport.h
  include_core/omrporterror.h
  port/aix/omrvmem.c
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrvmem.c
  port/linux/omrvmem.c
  port/omrportpriv.h
  port/osx/omrvmem.c
  port/win32/omrvmem.c
  port/zos390/omrvmem.c
  port/ztpf/omrvmem.c
Labels: arch:power, arch:x86, arch:z, comp:core, comp:gc, comp:port, comp:test, os:aix, os:linux, os:macos, os:windows, os:ztpf

#5604 Remove code related to invokeWithArgumentsHelper
  compiler/arm/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.cpp
Labels: arch:aarch32, arch:z, comp:compiler

#5640 AArch64: Fix TestBitBranch instruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#5623 Remove reverse load/store opcodes
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRILProps.hpp
  compiler/il/OMRNode.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/codegen/UnaryEvaluator.cpp
  compiler/ras/Tree.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Labels: arch:aarch32, arch:power, arch:z, comp:compiler
