Repository eclipse-omr/omr, pull requests merged in 2020-07, with the labels that each got.

#5061 Improve Code generation for loading signed byte/halfword
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5348 AArch64: Remove length parameter from MemoryReference (step 1)
  compiler/aarch64/codegen/MemoryReference.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
Labels: arch:aarch64, comp:compiler

#5227 Added Unix Implementations for sockopt Related Functions
  fvtest/porttest/omrsockTest.cpp
  include_core/omrport.h
  include_core/omrporterror.h
  include_core/omrportsock.h
  include_core/omrportsocktypes.h
  port/common/omrport.c
  port/common/omrsock.c
  port/omrportpriv.h
  port/unix/omrsock.c
  port/unix_include/omrsock.h
  port/win32/omrsock.c
Labels: comp:port

#5354 ClearCache on deactivate
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#5353 Check whether type for VP constraint is definitely an array
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#5349 AArch64: Remove length parameter from MemoryReference (step 3)
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/MemoryReference.hpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
Labels: arch:aarch64, comp:compiler

#5363 Include <netinet/in.h> in omrsock.h
  port/unix_include/omrsock.h
Labels: comp:port

#4925 Remove definitions of deprecated unsigned IL Opcodes of Equality Compare and branch
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluatorTable.hpp
  compiler/il/OMRILOpCodeProperties.hpp
  compiler/il/OMRILOpCodesEnum.hpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHandlers.hpp
  compiler/optimizer/OMRSimplifierTableEnum.hpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/codegen/OMRTreeEvaluatorTable.hpp
  compiler/ras/Tree.cpp
  compiler/riscv/codegen/ControlFlowEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
Labels: comp:compiler

#5317 Implement basic support for POWER10 prefixed loads and stores
  compiler/p/codegen/MemoryReference.hpp
  compiler/p/codegen/OMRInstOpCode.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRMemoryReference.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCDebug.cpp
  compiler/p/codegen/PPCInstruction.hpp
  compiler/p/codegen/PPCOpsDefines.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
  fvtest/compilerunittest/p/MemoryReferenceExpansion.cpp
  fvtest/compilerunittest/p/Util.hpp
Labels: arch:power, comp:compiler, comp:test

#5369 Remove deprecated and unreachable isInternalControlFlowOneEntryOneExit
  compiler/z/codegen/OMRInstruction.cpp
Labels: arch:z, comp:compiler

#5373 Remove CodeGenerator::deleteInst from the Power codegen
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
Labels: arch:power, comp:compiler

#5370 Implement binary encoding for lxv and stxv
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCOpsDefines.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: arch:power, comp:compiler, comp:test

#4457 Improve relocation record checks inside genLoadLongConstant
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:z, comp:compiler

#5357 CMake: update assembler handling for the compiler
  cmake/modules/OmrCompilerSupport.cmake
Labels: build / configure, cmake

#5381 Put Windows .map file in same folder as .dll
  omrmakefiles/rules.win.mk
Labels: build / configure

#5376 omrvmemTest minor cleanups
  fvtest/porttest/omrvmemTest.cpp
Labels: comp:test

#5385 AArch64: Enhance bookkeeping of register use count
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/OMRInstruction.cpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.hpp
Labels: arch:aarch64, comp:compiler

#5139 Added Unix Implementations for omrsock_sendto and omrsock_recvfrom
  fvtest/porttest/omrsockTest.cpp
  include_core/omrporterror.h
  port/unix/omrsock.c
Labels: comp:port

#5389 Enable CS Exhaustive Termination by default
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

#4456 Use CG query to check for guard merging support
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: arch:x86, arch:z, comp:compiler

#5386 AArch64: Remove incTotalUseCount method from OMRRegisterDependencyConditions
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.hpp
Labels: arch:aarch64, comp:compiler

#5388 AArch64: Print FMOV (imm) instructions in ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler

#5384 Rename MasterGCThread files to MainGCThread
  gc/CMakeLists.txt
  gc/base/MainGCThread.cpp
  gc/base/MainGCThread.hpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#5390 CMake: Fix typos in aarch64 spp handling
  cmake/modules/OmrCompilerSupport.cmake
Labels: build / configure, cmake

#5356 Add specific error codes to replace current error codes in omrsock API
  include_core/omrporterror.h
  port/unix/omrsock.c
Labels: comp:port

#5336 Dispatcher Rework: Thread Selection & Hybrid Notification
  gc/base/Dispatcher.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
Labels: comp:gc

#5325 Add a gr0 exclusion for RA on isel extended mnemonics
  compiler/p/codegen/OMRInstOpCode.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/PPCInstruction.cpp
  compiler/p/codegen/PPCOpsDefines.hpp
Labels: arch:power, comp:compiler

#5394 Remove InstructionAbsoluteRelocation
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
Labels: comp:compiler

#4750 Merge the omrargscan library from OpenJ9
  include_core/omrutil.h
  util/omrutil/argscan.c
Labels: comp:core, comp:port

#5011 Add base setupPointerArrayScanner() implementation
  example/glue/MarkingDelegate.hpp
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
Labels: comp:gc

#5397 Revert "Dispatcher Rework: Thread Selection & Hybrid Notification"
  gc/base/Dispatcher.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
Labels: comp:gc

#5327 Add heap free ratio heuristics for heap expansion
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/MemorySubSpaceUniSpace.hpp
  gc/base/j9mm.tdf
Labels: comp:gc

#4754 Merge wildcard and CRC32 routines from OpenJ9 into omrutil
  include_core/omrutil.h
  util/omrutil/CMakeLists.txt
  util/omrutil/omrcrc32.c
  util/omrutil/util.tdf
  util/omrutil/wildcard.c
Labels: comp:sharedcache

#5399 Ensure newvalue lowering correctly handles compressed refs
  compiler/codegen/CodeGenPrep.cpp
Labels: comp:compiler

#5391 Deprecate AppVeyor CI from OMR
  .appveyor.yml
  .github/labeler.yml
  README.md
  azure-pipelines.yml
  buildenv/jenkins/jobs/builds/Build-win_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-win_x86-64
  buildenv/jenkins/omrbuild.groovy
  cmake/caches/Windows.cmake
  doc/GuideForCommitters.md
  scripts/Appveyor-ProcessTests.ps1
Labels: build / configure, ci, cmake

#4458 Improve relocation record checks and avoid generating PC relative instructions for JITServer
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:z, comp:compiler

#5405 Remove unnecessary uses of getOptimizationPhaseIsComplete()
  compiler/optimizer/OMRTransformUtil.cpp
  compiler/z/codegen/OMRCodeGenPhase.cpp
Labels: arch:z, comp:compiler

#5375 AArch64: Change register allocation in i2lEvaluator, etc.
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5366 AArch64: Code generation for loading unsigned short/byte
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5410 Fix naming on PortTTyTest
  fvtest/porttest/omrttyTest.cpp
Labels: comp:test

#5408 Revert "Add heap free ratio heuristics for heap expansion"
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/MemorySubSpaceUniSpace.hpp
  gc/base/j9mm.tdf
Labels: comp:gc

#5387 FMOV (imm) instruction implementation
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5411 Update tty_daemonize_test
  fvtest/porttest/omrttyExtendedTest.cpp
Labels: comp:test

#5396 POWER10 arraycopy inlining and activation
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/runtime/PPCArrayCopy.inc
  compiler/runtime/Helpers.inc
Labels: arch:power, comp:compiler

#5416 Runtime compressed refs work
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryPool.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/ObjectScanner.hpp
  gc/base/SlotObject.hpp
  gc/structs/ForwardedHeader.hpp
Labels: comp:gc

#5417 Initialize external name for ResolvedMethod
  jitbuilder/compile/ResolvedMethod.hpp
Labels: comp:jitbuilder

#5403 Add omrsysinfo_get_processor_feature_name on x86
  compiler/x/env/OMRCPU.cpp
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsysinfo.c
  port/common/omrsysinfo_helpers.c
  port/common/omrsysinfo_helpers.h
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: arch:x86, comp:port, os:windows

#5406 Add OMR::CFG::addExceptionEdgeUnchecked method
  compiler/infra/OMRCfg.cpp
  compiler/infra/OMRCfg.hpp
Labels: comp:compiler

#5371 Implement binary encoding for POWER10 PC-relative loads and stores
  compiler/p/codegen/MemoryReference.hpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRMemoryReference.hpp
  compiler/p/codegen/PPCAOTRelocation.hpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCDebug.cpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: arch:power, comp:compiler, comp:test

#5422 Fix tracepoint and declaration for omrsysinfo_get_processor_feature_name
  port/common/omrport.tdf
  port/common/omrsysinfo.c
Labels: comp:port

#5380 Switch to using a label for StartPC in the Power codegen
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRConstantDataSnippet.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
Labels: arch:power, comp:compiler

#5413 CMake: Add fallback measure to find DIA SDK
  cmake/modules/FindDiaSDK.cmake
Labels: build / configure, cmake

#5421 MOVI (Imm) instruction implementation for 0.0
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#5392 AArch64: Implement OutOfLineCodeSection
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/ARM64OutOfLineCodeSection.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMachine.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/codegen/CodeGenGC.cpp
  compiler/ras/Debug.cpp
Labels: arch:aarch64, comp:compiler

#5407 Merging Dispatcher to ParallelDispatcher (1/2)
  gc/base/CardTable.cpp
  gc/base/Configuration.cpp
  gc/base/Configuration.hpp
  gc/base/Dispatcher.cpp
  gc/base/Dispatcher.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MarkMap.cpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/OMRVMInterface.cpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
  gc/base/ParallelHeapWalker.cpp
  gc/base/ParallelMarkTask.hpp
  gc/base/ParallelObjectHeapIterator.hpp
  gc/base/ParallelTask.cpp
  gc/base/ParallelTask.hpp
  gc/base/Task.hpp
  gc/base/WorkPackets.cpp
  gc/base/modronapicore.cpp
  gc/base/segregated/ConfigurationSegregated.cpp
  gc/base/segregated/ConfigurationSegregated.hpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/segregated/SegregatedGC.hpp
  gc/base/segregated/SegregatedSweepTask.hpp
  gc/base/standard/CompactFixHeapForWalkTask.hpp
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/CompactScheme.hpp
  gc/base/standard/ConcurrentCardTable.hpp
  gc/base/standard/ConcurrentCardTableForWC.cpp
  gc/base/standard/ConcurrentClearNewMarkBitsTask.hpp
  gc/base/standard/ConcurrentCompleteTracingTask.hpp
  gc/base/standard/ConcurrentFinalCleanCardsTask.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentPrepareCardTableTask.hpp
  gc/base/standard/ConcurrentScanRememberedSetTask.hpp
  gc/base/standard/ConcurrentScavengeTask.hpp
  gc/base/standard/ConcurrentSweepScheme.cpp
  gc/base/standard/CopyScanCacheList.cpp
  gc/base/standard/HeapWalker.cpp
  gc/base/standard/ParallelCompactTask.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelGlobalGC.hpp
  gc/base/standard/ParallelScavengeTask.hpp
  gc/base/standard/ParallelSweepScheme.cpp
  gc/base/standard/ParallelSweepScheme.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/base/standard/SweepHeapSectioningSegmented.cpp
  gc/stats/ScavengerStats.cpp
Labels: comp:gc

#5401 Checking the constraints with allocationFence
  compiler/optimizer/LocalLiveRangeReducer.cpp
Labels: comp:compiler

#5428 AArch64: Fix su2i/bu2iEvaluator()
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5414 Move pTOC label processing into processRelocations
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
Labels: arch:power, comp:compiler

#5432 Fix bug in postGRA block splitter
  compiler/il/OMRBlock.cpp
Labels: bug, comp:compiler

#5433 Add comp:utilities label to util and comp:core to include_core
  .github/labeler.yml
Labels: tooling

#5435 Fix compiler warning
  port/common/omrstr.c
Labels: comp:port
