Repository eclipse-omr/omr, pull requests merged in 2020-05, with the labels that each got.

#5146 Update create_omr_compiler_library to use omr_add_library
  cmake/modules/OmrCompilerSupport.cmake
  cmake/modules/OmrTargetSupport.cmake
Labels: cmake

#4485 Change CAS code & memory barrier for RISC-V in OMR (part6/cas)
  include_core/AtomicSupport.hpp
  include_core/omrutilbase.h
  util/omrutil/CMakeLists.txt
  util/omrutil/makefile
  util/omrutil/unix/linux/riscv/32/cas32helper.s
  util/omrutil/unix/linux/riscv/64/cas64helper.s
Labels: arch:riscv, comp:core

#5115 AArch64: Improve code generation for add/sub constant
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5120 AArch64: Implement select evaluators
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  fvtest/compilertriltest/SelectTest.cpp
Labels: arch:aarch64, comp:compiler

#4854 RISC-V: implement far branches
  compiler/riscv/codegen/InstOpCode.hpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRInstruction.cpp
  compiler/riscv/codegen/OMRInstruction.hpp
  compiler/riscv/codegen/RVDebug.cpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVInstruction.hpp
Labels: arch:riscv, comp:compiler

#5144 Update x86 processor detection in port library
  include_core/omrport.h
  port/common/omrsysinfo_helpers.c
  port/common/omrsysinfo_helpers.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: comp:port

#5143 Add option for class chain validation caching
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#5138 Change to postconditions only for ICF end labels
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5161 AArch64: Remove `hasToBeOnStack` from OMRLinkage
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
Labels: arch:aarch64, comp:compiler

#5162 AArch64: Move copyParametersToHomeLocation to OMRLinkage
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/ARM64SystemLinkage.hpp
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
Labels: arch:aarch64, comp:compiler

#5159 AArch64: Change the default JIT option
  compiler/control/OMROptions.cpp
Labels: arch:aarch64, comp:compiler

#5163 AArch64: Enhance copyParametersToHomeLocation to support Linkage Register Allocation
  compiler/aarch64/codegen/OMRLinkage.cpp
Labels: arch:aarch64, comp:compiler

#5127 Add support to indicate synthetic exception handler
  compiler/env/ExceptionTable.cpp
  compiler/env/ExceptionTable.hpp
  compiler/il/OMRBlock.cpp
  compiler/il/OMRBlock.hpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#5166 Add DataType::isFloat()
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRDataTypes_inlines.hpp
Labels: comp:compiler

#5167 Fix canGCAndExcept flag for TR_monitorExit helper
  compiler/compile/OMRSymbolReferenceTable.cpp
Labels: comp:compiler

#4615 Remove references to TR_LinkageInfo
  compiler/env/FEBase.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/runtime/Runtime.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler

#5170 Document uses of function 'generateShiftAndKeepSelected(64|31)Bit'
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OpMemToMem.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
Labels: arch:z, comp:compiler

#5075 Improve handling of 'aiadd' and 'aladd'
  compiler/ras/ILValidationRules.cpp
  compiler/ras/ILValidationRules.hpp
  compiler/ras/ILValidationStrategies.hpp
  compiler/ras/ILValidator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/ILValidatorTest.cpp
Labels: arch:z, comp:compiler

#5164 AArch64: Enable SupportsGlRegDepOnFirstBlock
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#5165 Consolidate all trace CG options
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRInstruction.cpp
  compiler/arm/codegen/OMRMachine.cpp
  compiler/codegen/CodeGenRA.cpp
  compiler/codegen/LiveRegister.cpp
  compiler/codegen/LiveRegister.hpp
  compiler/codegen/NodeEvaluation.cpp
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/OMRCompilation.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/control/OMROptions_inlines.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRMachine.cpp
  compiler/p/codegen/PPCInstruction.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRLinkage.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Peephole.hpp
Labels: comp:compiler

#5142 Remove redundant calls to self() in Z classes with TR:Linkage
  compiler/z/codegen/SystemLinkageLinux.cpp
  compiler/z/codegen/SystemLinkagezOS.cpp
Labels: comp:compiler

#5039 Refactor Power binary encoder (phase 4)
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRInstruction.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRMemoryReference.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCInstruction.hpp
  compiler/p/codegen/PPCOpsDefines.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
  fvtest/compilerunittest/p/MemoryReferenceExpansion.cpp
Labels: arch:power, comp:compiler

#5181 Fix qualified name enum warnings in OMRLinkage.hpp
  compiler/x/codegen/OMRLinkage.hpp
Labels: arch:x86, comp:compiler

#5188 CMake: Add exports to aixbaddep
  fvtest/porttest/CMakeLists.txt
Labels: cmake

#5185 CMake: Exclude third party code from the `all` target
  CMakeLists.txt
Labels: cmake

#5121 Add NaN and infinity cases to floating point opcode tests
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/CompareTest.cpp
  fvtest/compilertriltest/JitTest.cpp
  fvtest/compilertriltest/JitTest.hpp
  fvtest/compilertriltest/MaxMinTest.cpp
  fvtest/compilertriltest/TypeConversionTest.cpp
  fvtest/tril/tril/parser.cpp
Labels: comp:compiler, comp:test, comp:tril

#5189 Remove isTimeForGlobalGCKickoff() from base Collector class
  gc/base/Collector.cpp
  gc/base/Collector.hpp
  gc/base/GlobalCollector.hpp
Labels: comp:gc

#5192 Redundant CS transition
  gc/base/j9mm.tdf
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#5190 Remove mention of dead PPCHeapAllocSnippet class
  compiler/ras/Debug.hpp
Labels: arch:power, comp:compiler

#5176 CMake: Generate libX.debuginfo instead of libX.so.dbg
  .gitignore
  cmake/modules/OmrTargetSupport.cmake
  cmake/modules/OmrUtility.cmake
  cmake/modules/platform/toolcfg/gnu.cmake
  cmake/modules/platform/toolcfg/xlc.cmake
  doc/ddr.md
Labels: cmake

#5198 CMake: Add support for OUTPUT_NAME parameter in omr target functions
  cmake/modules/OmrTargetSupport.cmake
Labels: cmake

#5205 AArch64: Add ARM64MemSrc2Instruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:compiler

#5208 AArch64: Make registerBitMask function available to outside of code generator
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#5209 AArch64 Add IsHeapAlloc to enum for Snippet kind
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRSnippet.hpp
Labels: arch:aarch64, comp:compiler

#5206 AArch64: Add entries in TR_Debug::getRuntimeHelperName()
  compiler/ras/Debug.cpp
Labels: arch:aarch64, comp:compiler

#5217 AArch64: Make getRegisterName() support NoReg
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler

#5215 Fix typo in NodePool::removeDeadNodes
  compiler/il/NodePool.cpp
Labels: comp:compiler

#5187 Add empty definition for endOutlinedInstructionSequence
  compiler/x/codegen/OutlinedInstructions.cpp
  compiler/x/codegen/OutlinedInstructions.hpp
Labels: arch:x86, comp:compiler

#5116 Jenkins: Disable CreateExportList on aix
  buildenv/jenkins/omrbuild.groovy
Labels: ci

#5123 Add tests for fcmp??u / dcmp??u
  fvtest/compilertriltest/CompareTest.cpp
Labels: comp:compiler, comp:test, comp:tril

#5214 Remove CodeGenerator param from createConstantInstruction
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/S390GenerateInstructions.cpp
Labels: arch:z, comp:compiler

#5200 Disable CFG simplifier patterns related to conditional stores
  compiler/optimizer/OMRCFGSimplifier.cpp
Labels: comp:compiler

#5211 Runtime compressed refs work
  gc/base/SlotObject.hpp
  gc/base/segregated/MemoryPoolSegregated.cpp
Labels: comp:gc

#5226 Remove some statics from z/codegen
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/S390Debug.cpp
Labels: arch:z, comp:compiler

#5225 Move code out of ~TR_OutlinedInstructionsGenerator(), preventing it from throwing
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OutlinedInstructions.cpp
  compiler/x/codegen/OutlinedInstructions.hpp
Labels: arch:x86, comp:compiler

#5199 CMake: Update split debug info handling
  cmake/caches/Travis.cmake
  cmake/config.cmake
  cmake/modules/OmrDDRSupport.cmake
  cmake/modules/OmrUtility.cmake
  cmake/modules/platform/toolcfg/gnu.cmake
  cmake/modules/platform/toolcfg/xlc.cmake
Labels: cmake

#4692 Initial contribution of LLJB to the Eclipse OMR Project
  cmake/config.cmake
  fvtest/CMakeLists.txt
  fvtest/lljbtest/CMakeLists.txt
  fvtest/lljbtest/add.cpp
  fvtest/lljbtest/arrays.cpp
  fvtest/lljbtest/conditional.cpp
  fvtest/lljbtest/div.cpp
  fvtest/lljbtest/doubles.cpp
  fvtest/lljbtest/floats.cpp
  fvtest/lljbtest/function_call.cpp
  fvtest/lljbtest/lljb_run.cpp
  fvtest/lljbtest/loops.cpp
  fvtest/lljbtest/mandelbrot.cpp
  fvtest/lljbtest/md5.cpp
  fvtest/lljbtest/mul.cpp
  fvtest/lljbtest/print_string.cpp
  fvtest/lljbtest/structs.cpp
  fvtest/lljbtest/sub.cpp
  fvtest/lljbtest/ternary.cpp
  fvtest/lljbtest/time.cpp
  fvtest/lljbtest/unions.cpp
  jitbuilder/CMakeLists.txt
  jitbuilder/lljb/CMakeLists.txt
  jitbuilder/lljb/README.md
  jitbuilder/lljb/include/lljb/Compiler.hpp
  jitbuilder/lljb/include/lljb/IRVisitor.hpp
  jitbuilder/lljb/include/lljb/MethodBuilder.hpp
  jitbuilder/lljb/include/lljb/Module.hpp
  jitbuilder/lljb/src/Compiler.cpp
  jitbuilder/lljb/src/IRVisitor.cpp
  jitbuilder/lljb/src/MethodBuilder.cpp
  jitbuilder/lljb/src/Module.cpp
Labels: lljb

#5180 CMake: Make omr_add_library/executable process warning flags
  cmake/modules/OmrCompilerSupport.cmake
  cmake/modules/OmrTargetSupport.cmake
  fvtest/CMakeLists.txt
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilerunittest/CMakeLists.txt
  fvtest/coretest/TestIntrusiveList.cpp
  fvtest/omrGtestGlue/CMakeLists.txt
  fvtest/porttest/omrvmemTest.cpp
  fvtest/tril/CMakeLists.txt
  fvtest/util/CMakeLists.txt
  gc/CMakeLists.txt
  jitbuilder/CMakeLists.txt
  omr/CMakeLists.txt
  omrsigcompat/CMakeLists.txt
  omrtrace/CMakeLists.txt
  port/CMakeLists.txt
  thread/CMakeLists.txt
  util/a2e/CMakeLists.txt
  util/avl/CMakeLists.txt
  util/hashtable/CMakeLists.txt
  util/hookable/CMakeLists.txt
  util/omrutil/CMakeLists.txt
  util/pool/CMakeLists.txt
Labels: cmake

#5155 Add GitHub Actions to the OMR project
  .github/labeler.yml
  .github/workflows/first-interaction.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Labels: ci

#5238 Upgrade stale GitHub Action to v3.0.0
  .github/workflows/stale.yml
Labels: ci

#5233 Remove TR::S390JNICallDataSnippet references
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/SystemLinkage.cpp
  compiler/z/codegen/SystemLinkage.hpp
  compiler/z/codegen/SystemLinkageLinux.cpp
  compiler/z/codegen/SystemLinkageLinux.hpp
  compiler/z/codegen/SystemLinkagezOS.cpp
  compiler/z/codegen/SystemLinkagezOS.hpp
Labels: arch:z, comp:compiler

#5242 Upgrade first-interaction to 0.2.0 and decrease cron to every 30 minutes
  .github/workflows/first-interaction.yml
Labels: ci

#5224 AArch64: Enable rdbar/rdbari evaluators in OMRTreeEvaluatorTable
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:aarch64, comp:compiler

#5239 Fix warning in port linux/omrosdump_helpers.c
  port/linux/omrosdump_helpers.c
Labels: comp:port, os:linux

#5066 Added Unix Implementations for omrsock_connect and omrsock_accept functions
  fvtest/porttest/omrsockTest.cpp
  include_core/omrport.h
  include_core/omrporterror.h
  port/common/omrsock.c
  port/omrportpriv.h
  port/unix/omrsock.c
  port/unix_include/omrsock.h
  port/win32/omrsock.c
Labels: comp:port

#5196 Refactor processor version check for branch hints
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/GenerateInstructions.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5248 Disable stale issue marker until upstream issue is resolved
  .github/workflows/stale.yml
Labels: ci

#5221 New iterative implementation of findCycle
  compiler/optimizer/Structure.cpp
Labels: bug, comp:compiler

#5216 Change type of variable `updates`
  gc/stats/ScavengerCopyScanRatio.hpp
Labels: comp:gc

#5151 Replace CPU APIs on x86
  compiler/arm/env/OMRCompilerEnv.hpp
  compiler/compile/OMRCompilation.cpp
  compiler/env/OMRCPU.cpp
  compiler/env/OMRCPU.hpp
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/OMRCompilerEnv.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/IntegerMultiplyDecomposer.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Ops_inlines.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/z/env/OMRCPU.cpp
Labels: arch:x86, comp:compiler

#5234 Max/Min support for NaN on Power and set Max/Min support to 2 operands only
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/ControlFlowEvaluator.cpp
  fvtest/compilertriltest/MaxMinTest.cpp
Labels: arch:power, comp:compiler

#5232 AArch64: Enable bcmp*, bucmp*, scmp* and sucmp* evaluators
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:aarch64, comp:compiler

#5005 RISC-V: implement byte and short evaluators
  compiler/riscv/codegen/BinaryEvaluator.cpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/LongAndAsRotateTest.cpp
  fvtest/compilertriltest/ShiftAndRotateTest.cpp
Labels: arch:riscv, comp:compiler

#5250 Disable regDepCopyRemoval when value types are enabled
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#5203 Consider value type arrays in VPHandler for ArrayStoreCHK
  compiler/env/OMRObjectModel.hpp
  compiler/il/OMRBlock.cpp
  compiler/il/OMRBlock.hpp
  compiler/il/OMRNode.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#5184 Implement basic support for POWER10 in the compiler
  compiler/env/Processors.hpp
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRRealRegister.cpp
  compiler/p/codegen/OMRRealRegister.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCOpsDefines.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
  include_core/omrport.h
  port/unix/omrsysinfo.c
Labels: arch:power, comp:compiler

#5251 OSX libraries should have a version, set 1.0.0
  omrmakefiles/rules.osx.mk
Labels: build / configure

#5253 CMake: Move a number of functions to OmrTargetSupport.cmake
  cmake/modules/OmrPlatform.cmake
  cmake/modules/OmrTargetSupport.cmake
Labels: build / configure, cmake

#5153 Replace CPU APIs on Z
  compiler/env/OMRCPU.cpp
  compiler/env/OMRCPU.hpp
  compiler/il/Aliases.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/z/codegen/BinaryAnalyser.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/FPTreeEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OpMemToMem.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/TranslateEvaluator.cpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Labels: arch:z, comp:compiler

#4827 RISC-V: implement indirect calls
  compiler/riscv/codegen/GenerateInstructions.cpp
  compiler/riscv/codegen/GenerateInstructions.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/RVInstruction.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/riscv/codegen/RVSystemLinkage.hpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
Labels: arch:riscv, comp:compiler

#4717 Update documentation for class TR_AliasSetInterface
  doc/compiler/il/SymbolsSymrefsAliasing.md
Labels: comp:compiler, documentation

#5257 Remove S390JNICallDataSnippet class
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/ConstantDataSnippet.hpp
Labels: arch:z, comp:compiler
