Repository eclipse-omr/omr, pull requests merged in 2020-04, with the labels that each got.

#5004 Replace the obsolete known object table APIs
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#5008 Add missing return statement
  port/zos390/omrsignal_ceehdlr.c
Labels: bug, comp:port, os:zos

#4967 Use method test for interface or abstract guard
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#5014 AArch64: Implement FLUSH_MEMORY() in jittypes.h
  compiler/env/jittypes.h
Labels: arch:aarch64, comp:compiler

#4907 Add full support for calls on z/OS and enable corresponding tests
  buildenv/jenkins/jobs/builds/Build-zos_390-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-zos_390-64
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/control/CompileMethod.cpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/SystemLinkagezOS.cpp
  compiler/z/codegen/SystemLinkagezOS.hpp
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertriltest/JitTest.hpp
  fvtest/compilertriltest/LinkageTest.cpp
  fvtest/compilertriltest/MinimalTest.cpp
  fvtest/tril/test/IlGenTest.cpp
  fvtest/tril/tril/simple_compiler.cpp
  jitbuilder/control/Jit.cpp
  jitbuilder/release/CMakeLists.txt
  jitbuilder/release/cpp/samples/Call.cpp
  jitbuilder/release/cpp/samples/Call.hpp
  jitbuilder/release/cpp/samples/Mandelbrot.cpp
Labels: arch:z, ci, comp:compiler, comp:jitbuilder, comp:test, comp:tril, os:zos

#4848 Fix binary encoding template for ldux
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Labels: arch:power, comp:compiler

#5012 Add support for miscellaneous-instruction-extensions facility 2 in OMR::Z::CPU
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Labels: arch:z, comp:compiler

#5013 Build-Break fix caused by Pull Request 4598
  compiler/optimizer/OMRValuePropagation.cpp
Labels: comp:compiler

#4997 Add query method for class whose instances are zero initializable
  compiler/env/OMRClassEnv.hpp
Labels: comp:compiler

#5019 Guard Instructions dependant on MIE2 installed
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
Labels: arch:z, comp:compiler

#4992 Refactor Jenkins Pipelines into single file
  buildenv/jenkins/omrbuild.groovy
Labels: ci

#4959 Move function numConcreteClasses into OpenJ9 ClassEnv
  compiler/env/OMRClassEnv.cpp
  compiler/env/OMRClassEnv.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#5028 Add missing parentheses
  port/common/omrmem32helpers.c
Labels: comp:port

#5031 Return SCM variables for Github statuses
  buildenv/jenkins/omrbuild.groovy
Labels: ci

#5032 Update Jenkins README with instructions for configuring jobs
  buildenv/jenkins/README.md
Labels: ci, documentation

#5015 Reduce scratchSpaceLimit to 16 MB under `-Xtune:virtualized` option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#5026 Fix minLOAFreeRatio initialization issue
  gc/base/MemoryPoolLargeObjects.cpp
  gc/base/MemoryPoolLargeObjects.hpp
Labels: comp:gc

#5007 Remove non-existent VSX load/store with update instructions
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/runtime/ppcasmdefines.inc
Labels: arch:power, comp:compiler

#5024 CMake: tidy up
  cmake/caches/GcApi.cmake
  cmake/config.cmake
  cmake/modules/OmrCompilerSupport.cmake
  cmake/modules/OmrDDRSupport.cmake
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/OmrMetalC.cmake
  cmake/modules/OmrPlatform.cmake
  cmake/modules/OmrTracegen.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/ddr/GenerateStub.cmake
  cmake/modules/ddr/cmake_ddr.awk
  cmake/modules/platform/arch/ppc.cmake
  cmake/modules/platform/arch/s390.cmake
  cmake/modules/platform/arch/x86.cmake
  cmake/modules/platform/os/linux.cmake
  cmake/modules/platform/os/zos.cmake
  cmake/modules/platform/toolcfg/gnu.cmake
  cmake/modules/platform/toolcfg/zos_rename_exports.cmake
Labels: build / configure, cmake

#5006 Add unit tests in preparation for phase 4 of the Power binary encoder refactor
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRMemoryReference.hpp
  fvtest/compilerunittest/CMakeLists.txt
  fvtest/compilerunittest/CodeGenTest.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
  fvtest/compilerunittest/p/MemoryReferenceExpansion.cpp
  fvtest/compilerunittest/p/Util.hpp
Labels: arch:power, comp:compiler, comp:test

#4977 Remove ::align() from OMR compiler
  CMakeLists.txt
  cmake/config.cmake
  compiler/runtime/Alignment.cpp
  compiler/runtime/CMakeLists.txt
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCache.hpp
  fvtest/compilertest/build/files/common.mk
  jitbuilder/build/files/common.mk
Labels: comp:compiler

#5021 Barrier type re-ordering
  include_core/omrgcconsts.h
Labels: comp:gc, documentation

#5040 AArch64: Fix encoding of ldxr/stxr instructions
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#5035 Don't overwrite the _callNode of a mapped callsite
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#5042 Fix marking of failed tests in Azure Pipelines
  azure-pipelines.yml
Labels: ci

#4988 Add non-helper symbol for working with value types
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/il/Aliases.cpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#4645 Stop using std::numeric_limits<>::max() for global initializers
  cmake/modules/platform/os/zos.cmake
  include_core/OMR/Bytes.hpp
  omrmakefiles/rules.zos.mk
Labels: comp:core

#5038 Fix typo in function name containesZeroOrOneConcreteClass
  compiler/env/OMRClassEnv.cpp
  compiler/env/OMRClassEnv.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#5051 AArch64: Binary encoding of load/store exclusive instructions
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#5036 Remove obsolete APIs in known object table
  compiler/env/OMRKnownObjectTable.cpp
  compiler/env/OMRKnownObjectTable.hpp
Labels: comp:compiler

#5025 Do not test shifts wider than the type
  fvtest/compilertriltest/ShiftAndRotateTest.cpp
Labels: comp:compiler, comp:test

#5052 AArch64: Call redoTrampolineReservationIfNecessary()
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
Labels: arch:aarch64, comp:compiler

#5058 Translate between J9CudaError and cudaError_t as necessary
  port/common/omrcuda.cpp
Labels: comp:port

#5063 Add support for CUDA version 10.2
  port/common/omrcuda.cpp
Labels: comp:port

#4926 Fix localCSE where it does not common the eligible node
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMRLocalCSE.hpp
Labels: comp:compiler

#4934 Use '-static-libstdc++' when linking ddrgen and blob_reader
  ddr/tools/blob_reader/CMakeLists.txt
  ddr/tools/blob_reader/Makefile
  ddr/tools/ddrgen/CMakeLists.txt
  ddr/tools/ddrgen/Makefile
Labels: build / configure

#4887 Added Unix Implementations for omrsock_socket and omrsock_close in OMRSOCK API
  fvtest/porttest/omrsockTest.cpp
  include_core/omrport.h
  include_core/omrporterror.h
  port/common/omrsock.c
  port/omrportpriv.h
  port/unix/omrsock.c
  port/win32/omrsock.c
Labels: comp:port

#4839 Enable double map only in system with new API
  fvtest/porttest/omrvmemTest.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryManager.cpp
  gc/base/VirtualMemory.hpp
  gc/base/j9mm.tdf
  include_core/omrport.h
  port/common/omrport.tdf
  port/common/omrportcontrol.c
  port/linux/omrvmem.c
  port/unix/omrmmap.c
  port/unix_include/omrportpg.h
Labels: comp:gc

#5068 Fix CUDA return values
  port/common/omrcuda.cpp
Labels: comp:port

#5073 Fix undeclared macro MAP_HUGETLB
  port/linux/omrvmem.c
Labels: comp:port

#5017 Remove remnants of LM from the Power codegen
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/env/OMRCPU.hpp
Labels: comp:compiler

#5001 Fix some issues found with Cppcheck static analysis
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#5009 Fix pervasive warnings on z/OS and AIX
  compiler/infra/OMRMonitor.hpp
  compiler/runtime/Runtime.hpp
Labels: comp:compiler, os:aix, os:zos

#4893 Support FMA operations on aarch64
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#4904 Enhance simplifier to simplify comparison between a constant and a tree of select nodes
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: comp:compiler

#4822 Consolidating getMethodFromBCInfo type routines
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
Labels: comp:compiler

#5087 Jb call inline sample
  compiler/ilgen/OMRIlBuilder.cpp
  jitbuilder/release/cpp/samples/Call.cpp
  jitbuilder/release/cpp/samples/Call.hpp
Labels: bug, comp:jitbuilder

#5089 CMake: Ensure that split debug info is processed in target_enable_ddr
  cmake/modules/OmrDDRSupport.cmake
Labels: cmake

#4999 Introduce bit-test-and-reset immediate instructions on x86
  compiler/x/codegen/X86Ops.ins
Labels: arch:x86, comp:compiler

#5065 Fix X86 MemoryReference copy constructor for constant data snippets
  compiler/x/codegen/OMRMemoryReference.cpp
Labels: arch:x86, bug, comp:compiler

#5054 Use correct RegImm64 constructor for insertLoadConstant
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: arch:x86, bug, comp:compiler

#5094 AArch64: Implement TR_Debug::getGlobalRegisterName
  compiler/ras/Debug.cpp
Labels: arch:aarch64, comp:compiler

#5041 Cache clear and abandon simplification
  gc/base/EnvironmentBase.hpp
  gc/base/MasterGCThread.cpp
  gc/base/standard/EnvironmentStandard.hpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#5071 Support tracing both inline and out of line allocation bytes
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/TLHAllocationInterface.cpp
Labels: comp:gc

#5093 AArch64: Implement getLinkageGlobalRegisterNumber
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#5074 Add support to the installed cross-compiler for RISCV
  example/glue/configure_includes/configure_linux_riscv.mk
Labels: arch:riscv, comp:glue

#5092 AArch64: Implement getMaximumNumbersOfAssignableGPRs/FPRs
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#5030 Update AIX builds with version appropriate copy of CreateExportList
  buildenv/jenkins/jobs/builds/Build-aix_ppc-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-aix_ppc-64
  buildenv/jenkins/omrbuild.groovy
Labels: ci, os:aix

#5083 Add IBM i specific definition
  port/unix/omrsysinfo.c
Labels: comp:port, os:i5

#5080 CMake: Add omr_add_library, omr_add_executable functions
  CMakeLists.txt
  cmake/modules/OmrTargetSupport.cmake
  ddr/CMakeLists.txt
  ddr/lib/ddr-blobgen/CMakeLists.txt
  ddr/lib/ddr-ir/CMakeLists.txt
  ddr/lib/ddr-macros/CMakeLists.txt
  ddr/lib/ddr-scanner/CMakeLists.txt
  ddr/tools/blob_reader/CMakeLists.txt
  ddr/tools/ddrgen/CMakeLists.txt
  example/CMakeLists.txt
  example/glue/CMakeLists.txt
  fvtest/algotest/CMakeLists.txt
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilerunittest/CMakeLists.txt
  fvtest/coretest/CMakeLists.txt
  fvtest/gc_api_test/CMakeLists.txt
  fvtest/gctest/CMakeLists.txt
  fvtest/jitbuildertest/CMakeLists.txt
  fvtest/omrGtestGlue/CMakeLists.txt
  fvtest/porttest/CMakeLists.txt
  fvtest/rastest/CMakeLists.txt
  fvtest/sigtest/CMakeLists.txt
  fvtest/threadextendedtest/CMakeLists.txt
  fvtest/threadtest/CMakeLists.txt
  fvtest/tril/examples/incordec/CMakeLists.txt
  fvtest/tril/examples/mandelbrot/CMakeLists.txt
  fvtest/tril/test/CMakeLists.txt
  fvtest/tril/tril/CMakeLists.txt
  fvtest/util/CMakeLists.txt
  fvtest/utiltest/CMakeLists.txt
  fvtest/vmtest/CMakeLists.txt
  gc/CMakeLists.txt
  jitbuilder/release/CMakeLists.txt
  omr/CMakeLists.txt
  omr/startup/CMakeLists.txt
  omrsigcompat/CMakeLists.txt
  omrtrace/CMakeLists.txt
  port/CMakeLists.txt
  third_party/pugixml-1.5/CMakeLists.txt
  thread/CMakeLists.txt
  tools/hookgen/CMakeLists.txt
  tools/tracegen/CMakeLists.txt
  tools/tracemerge/CMakeLists.txt
  util/a2e/CMakeLists.txt
  util/avl/CMakeLists.txt
  util/hashtable/CMakeLists.txt
  util/hookable/CMakeLists.txt
  util/main_function/CMakeLists.txt
  util/omrutil/CMakeLists.txt
  util/pool/CMakeLists.txt
Labels: cmake

#4880 Update logic surrounding THREAD_YIELD()
  include_core/unix/thrdsup.h
Labels: comp:port

#4852 Add support for finding executable name on bsd
  port/unix/omrsysinfo.c
Labels: comp:port, os:bsd

#4886 Simplify control flow in omrsysinfo_get/set_limit
  port/unix/omrsysinfo.c
Labels: comp:port

#5102 Add IBM i specific flags to support the build.
  port/aix/omrvmem.c
Labels: comp:port, os:i5

#5096 Add IBM i specific flags to support build
  omrmakefiles/rules.aix.mk
Labels: build / configure, os:i5

#4333 Explicity state endianess of UTF-16 encoding
  port/unix/omriconvhelpers.c
Labels: comp:port

#4910 Add initial BSD support to the compiler
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/OMREnvironment.hpp
  compiler/env/defines.h
  compiler/ras/IgnoreLocale.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, os:bsd

#5097 Set OMR_ENV_GCC in gnu.cmake (except on OSX)
  cmake/modules/OmrDetectSystemInformation.cmake
Labels: build / configure

#5084 Add IBM i specific change to support the build.
  tools/hookgen/makefile
Labels: build / configure, os:i5

#5109 AArch64: Add register allocation order list to linkage property
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/ARM64SystemLinkage.hpp
  compiler/aarch64/codegen/OMRLinkage.hpp
Labels: arch:aarch64, comp:compiler

#5112 Collector STW flag
  gc/base/Collector.cpp
  gc/base/Collector.hpp
  gc/base/GlobalCollector.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
Labels: comp:gc

#5110 AArch64: Initialize global register table from linkage property
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMachine.hpp
Labels: arch:aarch64, comp:compiler

#5091 AArch64: Implement constructor of RegisterDependencyConditions for GlRegDeps
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
Labels: arch:aarch64, comp:compiler

#5113 Remove OMR_ENV_GCC
  cmake/config.cmake
  cmake/modules/OmrDetectSystemInformation.cmake
  configure
  configure.ac
  example/glue/configure_includes/configure_linux_ppc.mk
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  omrmakefiles/configure.mk.in
Labels: build / configure, cmake

#5108 Fix max open file limits on OSX
  fvtest/porttest/si.cpp
  port/unix/omrsysinfo.c
Labels: comp:port, os:macos

#5101 Document the Value Propagation optimization
  doc/compiler/optimizer/ValuePropagation.md
Labels: comp:compiler, documentation

#5118 Revert "Collector STW flag"
  gc/base/Collector.cpp
  gc/base/Collector.hpp
  gc/base/GlobalCollector.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
Labels: bug, comp:gc

#5125 AArch64: Add check before using register of node in memory reference
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#5095 AArch64: Enable Global Register Allocation
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#5077 Remove TR_PREXARGINFO_TRACER_CLASS macro
  compiler/optimizer/PreExistence.hpp
Labels: comp:compiler

#5126 AArch64: Add recompilation helpers to Helpers.inc
  compiler/runtime/Helpers.inc
Labels: arch:aarch64, comp:compiler

#5131 Collector STW flag
  gc/base/Collector.cpp
  gc/base/Collector.hpp
  gc/base/GlobalCollector.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
Labels: comp:gc

#5134 Add knn-k as a code owner for ARM code generators
  CODEOWNERS
Labels: comp:compiler

#4974 Setting Up Socket Address for Bind and Listen
  fvtest/porttest/omrsockTest.cpp
  include_core/omrport.h
  include_core/omrporterror.h
  include_core/omrportsock.h
  port/common/omrport.c
  port/common/omrsock.c
  port/omrportpriv.h
  port/unix/omrsock.c
  port/unix_include/omrsock.h
  port/win32/omrsock.c
Labels: comp:port

#5106 Fix compile warning
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: comp:compiler

#5076 Clean up DecimalFormatPeephole
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#5114 AArch64: Omit unnecessary zero-extension instruction in iu2l
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5145 Prevent TR_X86ProcessorInfo::initialize from re-initializing
  compiler/x/codegen/OMRCodeGenerator.cpp
Labels: arch:x86, comp:compiler

#5150 Fix incorrect spelling of J9_PROJECT_SPECIFIC
  compiler/p/codegen/UnaryEvaluator.cpp
Labels: arch:power, comp:compiler
