Repository eclipse-omr/omr, pull requests merged in 2020-06, with the labels that each got.

#5258 Pr/riscv fixes to floating point
  compiler/riscv/codegen/FPTreeEvaluator.cpp
Labels: arch:riscv, comp:compiler

#4798 Common getOffsetToFirstParm in the linkage class across codegens
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
  compiler/arm/codegen/ARMDebug.cpp
  compiler/arm/codegen/ARMSystemLinkage.cpp
  compiler/arm/codegen/ARMSystemLinkage.hpp
  compiler/arm/codegen/OMRLinkage.cpp
  compiler/arm/codegen/OMRLinkage.hpp
  compiler/codegen/OMRLinkage.hpp
  compiler/codegen/OMRLinkage_inlines.hpp
  compiler/p/codegen/OMRLinkage.cpp
  compiler/p/codegen/OMRLinkage.hpp
  compiler/p/codegen/PPCSystemLinkage.cpp
  compiler/riscv/codegen/OMRLinkage.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/x/amd64/codegen/AMD64SystemLinkage.cpp
  compiler/x/codegen/OMRLinkage.cpp
  compiler/x/codegen/OMRLinkage.hpp
  compiler/x/codegen/X86SystemLinkage.cpp
  compiler/x/i386/codegen/IA32SystemLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/SystemLinkageLinux.cpp
  compiler/z/codegen/SystemLinkagezOS.cpp
Labels: comp:compiler

#5193 Make UnsupportedValueTypeOperation a recoverable exception
  compiler/compile/CompilationException.hpp
Labels: comp:compiler

#5265 Add option to disable load extensions
  compiler/control/OMROptions.cpp
  compiler/optimizer/LoadExtensions.cpp
  compiler/optimizer/OMROptimizations.enum
Labels: comp:compiler

#5132 AArch64: Add ARM64RelocatableImmInstruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:compiler

#5263 AArch64: Allow negative constant for generateCompareImmInstruction()
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
Labels: arch:aarch64, comp:compiler

#5270 AArch64: Add is64bit parameter to functions to generate shift instructions
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5269 Do not unset control bits while unregistering async handlers
  port/unix/omrsignal.c
Labels: comp:port

#5246 Disable TM by default on POWER
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: arch:power, comp:compiler

#5274 Add brief documentation for isTreeTop query
  compiler/il/OMRILOps.hpp
Labels: comp:compiler, documentation

#5207 AArch64: Change OMRLinkage function names
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
Labels: arch:aarch64, comp:compiler

#5260 Sampling allocation bytes precisely without compromising the performance
  example/glue/EnvironmentDelegate.hpp
  example/glue/LanguageThreadLocalHeap.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/TLHAllocationInterface.cpp
  gc/base/TLHAllocationSupport.cpp
  gc/base/TLHAllocationSupport.hpp
  gc/stats/AllocationStats.cpp
  gc/stats/AllocationStats.hpp
Labels: comp:gc

#5268 Update comment when excluded methods are compiled
  compiler/ras/LimitFile.cpp
Labels: comp:compiler

#5264 AArch64: Add register dependencies to ARM64CompareBranchInstruction
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
Labels: arch:aarch64, comp:compiler

#5278 Add jithelpers for flattenable fields
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#5280 AArch64: Create new instruction classes to handle alias instructions
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:compiler

#5213 Fixed imm value for addis and lis
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5288 AArch64: Fix generateTestInstruction to use andsx/andsw
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
Labels: arch:aarch64, comp:compiler

#5282 Micro-fragmentation trigger only on fully expanded heap
  gc/base/standard/ParallelGlobalGC.cpp
Labels: comp:gc

#5289 AArch64: Implement ARM64Trg1Src2ZeroInstruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:compiler

#5290 AArch64: Implement insertZeroRegister() in some Instruction classes
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
Labels: arch:aarch64, comp:compiler

#5266 CMake: tweak ddr stub generation
  cmake/modules/ddr/GenerateStub.cmake
Labels: build / configure, cmake

#5259 Allow memory region to be supplied for building DefiningMaps
  compiler/compile/OSRData.cpp
  compiler/compile/OSRData.hpp
Labels: comp:compiler

#5295 Shorten TR_ helper names to fix compilation failure
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#5191 Add TR::getMax/MinFloat/Double features
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
Labels: comp:compiler

#5272 Fix warning in LargeObjectAllocateStats.cpp
  gc/stats/LargeObjectAllocateStats.cpp
Labels: comp:gc

#5291 Add autoconf and cmake variables to configure z/OS builds
  cmake/modules/platform/toolcfg/xlc.cmake
  configure
  configure.ac
  omrmakefiles/configure.mk.in
  omrmakefiles/rules.zos.mk
Labels: build / configure, cmake

#5298 Disable cpu asserts for outOfProcessCompilations
  compiler/compile/OMRCompilation.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/IntegerMultiplyDecomposer.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Ops_inlines.hpp
Labels: arch:x86, comp:compiler

#5299 get_processor_info OSX procInfoArray[0].online should be ONLINE
  port/unix/omrsysinfo.c
Labels: comp:port

#5254 Add Calling conventions Doc
  doc/diagnostics/CallingConventions.md
Labels: documentation

#5294 Change how lxvl/stxvl instructions are represented
  compiler/p/codegen/GenerateInstructions.cpp
  compiler/p/codegen/GenerateOMRInstructions.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRInstructionKindEnum.hpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCDebug.cpp
  compiler/p/codegen/PPCInstruction.cpp
  compiler/p/codegen/PPCInstruction.hpp
  compiler/p/codegen/PPCOpsDefines.hpp
  compiler/ras/Debug.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: arch:power, comp:compiler, comp:test

#5281 AArch64: Enable Recompilation
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/control/OMROptions.cpp
Labels: arch:aarch64, comp:compiler

#5279 Deprecate unused indirectMethodMetaUses and regStarAsmUses bitvectors
  compiler/optimizer/LiveVariableInformation.cpp
Labels: comp:compiler

#5313 RISC-V: document calling convention
  doc/diagnostics/CallingConventions.md
Labels: arch:riscv, documentation

#5314 Guard OSR defining map first child access
  compiler/compile/OSRData.cpp
Labels: bug, comp:compiler

#5306 Concurrent Scavenge VGC initialize stanza
  gc/verbose/VerboseHandlerOutput.cpp
Labels: comp:gc

#5310 Document the Data-Flow Engine
  doc/compiler/optimizer/DataFlowEngine.md
Labels: comp:compiler, documentation

#5304 Update/Enable PortSigTest(s)
  cmake/caches/Travis.cmake
  fvtest/porttest/omrsignalTest.cpp
Labels: comp:port

#5308 Add 32-bit Arm and AArch64 to CallingConventions.md
  doc/diagnostics/CallingConventions.md
Labels: arch:aarch32, arch:aarch64, documentation

#5320 Improve terminology regarding files and types to be excluded by DDR
  cmake/modules/OmrDDRSupport.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  ddr/include/ddr/ir/Type.hpp
  ddr/include/ddr/scanner/Scanner.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/include/ddr/scanner/pdb/PdbScanner.hpp
  ddr/lib/ddr-blobgen/java/genBinaryBlob.cpp
  ddr/lib/ddr-blobgen/java/genSuperset.cpp
  ddr/lib/ddr-ir/Type.cpp
  ddr/lib/ddr-scanner/Scanner.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/lib/ddr-scanner/pdb/PdbScanner.cpp
  ddr/lib/ddr-scanner/pdb/blackList.txt
  ddr/test/excludes
  ddr/tools/ddrgen/ddrgen.cpp
  doc/ddr/DDR.md
Labels: build / configure, cmake, comp:diagnostic, documentation

#5305 Remove some remnants of the old Power binary encoder
  compiler/p/codegen/OMRInstOpCode.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/p/codegen/PPCAOTRelocation.cpp
  compiler/p/codegen/PPCInstruction.hpp
  compiler/p/codegen/PPCOpsDefines.hpp
Labels: arch:power, comp:compiler

#5321 Fix bugs in OSR buildDefiningMap
  compiler/compile/OSRData.cpp
Labels: bug, comp:compiler

#5307 Eliminate unnecessary cache pool resize
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#5319 Add calls to setNeedsAOTRelocation() in ARM64RelocatableImmInstruction
  compiler/aarch64/codegen/ARM64Instruction.hpp
Labels: arch:aarch64, comp:compiler

#5195 Increase Git timeout to 30 minutes
  buildenv/jenkins/omrbuild.groovy
Labels: ci

#5326 Remove support for old DDR tool terminology
  cmake/modules/ddr/DDRSetStub.cmake.in
  ddr/tools/ddrgen/ddrgen.cpp
Labels: build / configure, cmake, comp:diagnostic

#5124 Added Unix Implementations for Send and Recv
  fvtest/porttest/omrsockTest.cpp
  include_core/omrporterror.h
  port/unix/omrsock.c
Labels: comp:port

#5330 AArch64: Change calls to decReferenceCount()
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5302 Use new cpu api for power10
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5334 AArch64: Add NULL dependencies for volatile registers
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/RealRegisterEnum.hpp
Labels: arch:aarch64, comp:compiler

#5285 Remove OMR Socket Support flag
  cmake/caches/Appveyor.cmake
  cmake/config.cmake
  configure
  configure.ac
  example/glue/configure_includes/configure_common.mk
  fvtest/porttest/CMakeLists.txt
  fvtest/porttest/makefile
  fvtest/porttest/omrsockTest.cpp
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  include_core/omrport.h
  omrmakefiles/configure.mk.in
  port/CMakeLists.txt
  port/common/omrport.c
  port/common/omrsock.c
  port/omrportpriv.h
  port/port_objects.mk
  port/unix/omrsock.c
  port/win32/omrsock.c
Labels: arch:x86, build / configure, cmake, comp:port, comp:test, os:windows

#4861 Create relocatableTarget environment for portable AOT
  compiler/control/OMROptions.cpp
  compiler/env/OMRCPU.cpp
  compiler/env/OMRCPU.hpp
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/OMRCompilerEnv.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/IntegerMultiplyDecomposer.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Ops_inlines.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler

#5300 RISC-V: implement xcmpxxu evaluators
  compiler/riscv/codegen/FPTreeEvaluator.cpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
  fvtest/compilertriltest/CompareTest.cpp
Labels: arch:riscv, comp:compiler, comp:test, comp:tril

#5338 Use _NSGetEnviron() on OSX to retrieve environ
  port/unix/omrsysinfo.c
Labels: comp:port

#5337 Detect variant method parameters and prevent inliner from using their symbol type to get call targets
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/il/OMRResolvedMethodSymbol.hpp
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#5342 Move code that disables RegDepCopyRemoval
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#5135 Write out newline character after the message in verbose output
  compiler/control/CompileMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/env/CompileTimeProfiler.hpp
  compiler/env/VerboseLog.cpp
  compiler/env/VerboseLog.hpp
  compiler/ras/LimitFile.cpp
  compiler/ras/OptionsDebug.cpp
Labels: comp:compiler

#5339 Update traceAllocationBytes with the size inside TLH in flushing TLH
  gc/base/TLHAllocationInterface.cpp
Labels: comp:gc

#5311 ArrayCopy helpers for POWER10 and later
  compiler/p/runtime/PPCArrayCopy.inc
  compiler/p/runtime/ppcasmdefines.inc
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: arch:power, comp:compiler

#5344 Add support for CUDA version 11.0
  port/common/omrcuda.cpp
Labels: comp:port

#5335 Clean up porttest CMakeLists.txt
  cmake/caches/Travis.cmake
  fvtest/porttest/CMakeLists.txt
Labels: cmake, comp:port

#5267 Deprecate getJitMethodEntryAlignmentThreshold
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: arch:z, comp:compiler

#5179 Consolidate some optimizer trace options
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalOpts.hpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRTransformUtil.cpp
  compiler/ras/Tree.cpp
  compiler/x/i386/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler

#5351 Provide a fix for using 64bit instructions in 32bit assembly mode
  compiler/p/runtime/PPCArrayCopy.inc
  compiler/p/runtime/ppcasmdefines.inc
Labels: arch:power, comp:compiler

#5341 Add tests for iffcmp??u / ifdcmp??u
  fvtest/compilertriltest/CompareTest.cpp
Labels: comp:test, comp:tril

#5329 Use CBZ/CBNZ instructions in ificmpHelper function
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4455 Add method to reset SupportsArrayTranslateTRxx flag
  compiler/codegen/OMRCodeGenerator.hpp
Labels: arch:z, comp:compiler

#5355 Fix macro encoding errors
  compiler/p/runtime/ppcasmdefines.inc
Labels: arch:power, comp:compiler
