Repository eclipse-omr/omr, pull requests merged in 2020-12, with the labels that each got.

#5678 Add NoReg dependency for fixedSeqMemAccess to make it spill safe
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5693 Add support for serialization of TR_BitVector
  compiler/infra/BitVector.hpp
Labels: comp:compiler

#5698 RISC-V: refactor instruction encoding macros
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVInstruction.hpp
Labels: arch:riscv, comp:compiler

#5697 Reset on stack buffer pointer for iconv
  port/common/omrstr.c
Labels: comp:port

#5696 Default initialize all immediate fields for RIE instructions
  compiler/z/codegen/S390Instruction.hpp
Labels: arch:z, comp:compiler

#5705 AArch64: Unset hasResumableTrapHandler if TR_DisableTrap is set
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#5704 AArch64: Print instruction comments for memory reference instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler

#5657 Add support for mixed references mode in CMake builds
  cmake/config.cmake
  gc/CMakeLists.txt
  gc/api/CMakeLists.txt
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryPool.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/ObjectScanner.hpp
  gc/base/SlotObject.hpp
  gc/structs/ForwardedHeader.hpp
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
Labels: build / configure, cmake, comp:gc

#5700 RISC-V: implement `riscvCodeSync()`
  compiler/riscv/CMakeLists.txt
  compiler/riscv/runtime/CodeSync.cpp
Labels: arch:riscv, comp:compiler

#5686 Changes to support sequentialStoreSimplification opt
  compiler/control/OMROptions.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: arch:power, comp:compiler

#5507 BenefitInliner phase 1/3: Basic classes for performing abstract interpretation
  compiler/optimizer/CMakeLists.txt
  compiler/optimizer/abstractinterpreter/AbsOpArray.cpp
  compiler/optimizer/abstractinterpreter/AbsOpArray.hpp
  compiler/optimizer/abstractinterpreter/AbsOpStack.cpp
  compiler/optimizer/abstractinterpreter/AbsOpStack.hpp
  compiler/optimizer/abstractinterpreter/AbsValue.cpp
  compiler/optimizer/abstractinterpreter/AbsValue.hpp
  doc/compiler/optimizer/BenefitInliner.md
  fvtest/compilerunittest/CMakeLists.txt
  fvtest/compilerunittest/CodeGenTest.hpp
  fvtest/compilerunittest/CompilerUnitTest.hpp
  fvtest/compilerunittest/abstractinterpreter/AbsInterpreterTest.cpp
  fvtest/compilerunittest/abstractinterpreter/AbsInterpreterTest.hpp
Labels: comp:compiler, enhancement

#5544 Intial contribution to OMR shared cache build system
  CMakeLists.txt
  cmake/config.cmake
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  include_core/omrmemcategories.h
  omr/startup/omrrasinit.c
  omrmakefiles/configure.mk.in
  sharedcache/CMakeLists.txt
Labels: build / configure, cmake, comp:compiler, comp:core

#5706 AArch64: Add a method for setting up implicit exception point to InstructionDelegate
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/OMRInstructionDelegate.hpp
Labels: arch:aarch64, comp:compiler

#5699 RISC-V: assorted changes for OpenJ9 JIT
  cmake/modules/OmrCompilerSupport.cmake
  compiler/env/Processors.hpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
  compiler/riscv/codegen/OMRLinkage.cpp
  compiler/riscv/codegen/OMRLinkage.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/riscv/env/RVProcessorEnum.hpp
Labels: arch:riscv, build / configure, cmake, comp:compiler

#5350 AArch64: Enable profiling recompilation
  compiler/control/OMROptions.cpp
Labels: arch:aarch64, comp:compiler

#5694 Add preProcess stage to recognized call transformer
  compiler/optimizer/OMRRecognizedCallTransformer.cpp
  compiler/optimizer/OMRRecognizedCallTransformer.hpp
Labels: comp:compiler

#5707 Remove newline in omrsysinfo_get_processor_feature_string
  include_core/omrport.h
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: arch:x86, comp:core, comp:port, os:windows

#5712 Add TR::MemoryReference::create API with trivial implementation
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRMemoryReference.hpp
Labels: arch:z, comp:compiler

#5710 Use portable formats from omrformatconsts.h
  compiler/compile/OMRCompilation.cpp
  compiler/env/OMRIO.hpp
  compiler/ras/CallStack.cpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#5716 Fix invalid OMR format specifier on Win32
  compiler/ras/CallStack.cpp
Labels: arch:x86, bug, comp:compiler

#5713 Use TR::MemoryReference::create API
  compiler/z/codegen/BinaryAnalyser.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/CompareAnalyser.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/FPTreeEvaluator.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRMemoryReference.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/UnaryEvaluator.cpp
Labels: arch:z, comp:compiler

#5721 Common TR::addDependency
  compiler/aarch64/codegen/OMRCodeGeneratorUtils.hpp
  compiler/arm/codegen/OMRCodeGeneratorUtils.hpp
  compiler/codegen/OMRCodeGeneratorUtils.hpp
  compiler/p/codegen/OMRCodeGeneratorUtils.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:riscv, comp:compiler

#5722 RISC-V: implement data instruction
  compiler/ras/Debug.hpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
  compiler/riscv/codegen/OMRInstructionKindEnum.hpp
  compiler/riscv/codegen/RVDebug.cpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVInstruction.hpp
Labels: arch:riscv, comp:compiler

#5726 AArch64: Add a variant of helper method for creating constant data snippet
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#5613 Remove unused Machine class functionality
  compiler/p/codegen/OMRMachine.cpp
  compiler/p/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
Labels: comp:compiler

#5727 RISC-V: improve CMake toolchain file
  cmake/toolchains/riscv64-linux-cross.cmake
Labels: build / configure, cmake

#5730 AArch64: Add debug print of register dependencies to branch instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler
