Repository eclipse-omr/omr, pull requests merged in 2020-02, with the labels that each got.

#4800 AArch64: Fix logic allocating fp register when child node register is not clobberable
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4801 AArch64: Fix for populateMemoryReference() with no base register
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#4697 Change ilgen exception to correct exception type
  compiler/il/OMRResolvedMethodSymbol.cpp
Labels: comp:compiler

#4799 CMake: Remove guards for windows around ddr code
  CMakeLists.txt
  cmake/modules/OmrDDRSupport.cmake
  cmake/modules/OmrDetectSystemInformation.cmake
Labels: comp:diagnostic

#4356 Stop generating deprecated unsigned opcodes of load and store from OMR
  compiler/il/OMRIL.cpp
  compiler/optimizer/DebuggingCounters.cpp
Labels: comp:compiler

#4366 Stop generating deprecated unsigned opcodes of Call/Return and Add/Sub from OMR
  compiler/il/OMRILOps.hpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/DebuggingCounters.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: comp:compiler

#4033 Remove references of deprecated const IL Opcode
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/arm/codegen/BinaryEvaluator.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHelpers.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/BinaryEvaluator.cpp
  compiler/p/codegen/UnaryEvaluator.cpp
  compiler/x/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/UnaryEvaluator.cpp
Labels: comp:compiler

#4805 Remove the unused depend Power pseudoinstruction
  compiler/p/codegen/OMRInstOpCode.hpp
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
Labels: arch:power, comp:compiler

#4363 Fatal asserts any creation of deprecated unsigned load/store opcodes
  compiler/il/OMRNode.hpp
Labels: comp:compiler

#4804 Fix issues with the Power system linkage
  compiler/p/codegen/OMRLinkage.cpp
  compiler/p/codegen/OMRLinkage.hpp
  compiler/p/codegen/PPCSystemLinkage.cpp
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/BitPermuteTest.cpp
  fvtest/compilertriltest/ShiftAndRotateTest.cpp
  fvtest/compilertriltest/TernaryTest.cpp
  fvtest/compilertriltest/TypeConversionTest.cpp
  fvtest/jitbuildertest/SystemLinkageTest.cpp
Labels: arch:power, comp:compiler

#4797 Remove dynamicConstant(int32_t cpIndex)
  compiler/compile/ResolvedMethod.cpp
  compiler/compile/ResolvedMethod.hpp
Labels: comp:compiler

#4712 Enhance Simplifier to minimize child PassThroughs
  compiler/optimizer/OMRSimplifierHelpers.cpp
Labels: comp:compiler

#4813 Fix debug print code for the newValue JIT helper
  compiler/ras/Debug.cpp
Labels: comp:compiler

#4807 Use VFT test in hierarchy guard converted from profiled guard with VFT test
  compiler/compile/VirtualGuard.cpp
  compiler/compile/VirtualGuard.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#4728 Change how far conditional branch expansion works on Power
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCInstruction.hpp
Labels: arch:power, comp:compiler

#4810 Fix missing volatile in CS large object copy
  gc/structs/ForwardedHeader.cpp
  gc/structs/ForwardedHeader.hpp
Labels: bug, comp:gc

#4816 Fix ILGen GPF if last block is malformed
  compiler/infra/OMRCfg.cpp
Labels: bug, comp:compiler

#4759 Configure OMR Signal Macros for z/TPF
  include_core/omrport.h
Labels: comp:core, os:ztpf

#4818 Clean up PRE trace msg
  compiler/optimizer/LocalAnticipatability.cpp
  compiler/optimizer/LocalTransparency.cpp
Labels: comp:compiler

#4811 Fix and enable sub-int32 tests on Z
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/BitPermuteTest.cpp
  fvtest/compilertriltest/ShiftAndRotateTest.cpp
  fvtest/compilertriltest/TernaryTest.cpp
  fvtest/compilertriltest/TypeConversionTest.cpp
Labels: arch:z, comp:compiler, comp:test

#4808 Added support for loadaddr in copy propagation
  compiler/il/OMRNode.hpp
  compiler/optimizer/CopyPropagation.cpp
Labels: comp:compiler

#4786 Rudimentary support for RIP-relative symbols
  compiler/x/amd64/codegen/MemoryReference.hpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/amd64/codegen/OMRMemoryReference.hpp
  compiler/x/codegen/X86Debug.cpp
Labels: arch:x86, comp:compiler

#4817 Fix DeadTreeElimination for volatile load
  compiler/optimizer/DeadTreesElimination.cpp
Labels: comp:compiler

#4702 Add new omrsysinfo_get_CPU_load API
  fvtest/porttest/si.cpp
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: comp:port

#4840 AArch64: Implement lookupEvaluator()
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#4833 TGC Parallel Flush Copy/Scan Updates
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/stats/ScavengerCopyScanRatio.cpp
  gc/stats/ScavengerCopyScanRatio.hpp
  gc/stats/ScavengerStats.cpp
  gc/stats/ScavengerStats.hpp
Labels: comp:gc

#4842 Remove deprecated comment from getFirstArgumentIndex
  compiler/il/OMRNode.cpp
Labels: comp:compiler

#4806 Update madvise call for shared heap
  include_core/omrport.h
  port/linux/omrvmem.c
Labels: comp:port

#4406 Turn CUDA off by default
  CMakeLists.txt
  buildenv/jenkins/jobs/builds/Build-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-linux_x86-64
  cmake/config.cmake
  cmake/modules/FindOmrCuda.cmake
  port/CMakeLists.txt
Labels: cmake

#4841 Add jit helper stub for acmp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#4836 Remove NULL check for Self() in TreeTop::join
  compiler/il/OMRTreeTop_inlines.hpp
Labels: comp:compiler

#4844 Removed deprecated FrontEnd:getObjectAlignmentInBytes
  compiler/env/FrontEnd.cpp
  compiler/env/FrontEnd.hpp
Labels: comp:compiler

#4849 CMake: recognize 'amd64' processor name
  cmake/modules/OmrDetectSystemInformation.cmake
Labels: arch:x86, cmake

#4819 Disable Power arraycopy inlining for very long lengths
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#4851 CMake: Detect FreeBSD
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/platform/os/bsd.cmake
Labels: cmake, os:bsd

#4803 Update port library's processor detection APIs and enums
  include_core/omrport.h
  port/common/omrsysinfo_helpers.c
  port/common/omrsysinfo_helpers.h
  port/unix/omrsysinfo.c
Labels: comp:port

#4812 Pass floating-point precision to base-e logarithm consistently
  gc/stats/LargeObjectAllocateStats.cpp
  gc/stats/LargeObjectAllocateStats.hpp
Labels: comp:gc

#4855 Fix missing omrsysinfo_get_x86_description on Windows
  port/common/omrsysinfo_helpers.c
  port/common/omrsysinfo_helpers.h
Labels: arch:x86, comp:port

#4738 Added Unix Implementations for Element Extracting Functions in OMRSOCK API
  fvtest/porttest/omrsockTest.cpp
  include_core/omrport.h
  port/common/omrsock.c
  port/omrportpriv.h
  port/unix/omrsock.c
  port/win32/omrsock.c
Labels: comp:port

#4340 Provide IlValue as condition for the Switch IlBuilder service
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  jitbuilder/apigen/jitbuilder.api.json
  jitbuilder/release/cpp/samples/Switch.cpp
  jitbuilder/release/cpp/samples/TableSwitch.cpp
Labels: comp:jitbuilder

#4863 Disable code cache reclamation if perfTool option is enabled
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#4869 Provide options to enable read-only code generation
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#4718 AArch64: Implement large offset path for loadaddrEvaluator()
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#4875 RISC-V: rename `vselectEvaluator()` to `vbitselectEvaluator()`
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
Labels: arch:riscv, bug, comp:compiler

#4868 Remove OMR_GC_HEAP_CARD_TABLE
  configure
  configure.ac
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  omrmakefiles/configure.mk.in
Labels: build / configure, comp:gc
