Repository eclipse-omr/omr, pull requests merged in 2020-08, with the labels that each got.

#5085 Recognizes patterns like BNDCHK and simplifies them
  compiler/optimizer/OMRCFGSimplifier.cpp
  compiler/optimizer/OMRCFGSimplifier.hpp
Labels: comp:compiler

#5443 Fix signed/unsigned comparison
  port/common/omrstr.c
Labels: comp:port

#5446 AArch64: Enhance irol evalutor to cancel out double negation
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5451 AArch64: Fix register allocation for aselect
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5442 AArch64: Implement TR_ARM64ScratchRegisterManager
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#5440 AArch64: Utility functions addConstant32/64()
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5455 AArch64: Handle indirect load/store of local object in memory reference
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#4092 Remove references of deprecated load IL opcode
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/codegen/CodeGenPrep.cpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRILOps.hpp
  compiler/optimizer/LoopReducer.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/UnaryEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, arch:power, arch:x86, arch:z, comp:compiler

#5434 Merging Dispatcher to ParallelDispatcher (2/2)
  gc/CMakeLists.txt
  gc/base/Configuration.cpp
  gc/base/Configuration.hpp
  gc/base/Dispatcher.cpp
  gc/base/Dispatcher.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MainGCThread.cpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
  gc/base/ParallelTask.cpp
  gc/base/ParallelTask.hpp
  gc/base/Task.hpp
  gc/base/segregated/ConfigurationSegregated.cpp
  gc/base/segregated/ConfigurationSegregated.hpp
  gc/base/segregated/SegregatedGC.hpp
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/CompactScheme.hpp
  gc/base/standard/ConcurrentCardTable.hpp
  gc/base/standard/ConcurrentSweepScheme.cpp
  gc/base/standard/ParallelGlobalGC.hpp
  gc/base/standard/ParallelSweepScheme.cpp
  gc/base/standard/ParallelSweepScheme.hpp
  gc/base/standard/Scavenger.hpp
  gc/startup/omrgcstartup.cpp
  gc/stats/ScavengerCopyScanRatio.cpp
  gc/verbose/VerboseHandlerOutput.cpp
Labels: comp:gc

#5420 Add heap free ratio heuristics for optthruput heap expansion
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/MemorySubSpaceUniSpace.hpp
  gc/base/j9mm.tdf
Labels: comp:gc

#5453 Add a new field into J9HashTableState
  include_core/omrhashtable.h
Labels: comp:core

#5467 Fix AIX compile warnings
  compiler/p/codegen/OMRInstOpCode.hpp
Labels: arch:power, comp:compiler

#5431 Adding Global GC Flag to pretouch Heap Memory
  gc/base/GCExtensionsBase.hpp
  gc/base/HeapVirtualMemory.cpp
Labels: comp:gc

#5458 Add opCodeForCorresponding APIs for load/store
  compiler/il/OMRIL.cpp
  compiler/il/OMRIL.hpp
Labels: comp:compiler

#5463 Add new callUsesHelperImplementation
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/S390Instruction.cpp
Labels: arch:z, comp:compiler

#5459 Remove uses of CPU::Architecture enum in OMRInstOpCodeProperties
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
  include_core/omrport.h
  port/unix/omrsysinfo.c
Labels: arch:z, comp:compiler, comp:core

#5466 Fix undefined behaviour in the Power LHS peephole
  compiler/p/codegen/OMRPeephole.cpp
  fvtest/compilerunittest/CMakeLists.txt
  fvtest/compilerunittest/CodeGenTest.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
  fvtest/compilerunittest/p/Peephole.cpp
Labels: arch:power, comp:compiler, comp:test

#5362 Enable tril tests on Windows
  azure-pipelines.yml
  fvtest/compilertest/tests/X86OpCodesTest.cpp
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/CompareTest.cpp
  fvtest/compilertriltest/JitTest.hpp
  fvtest/compilertriltest/LinkageTest.cpp
  fvtest/compilertriltest/LogicalTest.cpp
  fvtest/compilertriltest/MaxMinTest.cpp
  fvtest/compilertriltest/ShiftAndRotateTest.cpp
  fvtest/compilertriltest/TypeConversionTest.cpp
  fvtest/jitbuildertest/JBTestUtil.hpp
  fvtest/tril/tril/parser.cpp
  fvtest/tril/tril/simple_compiler.cpp
Labels: comp:test, comp:tril, os:windows

#5470 Remove definitions of deprecated unsigned Call/Return ILopcodes
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/arm/codegen/OMRTreeEvaluatorTable.hpp
  compiler/il/OMRILOpCodeProperties.hpp
  compiler/il/OMRILOpCodesEnum.hpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/OMRSimplifierTableEnum.hpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluatorTable.hpp
  compiler/ras/Tree.cpp
  compiler/riscv/codegen/ControlFlowEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/riscv/codegen/TreeEvaluatorTable.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/i386/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:riscv, arch:x86, arch:z, comp:compiler

#5475 Revert change to OMR::CPU()
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Labels: arch:z, comp:compiler

#5419 Reintroduce Dispatcher Rework with fix
  gc/base/GCExtensionsBase.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
Labels: comp:gc

#5430 Swapped `PFD` with `memset` to 0 object heap mem
  util/omrutil/CMakeLists.txt
  util/omrutil/j9memclr.cpp
Labels: arch:z, comp:gc, comp:utilities

#5426 Replace and disable the pTOC on POWER10
  compiler/control/OMROptions.cpp
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRConstantDataSnippet.cpp
  compiler/p/codegen/OMRConstantDataSnippet.hpp
  compiler/p/codegen/OMRMachine.hpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCOpsDefines.hpp
  compiler/p/codegen/TreeEvaluatorVMX.cpp
Labels: arch:power, comp:compiler

#5480 Explicit conversion to char* from void*
  util/omrutil/j9memclr.cpp
Labels: comp:utilities

#4113 Remove references of deprecated Store IL Opcode
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRILOps.hpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler

#4758 Merge shared semaphores routines from OpenJ9
  include_core/omrport.h
  include_core/omrporterror.h
  port/CMakeLists.txt
  port/common/omrport.c
  port/common/omrport.tdf
  port/omrportpriv.h
  port/port_objects.mk
  port/unix/omrsharedhelper.c
  port/unix/omrsharedhelper.h
  port/unix/omrshsem.c
  port/unix/omrshsem.h
  port/unix/omrshsem_deprecated.c
  port/unix/omrshsemun.h
  port/unix/omrsysv_ipcwrappers.c
  port/unix/omrsysv_ipcwrappers.h
Labels: comp:port

#5461 Fix LocalAnalysis
  compiler/optimizer/LocalAnalysis.cpp
Labels: comp:compiler

#5454 Add APIs answering if cpu supports integer rotation
  compiler/aarch64/env/OMRCPU.hpp
  compiler/arm/env/OMRCPU.hpp
  compiler/env/OMRCPU.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/x/env/OMRCPU.hpp
  compiler/z/env/OMRCPU.hpp
Labels: arch:aarch64, arch:power, arch:x86, arch:z, comp:compiler

#5382 Added new functions to support functionality required by JITServer
  fvtest/porttest/omrsockTest.cpp
  include_core/omrport.h
  include_core/omrporterror.h
  include_core/omrportsock.h
  include_core/omrportsocktypes.h
  port/common/omrport.c
  port/common/omrsock.c
  port/omrportpriv.h
  port/unix/omrsock.c
  port/unix_include/omrsock.h
  port/win32/omrsock.c
Labels: arch:x86, comp:port, os:windows

#5483 Remove bogus tests from JITCrossPlatformsOpCodesTest.UnsupportedOpCodesTest
  fvtest/compilertest/tests/OpCodesTest.cpp
  fvtest/compilertest/tests/OpCodesTest.hpp
  fvtest/compilertest/tests/PPCOpCodesTest.cpp
  fvtest/compilertest/tests/PPCOpCodesTest.hpp
  fvtest/compilertest/tests/X86OpCodesTest.cpp
  fvtest/compilertest/tests/X86OpCodesTest.hpp
Labels: comp:test

#5346 Clean up and improve the Power compare evaluators
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRInstOpCodeEnum.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/codegen/OMRTreeEvaluatorTable.hpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCInstruction.cpp
  compiler/p/codegen/PPCOpsDefines.hpp
  fvtest/compilertriltest/CompareTest.cpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: arch:power, comp:compiler, comp:test, comp:tril

#5489 Fixed error code returned from omrsock_poll
  port/unix/omrsock.c
Labels: comp:port

#5491 Merge/Remove 3/5 relocation options
  compiler/codegen/OMRAheadOfTimeCompile.cpp
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#5485 CMake: enable _LONG_LONG definition on s390
  cmake/modules/platform/arch/s390.cmake
Labels: build / configure, cmake

#5495 Fix system full potential segmentation problem
  port/unix/omrsock.c
Labels: comp:port

#5364 Remove deprecated fields from GlobalRegisterAssigner
  compiler/optimizer/GlobalRegisterAllocator.cpp
  compiler/optimizer/GlobalRegisterAllocator.hpp
Labels: comp:compiler

#5472 VGC: report Object Monitors
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
  gc/verbose/schema.xsd
Labels: comp:gc

#5230 Add reference repo updater pipeline
  buildenv/jenkins/omrbuild.groovy
  buildenv/jenkins/refRepoUpdater.groovy
Labels: ci

#5447 Stop using std::numeric_limits<>::max() for global initializers
  cmake/modules/platform/os/zos.cmake
  include_core/OMR/Bytes.hpp
  omrmakefiles/rules.zos.mk
Labels: build / configure, cmake, comp:core

#5493 Add options to choose runtime helpers on flattened fields or flattened array elements
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#5496 Added documentation for omrsock API
  doc/port/sockets.md
Labels: documentation

#5505 CMake: update DIA registry search handling
  cmake/modules/FindDiaSDK.cmake
Labels: build / configure, cmake

#5492 Replace strncpy with memcpy to avoid AdoptOpenJDK11 build error
  port/unix/omrsharedhelper.c
Labels: comp:port, first contribution

#5510 CMake: Fix typo in FindDiaSDK
  cmake/modules/FindDiaSDK.cmake
Labels: build / configure, cmake

#5511 CMake: Fix msvc library detection for RelWithDebInfo
  cmake/modules/OmrMsvcRuntime.cmake
Labels: build / configure, cmake

#5513 Switch the Power minimumALS to use OMRProcessorArchitecture
  compiler/p/codegen/OMRInstOpCode.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Labels: arch:power, comp:compiler

#5436 Add shouldForceLowMemoryHeapCeilingShiftIfPossible flag to gc extensions
  gc/base/Configuration.cpp
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc
