Repository eclipse-omr/omr, pull requests merged in 2021-09, with the labels that each got.

#6131 ConcurrentGC Heap/Tenure Expand Fix
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGCIncrementalUpdate.cpp
Labels: comp:gc

#6153 Fix GC scavengerScanOrdering Not Initialized Correctly When splitFreeListSplitAmount is Specified
  gc/base/Configuration.cpp
Labels: comp:gc

#6142 Add job to check line-endings
  azure-pipelines.yml
Labels: build / configure

#6143 Fix compiler warnings
  compiler/env/FrontEnd.hpp
  compiler/ras/Debug.hpp
Labels: comp:compiler

#6134 Interpret field offsets in 'block' forms as expressions
  ddr/lib/ddr-scanner/dwarf/DwarfFunctions.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
Labels: comp:diagnostic

#6164 Improve non-overridden guard optimization in globalVP
  compiler/il/OMRNode.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/optimizer/VirtualGuardCoalescer.cpp
Labels: comp:compiler

#6169 Avoid symbol reference sharing for dummy resolved methods
  compiler/compile/OMRSymbolReferenceTable.cpp
Labels: comp:compiler

#6171 AArch64: Consider snippets size when aborting compilation of huge methods
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:aarch64

#6068 Move `_start/_endTime` in `ScavengerStats` to `Collector`
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/MemorySubSpaceSemiSpace.hpp
  gc/base/omrmmprivate.hdf
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/include/omrmm.hdf
  gc/stats/ConcurrentMarkPhaseStats.hpp
  gc/stats/ConcurrentPhaseStatsBase.hpp
  gc/stats/ScavengerStats.cpp
  gc/stats/ScavengerStats.hpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.cpp
Labels: comp:gc

#6170 CMake: Fix compile flags on omrgc_tracegen
  gc/CMakeLists.txt
Labels: comp:gc

#6173 Use TR_ASSERT_FATAL for TR::MemorySegment asserts
  compiler/env/MemorySegment.hpp
Labels: comp:compiler

#6166 Disable Internal Pointers for PPC under OptServer
  compiler/compile/OMRCompilation.cpp
Labels: comp:compiler

#6141 Re-introduce "Cleanup Softmx check and apply softmx to nursery expansion"
  gc/base/Heap.cpp
  gc/base/Heap.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/MemorySubSpace.hpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/MemorySubSpaceUniSpace.hpp
  gc/base/gcutils.cpp
  gc/include/MemorySpacesAPI.h
  include_core/omrgcconsts.h
Labels: comp:gc, comp:core

#6133 Fix unreadable memory segments when writing core
  port/osx/omrosdump.c
Labels: comp:port, os:macos, arch:x86

#6177 AArch64: Call redoTrampolineReservationIfNecessary() event if label is not null
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
Labels: comp:compiler, arch:aarch64

#6175 Fix MPAOL inconsist issue between freeBytes and freeList
  gc/base/MemoryPoolAddressOrderedList.cpp
Labels: comp:gc

#6160 Enable code coverage setting
  cmake/modules/platform/toolcfg/gnu.cmake
Labels: build / configure, cmake, first contribution

#6176 Consolidate binary encoding api for VRR-g,h,i
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
Labels: comp:compiler, arch:z

#6178 AArch64: Block registers in regdeps when assigning register for branch instructions
  compiler/aarch64/codegen/ARM64Instruction.cpp
Labels: comp:compiler, arch:aarch64

#6172 Remove unused constants from the inliner
  compiler/optimizer/Inliner.hpp
Labels: comp:compiler

#6179 AArch64: Correctly handle ificmpeq/ificmpne nodes with many global registers
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6181 Add an unresolved check for mapOpCode() P10 prefix-instr mapping
  compiler/p/codegen/OMRMemoryReference.cpp
Labels: comp:compiler, arch:power

#6182 Restrict rotate instruction optimization for lshl+land nodes
  compiler/z/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:z

#6159 Add document on reading compilation log
  doc/compiler/optimizer/IntroReadLogFile.md
Labels: documentation

#6165 Add documentation on Loop Specializer
  doc/compiler/optimizer/IntroLoopOptimizations.md
Labels: documentation

#6180 Prevent a SOF in TR_InductionVariableAnalysis::getEntryValue()
  compiler/optimizer/InductionVariable.cpp
  compiler/optimizer/InductionVariable.hpp
Labels: comp:compiler

#6161 Enable lxvh8x instruction for PPC
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Labels: comp:compiler, arch:power

#6184 Follow up to #5825
  gc/base/GCExtensionsBase.hpp
  gc/base/j9mm.tdf
  gc/base/standard/ConfigurationGenerational.cpp
  gc/base/standard/ConfigurationStandard.cpp
  gc/stats/GlobalVLHGCStats.hpp
Labels: comp:gc

#6174 AArch64: Adding backward arraycopy implementation
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6185 Allow core dump on OSX to change directories
  port/osx/omrosdump.c
Labels: comp:port, os:macos, arch:x86
