Repository eclipse-omr/omr, pull requests merged in 2021-05, with the labels that each got.

#5970 Update getProcessorName routines
  compiler/aarch64/env/OMRCPU.cpp
  compiler/aarch64/env/OMRCPU.hpp
  compiler/arm/env/OMRCPU.hpp
  compiler/env/OMRCPU.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Labels: arch:z, comp:compiler

#5787 CMake: Update handling of a2e/omr_ascii
  cmake/modules/platform/os/zos.cmake
  fvtest/algotest/CMakeLists.txt
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/gctest/CMakeLists.txt
  fvtest/porttest/CMakeLists.txt
  fvtest/porttest/omrsignalTest.cpp
  fvtest/porttest/si.cpp
  fvtest/porttest/testProcessHelpers.cpp
  fvtest/sigtest/CMakeLists.txt
  fvtest/threadextendedtest/CMakeLists.txt
  fvtest/threadtest/CMakeLists.txt
  fvtest/threadtest/createTestHelper.h
  fvtest/utiltest/CMakeLists.txt
  omrsigcompat/CMakeLists.txt
  omrtrace/omrtracewrappers.cpp
  port/CMakeLists.txt
  thread/CMakeLists.txt
  util/CMakeLists.txt
  util/a2e/CMakeLists.txt
Labels: build / configure, cmake, comp:port

#5781 Adding `concurrent-start/end` for Concurrent Global/Marking
  gc/base/Collector.cpp
  gc/base/Collector.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
  gc/base/standard/Scavenger.hpp
  gc/stats/ConcurrentMarkPhaseStats.hpp
  gc/stats/ConcurrentPhaseStatsBase.hpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.cpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.hpp
Labels: comp:gc

#5946 Introduce New Default Scan Ordering 'None'
  gc/base/Configuration.cpp
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

#5975 Unify doRegisterAssignment on all platforms except x86
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRCodeGenerator.hpp
  compiler/arm/codegen/OMRInstruction.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/il/OMRBlock.hpp
  compiler/optimizer/OMRSimplifier.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:riscv, arch:z, comp:compiler

#5978 Define __EXTABI__ for Port library compilation on AIX64
  port/CMakeLists.txt
Labels: comp:port

#5974 AArch64: Vector bitwise operations
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/aarch64/codegen/OpBinary.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5983 Deprecate unsigned IL
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluatorTable.hpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHandlers.hpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/codegen/OMRTreeEvaluatorTable.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/codegen/BinaryEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
  doc/compiler/il/ExtendingTrees.md
Labels: arch:aarch32, arch:aarch64, arch:power, arch:riscv, arch:x86, arch:z, comp:compiler

#5986 Fix omrthread_get_stack_range on Mac OSX
  thread/common/omrthreadinspect.c
Labels: comp:thread

#5992 AArch64: Add atomic operation instructions introduced by FEAT_LSE
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#5987 Update vnot IL Opcode Properties
  compiler/il/OMROpcodes.enum
Labels: comp:compiler

#5985 CMake: apply omr_base flags to omrutil_obj
  util/omrutil/CMakeLists.txt
Labels: comp:utilities

#5984 Enable warnings as errors in compiler component on OSX
  cmake/modules/OmrCompilerSupport.cmake
  compiler/compile/OMRCompilation.hpp
  compiler/control/OMROptions.cpp
  compiler/env/FEBase.cpp
  compiler/il/OMRBlock.cpp
  compiler/infra/BitVector.cpp
  compiler/infra/BitVector.hpp
  compiler/optimizer/DebuggingCounters.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/LoopVersioner.hpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: build / configure, cmake, comp:compiler

#5993 AArch64: Use atomic operation instructions for atomic method symbols
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5997 Update TR_ResolvedMethod to obtain the number of ROM method args
  compiler/compile/ResolvedMethod.cpp
  compiler/compile/ResolvedMethod.hpp
Labels: comp:compiler

#5994 Vector bitwise Tril tests
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:test, comp:tril

#5998 AArch64: Add ScratchRegisterDependencyConditions class
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.hpp
Labels: arch:aarch64, comp:compiler

#5999 Remove deprecated TR_AVLTree from ValuePropagation
  compiler/infra/AVLTree.hpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
Labels: comp:compiler

#5996 Remove deprecated ValuePropagation functions
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#5988 Move _ialoadUnneeded field to Z CodeGenerator
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: first contribution

#6002 Prevent LoopVersioner from attempting to privatize BCD type nodes
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#6001 Handle both AddressOrdered and BumpPointer regionType in setMarkMapValid
  gc/base/HeapRegionDescriptor.hpp
  gc/base/ObjectHeapBufferedIterator.cpp
  gc/base/ObjectHeapBufferedIterator.hpp
Labels: comp:gc

#6009 Make _ialoadUnneeded protected
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: arch:z, comp:compiler

#6007 Add command line option to make inliner more aggressive
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6011 AArch64: Improve code generation for i2l-lshl sequence
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5995 Allow 64K page size as a valid option on AIX
  port/aix/omrvmem.c
Labels: arch:power, comp:port, os:aix

#6013 Limit Incremental Card Alignment under 64 bit system
  gc/base/MemoryPoolAddressOrderedList.hpp
Labels: comp:gc

#6006 Update Default Scan Ordering Configuration
  gc/base/Configuration.cpp
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

#6012 Enable OSR for profiling compilations with JProfiling
  compiler/compile/OMRCompilation.cpp
Labels: comp:compiler

#6017 Revert "Allow 64K page size as a valid option on AIX"
  port/aix/omrvmem.c
Labels: arch:power, comp:port, os:aix

#5910 Replace method in VPHandlers.cpp with equivalent method in VP
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6016 Reduce MemoryPoolAddressOrderedList casting in Usage
  gc/base/MemoryPool.hpp
  gc/base/MemoryPoolAddressOrderedList.hpp
  gc/base/MemoryPoolAddressOrderedListBase.hpp
  gc/base/MemoryPoolBumpPointer.hpp
  gc/base/MemoryPoolHybrid.cpp
  gc/base/MemoryPoolSplitAddressOrderedList.cpp
  gc/base/MemoryPoolSplitAddressOrderedListBase.cpp
  gc/base/MemoryPoolSplitAddressOrderedListBase.hpp
  gc/base/j9mm.tdf
Labels: comp:gc

#6025 AArch64: Fix i2l-lshl optimization
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#6027 AArch64: Implement fmax/fmin/dmax/dmin evaluators
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  fvtest/compilertriltest/MaxMinTest.cpp
Labels: arch:aarch64, comp:compiler

#6026 AArch64: Implement fcmpg/fcmpl/dcmpg/dcmpl evaluators
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  fvtest/compilertriltest/CompareTest.cpp
Labels: arch:aarch64, comp:compiler

#6028 Allow inliner policy to decide whether to remove differing targets
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
Labels: comp:compiler

#5990 Refactor CopyForward to reuse fixupForwardedObject
  example/glue/ObjectModelDelegate.cpp
  example/glue/ObjectModelDelegate.hpp
  gc/base/ObjectModelBase.hpp
Labels: comp:gc

#6021 Correct condition used to setting unneeded aloadi
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: arch:z, comp:compiler

#6029 Remove TR_DebugExt
  compiler/compile/OMRCompilation.hpp
  compiler/control/OptimizationPlan.hpp
  compiler/env/OMRPersistentInfo.hpp
  compiler/env/TRMemory.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRRegisterMappedSymbol.hpp
  compiler/il/OMRTreeTop.hpp
  compiler/infra/Array.hpp
  compiler/infra/Link.hpp
  compiler/optimizer/OMROptimizer.hpp
  compiler/optimizer/PreExistence.hpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/ras/Tree.cpp
  compiler/runtime/OMRRuntimeAssumptions.hpp
Labels: comp:compiler

#6034 AArch64: Add TR_ARM64jitCollapseJNIReferenceFrame to getRuntimeHelperName
  compiler/ras/Debug.cpp
Labels: comp:compiler

#6032 Allow 64K page size as a valid option on AIX
  port/aix/omrvmem.c
Labels: arch:power, comp:port, os:aix

#6035 Use addAtomic for incrementing counters of OMRMemCategory
  port/common/omrmemcategories.c
Labels: comp:port

#5864 CMake: Set LIBPATH for ddr on z/OS
  cmake/modules/OmrDDRSupport.cmake
Labels: build / configure, cmake

#6033 Add an option to buffer expensive JITServer compilations
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6010 InlineArrayCmp improvements for P10
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/p/codegen/PPCOpsDefines.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: arch:power, comp:compiler

#6036 Add a method to get maximum heap size for zOS compressedrefs mode
  include_core/omrgcconsts.h
  include_core/omriarv64.h
  include_core/omrutil.h
  include_core/unix/zos/omriarv64.h
  port/zos390/omrvmem.c
  util/omrutil/j9memclr.cpp
Labels: comp:core, comp:utilities
