Repository eclipse-omr/omr, pull requests merged in 2021-01, with the labels that each got.

#5724 Threading API additions for acquired monitors
  include_core/thread_api.h
  thread/common/omrthread.c
  thread/exports.cmake
  thread/thread_include.mk
Labels: comp:core, comp:thread

#5735 Add recompCounter relocation in generateLoad32BitConstant
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:z, comp:compiler

#5733 Add support for relo records for block freqeuncy and recomp queued flag
  compiler/codegen/Relocation.cpp
  compiler/il/OMRSymbol.hpp
  compiler/runtime/Runtime.hpp
Labels: comp:compiler

#5729 Facilitate improvements for AOT
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/arm/codegen/ControlFlowEvaluator.cpp
  compiler/codegen/Relocation.cpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/OMRMethod.hpp
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/runtime/Runtime.hpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:x86, arch:z, comp:compiler

#5734 Add missing return statement
  port/common/omrsysinfo.c
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: arch:x86, comp:port, os:windows

#5737 AArch64: Use b.cond instead of cbz/cbnz when all register are used up
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5723 OMR changes to move J9 specific Call Snippet part
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/runtime/Helpers.inc
  compiler/z/codegen/CallSnippet.cpp
  compiler/z/codegen/CallSnippet.hpp
  compiler/z/codegen/OMRSnippet.cpp
  compiler/z/codegen/OMRSnippet.hpp
Labels: arch:z, comp:compiler

#5543 Fix 0 getContractionSize() in MemorySubSpaceGenerational
  gc/base/MemorySubSpace.hpp
  gc/base/MemorySubSpaceGenerational.hpp
Labels: comp:gc

#5688 Add `contextid` in `concurrent-collection-start`
  gc/base/omrmmprivate.hdf
  gc/base/standard/ConcurrentGC.cpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.cpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.hpp
  gc/verbose/schema.xsd
Labels: comp:gc

#5731 Deprecate get and setAccessStaticsIndirectly API
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/il/OMRTreeTop.cpp
  compiler/optimizer/LoadExtensions.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/amd64/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: arch:power, arch:x86, arch:z, comp:compiler

#5744 Filter "C." in the list of locales using language "en"
  port/unix/j9nlshelpers.c
Labels: comp:port

#5742 Unblock synchronous signals when in use and ensure registering handler before unblocking a signal
  fvtest/porttest/omrsignalExtendedTest.cpp
  port/unix/omrsignal.c
Labels: comp:port

#5711 Delete obsolete APIs in `MM_VerboseHandlerOutput`
  gc/verbose/VerboseHandlerOutput.hpp
Labels: comp:gc

#5575 Initial ObjectFormat implementation
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/objectfmt/FunctionCallData.hpp
  compiler/objectfmt/JitCodeRWXObjectFormat.hpp
  compiler/objectfmt/JitCodeRXObjectFormat.hpp
  compiler/objectfmt/OMRFunctionCallData.hpp
  compiler/objectfmt/OMRJitCodeRWXObjectFormat.hpp
  compiler/objectfmt/OMRJitCodeRXObjectFormat.hpp
  compiler/objectfmt/OMRObjectFormat.hpp
  compiler/objectfmt/ObjectFormat.hpp
  compiler/x/CMakeLists.txt
  compiler/x/amd64/objectfmt/OMRJitCodeRWXObjectFormat.cpp
  compiler/x/amd64/objectfmt/OMRJitCodeRWXObjectFormat.hpp
  compiler/x/amd64/objectfmt/OMRJitCodeRXObjectFormat.cpp
  compiler/x/amd64/objectfmt/OMRJitCodeRXObjectFormat.hpp
  compiler/x/objectfmt/FunctionCallData.hpp
  compiler/x/objectfmt/OMRFunctionCallData.hpp
  compiler/x/objectfmt/OMRJitCodeRWXObjectFormat.hpp
  compiler/x/objectfmt/OMRJitCodeRXObjectFormat.hpp
  fvtest/compilertest/build/files/target/amd64.mk
  jitbuilder/build/files/target/amd64.mk
Labels: comp:compiler

#5746 Fix the check on isStoreIndirect in LocalAnalysis
  compiler/optimizer/LocalAnalysis.cpp
Labels: comp:compiler

#5748 Fix b2iEvaluator in power for bRegLoad
  compiler/p/codegen/UnaryEvaluator.cpp
Labels: arch:power, comp:compiler

#5747 Remove inline from CCData static member funcs
  compiler/codegen/CCData.cpp
Labels: comp:compiler

#5702 Add more performant in-reg byte-reverse series of instr for P8 & P9
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5732 Fold TR_ S390LinkageConventions into TR_LinkageConventions
  compiler/codegen/OMRLinkageConventions.enum
  compiler/z/codegen/Linkage.hpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/SystemLinkage.cpp
  compiler/z/codegen/SystemLinkage.hpp
Labels: arch:z, comp:compiler

#5752 Don't compare bool with int
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

#5758 Fix DDR field inconsistency in mixed refs builds
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryPool.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/ObjectScanner.hpp
  gc/base/SlotObject.hpp
  gc/structs/ForwardedHeader.hpp
Labels: comp:gc

#5718 Fix trees around split point in PostGRA block splitter
  compiler/il/OMRBlock.cpp
Labels: comp:compiler

#5751 Disallow prefetch insertion when read barriers are necessary
  compiler/optimizer/PrefetchInsertion.cpp
Labels: comp:compiler

#5768 AArch64: Implement generateDebugCounterBump
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: arch:aarch64, comp:compiler

#5635 Allow tenure to contract beyond LOA size when LOA is empty
  gc/base/MemoryPoolLargeObjects.cpp
  gc/base/MemorySubSpace.cpp
Labels: comp:gc

#5591 Add field to adjust compact to contract minimum contraction ratio
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  include_core/omrgcconsts.h
Labels: comp:core, comp:gc

#5763 Consolidate tests for whether to compress pointers
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryPool.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/ObjectScanner.hpp
  gc/base/SlotObject.hpp
  gc/structs/ForwardedHeader.hpp
  include_core/omr.h
Labels: comp:core, comp:gc

#5736 Convert `concurrent-mark-end` to `gc-op` in GMP concurrent increment
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.cpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.hpp
Labels: comp:gc

#5769 Introduce OMR_FORWARDED_TAG_MASK flag for forwarded header
  gc/structs/ForwardedHeader.hpp
Labels: comp:gc

#5756 GC: update comment in MarkingDelegate::scanRoots()
  example/glue/MarkingDelegate.hpp
Labels: comp:gc, documentation

#5739 Refactor prex arg info computation and propagation
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
  compiler/optimizer/PreExistence.cpp
  compiler/optimizer/PreExistence.hpp
Labels: comp:compiler

#5741 RISC-V: implement `_patchVirtualGuard()`
  compiler/riscv/runtime/VirtualGuardRuntime.cpp
Labels: arch:riscv, comp:compiler

#5743 Fix gencon to work with flattened arrays
  gc/base/standard/Scavenger.cpp
Labels: comp:gc, first contribution

#5740 RISC-V: implement helper call snippet
  compiler/ras/Debug.hpp
  compiler/riscv/CMakeLists.txt
  compiler/riscv/codegen/RVDebug.cpp
  compiler/riscv/codegen/RVHelperCallSnippet.cpp
  compiler/riscv/codegen/RVHelperCallSnippet.hpp
Labels: arch:riscv, comp:compiler

#5773 Fix errors in IL documentation
  doc/compiler/il/IntroToTrees.md
Labels: documentation

#5776 Fix to OMR ILBuilder ConstInt64 logging problem
  compiler/ilgen/OMRIlBuilder.cpp
Labels: comp:compiler, comp:jitbuilder

#5202 Create relocation records of type TR_BlockFrequency and TR_RecompQueuedFlag
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/Relocation.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler

#5379 Ineffective _causedRememberedSetOverflow Flag Fix
  gc/base/standard/Scavenger.cpp
Labels: comp:gc
