Repository eclipse-omr/omr, pull requests merged in 2021-11, with the labels that each got.

#6215 AArch64 macOS: Implement omrsignal_context.c
  port/osx/omrsignal_context.c
Labels: comp:port, arch:aarch64

#6225 CMake: fix /safeseh flag
  cmake/modules/platform/toolcfg/msvc.cmake
Labels: build / configure, cmake

#6226 AArch64: Stop using placeholder register for arraycopy
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6227 AArch64: Implement Patchable GCRs
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler, arch:aarch64

#6233 AArch64: Add a method to kill placeholder registers in registrer dependency
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.hpp
Labels: comp:compiler, arch:aarch64

#6229 Cleaning for OMRPORT_CPU_BOUND
  port/unix/omrsysinfo.c
Labels: comp:port

#6231 Port library startup should not return -1
  include_core/omrporterror.h
  port/unix/omrsignal.c
  port/unix/omrsysinfo.c
  port/win32/omrsignal.c
  port/win64amd/omrsignal.c
  port/ztpf/omrsignal.c
Labels: comp:port, os:windows, arch:x86, comp:core, os:ztpf

#6224 Update github URLs for OpenJ9
  README.md
  compiler/control/OMROptions.cpp
  doc/compiler/runtime/CodeMetaData.md
Labels: comp:compiler, documentation

#6228 AArch64: Enable GCR Patching
  compiler/control/OMROptions.cpp
Labels: comp:compiler, arch:aarch64

#6230 Add a new symbol flag to mark addresses within method bounds
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
Labels: comp:compiler, arch:x86

#6235 Misc. LabelSymbol improvements
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRInstruction.hpp
  compiler/il/LabelSymbol.hpp
  compiler/il/OMRLabelSymbol.cpp
  compiler/il/OMRLabelSymbol.hpp
  compiler/p/codegen/PPCInstruction.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstruction.cpp
  compiler/x/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/z/codegen/S390Instruction.hpp
Labels: comp:compiler

#6223 Non-functional Core SATB Changes
  gc/base/EnvironmentBase.cpp
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/GlobalCollector.hpp
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
  gc/base/Packet.hpp
  gc/base/ParallelMarkTask.cpp
  gc/base/ParallelMarkTask.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelGlobalGC.hpp
  gc/base/standard/RememberedSetSATB.hpp
  gc/base/standard/WorkPacketsSATB.cpp
  gc/base/standard/WorkPacketsSATB.hpp
Labels: comp:gc

#6236 Ensure that created log files' names start with the specified name
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#6238 Define getTRPID(char*) for any downstream project that calls it
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#6239 Improve port library startup failure return codes
  include_core/omrporterror.h
  port/unix/omrsignal.c
  port/ztpf/omrsignal.c
Labels: comp:port, os:windows, arch:x86, comp:core, os:ztpf

#6240 Call perror() when SIGSEM_INIT fails in port library startup
  port/unix/omrsignal.c
Labels: comp:port

#6237 Implement vadd and vsub for Short and ByteVectors of size 128
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:power

#6244 Define TR_VerboseLog::CriticalSection as a vlog RAII lock guard
  compiler/compile/OMRCompilation.cpp
  compiler/control/CompileMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/env/CompileTimeProfiler.hpp
  compiler/env/TRPersistentMemory.cpp
  compiler/env/VerboseLog.cpp
  compiler/env/VerboseLog.hpp
  compiler/infra/SimpleRegex.cpp
  compiler/ras/LimitFile.cpp
  compiler/ras/OptionsDebug.cpp
Labels: comp:compiler

#6249 Delete getTRPID(char*) in favour of getTRPID(char*, size_t)
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#6246 Fix potential NULL pointer use
  compiler/optimizer/VPConstraint.cpp
Labels: comp:compiler

#6241 Remove obsolete overloading of ArrayStoreCHK
  compiler/il/OMRBlock.cpp
  compiler/il/OMRBlock.hpp
  compiler/il/OMRNode.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6252 AArch64: Support TR_ConstantPool relocation in Constant Data Snippet
  compiler/aarch64/codegen/ConstantDataSnippet.cpp
Labels: comp:compiler, arch:aarch64

#6255 Prevent OSR transitions from failed guards
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#6254 Do not rematerialize register for class pointer or method pointer
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler

#6247 On OSX incorporate nano time in wakeUpASyncReporter sem name
  port/unix/omrsignal.c
Labels: comp:port

#6245 Implement vmul for IntVectors, ShortVectors, and ByteVectors of size 128
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: comp:compiler, arch:power

#6242 Optimize arrays with stable elements
  compiler/env/OMRKnownObjectTable.cpp
  compiler/env/OMRKnownObjectTable.hpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPConstraint.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler
