Repository eclipse-omr/omr, pull requests merged in 2021-03, with the labels that each got.

#5795 Update dataAddr whenever GC moves indexable object
  example/glue/ArrayletObjectModel.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/CompactScheme.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#5832 Remove unused TR_FrontEnd parameter from HedgeTree print and printTree
  compiler/infra/HedgeTree.hpp
Labels: comp:compiler

#5820 Misc. allocator cleanup
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/cs2/allocator.h
  compiler/il/NodePool.cpp
  compiler/il/NodePool.hpp
  compiler/il/OMRLabelSymbol.cpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/optimizer/UseDefInfo.hpp
Labels: comp:compiler

#5840 Revert "Update dataAddr whenever GC moves indexable object"
  example/glue/ArrayletObjectModel.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/CompactScheme.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#5839 Access system class loader using a front-end query
  compiler/compile/OMRSymbolReferenceTable.cpp
Labels: comp:compiler

#5841 Remove unused stats collection functions from CS2 allocators
  compiler/cs2/allocator.h
  compiler/env/TRMemory.hpp
Labels: comp:compiler

#5838 Fix reading of version from tracepoint data files
  omrtrace/omrtracecomponent.cpp
Labels: comp:omrtrace

#5845 Get TR_OpaqueMethodBlock correctly under relocatable compilations
  compiler/compile/OSRData.cpp
Labels: comp:compiler

#5834 CEL4RO31 support for shared library load, lookup and close
  include_core/omrport.h
  port/CMakeLists.txt
  port/port_objects.mk
  port/zos390/omrcel4ro31.c
  port/zos390/omrcel4ro31.h
  port/zos390/omrsl.c
Labels: arch:z, comp:port, first contribution, os:zos

#5835 Relax the assertion in RegDepCopyRemoval
  compiler/optimizer/RegDepCopyRemoval.cpp
Labels: comp:compiler

#5847 Increase size of buffer in block validation
  compiler/ras/Tree.cpp
Labels: comp:compiler

#5849 AArch64: Support Internal Pointer
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#5843 Update dataAddr whenever GC moves indexable object
  example/glue/ArrayletObjectModel.hpp
  example/glue/ObjectModelDelegate.cpp
  example/glue/ObjectModelDelegate.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/CompactScheme.hpp
Labels: comp:gc

#5857 AArch64: Fix genericBinaryEvaluator for internal pointer case
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5856 Rename 'beginner' label to 'good first issue'
  CONTRIBUTING.md
  README.md
  doc/GitCrashCourse.md
Labels: documentation

#5854 Suppress MSVC version banner
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#5853 DDR: omit blank lines in annt files
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#5861 Adjust cardCleaningThreshold for language specific kickoff
  gc/base/standard/ConcurrentGC.cpp
Labels: comp:gc

#5862 Increment Exclusive count for percolate Global
  gc/base/MemorySubSpace.cpp
Labels: comp:gc

#5860 Remove declaration and definition of movedObjectHashCode
  include_core/omr.h
Labels: comp:core

#5855 Remove redundant file removal
  cmake/modules/ddr/GenerateStub.cmake
Labels: build / configure, cmake

#5830 Adaptive GC Threading
  gc/base/GCExtensionsBase.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelTask.cpp
  gc/base/ParallelTask.hpp
  gc/base/Task.hpp
  gc/base/j9mm.tdf
  gc/base/standard/ConcurrentScavengeTask.hpp
  gc/base/standard/ParallelScavengeTask.cpp
  gc/base/standard/ParallelScavengeTask.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/stats/ScavengerStats.cpp
  gc/stats/ScavengerStats.hpp
Labels: comp:gc

#5866 AArch64: Support PRFM instruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:compiler

#5869 Allocate correct buffer size in omrsysinfo_get_OS_type()
  port/win32/omrsysinfo.c
Labels: arch:x86, comp:port, os:windows

#5868 Move snippets-to-be-patched lists from Compilation to CodeGenerator
  compiler/aarch64/codegen/ConstantDataSnippet.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
Labels: comp:compiler

#5850 Refactor TR_AOTMethodInfo out of TR_InlinedCallSite
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/OSRData.cpp
  compiler/env/FrontEnd.cpp
  compiler/env/jittypes.h
  compiler/il/OMRNode.cpp
  compiler/optimizer/RedundantAsyncCheckRemoval.cpp
  compiler/ras/DebugCounter.cpp
  compiler/ras/Tree.cpp
Labels: comp:compiler

#5870 Better detection of Windows 10 in omrsysinfo_get_OS_type()
  port/win32/omrsysinfo.c
Labels: comp:port

#5873 Compute Windows 10 build number in omrsysinfo_get_OS_version()
  port/win32/omrsysinfo.c
Labels: arch:x86, comp:port, os:windows

#5875 AArch64: Add class unloading pic site to address constant
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5877 Fix AArch64 compile failures
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, bug, comp:compiler

#5785 RISC-V: implement copyParametersToHomeLocation()
  compiler/riscv/codegen/OMRLinkage.cpp
  compiler/riscv/codegen/OMRLinkage.hpp
Labels: arch:riscv, comp:compiler

#5878 Fix memory leak from omrsysinfo_get_OS_version()
  port/win32/omrsysinfo.c
  port/win32_include/omrportpg.h
Labels: arch:x86, comp:port, os:windows

#5876 Guard adaptiveThreadingEnabled() for OMR_GC_MODRON_SCAVENGER only
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/Scavenger.cpp
Labels: bug, comp:gc

#5745 Add opt methodHandleTransformer
  compiler/control/OMROptions.cpp
  compiler/optimizer/OMROptimizations.enum
  compiler/optimizer/OMROptimizer.cpp
Labels: comp:compiler

#5884 AArch64: Add register related virtual method to ARM64MemInstruction
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
Labels: arch:aarch64, comp:compiler

#5883 Remove unused _noEarlyInline field from Compilation class
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#5882 Add memory object type for OpenJ9 JITServer AOT cache
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
Labels: comp:compiler, first contribution

#5872 AArch64: Vector load-store, and add implementation
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRRealRegister.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler
