Repository eclipse-omr/omr, pull requests merged in 2021-04, with the labels that each got.

#5874 AArch64: Vector add tril test
  fvtest/compilertriltest/VectorTest.cpp
Labels: arch:aarch64, comp:compiler, comp:test, comp:tril

#5885 AArch64: Vector subtraction implementation
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#5863 CMake: Remove ASM-ZOS
  cmake/modules/CMakeASM-ZOSInformation.cmake
  cmake/modules/CMakeDetermineASM-ZOSCompiler.cmake
  cmake/modules/CMakeTestASM-ZOSCompiler.cmake
  cmake/modules/OmrPlatform.cmake
  cmake/modules/platform/os/zos.cmake
Labels: build / configure, cmake

#5888 Add computedStaticCallSymbol
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#5901 PPC: Exclude tril tests
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:test

#5902 AArch64: Print instruction comments for branch instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
Labels: arch:aarch64, comp:compiler

#5899 Initialize TR_X86ProcessorInfo once
  compiler/env/JitConfig.hpp
  compiler/env/OMRCPU.hpp
  compiler/env/OMRCompilerEnv.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
Labels: comp:compiler

#5865 Add flag to disable loadaddr specialization in x86 MemoryReferences
  compiler/x/codegen/OMRMemoryReference.cpp
Labels: arch:x86, comp:compiler

#5871 RISC-V: Refactor linkage properties
  compiler/riscv/codegen/OMRLinkage.cpp
  compiler/riscv/codegen/OMRLinkage.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/riscv/codegen/RVSystemLinkage.hpp
  compiler/riscv/codegen/RealRegister.hpp
Labels: arch:riscv, comp:compiler

#5898 Add notes on GlRegDeps
  doc/compiler/il/GlRegDeps.md
Labels: documentation

#5886 Map OMRPORT_RESOURCE_ADDRESS_SPACE to RLIMIT_MEMLIMIT for z/OS 64 bit
  port/unix/omrsysinfo.c
Labels: comp:port

#5900 AArch64: Vector sub tril test
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:test, comp:tril

#5903 AArch64: Enable using VirtualGuardNOP as branch to OOL section.
  compiler/aarch64/codegen/ARM64Instruction.cpp
Labels: arch:aarch64, comp:compiler

#5896 Skip some tests in compilertriltest on AArch64
  fvtest/compilertriltest/ArithmeticTest.cpp
  fvtest/compilertriltest/CompareTest.cpp
  fvtest/compilertriltest/IfxcmpgeReductionTest.cpp
  fvtest/compilertriltest/MaxMinTest.cpp
  fvtest/compilertriltest/ShiftAndRotateTest.cpp
Labels: arch:aarch64, comp:test

#5897 Relocatable Compilation support for Method Handles in Eclipse OpenJ9
  compiler/codegen/Relocation.cpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/runtime/Runtime.hpp
Labels: comp:compiler

#5905 Fix Peephole optimization for iushr,ishr
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: arch:power, comp:compiler

#5681 Separate OMR x86 linkage properties from linkage class
  compiler/x/codegen/OMRLinkage.hpp
  compiler/x/codegen/X86LinkageProperties.hpp
Labels: arch:x86, comp:compiler, first contribution

#5906 AArch64: Vector mul-div implementation
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRInstOpCodeEnum.hpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/aarch64/codegen/OpBinary.cpp
Labels: arch:aarch64, comp:compiler

#5867 Remove unused _gpuParms and _gpuBlockDimX fields from Compilation class
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
Labels: comp:compiler

#5890 AArch64: Improve code generation for i2l-lshl sequence
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5917 Update CEL4RO31 control block function descriptor member
  port/zos390/omrcel4ro31.h
  port/zos390/omrsl.c
Labels: arch:z, comp:port

#5909 Define isArrayCompTypeValueType method for Value Propagation
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
Labels: comp:compiler

#5908 Cleanup PPCArrayCmp remnants
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: arch:power, comp:compiler, first contribution

#5911 Restore concurrent end trigger
  gc/base/standard/ConcurrentGC.cpp
Labels: comp:gc

#5907 AArch64: Vector mul-div tril test
  fvtest/compilertriltest/VectorTest.cpp
Labels: arch:aarch64, comp:compiler, comp:test, comp:tril

#5919 Dummy OMROptimizer_inlines.hpp header added
  compiler/optimizer/OMROptimizer_inlines.hpp
Labels: comp:compiler

#5918 Reorg Scavenger::copy() epilog
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#5922 Revert "AArch64: Improve code generation for i2l-lshl sequence"
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5921 Fix paddi and lxvdsx for vsplatsEvaluator to have GPR register
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, comp:compiler

#5926 Optimizer_inlines.hpp header added
  compiler/optimizer/Optimizer_inlines.hpp
Labels: comp:compiler

#5927 Remove _LONG_LONG from TR_COMPILE_DEFINITIONS on z
  cmake/modules/platform/arch/s390.cmake
Labels: build / configure, cmake

#5920 Cleanup PPCArrayCmp remnants
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: arch:power, comp:compiler

#5931 Remove Signed-off-by requirement for OMR commits
  CONTRIBUTING.md
  doc/GitCrashCourse.md
  scripts/commit-msg
Labels: documentation

#5925 Check if current phase concurrent when trying to yield
  example/glue/ScavengerDelegate.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#5932 AArch64: Add processor feature detection to port library
  include_core/omrport.h
  port/CMakeLists.txt
  port/port_objects.mk
  port/unix/omrsysinfo.c
Labels: comp:core, comp:port

#5934 AArch64: Add query for supported feature of CPU
  compiler/aarch64/env/OMRCPU.cpp
  compiler/aarch64/env/OMRCPU.hpp
Labels: arch:aarch64, comp:compiler

#5935 Fix typo of AARCH64 processor type enum
  include_core/omrport.h
Labels: arch:aarch64, comp:core

#5924 AArch64: Use correct parameter for memory barrier instructions
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5929 Add default constructor for SymbolReference
  compiler/il/SymbolReference.hpp
Labels: comp:compiler

#5936 Add AbsoluteHelperAddress Relocation for PPCSystemLinkage calls
  compiler/p/codegen/PPCSystemLinkage.cpp
Labels: arch:power, comp:compiler

#5923 Add notes on mainline and outofline concepts
  doc/compiler/il/MainlineAndOutOfLineCode.md
Labels: documentation

#5944 Remove unused temps from x86 CodeGenerator
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: arch:x86, comp:compiler, first contribution

#5942 Remove unused global memoryAllocMonitor definition
  compiler/env/TRPersistentMemory.cpp
  compiler/infra/OMRMonitor.cpp
  compiler/infra/OMRMonitorTable.hpp
Labels: comp:compiler

#5947 Use a human readable name for the object comparison non-helper
  compiler/ras/Debug.cpp
Labels: comp:compiler

#5940 Fix compiler errors when DEBUG is defined
  gc/base/standard/CompactScheme.cpp
  tools/hookgen/HookGen.cpp
Labels: comp:gc

#5951 Remove deprecated references to X86 UnresolvedVirtualCallSnippets
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRMemoryReference.hpp
Labels: arch:x86, comp:compiler

#5952 Deprecate isWarm parameter for data snippets
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: arch:z, comp:compiler

#5933 Generate normal .exp files
  cmake/modules/platform/toolcfg/gnu_exports.exp.in
Labels: build / configure, cmake

#5945 Add omrstr_ftime_ex()
  fvtest/porttest/omrstrTest.cpp
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrstr.c
  port/omrportpriv.h
Labels: comp:core, comp:port, comp:test

#5928 CMake: fix ddr macro processing on z/OS
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#5958 Guard a2e calls and update CELQGIPB vector offset
  port/zos390/omrcel4ro31.c
Labels: arch:z, comp:port

#5953 Cleanup SwitchAnalyzer by removing dead code, unused includes, formatting
  compiler/optimizer/SwitchAnalyzer.cpp
Labels: comp:compiler

#5959 Add omrsl cel4ro31 testcase
  fvtest/porttest/CMakeLists.txt
  fvtest/porttest/omrslTest.cpp
  fvtest/porttest/sltestlib31/sltest.cpp
  fvtest/porttest/sltestlib31/sltestlib31.exportlist
Labels: comp:test

#5961 Add j9VMThreadFloatTemp1Symbol
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#5960 CMake: fix typo in DDRSetStub.cmake.in
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#5941 Remove unused IL opcodes and cleanup
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/arm/codegen/OMRInstruction.hpp
  compiler/arm/codegen/OMRTreeEvaluatorTable.hpp
  compiler/codegen/CodeGenRA.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/il/OMRBlock.cpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMROpcodes.enum
  compiler/infra/OMRCfg.cpp
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LocalDeadStoreElimination.cpp
  compiler/optimizer/LocalReordering.cpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHandlers.hpp
  compiler/optimizer/OMRSimplifierHelpers.cpp
  compiler/optimizer/OMRSimplifierHelpers.hpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/OrderBlocks.cpp
  compiler/optimizer/SwitchAnalyzer.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/BinaryEvaluator.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/codegen/OMRTreeEvaluatorTable.hpp
  compiler/p/codegen/PPCDebug.cpp
  compiler/p/codegen/PPCInstruction.hpp
  compiler/p/codegen/PPCSystemLinkage.cpp
  compiler/p/codegen/UnaryEvaluator.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Tree.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluatorTable.hpp
  compiler/runtime/Helpers.inc
  compiler/x/amd64/codegen/OMRTreeEvaluatorTable.hpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/CMakeLists.txt
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluatorTable.hpp
  compiler/z/codegen/S390Evaluator.hpp
  compiler/z/codegen/TranslateEvaluator.cpp
  compiler/z/codegen/TranslateEvaluator.hpp
  compiler/z/codegen/UnaryEvaluator.cpp
  fvtest/compilertest/build/files/target/z.mk
  jitbuilder/build/files/target/z.mk
Labels: comp:compiler

#5956 CMake: update z/OS export handling
  cmake/modules/platform/toolcfg/xlc.cmake
  cmake/modules/platform/toolcfg/zos_rename_exports.cmake
Labels: build / configure, cmake

#5955 Deprecate findOrCreateLiteral codegen API
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:z, comp:compiler

#5950 AArch64: Implement atomic add and swap codegen support
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5962 Enable omrthread_get_stack_range on AIX
  thread/common/omrthreadinspect.c
Labels: comp:thread

#5965 Disable x87 floating point for 32-bit code generation
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/env/OMRCPU.hpp
Labels: arch:x86, comp:compiler

#5611 CMake: Update metal-c handling
  cmake/modules/OmrMetalC.cmake
  port/CMakeLists.txt
Labels: build / configure, cmake, comp:port

#5971 AArch64: Enable byteswap
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#5967 Remove blockindex
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRInstruction.cpp
  compiler/aarch64/codegen/OMRInstruction.hpp
  compiler/arm/codegen/OMRInstruction.cpp
  compiler/arm/codegen/OMRInstruction.hpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRInstruction.cpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/p/codegen/PPCSystemLinkage.cpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRInstruction.cpp
  compiler/riscv/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/S390Instruction.hpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:riscv, arch:z, comp:compiler

#5966 Deprecate Decimal Floating Point (DFP) related support
  compiler/codegen/CodeGenRA.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/OMRMethod.cpp
  compiler/compile/OMRMethod.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/il/Aliases.cpp
  compiler/il/NodeUnions.hpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/GlobalRegisterAllocator.cpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/RedundantAsyncCheckRemoval.cpp
  compiler/optimizer/RegisterCandidate.cpp
  compiler/optimizer/ValueNumberInfo.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/ras/Debug.hpp
  compiler/ras/Tree.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/OMRMachine.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/SystemLinkageLinux.cpp
  compiler/z/codegen/SystemLinkagezOS.cpp
  compiler/z/codegen/UnaryEvaluator.cpp
Labels: arch:z, comp:compiler

#5969 Deprecate TR_DisableOOL option
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/arm/codegen/ControlFlowEvaluator.cpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRMachine.cpp
  compiler/arm/codegen/OMRRegisterDependency.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRMachine.cpp
  compiler/p/codegen/OMRRegisterDependency.cpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRMachine.cpp
  compiler/riscv/codegen/OMRRegisterDependency.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/OMRRegisterDependency.cpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:riscv, arch:z, comp:compiler

#5976 Fix omrthread_get_stack_range behaviour on AIX
  thread/common/omrthreadinspect.c
Labels: comp:thread
