Repository eclipse-omr/omr, pull requests merged in 2021-07, with the labels that each got.

#6091 Add compilePortableCode query
  compiler/compile/OMRCompilation.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/IntegerMultiplyDecomposer.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
Labels: arch:x86, comp:compiler

#6090 Add a new verbose option for JITServer
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6077 Fix warnings on s390x
  cmake/modules/platform/toolcfg/xlc.cmake
  compiler/codegen/OMRRealRegister.hpp
  compiler/compile/ResolvedMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/env/FEBase.cpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/runtime/VirtualGuardRuntime.cpp
  fvtest/compilertest/tests/BuilderTest.cpp
  fvtest/compilertest/tests/FooBarTest.cpp
  fvtest/compilertest/tests/OpCodesTest.hpp
  fvtest/compilertest/tests/OptTestDriver.hpp
  fvtest/compilertest/tests/Qux2Test.cpp
  fvtest/compilertriltest/CompareTest.cpp
  fvtest/compilertriltest/IfxcmpgeReductionTest.cpp
  fvtest/compilertriltest/LongAndAsRotateTest.cpp
  fvtest/compilertriltest/MinimalTest.cpp
  fvtest/compilertriltest/TypeConversionTest.cpp
  fvtest/tril/test/ASTTest.cpp
  fvtest/tril/test/IlGenTest.cpp
  fvtest/tril/tril/ast.cpp
  fvtest/tril/tril/method_compiler.hpp
  include_core/AtomicSupport.hpp
  jitbuilder/apigen/cppgen.py
  jitbuilder/release/cpp/samples/Pow2.cpp
  util/omrutil/j9memclr.cpp
Labels: arch:z, comp:compiler, comp:test, comp:tril

#6096 Replace x86 TR::InstOpCode::bad with int3 or ud2 where necessary
  compiler/x/codegen/BinaryEvaluator.cpp
  compiler/x/codegen/FPBinaryArithmeticAnalyser.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/codegen/X86SystemLinkage.cpp
Labels: arch:x86, comp:compiler

#6093 Don't use once read symbol heuristics in UseDef at warm
  compiler/optimizer/UseDefInfo.cpp
Labels: comp:compiler

#6098 Suspend convlit around inline assembly on z/OS
  include_core/AtomicSupport.hpp
Labels: comp:core

#6095 AArch64: Use add/sub shifted register instruction if possible
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#6099 AArch64: Reuse src registers in `generateMaddOrSub` if possible
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#6094 AArch64: Use ubfm instruction for shift and mask operation if possible
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#6101 AArch64: Enable shifted immediate for add/sub instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
Labels: arch:aarch64, comp:compiler

#6103 Use getVirtualCallNodeForGuard() during ValuePropagation
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6100 Assert that labels are defined when applying label relocations
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
Labels: comp:compiler

#6104 Improve registerExchange API on Z
  compiler/z/codegen/OMRMachine.cpp
Labels: arch:z, comp:compiler

#5973 Remove x87 floating point support
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86FPConversionSnippet.cpp
  compiler/x/codegen/X86FPConversionSnippet.hpp
Labels: arch:x86, comp:compiler

#6106 Reduce Scavenger Remember Set Puddle size
  include_core/omrgcconsts.h
Labels: comp:core

#6089 Share common logic in SweepHeapSectioning base class
  gc/base/SweepHeapSectioning.cpp
  gc/base/SweepHeapSectioning.hpp
  gc/base/standard/SweepHeapSectioningSegmented.cpp
  gc/base/standard/SweepHeapSectioningSegmented.hpp
Labels: comp:gc

#6014 Add new core dump tool for OSX
  port/osx/omrosdump.c
Labels: arch:x86, comp:port, os:macos

#6097 AArch64: Use negated constant value for add/sub node if it is more concise
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5887 AArch64: Use the immediate offset of ldr/str instructions
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: arch:aarch64, comp:compiler

#6080 Remove obsolete long parm value profiling code
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/PartialRedundancy.cpp
Labels: comp:compiler

#6071 Create OMR_<LANG>_WARNINGS_AS_ERROR_FLAG CMake variables
  cmake/modules/OmrTargetSupport.cmake
  cmake/modules/platform/toolcfg/gnu.cmake
  cmake/modules/platform/toolcfg/msvc.cmake
  cmake/modules/platform/toolcfg/verify.cmake
  cmake/modules/platform/toolcfg/xlc.cmake
Labels: build / configure, cmake

#6115 Copy node's children early in OMR::Node::copyValidProperties
  compiler/il/OMRNode.cpp
Labels: comp:compiler

#6118 Remove self included header
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6117 Add IfVectorAPI optimizer flag
  compiler/il/OMRMethodSymbol.hpp
  compiler/il/OMRResolvedMethodSymbol.hpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMROptimizer.hpp
Labels: comp:compiler

#6120 Cleanup softmx check and apply softmx to nursery expansion
  gc/base/Heap.cpp
  gc/base/Heap.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/MemorySubSpace.hpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/MemorySubSpaceUniSpace.hpp
  gc/base/gcutils.cpp
  include_core/omrgcconsts.h
Labels: comp:gc

#6123 Add disableForceInlineAnnotations JIT command line option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler
