Repository eclipse-omr/omr, pull requests merged in 2021-02, with the labels that each got.

#5701 Changes for Object Format API on Z
  compiler/objectfmt/OMRObjectFormat.hpp
  compiler/z/codegen/CallSnippet.cpp
  compiler/z/codegen/CallSnippet.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/objectfmt/FunctionCallData.hpp
  compiler/z/objectfmt/OMRFunctionCallData.hpp
  compiler/z/objectfmt/OMRJitCodeRWXObjectFormat.cpp
  compiler/z/objectfmt/OMRJitCodeRWXObjectFormat.hpp
  compiler/z/objectfmt/OMRJitCodeRXObjectFormat.cpp
  compiler/z/objectfmt/OMRJitCodeRXObjectFormat.hpp
Labels: arch:z, comp:compiler

#5777 Add missing switch case statements for Eflags
  port/linuxamd64/omrsignal_context.c
  port/osx/omrsignal_context.c
  port/win64amd/omrsignal.c
Labels: arch:x86, comp:port, os:linux

#5621 Remove x87 global register support from RegisterDependency
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRRegisterDependency.hpp
  compiler/x/codegen/OMRRegisterDependencyStruct.hpp
Labels: arch:x86, comp:compiler

#5784 Create a DIE for a tag that dwarfdump-classic doesn't understand
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
Labels: comp:diagnostic

#5779 Update pointer offset addition for dbf Scan Ordering
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#5767 Remove unused applyUserOptions
  compiler/env/OMRCPU.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
Labels: arch:power, comp:compiler

#5790 RISC-V add OpenJ9 specific members to linkage properties
  compiler/riscv/codegen/OMRLinkage.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
Labels: arch:aarch64, arch:riscv, comp:compiler

#5791 Disable fatal message when cross compiling on CYGWIN
  cmake/modules/OmrDDRSupport.cmake
Labels: build / configure, cmake

#5760 Enable jitPersistentAlloc/Free to use non-global persistent memory
  compiler/env/OMRCompilerEnv.hpp
  compiler/env/TRPersistentMemory.cpp
Labels: comp:compiler

#5757 Eliminate vm.heapBaseAddress()
  compiler/env/OMRVMEnv.cpp
  compiler/env/OMRVMEnv.hpp
  compiler/il/OMRNode.cpp
  compiler/optimizer/GlobalRegisterAllocator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/ras/OptionsDebug.cpp
  compiler/x/codegen/BinaryEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: arch:power, arch:x86, arch:z, comp:compiler

#5792 AArch64: Generate memory barrier for store if symbol is shadow and ordered
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#5793 REVIEW : self changed to protected
  compiler/compile/OMRCompilation.hpp
Labels: first contribution

#5794 Set up AIX XLClang flags for JDK 16+ CMake builds
  cmake/modules/OmrCompilerSupport.cmake
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/toolcfg/xlc.cmake
Labels: build / configure, cmake

#5797 Deprecate isSingleRefUnevaluated
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/BinaryAnalyser.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/FPTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/UnaryEvaluator.cpp
Labels: arch:power, arch:z, comp:compiler

#5759 Improve Parallelization of Remembered Set Scanning in Gencon
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/ConcurrentGC.cpp
Labels: comp:gc

#5774 Raise SIGTRAP in TR::trap() instead of SIGABRT
  compiler/infra/Assert.cpp
Labels: comp:compiler

#5796 Trim inlines header of extensible classes
  compiler/codegen/OMRCodeGenerator_inlines.hpp
  compiler/codegen/OMRInstruction_inlines.hpp
  compiler/codegen/OMRMachine_inlines.hpp
  compiler/compile/OMRCompilation_inlines.hpp
  compiler/control/OMROptions_inlines.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/il/OMRTreeTop_inlines.hpp
  compiler/il/TreeTop_inlines.hpp
  compiler/ilgen/OMRIlGeneratorMethodDetails_inlines.hpp
  compiler/optimizer/OMROptimizationManager_inlines.hpp
Labels: comp:compiler

#5806 VerboseGC Initialized Stanza Print Fix
  gc/verbose/VerboseWriterFileLoggingBuffered.cpp
  gc/verbose/VerboseWriterFileLoggingSynchronous.cpp
Labels: comp:gc

#3332 Tril tests for ibits2f, etc.
  fvtest/compilertriltest/JitTest.hpp
  fvtest/compilertriltest/TypeConversionTest.cpp
Labels: comp:compiler, comp:test, comp:tril

#5652 Implement a new API for performing node-based loads and stores on Power
  compiler/p/CMakeLists.txt
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/LoadStoreHandler.hpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/p/codegen/OMRLoadStoreHandler.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/codegen/OMRTreeEvaluatorTable.hpp
  compiler/p/codegen/UnaryEvaluator.cpp
  fvtest/compilertest/build/files/target/p.mk
Labels: arch:power, comp:compiler, comp:test

#5814 Add relo type for a pointer to an inlined method
  compiler/codegen/Relocation.cpp
  compiler/runtime/Runtime.hpp
Labels: comp:compiler

#5812 Make Optimizer self() function protected
  compiler/optimizer/OMROptimizer.hpp
Labels: comp:compiler

#5817 Support TR_AbsoluteHelperAddress constant address loads on power
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: arch:power, comp:compiler

#5811 Deprecate global allocator and misc. cleanup
  compiler/cs2/allocator.h
  compiler/env/FEBase.hpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/ras/CallStack.cpp
Labels: comp:compiler

#5821 Add baseReg dependency for POWER generatePairedStoreSequence
  compiler/p/codegen/OMRLoadStoreHandler.cpp
Labels: arch:power, comp:compiler

#5804 Exclude percolate GC CPU time from stats
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
  gc/stats/HeapResizeStats.hpp
Labels: comp:gc

#5818 Make non helper SymbolReferenceTable enum extensible
  compiler/compile/NonHelperSymbols.enum
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Labels: comp:compiler

#5807 Add support for lowering optimization
  compiler/control/OMROptions.cpp
  compiler/optimizer/OMROptimizations.enum
Labels: comp:compiler

#5819 AArch64: Workaround for huge methods
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: arch:aarch64, comp:compiler

#5823 Address some warnings from clang on macOS
  compiler/ilgen/ByteCodeIteratorWithState.hpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Labels: arch:x86, comp:compiler

#5824 Add support for CUDA version 11.2
  port/common/omrcuda.cpp
Labels: comp:port

#5827 Reduce use of OMR_HOST_OS
  cmake/config.cmake
  cmake/modules/OmrPlatform.cmake
  ddr/lib/ddr-scanner/CMakeLists.txt
  fvtest/algotest/CMakeLists.txt
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/gctest/CMakeLists.txt
  fvtest/jitbuildertest/CMakeLists.txt
  fvtest/omrGtestGlue/CMakeLists.txt
  fvtest/porttest/CMakeLists.txt
  fvtest/sigtest/CMakeLists.txt
  fvtest/threadextendedtest/CMakeLists.txt
  fvtest/threadtest/CMakeLists.txt
  fvtest/tril/tril/CMakeLists.txt
  fvtest/utiltest/CMakeLists.txt
  omrsigcompat/CMakeLists.txt
  port/CMakeLists.txt
  thread/CMakeLists.txt
  util/CMakeLists.txt
  util/omrutil/CMakeLists.txt
Labels: build / configure, cmake, comp:diagnostic, comp:port, comp:test, comp:thread, comp:tril, comp:utilities

#5828 Add useful comment for disableGuardedCountingRecompilation option
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#5803 Change self() to protected in Method, SymbolReferenceTable, AliasBuilder
  compiler/compile/OMRAliasBuilder.hpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/OMRMethod.hpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Labels: comp:compiler

#5826 Deprecate PrefetchInsertion optimization
  compiler/control/OMROptions.cpp
  compiler/optimizer/CMakeLists.txt
  compiler/optimizer/OMROptimizationGroups.enum
  compiler/optimizer/OMROptimizationManager.cpp
  compiler/optimizer/OMROptimizations.enum
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OptimizationStrategies.hpp
  compiler/optimizer/PrefetchInsertion.cpp
  compiler/optimizer/PrefetchInsertion.hpp
  fvtest/compilertest/build/files/common.mk
  jitbuilder/build/files/common.mk
Labels: comp:compiler

#5831 Increase build & test timeout to 2 hours
  buildenv/jenkins/omrbuild.groovy
Labels: build / configure, ci
