Repository eclipse-omr/omr, pull requests merged in 2021-08, with the labels that each got.

#6127 RISC-V: fix ctor of S-type instruction to respect preceding instruction
  compiler/riscv/codegen/RVInstruction.hpp
Labels: arch:riscv, comp:compiler

#6124 AArch64: Implement arraycopyEvaluator() for primitive arraycopy
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: arch:aarch64, comp:compiler

#6130 Revert "Cleanup softmx check and apply softmx to nursery expansion"
  gc/base/Heap.cpp
  gc/base/Heap.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/MemorySubSpace.hpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/MemorySubSpaceUniSpace.hpp
  gc/base/gcutils.cpp
  include_core/omrgcconsts.h
Labels: comp:core, comp:gc

#6126 AArch64: Add helpers for interface PIC
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#6129 AArch64: Implement reference arraycopy
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:aarch64

#6136 Add -Xjit disableVectorAPIExpansion and traceVectorAPIExpansion options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6137 Fold VFTLoad from object of known fixed class
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6144 Disable transforming VFTLoad to loadaddr on Power for nonSVM AOT
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6152 Ensure correct instr construction with neg imm using AIX Assembler
  compiler/p/runtime/ppcasmdefines.inc
Labels: comp:compiler, arch:power

#6151 Cache known object info on TR::Nodes
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/PartialRedundancy.cpp
  compiler/ras/Tree.cpp
Labels: comp:compiler

#6150 AArch64: Change generation of "mov" instruction in register assignment
  compiler/aarch64/codegen/OMRMachine.cpp
Labels: comp:compiler, arch:aarch64

#6156 Add setter for TR::Options::_bigCalleeScorchingOptThreshold
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6154 Disable verifyGlobalIndices()
  compiler/ras/Tree.cpp
Labels: comp:compiler

#6149 Prevent compacting NULLCHKs into computed call trees; add new symbol J9JNIMethodIDvTableIndexFieldSymbol
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#6158 AArch64: Add relocation record for second child of ifacmpeq/ifacmpne
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6138 Clean up TR_AOT and TR_(En|Dis)ableCompilationThread
  compiler/arm/codegen/ControlFlowEvaluator.cpp
  compiler/arm/codegen/OMRMemoryReference.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/PPCAOTRelocation.cpp
Labels: comp:compiler

#6108 Enable warnings as errors in compiler component on S390
  buildenv/jenkins/omrbuild.groovy
  fvtest/compilertest/CMakeLists.txt
  fvtest/tril/test/ASTTest.cpp
  gc/CMakeLists.txt
  gc/base/HeapRegionManager.hpp
  gc/base/LightweightNonReentrantRWLock.cpp
  gc/base/LightweightNonReentrantRWLock.hpp
  jitbuilder/CMakeLists.txt
  port/common/omrfilestream.c
  port/common/omrfilestreamtext.c
  port/unix/omrfiletext.c
  port/unix/omrsharedhelper.c
  port/unix/omrsysinfo.c
  port/unix_include/omriconvhelpers.h
  port/zos390/omrgetjobname.c
  port/zos390/omrgetstfle64.s
  port/zos390/omrgetuserid.c
  port/zos390/omrjobname.s
  port/zos390/omrosdump.c
  port/zos390/omrsysinfo_helpers.c
  port/zos390/omrsyslog.c
  port/zos390/omruserid.s
  port/zos390/omrzfs.c
  third_party/gtest-1.8.0/include/gtest/internal/gtest-internal.h
  thread/common/thrprof.c
  util/omrutil/gettimebase.c
  util/omrutil/unix/zos/omrgetdsa.s
Labels: comp:test, comp:jitbuilder, comp:tril

#6122 Define compiler string formatting utilities
  compiler/control/CompileMethod.cpp
  compiler/ilgen/OMRMethodBuilder.cpp
  compiler/infra/CMakeLists.txt
  compiler/infra/String.cpp
  compiler/infra/String.hpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMROptimizer.cpp
Labels: comp:compiler

#6168 AArch64: Fix mulConstant32/64 to use correct instrutions
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6167 Handle hasVectorAPI in Inliner and Optimizer
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/OMROptimizer.cpp
Labels: comp:compiler

#6109 Modified Concurrent Scavenger conditions to use compiler optimization
  gc/base/standard/Scavenger.cpp
Labels: comp:gc
