Repository eclipse-omr/omr, pull requests merged in 2022-09, with the labels that each got.

#6644 Implement vectorized reduction add for all vector types on PPC
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:power

#6636 Add masked vector operations
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRDataTypes_inlines.hpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRILProps.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:z, arch:riscv

#6683 Fix testHashTableCorrectness issue
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#6580 Fix creation/initialization of TR::Options objects
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6692 zTPF: Change system dumps to write out in at least 1MB frames
  port/ztpf/omrosdump_helpers.c
Labels: comp:port, os:ztpf

#6678 Introduce the prepare for checkpoint explicit gc mode
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryPool.cpp
  gc/base/MemoryPool.hpp
  gc/base/MemoryPoolAddressOrderedList.cpp
  gc/base/MemoryPoolAddressOrderedList.hpp
  gc/base/MemoryPoolAddressOrderedListBase.cpp
  gc/base/MemoryPoolAddressOrderedListBase.hpp
  gc/base/MemoryPoolLargeObjects.cpp
  gc/base/MemoryPoolLargeObjects.hpp
  gc/base/MemoryPoolSplitAddressOrderedList.cpp
  gc/base/MemoryPoolSplitAddressOrderedList.hpp
  gc/base/MemorySpace.cpp
  gc/base/MemorySpace.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/MemorySubSpace.hpp
  gc/base/MemorySubSpaceFlat.cpp
  gc/base/MemorySubSpaceFlat.hpp
  gc/base/MemorySubSpaceGenerational.cpp
  gc/base/MemorySubSpaceGenerational.hpp
  gc/base/MemorySubSpaceGeneric.cpp
  gc/base/MemorySubSpaceGeneric.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/verbose/handler_standard/VerboseHandlerOutputStandard.cpp
  include_core/j9nongenerated.h
  include_core/omrgcconsts.h
Labels: comp:gc, comp:core

#6679 Add option to enable/disable compilation before a checkpoint
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6685 Don't wait indefinitely to gather stack traces
  port/unix/omrintrospect.c
Labels: comp:port

#6672 Uncomment the code have 2 dependency with downstream projects
  example/glue/ScavengerDelegate.cpp
  example/glue/ScavengerDelegate.hpp
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
  gc/base/standard/HeapWalker.cpp
  gc/base/standard/HeapWalker.hpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#6694 Refactor idle tuning fields
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/ParallelGlobalGC.cpp
Labels: comp:gc

#6696 AArch64: Fix CodeGenerator to support the method starts with `proc` instruction
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:aarch64

#6697 Update HeapWalker.newInstance for initializing the delegate
  gc/base/standard/HeapWalker.cpp
  gc/base/standard/HeapWalker.hpp
Labels: comp:gc

#6698 AArch64: Fix vector compare evaluators
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6700 Update ParallelHeapWalker.newInstance for initializing the delegate
  gc/base/ParallelHeapWalker.cpp
Labels: comp:gc

#6677 Ignore opcodes when attempting to fold array class tests
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6695 Add ability to reinitialize TR_X86ProcessorInfo
  compiler/env/OMRCPU.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
Labels: comp:compiler, arch:x86

#6702 Fix build breaks with gcc 11.3.1
  README.md
  omrtrace/CMakeLists.txt
Labels: documentation, comp:omrtrace

#6703 AArch64: Implement evaluators for masked vector binary operations
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6699 x86: Fix EVEX mem-ref displacement
  compiler/x/codegen/OMRMemoryReference.cpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86

#6676 Remove vectorToScalar OMRDataType query
  compiler/il/Aliases.cpp
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
Labels: comp:compiler

#6720 Add TR::Region allocator/deallocator to TR_DataFlowAnalysis
  compiler/optimizer/DataFlowAnalysis.hpp
Labels: comp:compiler

#6525 PR Builds: New Features
  buildenv/docker/x86_64/ubuntu16/Dockerfile
  buildenv/docker/x86_64/ubuntu20/Dockerfile
  buildenv/jenkins/omrbuild.groovy
  doc/GuideForCommitters.md
  fvtest/porttest/CMakeLists.txt
Labels: build / configure, ci

#6708 Correct constraint range for iushr and lushr with negative operand
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6727 AArch64: Fix compilation warning
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6729 AArch64: Fix handling of mask and shift operation
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6728 AArch64: Add binary encoding test cases for vsplats
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:test

#6731 AArch64 Mac: Update TestCodeCacheManager to enable compiler unit tests
  compiler/runtime/Trampoline.cpp
  fvtest/compilertest/runtime/TestCodeCacheManager.cpp
Labels: comp:compiler, comp:test

#6733 Replace whitelist with allowlist
  buildenv/jenkins/README.md
  compiler/control/OMROptions.cpp
Labels: comp:compiler, build / configure, ci

#6722 Fix VABS evaluator
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:z

#6691 zTPF: Disable address range search on mmap failure
  port/ztpf/omrvmem.c
Labels: comp:port, os:ztpf

#6713 Arch64: Add vector extract instruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/aarch64/codegen/OpBinary.cpp
  compiler/ras/Debug.hpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6593 Add Heap Fixup GC Logging and J9MM Tracepoints
  gc/base/j9mm.tdf
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/CompactScheme.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/stats/GlobalGCStats.hpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/VerboseHandlerOutput.hpp
Labels: comp:gc

#6735 Apply various fixes for the Mask and Vector types
  compiler/il/ILOpCodes.hpp
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRDataTypes_inlines.hpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRILOps.cpp
  compiler/il/OMRILOps.hpp
  compiler/ilgen/OMRIlType.cpp
  compiler/ilgen/OMRIlType.hpp
  compiler/optimizer/OMROptimizer.cpp
  fvtest/tril/tril/ilgen.hpp
Labels: comp:compiler, comp:test, comp:tril

#6730 Make unreachableOrphan a member method
  compiler/infra/OMRCfg.cpp
  compiler/infra/OMRCfg.hpp
Labels: comp:compiler

#6671 x86: Implement vmul for byte
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:x86

#6632 Support vector write mask registers on x86
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/RegisterConstants.hpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/x/amd64/codegen/AMD64SystemLinkage.cpp
  compiler/x/amd64/codegen/OMRRealRegister.cpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/amd64/codegen/RealRegisterMaskEnum.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRInstructionKindEnum.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRRealRegister.cpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86LinkageProperties.hpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/i386/codegen/IA32SystemLinkage.cpp
  compiler/x/i386/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  compiler/x/i386/codegen/RealRegisterMaskEnum.hpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, arch:x86

#6715 Fix discrepancy in GC Extensions Base functions
  example/glue/ObjectModelDelegate.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/ConcurrentCardTable.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentOverflow.cpp
  gc/base/standard/ConfigurationGenerational.cpp
  gc/base/standard/HeapWalker.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.hpp
  gc/structs/SublistFragment.cpp
Labels: comp:gc

#6737 AArch64: Add vector extract narrow instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, arch:aarch64

#6712 Stop sharing TR_VirtualGuard between multiple guards with the same BCI
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/VirtualGuard.cpp
  compiler/compile/VirtualGuard.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/LoopVersioner.hpp
  compiler/optimizer/OMROptimization.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/VirtualGuardCoalescer.cpp
  compiler/ras/Debug.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
Labels: comp:compiler

#6743 Fix file mode of port/ztpf/omrvmem.c
  port/ztpf/omrvmem.c
Labels: comp:port, os:ztpf

#6744 Cleanup after functions renaming
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc
