Repository eclipse-omr/omr, pull requests merged in 2022-12, with the labels that each got.

#6825 Implement vectorized comparisons for all vector types on PPC
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:power

#6801 Add type hint class to VP
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPConstraint.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6832 Enable vbitselect IL opcode on PPC
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:power

#6833 AArch64: Enable vbitselect opcode for all element types
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6834 Use LDE to load single precision floating point values
  compiler/z/codegen/FPTreeEvaluator.cpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
  compiler/z/codegen/S390Instruction.cpp
Labels: comp:compiler, arch:z

#6807 Z: Account for vector registers in bit masks for register assignment
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/OMRMachine.hpp
Labels: comp:compiler, arch:z

#6831 GC Thread Pool Tuning for CRIU
  gc/base/Configuration.cpp
  gc/base/Configuration.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
  gc/base/j9mm.tdf
  gc/base/standard/ConfigurationGenerational.cpp
  gc/base/standard/ConfigurationGenerational.hpp
  gc/base/standard/ConfigurationStandard.cpp
  gc/base/standard/ConfigurationStandard.hpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#6820 Make LocalCSE methods virtual
  compiler/optimizer/OMRLocalCSE.hpp
Labels: comp:compiler

#6830 Pass task port for core dump using IPC
  port/osx/omrosdump.c
Labels: comp:port, os:macos, arch:x86

#6839 Fix Reporting Of Scavenger Adaptive Threading trc point
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#6822 Make methods in LocalDeadStoreElimination virtual
  compiler/optimizer/LocalDeadStoreElimination.hpp
Labels: comp:compiler

#6827 Split generateInterpreterEntryInstruction out of doBinaryEncoding
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:x86

#6843 GVP fix for SVM AOT compiles
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6844 AArch64: Implement a case in loadRelocatableConstant()
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: comp:compiler, arch:aarch64

#6842 Expose a new limitOption for OpenJ9
  compiler/ras/Debug.hpp
  compiler/ras/LimitFile.cpp
Labels: comp:compiler

#6852 AArch64: Add N bit argument to generateTestImmInstruction
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
Labels: comp:compiler, arch:aarch64
