Repository eclipse-omr/omr, pull requests merged in 2022-06, with the labels that each got.

#6540 AArch64: Add vector reduce min/max instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6538 Revert "Revert "Implement 256 and 512-bit vload/vstore on x86""
  compiler/il/OMRDataTypes.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:x86

#6533 Re-enable omrport tests on all platforms
  fvtest/porttest/CMakeLists.txt
Labels: comp:port, comp:test, build / configure, ci, os:aix, arch:power

#6543 Check for bit length of constant before addConstantToInteger
  compiler/p/codegen/ControlFlowEvaluator.cpp
Labels: comp:compiler, arch:power

#6545 Ensure calls to feGetEnv are cached
  compiler/optimizer/InductionVariable.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/runtime/X86Runtime.hpp
Labels: comp:compiler, arch:x86

#6531 Make versioner skip loops that have become acyclic during the pass
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#6549 Indirect SignalThreadsForWB step1
  gc/base/standard/ConcurrentGC.hpp
Labels: comp:gc

#6495 Implement vectorized lanewise minimum and maximum for all vector types on PPC
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:power

#6548 Indirect SignalThreadsForWB step2
  example/glue/ConcurrentMarkingDelegate.hpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
Labels: comp:gc

#6550 AArch64: Implement vmin/vmax evaluators
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6552 Re-enable dump_test_create_dump_with_no_path
  fvtest/porttest/CMakeLists.txt
Labels: comp:test

#6551 AArch64 macOS: Add a call to pthread_jit_write_protect_np()
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
Labels: comp:compiler, os:macos, arch:aarch64

#6554 Create verbose option for VectorAPIExpansion
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/VerboseLog.cpp
  compiler/env/VerboseLog.hpp
Labels: comp:compiler

#6564 AArch64: Add vector add pairwise instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6565 AArch64: vector floating point add pairwise instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6560 AArch64 macOS: Add TR_ARM64fieldWatchHelper to Helpers.inc
  compiler/runtime/Helpers.inc
Labels: comp:compiler, arch:aarch64

#6568 macOS: Use clock_gettime_nsec_np() for omrtime_hires_clock()
  port/unix/omrtime.c
Labels: comp:port, os:macos

#6567 Add test for omrsysinfo_is_running_in_container
  fvtest/porttest/si.cpp
Labels: comp:test

#6569 Revert "macOS: Use clock_gettime_nsec_np() for omrtime_hires_clock()"
  port/unix/omrtime.c
Labels: comp:port, os:macos

#6559 Add test for cgroup subsystem iterator functions
  fvtest/porttest/si.cpp
  port/unix/omrsysinfo.c
Labels: comp:test

#6563 Add OMR Option to disable merging of OSR Guards
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6573 macOS: Use clock_gettime_nsec_np() for omrtime_hires_clock()
  port/unix/omrtime.c
Labels: comp:port, os:macos

#6474 Skip enum NumOMRTypes in for loop
  compiler/optimizer/OMRSimplifierHelpers.cpp
Labels: comp:compiler

#6498 RISC-V: use `stopUsingDepRegs`
  compiler/riscv/codegen/OMRRegisterDependency.cpp
  compiler/riscv/codegen/OMRRegisterDependency.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
Labels: comp:compiler, arch:riscv

#6541 Make LocalDeadStoreElimination members/methods protected
  compiler/optimizer/LocalDeadStoreElimination.hpp
Labels: comp:compiler

#6561 Make Some TR_SinkStores Members Virtual and Protected
  compiler/optimizer/SinkStores.hpp
Labels: comp:compiler

#6500 RISC-V: implement directCallRequiresTrampoline()
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:riscv

#6585 AArch64: Implement evaluators for reduce bitwise logical operations.
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6576 Move removal of exception edges to before collecting fixable predecessors
  compiler/optimizer/LocalOpts.cpp
Labels: comp:compiler

#6587 Use a wider type for local variables holding the cache line size
  port/unix/omrcpu.c
  util/omrutil/j9memclr.cpp
Labels: comp:port, comp:utilities

#6574 Make getSupportsOpCodeForAutoSIMD() statically accessible
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:aarch64, arch:x86, arch:power, arch:z

#6562 Implement evaluators for different Vector Opcodes
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:z

#6590 AArch64: Implement vbitselect evaluator
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6594 Fix format specifier in s390 VGNOP trace
  compiler/z/codegen/S390Instruction.cpp
Labels: comp:compiler, arch:z
