Repository eclipse-omr/omr, pull requests merged in 2022-04, with the labels that each got.

#6452 Make _vfpState and _vfpResetInstruction protected
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:x86

#6453 Remove markdown syntax (`) from C source file
  port/unix/omrsysinfo.c
Labels: comp:port

#6454 AArch64: Do not skip l2a node if the MemoryReference has UnresolvedDataSnippet
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: comp:compiler, arch:aarch64

#6456 AArch64: Enable vector bitwise logical operations for all integer types
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6440 Rename memory TR::Region fields in Structure to improve code clarity
  compiler/il/OMRBlock.cpp
  compiler/infra/OMRCfg.cpp
  compiler/infra/OMRCfg.hpp
  compiler/optimizer/GeneralLoopUnroller.cpp
  compiler/optimizer/LoopCanonicalizer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/StructuralAnalysis.cpp
  compiler/optimizer/StructuralAnalysis.hpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/Structure.hpp
  compiler/optimizer/VirtualGuardCoalescer.cpp
Labels: comp:compiler

#6086 Add support for AVX512
  compiler/codegen/RegisterConstants.hpp
  compiler/env/ProcessorInfo.hpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/amd64/codegen/RealRegisterMaskEnum.hpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/env/OMRCPU.cpp
  compiler/x/i386/codegen/OMRMachine.cpp
  compiler/x/i386/codegen/OMRMachine.hpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  compiler/x/i386/codegen/RealRegisterMaskEnum.hpp
  compiler/z/codegen/S390Debug.cpp
Labels: comp:compiler, arch:x86

#6455 Restrict checkcast and profiled guard coalescer cold merge special case
  compiler/optimizer/LocalOpts.cpp
Labels: comp:compiler

#6462 Revert "Add support for AVX512"
  compiler/codegen/RegisterConstants.hpp
  compiler/env/ProcessorInfo.hpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/amd64/codegen/RealRegisterMaskEnum.hpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/env/OMRCPU.cpp
  compiler/x/i386/codegen/OMRMachine.cpp
  compiler/x/i386/codegen/OMRMachine.hpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  compiler/x/i386/codegen/RealRegisterMaskEnum.hpp
  compiler/z/codegen/S390Debug.cpp
Labels: comp:compiler, arch:x86, arch:z

#6461 AArch64: Suppress warnings in BeforeBinaryEncodingExternalRelocation
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6449 Issue #6448: Fix variable set but not used compile errors
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/ConcurrentCardTable.cpp
  port/osx/omrosdump.c
Labels: comp:gc, comp:port, os:macos, arch:x86, first contribution

#6267 Enable native stack output in osx javacores
  port/osx/omrintrospect.c
  port/osx/omrosbacktrace_impl.c
Labels: comp:port, os:macos, arch:x86, first contribution

#6457 Add VPHandler constrainNewvalue
  compiler/env/OMRClassEnv.hpp
  compiler/il/OMRBlock.cpp
  compiler/il/OMRBlock.hpp
  compiler/il/OMRNode.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationTable.hpp
Labels: comp:compiler

#6418 Decompression sequence results should be placed in memref's base
  compiler/z/codegen/OMRMemoryReference.cpp
Labels: comp:compiler, arch:z

#6469 AArch64: Add vector reverse elements instrucitons
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6470 AArch64: Add vector zip/unzip instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6464 Remove OMR_ENABLE_EXCEPTION_OUTPUT
  omrtrace/omrtrace_internal.h
  omrtrace/omrtraceapi.cpp
  omrtrace/omrtracelog.cpp
Labels: comp:omrtrace

#6473 AArch64: Add vector widening multiplication instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6475 AArch64: Implement vmul for vectors with 64-bit integer elements
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:aarch64

#6467 Fix compile and test errors with OSX omrintrospect
  port/osx/omrintrospect.c
  port/osx/omrosbacktrace_impl.c
Labels: comp:port, os:macos, arch:x86

#6466 macOS: Adjust segment offset in the core file
  port/osx/omrosdump.c
Labels: comp:port, os:macos

#6463 Add support for AVX512
  compiler/codegen/RegisterConstants.hpp
  compiler/env/ProcessorInfo.hpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/env/OMRCPU.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  compiler/z/codegen/S390Debug.cpp
Labels: comp:compiler, arch:x86, arch:z

#6478 Remove unused AOTcg macros
  compiler/codegen/Relocation.hpp
Labels: comp:compiler

#6480 Remove non-referenced member variables in OMRCompilation
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
Labels: comp:compiler

#6481 AArch64: Use MOVI for broadcasting immediate value into vector registers
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6458 Implement new vector opcodes
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRTreeEvaluator.hpp
  compiler/il/ILOpCodes.hpp
  compiler/il/ILOpCodesEnum.hpp
  compiler/il/ILOps.hpp
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRILOpCodeProperties.hpp
  compiler/il/OMRILOpCodesEnum.hpp
  compiler/il/OMRILOps.cpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMROpcodes.enum
  compiler/il/VectorOperations.enum
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/optimizer/OMRSimplifier.cpp
  compiler/optimizer/OMRSimplifierHandlers.hpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/SimplifierTable.hpp
  compiler/optimizer/VPHandlersCommon.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/ras/Tree.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/tril/tril/ilgen.hpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:power

#6388 SATB TLH Batch Mark
  example/glue/ObjectModelDelegate.hpp
  gc/base/GlobalCollector.hpp
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/ParallelHeapWalker.cpp
  gc/base/TLHAllocationInterface.cpp
  gc/base/TLHAllocationInterface.hpp
  gc/base/TLHAllocationSupport.cpp
  gc/base/TLHAllocationSupport.hpp
  gc/base/segregated/SegregatedMarkingScheme.hpp
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
  gc/base/standard/ConcurrentGCIncrementalUpdate.hpp
  gc/base/standard/ConcurrentGCSATB.cpp
  gc/base/standard/ConcurrentGCSATB.hpp
  gc/base/standard/ParallelSweepScheme.cpp
Labels: comp:gc

#6471 Set flavor and count in AArch64 macOS core file
  port/osx/omrosdump.c
Labels: comp:port, os:macos, arch:aarch64

#6432 Locate and read cgroup files for cgroup v2
  include_core/omrporterror.h
  port/common/omrport.tdf
  port/unix/omrsysinfo.c
  port/unix_include/omrportpg.h
  port/zos390/omrportpg.h
Labels: comp:port

#6347 Introduce Off-Heap Technology for Large Arrays in a Region-Based Garbage Collector
  cmake/config.cmake
  configure
  configure.ac
  example/glue/ArrayletObjectModel.hpp
  gc/CMakeLists.txt
  gc/base/AllocateDescription.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/Heap.hpp
  gc/base/HeapSplit.cpp
  gc/base/HeapSplit.hpp
  gc/base/HeapVirtualMemory.cpp
  gc/base/HeapVirtualMemory.hpp
  gc/base/MemoryManager.cpp
  gc/base/MemoryManager.hpp
  gc/base/SparseAddressOrderedFixedSizeDataPool.cpp
  gc/base/SparseAddressOrderedFixedSizeDataPool.hpp
  gc/base/SparseHeapLinkedFreeHeader.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
  gc/base/VirtualMemory.hpp
  gc/base/j9mm.tdf
  gc/include/RootScannerTypes.h
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/schema.xsd
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
Labels: comp:gc, build / configure, cmake, comp:core

#6410 Implement vectorized FMA of Double and Float Vectors
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:power

#6485 Help Visual Studio understand that .hpp files contain C++ code
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#6476 Jb2 fixes
  compiler/control/CompileMethod.cpp
  compiler/env/TRMemory.hpp
  compiler/ilgen/IlBuilder.hpp
  compiler/ilgen/OMRBytecodeBuilder.cpp
  compiler/ilgen/OMRBytecodeBuilder.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  compiler/ilgen/OMRTypeDictionary.cpp
  fvtest/compilertest/ilgen/IlBuilder.hpp
  fvtest/compilertest/ilgen/TestIlBuilder.hpp
  jitbuilder/compile/ResolvedMethod.cpp
  jitbuilder/compile/ResolvedMethod.hpp
Labels: comp:compiler, comp:jitbuilder

#6483 Add genLoadProfiledClassAddressConstant helper in Z codegen
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/S390Evaluator.hpp
Labels: comp:compiler, arch:z

#6443 Update ResolvedMethod API for getResolvedDynamic/HandleMethod
  compiler/compile/ResolvedMethod.cpp
  compiler/compile/ResolvedMethod.hpp
Labels: comp:compiler

#6459 AArch64: Implement evaluator for vector fma
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6306 RISC-V: implement virtual guard nopping
  compiler/riscv/codegen/ControlFlowEvaluator.cpp
  compiler/riscv/codegen/GenerateInstructions.cpp
  compiler/riscv/codegen/GenerateInstructions.hpp
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRInstructionKindEnum.hpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVInstruction.hpp
Labels: comp:compiler, arch:riscv

#6482 Move J9 specific i386 evaluators to OpenJ9
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:x86

#6492 Fix file mode
  compiler/control/CompileMethod.cpp
  compiler/env/TRMemory.hpp
  compiler/ilgen/OMRBytecodeBuilder.cpp
  compiler/ilgen/OMRBytecodeBuilder.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  jitbuilder/compile/ResolvedMethod.cpp
Labels: comp:compiler, comp:jitbuilder

#6493 AArch64: Add SIMD copy instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6487 Remove the --gtest_filter=${porttest_filter} option for porttest
  azure-pipelines.yml
  fvtest/porttest/CMakeLists.txt
Labels: comp:test
