Repository eclipse-omr/omr, pull requests merged in 2022-11, with the labels that each got.

#6792 AArch64: Add support for mustNormalizeNanValues in fbits2i/dbits2l
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6595 Add option to limit trace file length
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#6793 AArch64: Implement unordered fcmp/dcmp evaluators
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  fvtest/compilertriltest/CompareTest.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6786 Enable vload/vstore/mload/mstore for Byte and ShortVectors on P9+/big endian power systems
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:power

#6797 Avoid analyzing OSR guards as virtual guards in versioner
  compiler/compile/VirtualGuard.cpp
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#6802 AArch64: Disable GRA for vector types
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:aarch64

#6803 AArch64: Handle unaligned immediate offset memory access case
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6800 Fix check of trace file length
  compiler/ras/Debug.cpp
Labels: comp:compiler

#6783 Add mask reduction opcodes
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRILProps.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:z, arch:riscv

#6796 Attempt user name retrieval with sysinfo_get_env()
  include_core/omrport.h
  port/common/omrportcontrol.c
  port/common/omrstr.c
  port/unix/omrsysinfo.c
  port/unix_include/omrportpg.h
  port/zos390/omrportpg.h
Labels: comp:port

#6794 AArch64: Fix iffcmpne/ifdcmpne evaluators for unordered case
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6816 Use CRIU technology term instead of vendor-specific product naming
  include_core/omrport.h
  port/common/omrportcontrol.c
  port/common/omrstr.c
  port/unix/omrsysinfo.c
  port/unix_include/omrportpg.h
  port/zos390/omrportpg.h
Labels: comp:port, arch:z, comp:core

#6814 Factor VP interface type signature detection logic into its own method
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6784 AArch64: Add variants of vector shift instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6813 Remove findOrFabricateFlattenedArrayElementFieldShadowSymbol
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Labels: comp:compiler

#6811 Modify method computeIsCollectedReferenceImpl to protected
  compiler/il/OMRNode.hpp
Labels: comp:compiler

#6818 Fix the data type of vector mask reduction node
  compiler/il/OMRILOps.hpp
  compiler/il/VectorOperations.enum
Labels: comp:compiler

#6810 AArch64: Implement Vector Masked Compare operations
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6817 AArch64: Implement mask reduction operation evaluators
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6823 Remove Java-specific interface signature logic from VP
  compiler/optimizer/OMRValuePropagation.cpp
Labels: comp:compiler

#6824 Add execute flag for __moservice allocations on zOS
  port/zos390/omrvmem.c
Labels: comp:port, arch:z

#6779 Replace zNext with z16
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/z/codegen/OMRInstOpCode.enum
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
  include_core/omrport.h
  port/unix/omrsysinfo.c
Labels: comp:compiler, comp:port, arch:z, comp:core

#6819 Make x86 supports TM query consistent with other platforms
  compiler/x/env/OMRCPU.cpp
Labels: comp:compiler, arch:x86

#6828 We do not need disableOSRGuardsMerging to enforceVectorAPIExpansion
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#6829 msg field in JIT OptionTable must not be NULL
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#6795 Add option to skip ilgen optimizations
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/il/OMRResolvedMethodSymbol.cpp
Labels: comp:compiler

#6652 Add integer exponent code sample to JitBuilder
  jitbuilder/release/CMakeLists.txt
  jitbuilder/release/cpp/samples/Power.cpp
  jitbuilder/release/cpp/samples/Power.hpp
Labels: comp:jitbuilder, first contribution
