Repository eclipse-omr/omr, pull requests merged in 2022-05, with the labels that each got.

#6465 Collect cgroup v2 memory stats
  port/unix/omrsysinfo.c
Labels: comp:port, comp:core

#6505 AArch64: Implement vdiv evaluator for integer elements
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6506 AArch64: Add Vector Shift Left Long instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6479 Update omrsysinfo_get_number_CPUs_by_type for cgroup v2
  include_core/omrporterror.h
  port/common/omrport.tdf
  port/unix/omrsysinfo.c
Labels: comp:port, arch:z, comp:core

#6497 Replace Master to Main leftover
  gc/base/j9mm.tdf
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#6488 Refactor X86 binary encoding to support encoding form override
  compiler/x/codegen/DivideCheckSnippet.cpp
  compiler/x/codegen/Instruction.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRInstruction.cpp
  compiler/x/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/RestartSnippet.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86

#6503 Correct usage of x86 directCallRequiresTrampoline() API
  compiler/x/amd64/objectfmt/OMRJitCodeRWXObjectFormat.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler

#6496 Transform old vector opcodes into new ones
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/il/Aliases.cpp
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRDataTypes_inlines.hpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMROpcodes.enum
  compiler/il/VectorOperations.enum
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  doc/compiler/tril/TrilLanguageReference.md
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/tril/tril/GenericNodeConverter.cpp
  fvtest/tril/tril/ilgen.hpp
Labels: comp:compiler, comp:test, documentation, comp:tril, arch:aarch64, arch:x86, arch:power, arch:z

#6510 Fix omrfileTest failures when running as root
  fvtest/porttest/omrfileTest.cpp
Labels: comp:test

#6513 Fix PortSysinfoTest failure when running as root
  fvtest/porttest/si.cpp
Labels: comp:test

#6515 Fix computation of cache-line size on Power
  include_core/omrutil.h
  port/unix/omrcpu.c
  port/unix_include/omrportpg.h
  util/omrutil/j9memclr.cpp
Labels: comp:port

#6489 Implement vectorized absolute value and square root for all applicable vector types on PPC
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:power

#6460 AArch64: Implement vsqrtEvaluator
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6518 AArch64: Implement vectorized absolute value evaluator
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6494 Update omrsysinfo_cgroup_subsystem_iterator functions for cgroup v2
  port/unix/omrsysinfo.c
Labels: comp:port

#6519 Fix for assertion failure during OMR acceptance build
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:power

#6521 Revert "Implement 256 and 512-bit vload/vstore on x86"
  compiler/il/OMRDataTypes.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:x86

#6517 Enable Vectorization for supported ops on Z
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:z

#6522 Fix for assertion failure during OMR acceptance build
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:power

#6472 TLH Alignment for Spanning Sweep Chunks
  gc/base/MemoryPoolAddressOrderedList.cpp
  gc/base/MemoryPoolAddressOrderedList.hpp
  gc/base/omrmmprivate.hdf
  gc/base/standard/ConcurrentGCSATB.cpp
  gc/base/standard/ConcurrentGCSATB.hpp
Labels: comp:gc

#6524 Fix logic for checking for referenced in nearest loop
  compiler/optimizer/RegisterCandidate.cpp
Labels: comp:compiler

#6527 Improve dwarfdump attribute value parsing
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
Labels: comp:diagnostic

#6530 Add defaultValueSymbol for value type class
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#6507 Get opendir to use the cwd if the corepath is blank
  port/aix/omrosdump_helpers.c
  port/unix/omrosdump.c
Labels: comp:port, os:aix, arch:power

#6523 Fix usage of pTOC with portableSCC code run in P10 container
  compiler/p/codegen/PPCSystemLinkage.cpp
Labels: comp:compiler, arch:power, first contribution

#6534 Fix static init of vector types
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRDataTypes_inlines.hpp
  compiler/il/OMRILOps.cpp
Labels: comp:compiler
