Repository eclipse-omr/omr, pull requests merged in 2022-08, with the labels that each got.

#6629 Add options to control the costs of collecting thread stack traces
  include_core/omrport.h
  port/aix/omrosbacktrace_impl.c
  port/common/omrosbacktrace.c
  port/common/omrosbacktrace_impl.c
  port/common/omrport.c
  port/linux/omrosbacktrace_impl.c
  port/omrportpriv.h
  port/osx/omrintrospect.c
  port/osx/omrosbacktrace_impl.c
  port/unix/omrintrospect.c
  port/win32/omrintrospect.c
  port/win32/omrosbacktrace_impl.c
  port/zos390/omrosbacktrace_impl.c
  port/ztpf/omrintrospect.c
  port/ztpf/omrosbacktrace_impl.c
Labels: comp:port, os:aix, os:linux, os:macos, os:windows, arch:x86, arch:power, arch:z, comp:core, os:ztpf

#6638 Add verbose option for interpreter profiling persistence
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6631 Remove duplicate _opcode at arm and x level
  compiler/arm/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRInstruction.hpp
Labels: comp:compiler, arch:aarch32, arch:x86

#6599 Implement batch of vector opcodes (128, 256, 512-bit) on x86
  compiler/il/OMRILOps.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86

#6628 Fix message output in replacing virtual guard
  compiler/optimizer/OMRValuePropagation.cpp
Labels: comp:compiler

#6614 Add Enforce Vector API Expansion Option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6633 Fix: Heap Corruption from Ownable Synchronizers Lists with Concurrent Scavenger
  gc/base/standard/ParallelGlobalGC.cpp
Labels: comp:gc

#6642 Add API for performing analysis in Liveness
  compiler/optimizer/DataFlowAnalysis.hpp
Labels: comp:compiler

#6619 Check call has one predecessor before considering eliminating guard
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6641 Add External Relocation Record TR_StaticDefaultValueInstance
  compiler/codegen/Relocation.cpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Runtime.hpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Labels: comp:compiler, arch:x86

#6640 Remove duplicate and non-extended methods in Instruction
  compiler/aarch64/codegen/OMRInstruction.hpp
  compiler/arm/codegen/OMRInstruction.hpp
  compiler/p/codegen/OMRInstruction.hpp
  compiler/riscv/codegen/OMRInstruction.hpp
  compiler/x/codegen/OMRInstruction.hpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:riscv

#6647 Disallow suffixLogs-related options in subset
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#6649 x86: Add SIMD instructions and update flags
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86

#6646 Make TR_Uncopyable more widely available as TR::Uncopyable
  compiler/env/FrontEnd.hpp
  compiler/ilgen/OMRTypeDictionary.cpp
  compiler/ilgen/OMRTypeDictionary.hpp
  compiler/infra/String.hpp
  compiler/infra/Uncopyable.hpp
Labels: comp:compiler

#6650 x86: implement vsplats for all vector lengths
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:compiler, arch:x86

#6648 Replace TR::Region::create() with registerDestructor()
  compiler/env/Region.cpp
  compiler/env/Region.hpp
Labels: comp:compiler

#6655 Correct the OMR_InlinerPolicy::suitableForRemat() doc comment
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#6651 Flush Ownable Synchronizer Buffers For Each Concurrent Scavenge Phase
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#6532 Add dump_test_create_dump_with_no_path
  fvtest/porttest/omrdumpTest.cpp
  fvtest/porttest/testHelpers.cpp
  port/aix/omrosdump_helpers.c
Labels: comp:port, comp:test, os:aix, arch:power

#6664 AArch64: Implement vector compare evaluators
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6659 Provide a way to mark cold the taken side of a profiled guard
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
Labels: comp:compiler

#6618 Implement VMIN and VMAX Evaluator
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:z

#6653 x86: Support f/d vmin/vmax at 128 and 256 bits
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:x86

#6663 Correct the comment describing the allocated ranges of node flag bits
  compiler/il/OMRNode.hpp
  compiler/optimizer/LocalOpts.cpp
Labels: comp:compiler

#6661 Version profiled guards with cold targets regardless of profiling
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#6662 Use performTransformation() for VP VFT load folding
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6666 Disable PriorityInterrupt on Linux riscv64
  fvtest/threadtest/CMakeLists.txt
Labels: comp:test, build / configure, ci

#6657 x86: Implement vector FMA operations
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/env/OMRCPU.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86

#6634 x86: Support bitwise vector opcodes for each data-type
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#6660 Improve VP's handling of guards with method tests
  compiler/env/OMRClassEnv.cpp
  compiler/env/OMRClassEnv.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#6668 Remove dummy opcode value setting in Instruction constructor
  compiler/arm/codegen/OMRInstruction.cpp
  compiler/x/codegen/Instruction.hpp
Labels: comp:compiler, arch:aarch32, arch:x86

#6575 Support Continuation Object Scanning
  example/glue/HeapWalkerDelegate.hpp
  example/glue/ScavengerDelegate.cpp
  example/glue/ScavengerDelegate.hpp
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
  gc/base/standard/HeapWalker.cpp
  gc/base/standard/HeapWalker.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/include/RootScannerTypes.h
  gc/stats/AllocationStats.cpp
  gc/stats/AllocationStats.hpp
  gc/verbose/schema.xsd
  include_core/omrgcconsts.h
Labels: comp:gc

#6673 Add verbose option and tags for checkpoint restore
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/VerboseLog.cpp
  compiler/env/VerboseLog.hpp
Labels: comp:compiler

#6645 x86: Implement vector reduction opcodes
  compiler/il/OMRILOps.hpp
  compiler/il/VectorOperations.enum
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:compiler, arch:x86

#6669 x86: Implement vabs for f/d
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:x86
