Repository eclipse-omr/omr, pull requests merged in 2022-01, with the labels that each got.

#6266 Proper Overflow Handling For SATB
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ConcurrentGC.hpp
  gc/base/standard/ConcurrentGCIncrementalUpdate.cpp
  gc/base/standard/ConcurrentGCIncrementalUpdate.hpp
  gc/base/standard/ConcurrentOverflow.cpp
  gc/base/standard/OverflowStandard.cpp
  gc/base/standard/ParallelGlobalGC.hpp
Labels: comp:gc

#6281 Minor cleanup of PRE code
  compiler/optimizer/PartialRedundancy.cpp
Labels: comp:compiler

#6280 AArch64: Privatize constructors of MemoryReference class
  compiler/aarch64/codegen/MemoryReference.hpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
Labels: comp:compiler, arch:aarch64

#6282 Add a memory category for the Foreign Linker API
  include_core/omrmemcategories.h
Labels: comp:core

#6285 Revert "Add a memory category for the Foreign Linker API"
  include_core/omrmemcategories.h
Labels: comp:core

#6278 AArch64: Add getOutgoingArgumentMemRef() to OMRLinkage
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
Labels: comp:compiler, arch:aarch64

#6284 AArch64: Use builtin functions for populationCount
  compiler/infra/Bit.hpp
Labels: comp:compiler

#6289 AArch64: Use shifted register instruction for binary operations
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6290 AArch64: Use mvn instruction for xor with -1
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
Labels: comp:compiler, arch:aarch64

#6269 Suppress DDR 'Generating' messages
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#6293 AArch64: Add support for macOS in SystemLinkage
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
Labels: comp:compiler, os:macos, arch:aarch64

#6288 Remove mmx register support on x86
  compiler/x/amd64/codegen/OMRRealRegister.cpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/amd64/codegen/RealRegisterMaskEnum.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRRealRegister.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/i386/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  compiler/x/i386/codegen/RealRegisterMaskEnum.hpp
Labels: comp:compiler, arch:x86

#6275 AArch64 macOS: Implement omrosdump.c
  port/osx/omrosdump.c
Labels: comp:port, os:macos, arch:aarch64

#6297 Update macOS version for Azure Pipelines
  azure-pipelines.yml
Labels: ci

#6304 AArch64: Use bitwise logical operation with NOT if possible
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6257 Fix output for scratchSpaceLimit and scratchSpaceLowerBound
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#6286 Remove declared only methods
  compiler/infra/OMRCfg.hpp
Labels: comp:compiler

#6292 Correct repository URL
  buildenv/jenkins/jobs/pull-requests/PullRequest-zos_390-64
  buildenv/jenkins/omrbuild.groovy
Labels: build / configure, ci, os:zos

#6311 AArch64: Define LOAD_FUNC_PTR() in arm64asmdefs.inc
  compiler/aarch64/runtime/arm64asmdefs.inc
Labels: comp:compiler, arch:aarch64

#6294 Create configuration that favors throughput over other metrics
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6312 Enable vadd and vsub for Byte and Short vectors of size 128
  compiler/x/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:x86

#6309 Add a function to compute the current time zone
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrstr.c
  port/omrportpriv.h
Labels: comp:port, comp:core, first contribution

#6287 Add OMRMEM_CATEGORY_10_CHILDREN in omrmemcategories.h
  include_core/omrmemcategories.h
Labels: comp:core

#6276 Add zNext improvements to z/codegen
  compiler/control/OMROptions.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/InstOpCode.cpp
  compiler/z/codegen/OMRInstOpCode.enum
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRInstructionKindEnum.hpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
  include_core/omrport.h
  port/unix/omrsysinfo.c
  port/unix_include/omrportpg.h
  port/zos390/omrportpg.h
Labels: comp:compiler, comp:port, arch:z, comp:core

#6301 Fix problems compiling with gcc 10
  compiler/codegen/OMRRegisterDependency.hpp
  compiler/x/codegen/OMRRegisterDependency.hpp
  compiler/z/codegen/OMRRegisterDependency.hpp
Labels: comp:compiler, arch:x86, arch:z

#6303 Update allocateHint during incremental card alignment
  gc/base/MemoryPoolAddressOrderedList.cpp
Labels: comp:gc

#6310 Add missing identity queries to IlType service API
  jitbuilder/apigen/jitbuilder.api.json
Labels: comp:jitbuilder

#6270 AArch64 macOS: Call pthread_jit_write_protect_np()
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/runtime/VirtualGuardRuntime.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCacheManager.cpp
  port/osx/omrvmem.c
Labels: comp:compiler, os:macos, arch:aarch64

#6317 AArch64: Fix register assigner for vector register case
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
Labels: comp:compiler, arch:aarch64

#6319 Read core memory segments into local buffer
  port/osx/omrosdump.c
Labels: comp:port, os:macos, arch:x86
