Repository eclipse-omr/omr, pull requests merged in 2023-09, with the labels that each got.

#7109 Avoid cmake policy CMP0140 warnings
  cmake/modules/ddr/GenerateStub.cmake
Labels: build / configure, cmake

#6983 Create arraycmplen opcode to replace arraycmp + arrayCmpLen flag
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/il/Aliases.cpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/ras/Debug.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/ArrayTest.cpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:riscv

#7116 Cumulative thread allocation stats
  gc/stats/AllocationStats.cpp
  gc/stats/AllocationStats.hpp
Labels: comp:gc

#7117 Fix for a missing allocationFence in transformArrayCloneCall()
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7123 Add missing default cases to switch statements
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:aarch64

#7113 x86: Implement vbitselect evaluator
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/VectorTest.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:x86

#7126 Add VGC output for softmax
  gc/verbose/VerboseHandlerOutput.cpp
Labels: comp:gc

#7112 Z: Split flag for transactional execution facility
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
  include_core/omrport.h
  port/unix/omrsysinfo.c
Labels: comp:compiler, comp:port, arch:z, comp:core
