Repository eclipse-omr/omr, pull requests merged in 2023-08, with the labels that each got.

#7080 Add disableInliningUnrecognizedIntrinsics option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7083 AArch64: Fix helper trampoline lookup fo ARM64Trg1SymImmInstruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
Labels: comp:compiler, arch:aarch64

#7068 Nest percolate gc for aborted scavenge
  gc/base/GCCode.cpp
  gc/base/standard/Scavenger.cpp
  include_core/j9nongenerated.h
Labels: comp:gc

#7076 Replace debug printf log with trace
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/j9mm.tdf
Labels: comp:gc

#7082 Simplify SupportsConst(I|L)Div to Supports(I|L)MulHigh
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:aarch32, arch:x86, arch:power, arch:z

#7085 Revert "Simplify SupportsConst(I|L)Div to Supports(I|L)MulHigh"
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:z

#7088 Add support for CUDA versions 11.8 through 12.2.1
  port/common/omrcuda.cpp
Labels: comp:port

#7086 Fix check on virtualCallNodeForAGuardedInlinedCall
  compiler/il/OMRNode.cpp
Labels: comp:compiler

#7081 Improve vector opcodes and data types
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMRILProps.hpp
  compiler/il/VectorOperations.enum
Labels: comp:compiler

#7093 Add a flag OMRPORT_SLOPEN_NO_LOAD to test if a library was loaded
  include_core/omrport.h
  port/common/omrport.tdf
  port/unix/omrsl.c
  port/win32/omrsl.c
Labels: comp:port, os:windows, arch:x86, comp:core

#7094 Encode only valid XML characters in escapeXMLString()
  util/omrutil/xml.c
Labels: comp:utilities

#7091 Include missing JitBuilder tests
  jitbuilder/release/CMakeLists.txt
Labels: comp:jitbuilder

#7097 Make JitBuilder test optional
  jitbuilder/release/CMakeLists.txt
Labels: comp:jitbuilder

#7095 Simplify SupportsConst(I|L)Div to Supports(I|L)MulHigh
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/arm/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:z

#7089 Improve x86 code generation for constant null compression sequences
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler

#7098 Misc fixes
  compiler/ilgen/OMRIlBuilder.cpp
  fvtest/tril/CMakeLists.txt
Labels: comp:jitbuilder, comp:tril

#7099 x86: fix packing in arrayset evaluator
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#7101 Stop special-casing unevaluated aconst in Power and ARM linkage
  compiler/arm/codegen/OMRLinkage.cpp
  compiler/p/codegen/OMRLinkage.cpp
Labels: comp:compiler, arch:aarch32, arch:power

#7100 Fix printf formats in blob_reader.cpp
  ddr/tools/blob_reader/blob_reader.cpp
Labels: comp:diagnostic

#7103 x86: Support AVX512-CD
  compiler/env/ProcessorInfo.hpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/env/OMRCPU.cpp
Labels: comp:compiler, arch:x86

#7104 Fix encoding of smulh/umulh instructions on AArch64
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#7102 x86: Support masked bitwise operations for i8, i16
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86OpcodeTable.hpp
Labels: comp:compiler, arch:x86
