Repository eclipse-omr/omr, pull requests merged in 2023-06, with the labels that each got.

#7009 Rework Config initializeGCParameters for reinit
  gc/base/Configuration.cpp
  gc/base/Configuration.hpp
  gc/base/MemoryPoolSplitAddressOrderedList.cpp
  gc/base/PacketList.cpp
  gc/base/standard/CopyScanCacheList.cpp
Labels: comp:gc

#7007 Recreate simplified select node
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: comp:compiler

#7017 AArch64: Implement vector shift and rotate evaluators
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:aarch64

#7020 x86: Support multiple instruction prefixes
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.hpp
Labels: comp:compiler, arch:x86

#6985 Rename TLS macros to satisfy the uppercase convention
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/TLSCompilationManager.cpp
  compiler/control/CompilationController.cpp
  compiler/infra/ThreadLocal.hpp
Labels: comp:compiler

#6990 Rename code generator variables
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/arm/codegen/ARMSystemLinkage.cpp
  compiler/arm/codegen/ARMSystemLinkage.hpp
  compiler/arm/codegen/OMRCodeGenerator.hpp
  compiler/arm/codegen/OMRLinkage.cpp
  compiler/codegen/CodeGenGC.cpp
  compiler/codegen/GCStackMap.hpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/OMRRegisterPair.cpp
  compiler/codegen/OMRRegisterPair.hpp
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/p/codegen/PPCInstruction.hpp
  compiler/riscv/codegen/RVInstruction.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86FPConversionSnippet.hpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRLinkage.hpp
  compiler/z/codegen/SystemLinkageLinux.cpp
  compiler/z/codegen/SystemLinkagezOS.cpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:z, arch:riscv

#7023 Remove getNanoTimeTemp() from OMR
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:x86

#7022 AArch64: Add several vector unary instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#7026 AArch64: Implement Vector Population Count evaluator
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7025 Improvement for calculation of heuristic multipliers
  gc/base/MemorySubSpaceUniSpace.cpp
Labels: comp:gc

#7024 Guard isNodeCreatedByPRE() with canChkNodeCreatedByPRE()
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#6978 Provide support for LZCNT and TZCNT in X86Ops.ins
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, arch:x86, first contribution

#7030 AArch64: Implement vector number of leading/trailing zeroes evaluators
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7019 x86: Fix redundant compare elimination
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
Labels: comp:compiler, arch:x86

#7029 Ignore errors, delay and cache the result of isRunningInContainer
  nls/portnls.h
  port/common/omrsysinfo.c
  port/include/omrportpg.h
  port/unix/omrsysinfo.c
  port/unix_include/omrportpg.h
  port/win32/omrsysinfo.c
  port/win32_include/omrportpg.h
Labels: comp:port, os:windows, arch:x86

#7012 Allow Single Threaded GC Dispatch During Checkpoint
  gc/base/ParallelDispatcher.cpp
Labels: comp:gc

#7032 Invoke Scavenger Reinit during Global GC Reinit
  gc/base/standard/ParallelGlobalGC.cpp
Labels: comp:gc

#7035 initializeGCParameters During CRIU Restore
  gc/base/Configuration.cpp
  gc/base/Configuration.hpp
  gc/base/standard/ConfigurationStandard.cpp
Labels: comp:gc

#7031 Consider possibility of TR::newvalue operation in some optimizations
  compiler/il/OMRAutomaticSymbol.cpp
  compiler/optimizer/LocalReordering.cpp
Labels: comp:compiler

#7037 Correct SPDX license identifiers (cont'd)
  compiler/aarch64/codegen/OMRSnippetDelegate.cpp
  compiler/aarch64/codegen/OMRSnippetDelegate.hpp
  compiler/arm/codegen/OMRSnippetDelegate.cpp
  compiler/arm/codegen/OMRSnippetDelegate.hpp
  compiler/codegen/OMRSnippetDelegate.hpp
  compiler/codegen/SnippetDelegate.hpp
  compiler/p/codegen/OMRSnippetDelegate.cpp
  compiler/p/codegen/OMRSnippetDelegate.hpp
  compiler/riscv/codegen/OMRSnippetDelegate.cpp
  compiler/riscv/codegen/OMRSnippetDelegate.hpp
  compiler/x/codegen/OMRSnippetDelegate.cpp
  compiler/x/codegen/OMRSnippetDelegate.hpp
  compiler/z/codegen/OMRSnippetDelegate.cpp
  compiler/z/codegen/OMRSnippetDelegate.hpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:z, arch:riscv

#7041 Linux: Use clock_gettime(CLOCK_MONOTONIC_RAW) for omrtime_hires_clock()
  port/unix/omrtime.c
Labels: comp:port, os:linux

#7040 Disable heap contraction for implicit aggressive GC
  gc/base/GCCode.cpp
  gc/base/GCCode.hpp
  gc/base/MemorySubSpaceUniSpace.cpp
  gc/base/j9mm.tdf
Labels: comp:gc

#7044 Linux PPC64: Use clock_gettime() for omrtime_hires_clock()
  port/linuxppc64/omrtime.c
Labels: comp:port, os:linux, arch:power

#7045 AArch64: Implement vector bitswap and byteswap evaluators
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#5508 BenefitInliner phase 2/3 Classes for building the IDT.
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/VerboseLog.hpp
  compiler/optimizer/CMakeLists.txt
  compiler/optimizer/abstractinterpreter/IDT.cpp
  compiler/optimizer/abstractinterpreter/IDT.hpp
  compiler/optimizer/abstractinterpreter/IDTNode.cpp
  compiler/optimizer/abstractinterpreter/IDTNode.hpp
  compiler/optimizer/abstractinterpreter/InliningMethodSummary.cpp
  compiler/optimizer/abstractinterpreter/InliningMethodSummary.hpp
Labels: enhancement, comp:compiler

#7048 Fix eclipse-openj9/openj9#17694
  compiler/env/VerboseLog.cpp
Labels: comp:compiler, first contribution

#7049 Check that _vlogTable size matches TR_VlogTag with static_assert()
  compiler/env/VerboseLog.cpp
  compiler/env/VerboseLog.hpp
Labels: comp:compiler

#7047 x86: Clobber shift of constant 0
  compiler/x/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:x86
