Repository eclipse-omr/omr, pull requests merged in 2023-10, with the labels that each got.

#7129 Fix code cache segment race condition
  compiler/runtime/OMRCodeCache.cpp
Labels: comp:compiler

#7128 Add reinitializeForRestore to GCExtBase
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
  gc/verbose/VerboseHandlerOutput.cpp
Labels: comp:gc

#7110 Read system swappiness in omrsysinfo_get_memory_info()
  fvtest/porttest/si.cpp
  include_core/omrport.h
  include_core/omrporterror.h
  port/common/omrport.tdf
  port/unix/omrsysinfo.c
  port/unix_include/omrcgroup.h
  port/win32/omrsysinfo.c
Labels: comp:port, comp:test, os:windows, arch:x86, comp:core

#7124 Add default cases to PPC switch statements
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRMachine.cpp
  compiler/p/codegen/OMRPeephole.cpp
  compiler/p/codegen/OMRRegisterDependency.cpp
  compiler/p/codegen/PPCDebug.cpp
Labels: arch:power

#7134 Remove dead code in lookupScheme2
  compiler/p/codegen/ControlFlowEvaluator.cpp
Labels: comp:compiler, arch:power

#7125 Add isNullRestricted field to TypeLayoutEntry
  compiler/env/TypeLayout.hpp
Labels: comp:compiler

#7137 Add TR::vnolz and TR::vnotz evaluators in z/codegen
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:z

#7147 AArch64: Fix imulhEvaluator to use helper function to generate a shift instruction
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7146 Change cheapGlobalValuePropagationOpts and cheapObjectAllocationOpts …
  compiler/optimizer/OMROptimizer.cpp
Labels: comp:compiler

#7143 Correct initialization of attribute type
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
Labels: comp:diagnostic

#7148 Recognize DWARF tags used by XCode 14.0.3+
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
Labels: comp:diagnostic

#7149 Move Forced Flags From Config to Extbase
  gc/base/Configuration.cpp
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

#7152 Remove Forced Flags from Configuration
  gc/base/Configuration.hpp
Labels: comp:gc

#7153 Allow Last Responder thread pointer to be NULL
  gc/verbose/VerboseHandlerOutput.cpp
Labels: comp:gc

#7151 Update JBCodeCacheManager to allocate segment objects on mmaped memory
  compiler/runtime/OMRCodeCacheMemorySegment.cpp
  compiler/runtime/OMRCodeCacheMemorySegment.hpp
  jitbuilder/runtime/JBCodeCacheManager.cpp
Labels: comp:jitbuilder

#7090 Declare <jitDispatchJ9Method> non-helper
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/il/Aliases.cpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#7156 Option to reduce counts when class is not in SCC
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7163 Init allocation stats fields
  gc/stats/AllocationStats.hpp
Labels: comp:gc

#7161 Add check for ztpfSigShutdownMonitor before attempting to shut it down
  port/ztpf/omrsignal.c
Labels: comp:port, os:ztpf

#7155 Fix issue in folding the conditional in the duplicated loop
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/LoopVersioner.hpp
Labels: comp:compiler

#7164 Use small page size/flags for Sparse Virtual Memory
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
Labels: comp:gc
