Repository eclipse-omr/omr, pull requests merged in 2023-01, with the labels that each got.

#6849 port: Allow 0 in events argument for pollfd_init
  port/unix/omrsock.c
Labels: comp:port

#6857 Generalize management of write access to dynamically generated code
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/runtime/VirtualGuardRuntime.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCacheManager.cpp
  compiler/runtime/Trampoline.cpp
  fvtest/porttest/omrvmemTest.cpp
  include_core/thread_api.h
Labels: comp:compiler, comp:test, arch:aarch64, comp:core

#6860 Run container as USER jenkins
  buildenv/docker/x86_64/ubuntu20/Dockerfile
Labels: build / configure

#6859 AArch64: Implement popcnt evaluators
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OpBinary.cpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
  compiler/aarch64/env/OMRCPU.hpp
Labels: comp:compiler, arch:aarch64

#6835 x86: disable GRA for vectors & masks
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:x86

#6687 x86: Implement masked vector operations
  compiler/il/OMRILOps.hpp
  compiler/il/VectorOperations.enum
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/i386/codegen/OMRRealRegister.hpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86

#6864 Check for right-hand operand of zero in lrem and irem
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#6856 Avoid overflow calculating number of loop iterations
  compiler/optimizer/ExpressionsSimplification.hpp
Labels: comp:compiler

#6850 Verbose GC CRIU Support
  gc/base/Configuration.hpp
  gc/verbose/VerboseManager.cpp
  gc/verbose/VerboseManager.hpp
  gc/verbose/VerboseManagerBase.hpp
  gc/verbose/VerboseWriter.hpp
  gc/verbose/VerboseWriterFileLogging.cpp
  gc/verbose/VerboseWriterFileLogging.hpp
Labels: comp:gc

#6868 x86: refactor asm debug traces
  compiler/x/codegen/X86Debug.cpp
Labels: comp:compiler, arch:x86

#6845 Ensure receivers are privatized (if necessary) when versioning guards
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#6853 Add vpmsum helper functions
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#6838 Print informational message when kernel.core_pattern is piped
  nls/portnls.h
  port/linux/omrosdump_helpers.c
Labels: comp:port, os:linux

#6846 Clean up node flag tracing
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#6854 Add information on lastOptSubIndex
  doc/compiler/ProblemDetermination.md
Labels: documentation

#6847 Fix incorrectly-preserved flags in simplifier
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/infra/Arith.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPConstraint.hpp
Labels: comp:compiler
