Repository eclipse-omr/omr, pull requests merged in 2023-05, with the labels that each got.

#6974 x86: Fix vabs support test
  compiler/x/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:x86

#6960 Have GLU consume budget only for successfully unrolled loops
  compiler/optimizer/GeneralLoopUnroller.cpp
Labels: comp:compiler

#6964 Fix bug in updating displacement field in RSY type instruction
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/S390Instruction.cpp
Labels: comp:compiler, arch:z

#6965 Fix Null dereference in S390OutOfLineCodeSection
  compiler/z/codegen/S390OutOfLineCodeSection.cpp
Labels: comp:compiler, arch:z

#6877 Version guards with merged HCR/OSR guards only when possible
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/LoopVersioner.hpp
Labels: comp:compiler

#6970 GC CRIU: Reinit Scavenger Caches (Split CopyScanCacheList)
  gc/base/standard/CopyScanCacheList.cpp
  gc/base/standard/CopyScanCacheList.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#6975 Reference openjdk.org instead of openjdk.java.net
  compiler/control/CompilationStrategy.hpp
  compiler/control/OMRCompilationStrategy.cpp
  compiler/control/OMRCompilationStrategy.hpp
Labels: comp:compiler

#6977 Revert "Refine unsafe shadow to a more precise shadow in VP whenever …
  compiler/compile/OMRAliasBuilder.cpp
  compiler/env/OMRClassEnv.hpp
  compiler/il/Aliases.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#6976 Correct typos in OMROptions.cpp
  compiler/control/OMROptions.cpp
Labels: comp:compiler, first contribution

#6937 Fix Large VFP-relative memory-references
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRMemoryReference.hpp
Labels: comp:compiler, arch:x86

#6981 AArch64: Validate immediate offset of memory references
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6972 Add declared class to Symbol, like a signature but as a class pointer
  compiler/il/OMRSymbol.cpp
  compiler/il/OMRSymbol.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/ras/Debug.cpp
Labels: comp:compiler

#6980 Create and use factory method for ExternalRelocations
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64HelperCallSnippet.cpp
  compiler/aarch64/codegen/ConstantDataSnippet.cpp
  compiler/arm/codegen/ARMBinaryEncoding.cpp
  compiler/arm/codegen/ConstantDataSnippet.cpp
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
  compiler/p/codegen/OMRConstantDataSnippet.cpp
  compiler/p/codegen/PPCBinaryEncoding.cpp
  compiler/ras/DebugCounter.cpp
  compiler/riscv/codegen/RVHelperCallSnippet.cpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/S390Instruction.cpp
Labels: comp:compiler

#6984 Fix Linux cgroup2 initialization
  port/unix/omrsysinfo.c
Labels: comp:port

#6989 Always define __MAP_64
  include_core/omrutil.h
  port/unix/omrmmap.c
Labels: comp:port

#6982 Remove definition of getOptimizationPhaseIsComplete()
  compiler/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler

#6994 Restore VP unsafe shadow refinement
  compiler/compile/OMRAliasBuilder.cpp
  compiler/env/OMRClassEnv.hpp
  compiler/il/Aliases.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#6998 Add missing getter/setters
  compiler/x/codegen/DataSnippet.hpp
  compiler/x/codegen/OMRX86Instruction.hpp
Labels: comp:compiler

#6993 Fix various misspellings of "address"
  compiler/aarch64/codegen/ConstantDataSnippet.cpp
  compiler/il/OMRStaticSymbol.hpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  fvtest/porttest/omrvmemTest.cpp
  jitbuilder/lljb/include/lljb/Compiler.hpp
  port/ztpf/omrosdump_helpers.c
Labels: comp:compiler, comp:test, arch:aarch64, arch:z

#6999 Expand bytecode offset variables to 32bit
  compiler/il/OMRBlock.cpp
  compiler/il/OMRBlock.hpp
  compiler/ilgen/ByteCodeIterator.hpp
  compiler/infra/OMRCfg.cpp
Labels: comp:compiler

#7002 Provide InstructionDelegate implementation for RISC-V
  compiler/riscv/CMakeLists.txt
  compiler/riscv/codegen/OMRInstructionDelegate.cpp
  compiler/riscv/codegen/OMRInstructionDelegate.hpp
Labels: comp:compiler

#7005 Adding helper functions for crc32 special routines to enable optimizations in AOT
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#7003 Initial implementation of a SnippetDelegate hierarchy
  compiler/aarch64/CMakeLists.txt
  compiler/aarch64/codegen/OMRSnippetDelegate.cpp
  compiler/aarch64/codegen/OMRSnippetDelegate.hpp
  compiler/arm/codegen/OMRSnippetDelegate.cpp
  compiler/arm/codegen/OMRSnippetDelegate.hpp
  compiler/codegen/OMRSnippetDelegate.hpp
  compiler/codegen/SnippetDelegate.hpp
  compiler/p/CMakeLists.txt
  compiler/p/codegen/OMRSnippetDelegate.cpp
  compiler/p/codegen/OMRSnippetDelegate.hpp
  compiler/riscv/CMakeLists.txt
  compiler/riscv/codegen/OMRSnippetDelegate.cpp
  compiler/riscv/codegen/OMRSnippetDelegate.hpp
  compiler/x/CMakeLists.txt
  compiler/x/codegen/OMRSnippetDelegate.cpp
  compiler/x/codegen/OMRSnippetDelegate.hpp
  compiler/z/CMakeLists.txt
  compiler/z/codegen/OMRSnippetDelegate.cpp
  compiler/z/codegen/OMRSnippetDelegate.hpp
Labels: comp:compiler

#7004 Migrate riscv cross-compiles to docker container
  buildenv/docker/riscv64/debian11/Dockerfile
  buildenv/jenkins/omrbuild.groovy
Labels: build / configure, ci

#7008 Check const values to ensure correct pattern in selectSimplifier
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: comp:compiler

#6991 Remove callMustBeInlinedRegardlessOfSize
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
Labels: comp:compiler, first contribution

#7015 Z: Use IILF for 31-bit inline address constants
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:z
