Repository eclipse-omr/omr, pull requests merged in 2023-02, with the labels that each got.

#6871 Implement TR_Debug::getRealRegisterName() for AArch64
  compiler/ras/Debug.cpp
Labels: comp:compiler, arch:aarch64

#6578 RISC-V: add variant of instruction encoding utilities taking RegNum
  compiler/riscv/codegen/OMRRealRegister.hpp
  compiler/riscv/codegen/RVInstruction.hpp
  compiler/riscv/codegen/RVInstructionUtils.hpp
  compiler/riscv/runtime/VirtualGuardRuntime.cpp
Labels: comp:compiler, arch:riscv

#6872 Define suppressEA option and implement regular expression matching based on a location in IL
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/infra/SimpleRegex.cpp
  compiler/infra/SimpleRegex.hpp
Labels: enhancement, comp:compiler

#6874 AArch64: Improve mFirstTrue and mLastTrue evaluators
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#6875 PowerPC: Disable GRA for Vector Mask types
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:power

#6869 Implement loop versioner privatization/HCR/OSR fixed-point analysis
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/LoopVersioner.hpp
Labels: comp:compiler

#6873 x86: Support NAN handling on AVX-512 hardware
  compiler/ras/Debug.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstructionKindEnum.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:x86

#6876 x86: Support masked vector fma
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#6865 Remove disableWrtBarSrcObjCheck option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6851 Remove wantToPatchClassPointer() and the hcrPatchClassPointers option
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/arm/codegen/OMRLinkage.cpp
  compiler/arm/codegen/OMRMemoryReference.cpp
  compiler/arm/codegen/UnaryEvaluator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/p/codegen/OMRLinkage.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/PPCTableOfConstants.cpp
  compiler/p/codegen/UnaryEvaluator.cpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/amd64/codegen/OMRMemoryReference.hpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/HelperCallSnippet.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler

#6880 x86: handle NaN inputs for vmmin/vmmax
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#6883 Move Scavenger instantiation earlier
  gc/base/Configuration.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/segregated/ConfigurationSegregated.cpp
  gc/base/segregated/ConfigurationSegregated.hpp
  gc/base/standard/ConfigurationGenerational.cpp
  gc/base/standard/ConfigurationGenerational.hpp
  gc/base/standard/ConfigurationStandard.cpp
  gc/base/standard/ConfigurationStandard.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/startup/omrgcstartup.cpp
Labels: comp:gc

#6885 Cleanup after Scavenger instantiation refactoring
  gc/base/Configuration.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/segregated/ConfigurationSegregated.cpp
  gc/base/segregated/ConfigurationSegregated.hpp
  gc/base/standard/ConfigurationGenerational.cpp
  gc/base/standard/ConfigurationGenerational.hpp
  gc/base/standard/ConfigurationStandard.cpp
  gc/base/standard/ConfigurationStandard.hpp
Labels: comp:gc

#6882 Use non-asserting query to print nodeCreatedByPRE
  compiler/il/OMRNode.cpp
Labels: comp:compiler

#6881 Replace sprintf() in pugixml with snprintf()
  third_party/pugixml-1.5/pugixml.cpp
Labels: third party

#6878 Unbounded GC Thread Pool Expansion for CRIU Restore
  gc/base/Configuration.cpp
  gc/base/Configuration.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/ParallelDispatcher.hpp
  gc/base/standard/ConfigurationGenerational.cpp
  gc/base/standard/ConfigurationGenerational.hpp
Labels: comp:gc

#6862 Replace sprintf() with snprintf()
  gc/base/standard/ConcurrentGCIncrementalUpdate.cpp
  tools/hookgen/HookGen.cpp
  tools/tracegen/Port.hpp
  tools/tracegen/TraceHeaderWriter.cpp
  tools/tracemerge/DATMerge.cpp
Labels: comp:gc

#6889 Revert "Replace sprintf() in pugixml with snprintf()"
  third_party/pugixml-1.5/pugixml.cpp
Labels: third party

#6886 Add infrastructure to process compiler options post restore
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#6895 Revert "Replace sprintf() with snprintf()"
  gc/base/standard/ConcurrentGCIncrementalUpdate.cpp
  tools/hookgen/HookGen.cpp
  tools/tracegen/Port.hpp
  tools/tracegen/TraceHeaderWriter.cpp
  tools/tracemerge/DATMerge.cpp
Labels: comp:gc

#6891 Move scavenger->kill() to ConfigurationGenerational for symmetry
  gc/base/Configuration.cpp
  gc/base/Configuration.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/standard/ConfigurationGenerational.cpp
  gc/base/standard/ConfigurationGenerational.hpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#6898 AArch64: Add ARM64Trg2MemInstruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: comp:compiler, arch:aarch64

#6893 Add RSYInstruction generate function for immed
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
Labels: comp:compiler, arch:z

#6899 AArch64: Add instruction classes for conditional compare instructions
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6901 AArch64: Add vector pairwise max/min instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#6894 When skipping global DSE for a single block, still run local DSE
  compiler/ilgen/OMRThunkBuilder.cpp
  compiler/optimizer/OMROptimizer.cpp
  jitbuilder/optimizer/JBOptimizer.cpp
Labels: comp:compiler

#6900 Change state of ConcurrentScavenger in collectorShutdown path
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#6896 Minor Options Refactoring
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/LimitFile.cpp
Labels: comp:compiler

#6892 GC Reinitialize Sweep For Restore (CRIU)
  gc/base/GCExtensionsBase.hpp
  gc/base/SweepHeapSectioning.cpp
  gc/base/SweepHeapSectioning.hpp
Labels: comp:gc

#6902 Change order in MM_Scavenger::collectorShutdown()
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#6897 Fix issue with Binary16NaN conversion on Power
  compiler/p/codegen/GenerateInstructions.cpp
Labels: comp:compiler, arch:power

#6903 Temporarily disable TestOtherThreadCputime on AArch64 macOS
  fvtest/threadextendedtest/threadCpuTimeTest.cpp
Labels: comp:test, os:macos, arch:aarch64

#6906 Fix the order of the instanceOf class parameters in block versioner
  compiler/optimizer/OMRValuePropagation.cpp
Labels: comp:compiler
