Repository eclipse-omr/omr, pull requests merged in 2023-12, with the labels that each got.

#7189 omrsysinfo_get_CPU_load() return a new error for insufficient data
  fvtest/porttest/si.cpp
  include_core/omrporterror.h
  port/common/omrsysinfo.c
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Labels: comp:port, first contribution

#7194 Correct branch folding for HCR guard versioning
  compiler/optimizer/LoopVersioner.cpp
Labels: comp:compiler

#7199 Add VGC output for Container
  gc/verbose/VerboseHandlerOutput.cpp
Labels: comp:gc

#7203 AArch64: Add some variants of vector compare instructions
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
  fvtest/compilerunittest/aarch64/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:aarch64

#7187 Fix string literal conversion warnings in compile, runtime, control, ras, infra
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/control/CompileMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/control/OptionsUtil.hpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/infra/InterferenceGraph.cpp
  compiler/infra/InterferenceGraph.hpp
  compiler/infra/SimpleRegex.cpp
  compiler/infra/SimpleRegex.hpp
  compiler/infra/Statistics.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/ras/ILValidationRules.cpp
  compiler/ras/LimitFile.cpp
  compiler/ras/OptionsDebug.cpp
  compiler/ras/Tree.cpp
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCache.hpp
  compiler/runtime/OMRRuntimeAssumptions.hpp
Labels: comp:compiler

#7185 Fix string literal conversion warnings in codegen, p, il, infra, optimizer
  compiler/codegen/CodeGenRA.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
  compiler/codegen/StorageInfo.cpp
  compiler/codegen/StorageInfo.hpp
  compiler/il/OMRBlock.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalOpts.hpp
  compiler/optimizer/LoopReplicator.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OrderBlocks.cpp
  compiler/optimizer/OrderBlocks.hpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/p/codegen/PPCHelperCallSnippet.cpp
Labels: comp:compiler, arch:power

#7206 AArch64: Add class unload pic to class constant under ifacmp node
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7207 Introduce flag gcThreadsCountSpecified
  gc/base/Configuration.cpp
  gc/base/Configuration.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/ParallelDispatcher.cpp
  gc/base/j9mm.tdf
Labels: comp:gc

#7208 Add AArch64 to UtProcessorInfo
  include_core/ute_dataformat.h
  omrtrace/omrtracelog.cpp
Labels: arch:aarch64, comp:omrtrace

#7212 Use gcThreadCountSpecified
  gc/base/Configuration.cpp
  gc/base/ParallelDispatcher.cpp
Labels: comp:gc

#7205 Delete now-unnecessary TR_Removed*Guard guard kinds
  compiler/codegen/OMRAheadOfTimeCompile.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/compile/VirtualGuard.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMROptimization.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler
