Repository eclipse-omr/omr, pull requests merged in 2023-07, with the labels that each got.

#7050 Prevent ldiv/i2l -> i2l/idiv simplification when idiv could overflow
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: comp:compiler

#7034 Disable Integer modulo instruction on Power
  compiler/p/codegen/BinaryEvaluator.cpp
  compiler/p/codegen/PPCInstruction.cpp
Labels: comp:compiler, arch:power

#7054 AArch64: Implement mmAnyTrue and mmAllTrue evaluators
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7055 Remove unused counters
  gc/base/segregated/SweepSchemeSegregated.cpp
Labels: comp:gc

#7060 Do not resize Copy Scan Cache pool after overflow
  gc/base/standard/CopyScanCacheList.cpp
Labels: comp:gc

#6987 x86: Implement SIMD variable shift and rotate
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86OpcodeTable.hpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilertriltest/VectorTest.cpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86

#7058 Use omrtime_hires_clock() for monotonic time when necessary in gc
  gc/base/standard/Scavenger.cpp
Labels: comp:gc, first contribution

#7063 AArch64: Fix Vector Rotate Evaluator
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7065 Use clock_gettime(CLOCK_MONOTONIC) in omrtime_hires_clock
  port/linuxppc64/omrtime.c
  port/unix/omrtime.c
Labels: comp:port, os:linux, arch:power

#7061 AArch64: Stop generating shift 0
  compiler/aarch64/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7064 Enable TestOtherThreadCputime on AArch64 macOS again
  fvtest/threadextendedtest/threadCpuTimeTest.cpp
Labels: comp:test, os:macos, arch:aarch64

#7057 Fixed shift calculations for shift right on Power
  compiler/p/codegen/BinaryEvaluator.cpp
Labels: comp:compiler, arch:power

#7069 AArch64 macOS: Change the limit value for ADDRESS_SPACE
  fvtest/porttest/si.cpp
Labels: comp:test, os:macos

#7053 AArch64: Implement __yield()
  include_core/AtomicSupport.hpp
Labels: arch:aarch64

#7043 Delete unsafeArrayElementSymRefs(), which is now unused
  compiler/compile/OMRAliasBuilder.cpp
  compiler/compile/OMRAliasBuilder.hpp
Labels: comp:compiler

#7071 x86-64 macOS: Change the limit value for ADDRESS_SPACE
  fvtest/porttest/si.cpp
Labels: comp:test, os:macos

#7070 Change x86-64 macOS version in Azure build to 'macOS-latest'
  azure-pipelines.yml
Labels: ci

#7072 AArch64: Add a parameter for generating relocatable code to loadAddressConstant
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7039 Add relocation infrastructure to make enter/exit tracing consistent with default compilation
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRMemoryReference.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
  compiler/il/OMRSymbol.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/runtime/Runtime.hpp
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/z/codegen/ConstantDataSnippet.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler

#7036 Handle code cache allocation for low physical memory
  compiler/runtime/OMRCodeCacheManager.cpp
  compiler/runtime/OMRCodeCacheManager.hpp
Labels: comp:compiler

#7075 AArch64: Add TR_MethodCallAddress relocation to direct call instructions
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
Labels: comp:compiler, arch:aarch64

#7077 AArch64: Add callUsesHelperImplementation query to code generator
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:aarch64

#7078 Remove incorrect assertions and adjust stall time calculation
  gc/base/standard/ParallelScavengeTask.cpp
  gc/stats/ScavengerStats.hpp
Labels: comp:gc

#7079 Fix Crashes in 32-bit PPC due to incorrect relocation initialization
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: bug, comp:compiler, arch:power, bits:32
