Repository eclipse-omr/omr, pull requests merged in 2024-11, with the labels that each got.

#7505 Accelerate Unsafe CAS Intrinsics on Aarch64
  compiler/compile/OMRMethod.cpp
  compiler/compile/OMRMethod.hpp
  compiler/compile/ResolvedMethod.cpp
  compiler/optimizer/RedundantAsyncCheckRemoval.cpp
Labels: comp:compiler, arch:aarch64

#7514 Fix missing comma in JIT CPU features table
  port/common/omrsysinfo_helpers.c
Labels: comp:port, arch:x86

#5778 Fix jb logging and a few compiler warnings
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  compiler/optimizer/DebuggingCounters.cpp
  compiler/x/codegen/DataSnippet.cpp
Labels: comp:compiler, comp:jitbuilder

#7507 Use ULARGE_INTEGER to get time value from FILETIME on Windows
  port/win32/omrsysinfo.c
  thread/common/thrprof.c
Labels: comp:port, comp:thread, os:windows, arch:x86

#7518 Add JIT option to enable SCC disclaiming
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7520 Aarch64: Fix isMethodPointerConstant call on wrong node
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: bug, arch:aarch64

#7521 Avoid shifting negative signed value
  compiler/x/codegen/DataSnippet.cpp
Labels: comp:compiler, arch:x86

#7519 Clean up references to old opcodes
  compiler/aarch64/codegen/UnaryEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/codegen/NodeEvaluation.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/infra/TreeServices.cpp
  compiler/optimizer/CopyPropagation.cpp
  compiler/optimizer/GeneralLoopUnroller.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/StripMiner.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/UnaryEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/UnaryEvaluator.cpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:z, tech debt

#7516 Move willBeEvaluatedAsCallByCodeGen to OpenJ9
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:x86, tech debt

#7523 Replace some occurrences of sprintf with snprintf
  port/common/omrstr.c
  port/linux/omrvmem.c
  port/osx/omrvmem.c
  port/ztpf/omrosdump.c
Labels: comp:port, os:linux, os:macos, arch:x86, os:ztpf

#7522 Recognize POWER11 and future coverage on AIX
  compiler/p/env/OMRCPU.cpp
  port/unix/omrsysinfo.c
Labels: comp:compiler, comp:port, arch:power

#7509 Fix loop strider reassociation and hoisting logic for off-heap
  compiler/optimizer/InductionVariable.cpp
  compiler/optimizer/OMRTransformUtil.cpp
  compiler/optimizer/OMRTransformUtil.hpp
Labels: comp:compiler

#7528 Recognize POWER11 on Linux
  port/unix/omrsysinfo.c
Labels: comp:port

#7535 Export omrthread_get_thread_times()
  thread/exports.cmake
Labels: comp:thread

#7536 UMA: export omrthread_get_thread_times()
  thread/thread_include.mk
Labels: comp:thread

#7537 AArch64: Add YIELD instruction
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/OMRInstOpCode.enum
  compiler/aarch64/codegen/OpBinary.cpp
Labels: comp:compiler, arch:aarch64

#7532 Implement mToLongBits evaluator on Power for Byte type
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:power

#7476 Disable commoning of dataAddr Pointer in createStoresForVar()
  compiler/il/OMRNode.cpp
Labels: comp:compiler

#7497 Re-enable RegDepCopyRemoval for value types
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#7533 Implement mFirstTrue evaluator on Power for Byte type
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:power

#7542 Add missing copyright headers to .md files
  doc/compiler/memory/MemoryManager.md
  doc/compiler/optimizer/BenefitInliner.md
  doc/compiler/optimizer/DataFlowEngine.md
  doc/compiler/optimizer/IntroLoopOptimizations.md
  doc/compiler/optimizer/IntroReadLogFile.md
  doc/compiler/optimizer/ValuePropagation.md
  doc/compiler/riscv/Building.md
  doc/port/sockets.md
Labels: documentation

#7531 Create OMR::Node::storeToAddressField() helper
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
Labels: comp:compiler

#7499 AArch64: Implement arraytranslateTRTO255
  compiler/aarch64/CMakeLists.txt
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/runtime/ARM64ArrayCopy.spp
  compiler/aarch64/runtime/ARM64ArrayTranslate.spp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler, arch:aarch64

#7534 x86: Increase inline arraycopy threshold
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: arch:x86

#7529 Clean up references to old opcodes
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/infra/TreeServices.cpp
  compiler/infra/TreeServices.hpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRMemoryReference.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, tech debt

#7545 Clean up references to old opcodes
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, tech debt

#7549 Remove compiler ras address masking
  compiler/compile/OMRCompilation.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/ras/Tree.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/z/codegen/S390Debug.cpp
  doc/compiler/CompilerOptions.md
Labels: comp:compiler

#7554 Add missing parameter to method comment
  compiler/optimizer/OMRTransformUtil.hpp
Labels: comp:compiler

#7557 Don't zero Offheap after commit
  gc/base/SparseVirtualMemory.cpp
Labels: comp:gc

#7513 Move setmemoryEvaluator() from OMR to Openj9
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler

#7559 Zero offheap on commit on OSX
  gc/base/SparseVirtualMemory.cpp
Labels: comp:gc

#7563 x86: complete cpu feature name table
  port/common/omrsysinfo_helpers.c
Labels: comp:port, arch:x86

#7548 Stop recognizing UTF16_Encoder.encodeUTF16 methods
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:x86, arch:power

#7553 X: Implement popcnt
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:x86, tech debt
