Repository eclipse-omr/omr, pull requests merged in 2024-06, with the labels that each got.

#7356 Refine processor recognition for Intel Cascade Lake and Cooper Lake
  compiler/env/ProcessorInfo.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/env/OMRCPU.cpp
  include_core/omrport.h
  port/common/omrsysinfo_helpers.c
Labels: comp:compiler

#7355 Change TR_ASSERT_FATAL to static_assert in TR_AliasSetInterface
  compiler/il/AliasSetInterface.hpp
Labels: comp:compiler

#7353 Passing unsuccessful state to GC cycle end event
  gc/base/standard/Scavenger.cpp
  include_core/omrgcconsts.h
Labels: comp:gc, comp:core

#7322 Flag changes and minor fixes for Open XL compile
  cmake/modules/platform/os/zos.cmake
  cmake/modules/platform/toolcfg/zos_rename_exports.cmake
  fvtest/omrGtestGlue/CMakeLists.txt
  fvtest/porttest/omrvmemTest.cpp
  fvtest/sigtest/sigTest.cpp
  omrsigcompat/omrsig.cpp
  third_party/gtest-1.8.0/include/gtest/internal/gtest-port.h
Labels: comp:test, build / configure, cmake

#7357 Disable TLH prefetching by default post-Skylake processors
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  include_core/omrport.h
Labels: comp:compiler

#7360 Add tracepoint for MM_cleanUpSegmentsInAnonymousClassLoader stats
  gc/base/j9mm.tdf
Labels: comp:gc

#7361 AArch64: Improve *cmpeq-*select instruction sequence
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7363 Update the coding standard
  doc/CodingStandard.md
Labels: documentation

#7362 x86-64: Inline small array copy size for int and long arrays
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:x86

#7365 Revert pull request 7362: x86-64: Inline small array copy size for int and long arrays
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler

#7369 Update GCC version in C++ supported features documentation
  doc/SupportedC++Features.md
Labels: documentation

#7339 Fix omrgenerate_ieat_dump.s assembly instruction to load 64 bit
  port/zos390/omrgenerate_ieat_dump.s
Labels: comp:port, arch:z

#7313 Change arraycmp length child to 64 bits
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/LoopReducer.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  fvtest/compilertriltest/ArrayTest.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:aarch64, arch:power, arch:z

#7374 Add option to enable vector API
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7367 AArch64: Improve *cmp*-*select instruction sequence
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7380 Revert "Change arraycmp length child to 64 bits"
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/LoopReducer.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  fvtest/compilertriltest/ArrayTest.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:aarch64, arch:x86, arch:power, arch:z

#7378 Delete TR::SelectOpt, which is unused
  compiler/optimizer/SelectOpt.hpp
Labels: comp:compiler

#7381 Fix trace format for MemorySubSpace
  gc/base/j9mm.tdf
Labels: comp:gc

#7384 x86-64: Use rep movs instructions if array copy size greater than 32 bytes
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#7376 Add dontFoldStaticFinalFields={} option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7385 Remove unused macro: sig_handler_t
  include_core/omrsig.h
Labels: comp:core

#7387 x86-64: Inline small array copy size for int and long arrays
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:x86

#7389 Initialize the array variable in generateArrayAddressTree to null
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7364 Replace redundant shifts and rotations of const 0 with const 0
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#7386 New element is added in vgc:mem-info
  gc/verbose/schema.xsd
Labels: comp:gc

#7345 OffHeap Changes
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#7391 Add offHeapCopyMemory in VP DelayedTransformations
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7368 Commoning and InductionVariable changes for OffHeap
  compiler/il/OMRNode.cpp
  compiler/optimizer/InductionVariable.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LocalAnalysis.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMROptimizer.cpp
Labels: comp:compiler

#7394 Move _offHeapCopyMemory delayedTransformation to OpenJ9
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7372 Option useHigherMethodCounts Now Correctly Sets the scount
  compiler/control/OMROptions.cpp
Labels: comp:compiler, first contribution

#7397 Revert "Replace redundant shifts and rotations of const 0 with const 0"
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler
