Repository eclipse-omr/omr, pull requests merged in 2024-07, with the labels that each got.

#7399 ValueTypes: Remove reference to 'Q' signature prefix
  compiler/il/OMRSymbol.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#7395 Fix spelling: minux -> minus
  compiler/p/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:power, arch:z

#7377 Define isPowerOf2 utility methods for unsigned
  compiler/infra/Bit.hpp
Labels: comp:compiler

#7400 Add options to select the threshold for using rep movs in arraycopy
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#7388 Reapply "Change arraycmp length child to 64 bits"
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/LoopReducer.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  fvtest/compilertriltest/ArrayTest.cpp
Labels: comp:compiler, comp:test, comp:tril, arch:aarch64, arch:x86, arch:power, arch:z

#7401 Adding more info to CodeCache::printOccupancyStats()
  compiler/runtime/OMRCodeCache.cpp
Labels: comp:compiler

#7349 Implement RSSReport class
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/DebugCounter.cpp
  compiler/ras/DebugCounter.hpp
  compiler/runtime/CMakeLists.txt
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCache.hpp
  compiler/runtime/OMRRSSReport.cpp
  compiler/runtime/OMRRSSReport.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  doc/compiler/debug/RSSReport.md
Labels: comp:compiler, arch:x86

#7406 Add OMRRSSReport.cpp to UMA build configs
  fvtest/compilertest/build/files/common.mk
  jitbuilder/build/files/common.mk
Labels: comp:compiler, comp:jitbuilder

#7398 Replace shifts and rotations of constant 0 with constant 0
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#7409 Remove OMR_GC_DOUBLE_MAPPING_FOR_SPARSE_HEAP_ALLOCATION
  cmake/config.cmake
  configure
  configure.ac
  gc/base/SparseAddressOrderedFixedSizeDataPool.cpp
  gc/base/SparseAddressOrderedFixedSizeDataPool.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
Labels: comp:gc, build / configure, cmake, comp:core

#7420 CPU and process util stats
  gc/CMakeLists.txt
  gc/base/GCExtensionsBase.hpp
  gc/base/j9mm.tdf
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
  gc/stats/CPUUtilStats.cpp
  gc/stats/CPUUtilStats.hpp
  gc/stats/CollectionStatistics.hpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/schema.xsd
Labels: comp:gc

#7422 Add J9HookInterface.J9HookUnreserve() to clear flag J9HOOK_FLAG_RESERVED
  include_core/omrhookable.h
  util/hookable/hookable.cpp
Labels: comp:utilities, comp:core

#7418 Remove dead code from S390Debug.cpp
  compiler/z/codegen/S390Debug.cpp
Labels: comp:compiler, arch:z

#7424 Fix definition of gc-start element
  gc/verbose/schema.xsd
Labels: comp:gc

#7404 Annotate failCompilation with OMR_NORETURN
  compiler/compile/OMRCompilation.hpp
Labels: comp:compiler

#7410 Fix and improve debug counters for failed call sites
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#7425 Improve VPClass::mustBeNotEqual()
  compiler/optimizer/VPConstraint.cpp
Labels: comp:compiler

#7428 Make a minor correction to improved VPClass::mustBeNotEqual()
  compiler/optimizer/VPConstraint.cpp
Labels: comp:compiler

#7421 Modifications for Off-Heap Technology for Large Arrays
  cmake/config.cmake
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/env/OMRObjectModel.hpp
  compiler/optimizer/TransformUtil.hpp
  configure
  configure.ac
  example/glue/ArrayletObjectModel.hpp
  gc/base/AllocateDescription.hpp
  gc/base/GCExtensionsBase.cpp
  gc/base/SparseAddressOrderedFixedSizeDataPool.cpp
  gc/base/j9mm.tdf
  gc/include/RootScannerTypes.h
  gc/verbose/VerboseHandlerOutput.cpp
  include_core/omrcfg.cmake.h.in
  include_core/omrcfg.h.in
  omrmakefiles/configure.mk.in
Labels: comp:gc, build / configure, cmake, comp:core

#7414 Add Xgc options for suballocator heap size and quick allocation
  fvtest/porttest/omrmemTest.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MemoryManager.cpp
  include_core/omrgcconsts.h
  include_core/omrport.h
  port/common/omrmem32helpers.c
  port/common/omrmem32struct.h
  port/common/omrport.c
  port/common/omrportcontrol.c
  port/omrportpriv.h
Labels: comp:gc, comp:port, comp:test, comp:core
