Repository eclipse-omr/omr, pull requests merged in 2024-03, with the labels that each got.

#7275 Evaluate constant byteLenNode of arrayCopyChild
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:z

#7269 Remove redundant newlines in vlog messages
  compiler/compile/OSRData.cpp
  compiler/optimizer/abstractinterpreter/InliningProposal.cpp
  compiler/ras/OptionsDebug.cpp
Labels: comp:compiler

#7253 Add Cache Line Writeback Instruction
  compiler/env/ProcessorInfo.hpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/env/OMRCPU.cpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, arch:x86

#7281 Do not swing down volatile nodes
  compiler/optimizer/DeadTreesElimination.cpp
Labels: comp:compiler

#7282 Facilitate recording of constants observed in call target selection
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/il/AnyConst.hpp
  compiler/infra/map.hpp
  compiler/infra/set.hpp
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/DeferredOSRAssumption.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/abstractinterpreter/OMRIDTBuilder.cpp
Labels: comp:compiler

#7283 CMake: fix empty string warnings
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#7284 Add missing declaration of _CPUTIME()
  thread/common/thrprof.c
Labels: comp:thread

#6958 Remove sigvec reference in CMakeLists.txt
  omrsigcompat/CMakeLists.txt
Labels: first contribution

#7286 Don't use non-ASCII characters in text files
  gc/base/standard/ConcurrentGCSATB.cpp
  gc/verbose/VerboseWriterFileLoggingBuffered.cpp
  gc/verbose/VerboseWriterFileLoggingSynchronous.cpp
  include_core/omrportsocktypes.h
  include_core/thread_api.h
Labels: comp:gc, comp:core

#7287 Fix explanation for enableGuardedCountingRecompilation
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#7289 Options to enable memory disclaiming
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7290 Revert "CMake: fix empty string warnings" #7283
  cmake/modules/ddr/DDRSetStub.cmake.in
Labels: build / configure, cmake

#7285 Add support for 32bit allocator flags
  include_core/omrport.h
  port/common/omrmem32helpers.c
  port/common/omrportcontrol.c
  port/unix_include/omrportpg.h
  port/zos390/omrportpg.h
Labels: comp:port, arch:z, comp:core

#7292 Fix typo AIXPPCX -> AIXPPC
  port/unix/omrintrospect.c
Labels: comp:port

#7288 CMake: fix empty string warnings
  cmake/modules/OmrDDRSupport.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/ddr/GenerateStub.cmake
Labels: build / configure, cmake

#7195 Refactor Binary Identity Simplification Macro
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierHelpers.hpp
Labels: comp:compiler, tech debt
