Repository eclipse-omr/omr, pull requests merged in 2024-04, with the labels that each got.

#7241 x86: Remove deprecated TR_EnableNewX86PrefetchTLH
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#7297 Do not continue to merge back cold path if guard2 block has been removed
  compiler/optimizer/VirtualGuardHeadMerger.cpp
Labels: comp:compiler

#7303 GRA changes to reduce JIT overhead at warm opt levels
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/optimizer/GlobalRegisterAllocator.cpp
  compiler/optimizer/GlobalRegisterAllocator.hpp
  compiler/optimizer/OMRRegisterCandidate.cpp
Labels: comp:compiler

#7302 Upgrade pugixml 1.5 to 1.8
  GNUmakefile
  longabout.html
  omrmakefiles/configure.mk.in
  third_party/CMakeLists.txt
  third_party/pugixml-1.5/makefile
  third_party/pugixml-1.8/CMakeLists.txt
  third_party/pugixml-1.8/pugiconfig.hpp
  third_party/pugixml-1.8/pugixml.cpp
  third_party/pugixml-1.8/pugixml.hpp
Labels: third party

#7306 Fixes documentation of disableGLU Xjit option
  doc/compiler/CompilerOptions.md
Labels: documentation

#7309 Implement METHOD STATS verbose output
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/env/VerboseLog.cpp
  compiler/env/VerboseLog.hpp
  compiler/infra/OMRCfg.cpp
  compiler/infra/OMRCfg.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:x86

#7312 Update differenceInAdditiveConstants as int64_t
  compiler/optimizer/InductionVariable.cpp
Labels: comp:compiler

#7308 AArch64: Stop generating instruction for adding 0
  compiler/aarch64/codegen/OMRCodeGenerator.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7316 Fix build error caused by unused variable in OSX
  fvtest/porttest/omrtimeTest.cpp
  fvtest/porttest/si.cpp
Labels: comp:test, first contribution

#7315 Use OMRPORT_CPU_TARGET for split list calculation
  gc/base/Configuration.cpp
Labels: comp:gc

#7305 Allocate TreeInfo objects using TR::Region of containing List
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/DeadTreesElimination.hpp
Labels: comp:compiler

#7171 Z: Use general constant loads for addresses that don't need to be patched
  compiler/z/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:z
