Repository eclipse-omr/omr, pull requests merged in 2024-10, with the labels that each got.

#7471 Fix fmin/fmax/dmin/dmax node simplifier for const 0s
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: comp:compiler

#7375 x86: Update code generator documentation
  doc/compiler/x/OpCodeEncoding.md
Labels: documentation

#7438 Accelerate Unsafe CAS Intrinsics on Power and X
  compiler/optimizer/RedundantAsyncCheckRemoval.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86, arch:power

#7481 Guarantee new array will be zero initialized in transformArrayCloneCall
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7477 Update uses of checkArrayCompClassPrimitiveValueType
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7485 Remove helper symbols for String.compress() and some other methods
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler, arch:x86, arch:power

#7483 Remove no longer valid assert in OMRMemoryReference
  compiler/x/codegen/OMRMemoryReference.cpp
Labels: comp:compiler, arch:x86

#7479 [skip ci] Update minimum supported compiler levels and fix documentation links
  doc/SupportedC++Features.md
Labels: documentation

#7487 Add the correct address as ClassUnloading PicSite in POWER LE
  compiler/p/codegen/OMRConstantDataSnippet.cpp
Labels: comp:compiler, arch:power

#7490 Correct the definition of TR_TraceAll
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7484 Use fallocate instead of ftruncate
  port/linux/omrvmem.c
Labels: comp:port, os:linux

#7489 x86: Use forward memory copy for arraycopy instructions
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#7486 Specify unsupported features blocked by XLC v2r1
  doc/SupportedC++Features.md
Labels: documentation

#7452 Fix null restricted array related issues for value types
  compiler/env/FrontEnd.cpp
  compiler/env/FrontEnd.hpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OMRValuePropagation.hpp
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7464 Support IEEE-754 for fmin/fmax/dmin/dmax nodes
  compiler/il/Aliases.cpp
  compiler/optimizer/RedundantAsyncCheckRemoval.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:z

#7482 Accelerate Unsafe CAS Intrinsics on Z
  compiler/optimizer/RedundantAsyncCheckRemoval.cpp
Labels: comp:compiler

#7495 Propagate known object info to aload node
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#7419 Fix builtin __gdsa function call for Open XL
  compiler/ras/CallStack.cpp
Labels: comp:compiler

#7416 Fix Open XL compiler warnings
  compiler/optimizer/ValuePropagationCommon.cpp
  include_core/unix/zos/edcwccwi.h
  util/a2e/atoe.c
  util/a2e/headers/stdio.h
Labels: comp:compiler, comp:utilities, comp:core

#7492 Set Evaluation Priority Only For non-Treetop Nodes
  compiler/codegen/NodeEvaluation.cpp
  compiler/il/OMRNode.cpp
Labels: comp:compiler

#7491 Add omrthread_get_thread_times()
  fvtest/threadextendedtest/processTimeTest.cpp
  include_core/thread_api.h
  thread/common/thrprof.c
Labels: comp:port, comp:core

#7498 Update verbosegc allocation stats for off-heap
  example/glue/ArrayletObjectModel.hpp
  gc/verbose/VerboseHandlerOutput.cpp
  gc/verbose/schema.xsd
Labels: comp:gc

#7501 x86: Support BMI2 instructions
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRX86Instruction.cpp
Labels: comp:compiler, arch:x86

#7503 Add jProfilingValue symbols to list of in Debug.cpp for tracing
  compiler/ras/Debug.cpp
Labels: comp:compiler

#7506 Do not fail retrieveLinuxCgroupMemoryStats if swappiness is unavailable
  port/unix/omrsysinfo.c
Labels: comp:port

#7512 Add POWER11 as a processor placeholder
  compiler/env/Processors.hpp
  include_core/omrport.h
Labels: comp:compiler, comp:port

#7445 Fix OpenXL Warnings
  compiler/optimizer/OMRCFGSimplifier.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/ras/Debug.cpp
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRMachine.cpp
Labels: comp:compiler, arch:z

#7511 Percent and ratio cleanup in trace points
  gc/base/j9mm.tdf
Labels: comp:gc

#7515 Update github org for eclipse-omr/omr
  .github/workflows/labeler.yml
Labels: tooling, ci
