Repository eclipse-omr/omr, pull requests merged in 2025-04, with the labels that each got.

#7713 Add verbose options for shared profile cache
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7714 Offheap size
  gc/base/GCExtensionsBase.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/verbose/VerboseHandlerOutput.cpp
Labels: comp:gc

#7712 Ensure simplification of compare op is valid
  compiler/optimizer/OMRSimplifierHandlers.cpp
Labels: comp:compiler

#7715 Make hash computation consistent with comment
  compiler/compile/OMRCompilation.cpp
Labels: comp:compiler

#7718 Fix ILProp1::VectorMasked flag for some masked vector operations
  compiler/il/VectorOperations.enum
Labels: comp:compiler

#7719 Force offheap region size alignment and granularity
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
  gc/base/j9mm.tdf
Labels: comp:gc

#7717 Adjust offheap custom size math
  gc/base/SparseVirtualMemory.cpp
Labels: comp:gc

#7722 Add new object memory type: JITServerProfileCache
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
Labels: comp:compiler

#7730 Reject native methods in isRecursiveMethodTarget()
  compiler/compile/OMRCompilation.cpp
Labels: comp:compiler

#7733 X: Fix compressExpandBitsEvaluator
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: arch:x86

#7731 Ensure each TR_CallTarget represents one unambiguous target method
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#7709 AArch64: Improve arraytranslateTROTNoBreak helper function
  compiler/aarch64/runtime/ARM64ArrayTranslate.spp
Labels: comp:compiler, arch:aarch64

#7729 Add vblend vector operation
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler
