Repository eclipse-omr/omr, pull requests merged in 2025-08, with the labels that each got.

#7882 Revert "Re-enable allocation/initialization opt"
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#7866 PPC VRF/VSX register use fix for VReductionAdd
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:power

#7898 x86: add enableExtendedVectorLengths JIT option
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7896 Reduce high opt inlining
  compiler/optimizer/OMRValuePropagation.cpp
Labels: comp:compiler

#7897 Always use integral type for Mask elements
  compiler/il/OMRDataTypes_inlines.hpp
Labels: comp:compiler

#7851 Accelerate new converter method SingleByte$Encoder.encodeFromLatin1Impl
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7886 x86: Remove register assignment direction checks
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRInstruction.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
Labels: comp:compiler

#7849 Fix comment indentation
  port/zos390/omrsimap.h
Labels: comp:port

#7913 AArch64: Enable an assertion for 16-byte-wide memory access
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: comp:compiler, arch:aarch64
