Repository eclipse-omr/omr, pull requests merged in 2025-05, with the labels that each got.

#7737 Support v2m opcode on Power
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:power

#7734 Calculate Scavenge stats on CS-to-Global transition
  gc/base/Collector.cpp
  gc/base/Collector.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelGlobalGC.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Labels: comp:gc

#7738 Replace "zNext" with "z17" in OMR
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/z/codegen/OMRInstOpCode.enum
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
  include_core/omrport.h
  port/unix/omrsysinfo.c
Labels: comp:compiler, arch:z

#7727 x86: Fixes for vector masking helpers
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: bug, comp:compiler, arch:x86

#7749 Do not clear stats on STW scan phase end
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#7744 Implement vblend on Power and Aarch64
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64, arch:power

#7751 Account for allocations from survivor in CM kickoff
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#7725 x86: Implement vmand, vmor, vmxor
  compiler/il/VectorOperations.enum
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: enhancement, comp:compiler, arch:x86

#7755 Add "TR_IPBCDataDirectCall" memory object type
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
Labels: comp:compiler

#7752 x86: Fix (b/s/i/l/v)2m opcodes fp masks
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#7754 x86: Fix vector comparison evaluation
  compiler/x/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:x86

#7750 x86: Implement OS checks in port library
  compiler/x/env/OMRCPU.cpp
  include_core/omrport.h
  port/common/omrsysinfo_helpers.c
  port/common/omrsysinfo_helpers.h
Labels: comp:port, arch:x86

#7739 AArch64: Improve fmax/fmin/dmax/dmin evaluators
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64

#7740 Move bitwise compress/expand support flags from OMR::CPU to OMR::CodeGenerator
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/env/OMRCPU.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/x/amd64/codegen/OMRCodeGenerator.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:x86, arch:power

#7762 x86: add cpuid feature flags to pcmpeqw
  compiler/x/codegen/X86Ops.ins
Labels: comp:compiler

#7608 Multiply simplifier should ask CG before decomposition
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler

#7326 Remove obsolete AlignTLHAlloc TR::Node flag
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
Labels: comp:compiler
