Repository eclipse-omr/omr, pull requests merged in 2025-03, with the labels that each got.

#7676 Change access protection for performHelperCall on x86
  compiler/x/codegen/OMRTreeEvaluator.hpp
Labels: comp:compiler, arch:x86

#7674 Define jitThrowIdentityException helper and isIdentityObject non-helper
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/il/Aliases.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler

#7677 Add -Xjit:disableCodeAllocationTrimming option
  compiler/codegen/OMRCodeGenPhase.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7678 Improve JIT tracing for string literals
  compiler/ras/Debug.cpp
Labels: comp:compiler

#7321 Explicit header definitions for Open XL warnings
  cmake/modules/platform/os/zos.cmake
  cmake/modules/platform/toolcfg/xlc.cmake
  compiler/cs2/timer.h
  compiler/infra/Array.hpp
  include_core/unix/thrdsup.h
  port/zos390/omrcel4ro31.h
  port/zos390/omrgetjobid.c
  port/zos390/omrgetjobname.c
  port/zos390/omrgetsysname.c
  port/zos390/omrgetuserid.c
  port/zos390/omrintrospect.h
  port/zos390/omrosbacktrace_impl.c
  port/zos390/omrosdump.c
  port/zos390/omrsignal_context.c
  port/zos390/omrsignal_context.h
  thread/unix/thrdsup.c
  util/omrutil/unix/zos/getstoragekey.c
Labels: comp:port, comp:thread, comp:utilities, arch:z, comp:core

#7259 Add compressbits and expandbits opcodes
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/env/OMRCPU.hpp
  compiler/env/ProcessorInfo.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86Ops.ins
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:x86, arch:power, arch:riscv

#7679 x86: Call TR::CPU::customize in CPU detection logic
  compiler/env/OMRCPU.cpp
  compiler/env/OMRCPU.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
Labels: comp:compiler, arch:x86

#7680 Add missing edge in block splitter
  compiler/optimizer/LocalOpts.cpp
Labels: comp:compiler

#7668 Print noResumableTrapHandler and disableTraps options if set
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#7686 Avoid storing PassThrough nodes to temps when splitting blocks
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#7319 Add Open XL toolchain and config changes for z/OS
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/toolcfg/openxl.cmake
Labels: first contribution

#7517 Support opaque and acquire/release memory semantics
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbolReference.cpp
  compiler/il/OMRSymbolReference.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/LocalAnalysis.cpp
  compiler/optimizer/LocalAnticipatability.cpp
  compiler/optimizer/LocalDeadStoreElimination.cpp
  compiler/optimizer/LocalLiveRangeReducer.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalReordering.cpp
  compiler/optimizer/LocalTransparency.cpp
  compiler/optimizer/LoopCanonicalizer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMRLocalCSE.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/optimizer/UseDefInfo.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/ras/Debug.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch32, arch:aarch64, arch:power, arch:riscv

#7691 Check for all interfaces implemented by java/lang/Class in VP
  compiler/optimizer/VPConstraint.cpp
Labels: comp:compiler

#7684 Merge the two documents on debugCounter
  compiler/ras/DebugCounter.md
  doc/compiler/debug/DebugCounters.md
Labels: comp:compiler, documentation

#7697 Use right owning method symbol for arraycopies
  compiler/optimizer/ValuePropagationCommon.cpp
Labels: comp:compiler

#7693 Remove unreachable blocks before exit extraction
  compiler/optimizer/Structure.cpp
Labels: comp:compiler

#7696 Stop VP from assuming that arrays are limited to INT32_MAX bytes
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPConstraint.hpp
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#7705 In splitPostGRA(), find the GlRegDeps for switch children correctly
  compiler/il/OMRBlock.cpp
Labels: comp:compiler

#7702 Define trivialInliningOnly() in TR_InlinerBase and OMR_InlinerPolicy
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/Inliner.hpp
Labels: comp:compiler
