Repository eclipse-omr/omr, pull requests merged in 2025-01, with the labels that each got.

#7601 Tune more inlining parameters without changing the source
  compiler/optimizer/Inliner.cpp
Labels: comp:compiler

#7011 Vector implementation for arraycmp on P8/P9
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Labels: comp:compiler, arch:power

#7595 Remove updateKnownObjectTableAtServer in OMR::KnownObjectTable
  compiler/env/OMRKnownObjectTable.cpp
  compiler/env/OMRKnownObjectTable.hpp
Labels: comp:compiler

#7602 x86: Add disableAVX2/512 options and check XCR0 for OS support
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/runtime/X86Runtime.hpp
Labels: comp:compiler

#7573 Remove unsafe expressions after store sinking
  compiler/optimizer/CMakeLists.txt
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/SinkStores.hpp
  compiler/optimizer/UnsafeSubexpressionRemover.cpp
  compiler/optimizer/UnsafeSubexpressionRemover.hpp
Labels: comp:compiler

#7618 Assorted small fixes
  compiler/il/ILOpCodesEnum.hpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/optimizer/OMRSimplifier.cpp
Labels: bug, comp:compiler

#7619 Aarch64 fixes
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/runtime/OMRCodeCacheMemorySegment.cpp
Labels: bug, comp:compiler, arch:aarch64

#7616 Fix arraytranslate helper name for p
  compiler/ras/Debug.cpp
Labels: comp:compiler, arch:power

#7525 Add zNext support
  compiler/optimizer/RedundantAsyncCheckRemoval.cpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/InstOpCode.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRInstOpCode.enum
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRInstructionKindEnum.hpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRMemoryReference.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
  include_core/omrport.h
  port/unix/omrsysinfo.c
Labels: comp:compiler, comp:port, arch:z, comp:core

#7587 AArch64: Implement arrayTranslateTROTNoBreak
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/runtime/ARM64ArrayTranslate.spp
  compiler/ras/Debug.cpp
  compiler/runtime/Helpers.inc
Labels: comp:compiler, arch:aarch64

#7625 Delete unused snippet list printing method from TR_Debug
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
Labels: comp:compiler

#7624 Fix (const_)reference for TR::vector<bool>
  compiler/infra/vector.hpp
Labels: comp:compiler
