Repository eclipse-omr/omr, pull requests merged in 2025-09, with the labels that each got.

#7916 Add a macro flag for RAM class sub-4G allocation
  include_core/j9nongenerated.h
Labels: comp:core

#7922 Change LOW_FREQ to 1
  compiler/infra/OMRCfg.hpp
Labels: comp:compiler

#7921 Avoid uncaught exception in `Checklist` destructor
  compiler/infra/Checklist.cpp
Labels: comp:compiler

#7915 Fix a few exception safety bugs in CS2 sparse bit vector
  compiler/cs2/sparsrbit.h
Labels: comp:compiler

#7943 Provide compiler option to disregard CPU store ordering requirements
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler

#7934 Add support for downstream Code Cache segregation
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/control/OptionsUtil.hpp
Labels: comp:compiler

#7950 Add JIT options to disable and trace constant provenance tracking
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#7955 Remove XSAVE check for BMI support
  compiler/x/codegen/OMRCodeGenerator.hpp
Labels: comp:compiler, arch:x86

#7961 Inline short, primitive, forward arraycopies on AArch64
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:compiler, arch:aarch64
