Repository eclipse-omr/omr, pull requests merged in 2025-02, with the labels that each got.

#7622 Make TR_CallSite uncopyable
  compiler/optimizer/CallInfo.hpp
Labels: comp:compiler

#7623 Remove depth and allConsts defaults from TR_CallSite constructor
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/abstractinterpreter/OMRIDTBuilder.cpp
Labels: comp:compiler

#7621 Fix choice of global vs block constraints in addKnownObjectConstraints
  compiler/optimizer/VPHandlers.cpp
Labels: comp:compiler

#7637 Improve aliasing for JProfiling helpers
  compiler/il/Aliases.cpp
Labels: comp:compiler

#7634 Fix supportsArrayTranslate and supportsArraySet
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:aarch64, arch:power

#7641 Fix tab in Aliases.cpp
  compiler/il/Aliases.cpp
Labels: comp:compiler

#7635 Inhibit preexistence based on the number of preexistence invalidations
  compiler/control/OMROptions.cpp
  compiler/optimizer/LocalOpts.cpp
Labels: comp:compiler

#7626 AArch64: Do not allocate system linkage frame if not needed
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
Labels: enhancement, comp:compiler, arch:aarch64

#7642 Add isStable() query to the TR_ResolvedMethod interface
  compiler/compile/ResolvedMethod.cpp
  compiler/compile/ResolvedMethod.hpp
Labels: comp:compiler

#7644 Require a JIT log file for TR_TraceAliases
  compiler/control/OMROptions.cpp
Labels: comp:compiler

#7645 Misc jb changes
  compiler/control/OMROptions.cpp
  compiler/ilgen/BytecodeBuilder.hpp
  compiler/ilgen/OMRBytecodeBuilder.cpp
  compiler/ilgen/OMRBytecodeBuilder.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  compiler/ilgen/OMRMethodBuilder.cpp
  compiler/ilgen/OMRMethodBuilder.hpp
  compiler/ilgen/OMRTypeDictionary.cpp
  compiler/ilgen/OMRTypeDictionary.hpp
  jitbuilder/CMakeLists.txt
  jitbuilder/apigen/jitbuilder.api.json
Labels: comp:jitbuilder

#7617 Fast Path Math.min/max_F/D
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Labels: comp:compiler, arch:power

#7654 Remove unnecessary includes of CS2 headers
  compiler/env/TRMemory.hpp
  compiler/infra/InterferenceGraph.cpp
  compiler/infra/InterferenceGraph.hpp
  compiler/infra/OMRCfg.hpp
  compiler/optimizer/CompactLocals.cpp
  compiler/optimizer/CopyPropagation.cpp
  compiler/optimizer/DominatorVerifier.cpp
  compiler/optimizer/GeneralLoopUnroller.hpp
  compiler/optimizer/GlobalRegisterAllocator.cpp
  compiler/optimizer/InductionVariable.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/LiveVariableInformation.cpp
  compiler/optimizer/LoadExtensions.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMRLocalCSE.hpp
  compiler/optimizer/OMRRegisterCandidate.cpp
  compiler/optimizer/OMRSimplifier.cpp
  compiler/optimizer/OMRSimplifier.hpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/OSRDefAnalysis.cpp
  compiler/optimizer/PartialRedundancy.cpp
  compiler/optimizer/ReachingDefinitions.cpp
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValueNumberInfo.cpp
  compiler/optimizer/ValueNumberInfo.hpp
  compiler/optimizer/VirtualGuardCoalescer.cpp
  compiler/ras/Debug.hpp
  compiler/z/codegen/OMRInstruction.cpp
Labels: comp:compiler

#7658 ZOS: Fix const length buffer used in atoe methods
  util/a2e/atoe.c
  util/a2e/atoe_utils.c
Labels: comp:port, comp:utilities

#7659 Only free options objects in Options::shutdown if safe for FrontEnd
  compiler/control/OMROptions.cpp
  compiler/env/FrontEnd.cpp
  compiler/env/FrontEnd.hpp
  fvtest/compilertest/control/TestJit.cpp
  jitbuilder/control/Jit.cpp
Labels: bug, comp:compiler, comp:jitbuilder

#7661 Prevent null check compaction for dataAddr nodes
  compiler/optimizer/LocalOpts.cpp
Labels: comp:compiler

#7620 Change return type of TR_FrontEnd::getStringUTF8Length to int32_t
  compiler/env/FrontEnd.cpp
  compiler/env/FrontEnd.hpp
Labels: comp:compiler

#7664 Improve the Math.min/max_F/D Intrinsics for Power9 or Later
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Labels: comp:compiler, arch:power

#7649 Improve arraytranslateEvaluator for Power
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: enhancement, comp:compiler, arch:power

#7652 x86: fix EVEX binary encoding of shortened mem-ref
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Labels: comp:compiler, comp:test, arch:x86

#7669 Add utility method to print TR_YesNoMaybe
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/TrivialDeadBlockRemover.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
Labels: comp:compiler

#7670 Z: Disable arrayset opt when arraylets are enabled
  compiler/z/codegen/OMRCodeGenerator.cpp
Labels: comp:compiler, arch:z
