Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

Add SKIP_STRIP_MODULE variable to determine which shared libraries should be stripped
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/platform/toolcfg/gnu.cmake
Owners: @youngar, @charliegracie

X: Fix compressExpandBitsEvaluator
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Initialize port library for unit tests
  compiler/env/CompilerEnv.hpp
  fvtest/compilertest/control/TestJit.cpp
  fvtest/tril/tril/CMakeLists.txt
  jitbuilder/control/Jit.cpp
Owners: @dsouzai, @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718, @fjeremic

Create OMR::CPU::getEnabledFeatures for downstream projects
  compiler/aarch64/env/OMRCPU.cpp
  compiler/aarch64/env/OMRCPU.hpp
  compiler/env/OMRCPU.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Owners: @0xdaryl, @knn-k, @dsouzai, @aviansie-ben, @mstoodle, @fjeremic

x86: Remove dependance on old cpuid api
  compiler/x/codegen/IntegerMultiplyDecomposer.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: Remove old cpuid queries
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
Owners: @0xdaryl, @mstoodle

Remove TR_X86ProcessorInfo
  compiler/env/OMRCPU.hpp
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/ProcessorInfo.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Remove dependency on 'env/ProcessorInfo.hpp'
  compiler/env/FrontEnd.hpp
  compiler/env/ProcessorInfo.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/runtime/X86Runtime.hpp
  compiler/z/env/OMRCPU.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle, @fjeremic

Remove isdigit macro redefs, replace with OMR_ISDIGIT
  cmake/modules/platform/os/zos.cmake
  compiler/control/OMROptions.cpp
  compiler/ras/LimitFile.cpp
  ddr/include/ddr/std/sstream.hpp
  ddr/include/ddr/std/string.hpp
  ddr/include/ddr/std/unordered_map.hpp
  fvtest/omrGtestGlue/omrGtest.cpp
  fvtest/omrGtestGlue/omrTest.h
  include_core/omrcomp.h
  util/a2e/headers/ctype.h
Owners: @youngar, @charliegracie, @dsouzai, @0xdaryl, @mstoodle

Enable /proc support on z/OS for system processes (APAR OA62757)
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

New API expose hashTable from SparseAddressOrderedPool
  gc/base/SparseAddressOrderedFixedSizeDataPool.hpp
Owners: @charliegracie, @youngar

x86: Implement OS checks in port library
  compiler/x/env/OMRCPU.cpp
  include_core/omrport.h
  port/common/omrsysinfo_helpers.c
  port/common/omrsysinfo_helpers.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Owners: @0xdaryl, @mstoodle, @charliegracie, @youngar, @babsingh

Limit loopStrider to children of array-shadow symbol nodes
  compiler/optimizer/InductionVariable.cpp
  compiler/optimizer/InductionVariable.hpp
Owners: @vijaysun-omr

x86: Fix (b/s/i/l/v)2m opcodes fp masks
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Allow skipping of strip step for specified shared libraries
  cmake/modules/OmrTargetSupport.cmake
  cmake/modules/platform/toolcfg/gnu.cmake
  cmake/modules/platform/toolcfg/openxl.cmake
  cmake/modules/platform/toolcfg/xlc.cmake
Owners: @youngar, @charliegracie

Support m2v opcode on Power
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Recognize decodeToLatin1 as a converter method
  compiler/optimizer/ValuePropagationCommon.cpp
Owners: @vijaysun-omr

Remove isdigit macro redefs, replace with OMR_ISDIGIT
  cmake/modules/platform/os/zos.cmake
  compiler/control/OMROptions.cpp
  compiler/ras/LimitFile.cpp
  ddr/include/ddr/std/sstream.hpp
  ddr/include/ddr/std/string.hpp
  ddr/include/ddr/std/unordered_map.hpp
  fvtest/omrGtestGlue/omrGtest.cpp
  fvtest/omrGtestGlue/omrTest.h
  include_core/omrcomp.h
  omrmakefiles/rules.zos.mk
  util/a2e/headers/ctype.h
Owners: @youngar, @charliegracie, @dsouzai, @0xdaryl, @mstoodle

x86: reject 64 lane vectorized mask ops on 32-bit
  compiler/x/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

x86: add AVX-512 mask test opcodes
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie

x86: Implement mAnyTrue/mAllTrue/mTrueCount
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: Create mask to GPR helper, support 16-bit lanes
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

x86: Implement mmAnyTrue / mmAllTrue
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: Implement mFirstTrue / mLastTrue
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Add x86 vpbroadcastb instruction
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

Improve x86 arrayset
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Implementation for retrieving native library information on AIX
  port/aix/omrsl.c
Owners: @charliegracie, @youngar, @babsingh

Add x86 vpbroadcastb instruction
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

Improve x86 arrayset
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Initial changes for Open XL z/os support
  port/common/omrgetsysname.h
  port/unix/omrshmem.c
  port/unix/omrshsem_deprecated.c
  port/zos390/omrgetthent.h
  port/zos390/omrsimap.h
  thread/common/thrprof.c
  thread/zos390/omrgetthent.h
  util/omrutil/gettimebase.c
Owners: @charliegracie, @youngar, @babsingh, @mstoodle, @0xdaryl

x86: Expand cpuid support in port library
  include_core/omrport.h
  port/common/omrsysinfo_helpers.c
  port/common/omrsysinfo_helpers.h
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Implement PPC codegen for mTrueCount for Int64
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Enable vpopcntd and vsrd instructions on PPC
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Owners: @aviansie-ben

Implement PPC codegen for mTrueCount for Int8/16/32
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Add binary encoder tests for vpopcntd and vsrd
  fvtest/compilerunittest/p/BinaryEncoder.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Z: Implement compress and expand IL opcodes
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @fjeremic

x86: Reject vectorized mask ops on 32-bit
  compiler/x/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

x86: Create mask to GPR helper, support 16-bit lanes
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

x86: Implement mAnyTrue/mAllTrue/mTrueCount
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: Introduce vector mask tests
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/VectorMaskTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718
