Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

Off-heap related update
  gc/base/AllocateDescription.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

RSInstructions encoding fix for IBM Z
  compiler/z/codegen/S390Instruction.cpp
Owners: @fjeremic

Suppress libtinfo error message from clang-format
  buildenv/jenkins/clang_format/Dockerfile
  buildenv/jenkins/clang_format/clang-format-wrapper.sh
Owners: @charliegracie, @mstoodle, @0xdaryl

continue dwo parse and log to problems.txt
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

RSInstructions encoding fix for IBM Z
  compiler/z/codegen/S390Instruction.cpp
Owners: @fjeremic

Fix encoding of field width for superset.dat
  ddr/lib/ddr-blobgen/java/genSuperset.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Debug logging on field type-parsing
  ddr/include/ddr/error.hpp
  ddr/lib/ddr-ir/Type.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Like previous commit, but for std::is_floating_point
  fvtest/tril/tril/format.hpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert ArithmeticTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/ArithmeticTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Like previous commit, but for std::is_pointer
  fvtest/tril/tril/format.hpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Like previous commit, but for std::is_unsigned
  fvtest/tril/tril/format.hpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Introduce new custom function to format TRIL code
  fvtest/compilertriltest/JitTest.hpp
  fvtest/tril/test/CMakeLists.txt
  fvtest/tril/test/FormatTest.cpp
  fvtest/tril/tril/format.hpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Add poor man's replacement for std::make_signed
  fvtest/tril/tril/format.hpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Like previous commit, but for std::is_same
  fvtest/tril/tril/format.hpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Like previous commit, but for std::is_integral
  fvtest/tril/tril/format.hpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert ArrayTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/ArrayTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert VectorTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/VectorTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert BitPermute tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/BitPermuteTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert CallTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/CallTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert SimpifierFoldAbsNegTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/SimplifierFoldAbsNegTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert IfxcmpgeReductionTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/IfxcmpgeReductionTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert ShiftAndRotateTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/ShiftAndRotateTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert LongAndAsRotateTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/LongAndAsRotateTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert LogicalTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/LogicalTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert TypeConversionTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/TypeConversionTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert CompareTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/CompareTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert SelectTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/SelectTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert MaxMinTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/MaxMinTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Convert LinkageTest tests to use Tril::format() instead of std::snprintf()
  fvtest/compilertriltest/LinkageTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

/* testing B.O.B */
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

Revert "/* testing B.O.B */"
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

Off-heap related update
  gc/base/AllocateDescription.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

Add OMR_ISSPACE for bimodal functions, revert logging
  ddr/lib/ddr-ir/Type.cpp
  include_core/omrcomp.h
Owners: @charliegracie, @mstoodle, @0xdaryl

RSInstructions encoding fix for IBM Z
  compiler/z/codegen/S390Instruction.cpp
Owners: @fjeremic

Handle mask types as vector types in Global Register Assigner
  compiler/codegen/CodeGenRA.cpp
  compiler/optimizer/OMRRegisterCandidate.cpp
Owners: @0xdaryl, @mstoodle, @vijaysun-omr

Z: Add mask support in inlineVectorUnaryOp() and enable mask opcodes
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Remove vlog from options processing
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Make retryCodeCacheAllocAndIgnoreKind true by default
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/runtime/OMRCodeCacheManager.cpp
Owners: @dsouzai

Z: Implement vreductionand, vreductionor, and vreductionxor
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Make retryCodeCacheAllocAndIgnoreKind true by default
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/runtime/OMRCodeCacheManager.cpp
Owners: @dsouzai

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718
