Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

Remove chkDontInlineUnsafePutOrderedCall debug flag print
  compiler/ras/Debug.cpp
Owners: @0xdaryl, @mstoodle

Add unsafe symrefs arrays for all access modes
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Owners: @0xdaryl, @mstoodle

Reorder J9ZOS390 conditionals in AtomicSupport.hpp for Open XL z/OS
  include_core/AtomicSupport.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Add Open XL toolchain and config changes for z/OS
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/toolcfg/openxl.cmake
Owners: @youngar, @charliegracie

x86: Call TR::CPU::customize in CPU detection logic
  compiler/env/OMRCPU.cpp
  compiler/env/OMRCPU.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Add bit compress and expand IL opcdes
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/env/OMRCPU.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @dsouzai, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

jfr: add an api for native libraries
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsl.c
  port/common/omrsl.h
  port/unix/omrsl.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

jfr: Add an api for system processes
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Reorder functions in atoe.c for Open XL
  util/a2e/atoe.c
Owners: @charliegracie, @mstoodle, @0xdaryl

jfr: Add an api for system processes
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

jfr: add an api for native libraries
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsl.c
  port/omrportpriv.h
  port/unix/omrsl.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Add an API for native libraries
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsl.c
  port/omrportpriv.h
  port/unix/omrsl.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Add an API for system processes
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Add function declarations in atoe.c for Open XL
  util/a2e/atoe.c
Owners: @charliegracie, @mstoodle, @0xdaryl

Add an API for native libraries
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsl.c
  port/omrportpriv.h
  port/unix/omrsl.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Add an API for native libraries
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsl.c
  port/omrportpriv.h
  port/unix/omrsl.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Remove isdigit macro redefs, replace with __isdigit_a
  compiler/control/OMROptions.cpp
  compiler/ras/LimitFile.cpp
  ddr/include/ddr/std/sstream.hpp
  ddr/include/ddr/std/string.hpp
  ddr/include/ddr/std/unordered_map.hpp
  fvtest/omrGtestGlue/omrGtest.cpp
  fvtest/omrGtestGlue/omrTest.h
  util/a2e/headers/ctype.h
Owners: @dsouzai, @0xdaryl, @mstoodle, @charliegracie

Ensure simplification of compare op is valid
  compiler/optimizer/OMRSimplifierHandlers.cpp
Owners: @vijaysun-omr

Add an API for system processes
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrport.tdf
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Remove isdigit macro redefs, replace with OMR_ISDIGIT
  compiler/control/OMROptions.cpp
  compiler/ras/LimitFile.cpp
  ddr/include/ddr/std/sstream.hpp
  ddr/include/ddr/std/string.hpp
  ddr/include/ddr/std/unordered_map.hpp
  fvtest/omrGtestGlue/omrGtest.cpp
  fvtest/omrGtestGlue/omrTest.h
  include_core/omrcomp.h
  util/a2e/headers/ctype.h
Owners: @dsouzai, @0xdaryl, @mstoodle, @charliegracie

x86: enable mstore/mstorei mask opcodes
  compiler/x/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

x86: Create vector broadcast helper
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: Implement vector shift/rotate for short/int/long on AVX-2+
  compiler/il/VectorOperations.enum
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86OpcodeTable.hpp
Owners: @vijaysun-omr, @Leonardo2718, @0xdaryl, @mstoodle

Z: Implement compress and expand IL opcodes
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
Owners: @fjeremic

x86: Implement mAnyTrue/mAllTrue/mTrueCount
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: add AVX-512 mask test opcodes
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie

x86: Create mask to GPR helper, support 16-bit lanes
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

x86: reject 64 lane vectorized mask ops on 32-bit
  compiler/x/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

TRIL: Fix opcode parsing bug
  fvtest/tril/tril/ilgen.hpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Add tril tests for compress & expand IL opcodes
  fvtest/compilertriltest/LogicalTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Add tril tests for 8 & 16 bit binary logical opcodes
  fvtest/compilertriltest/LogicalTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

x86: fix boolean array to vector mask conversion
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: fix vector operations under write mask
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: Implement vector shift/rotate for short/int/long on AVX-2+
  compiler/il/VectorOperations.enum
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86OpcodeTable.hpp
Owners: @vijaysun-omr, @Leonardo2718, @0xdaryl, @mstoodle

Pass port library to compilertest JIT initialization
  fvtest/compilertest/Jit.hpp
  fvtest/compilertest/control/TestJit.cpp
  fvtest/compilertriltest/JitTest.hpp
  fvtest/tril/test/JitTest.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718, @fjeremic

Add OMRPortLibrary parameter to TR::CompilerEnv constructor
  compiler/env/CompilerEnv.hpp
Owners: @dsouzai

Remove isdigit macro redefs, replace with OMR_ISDIGIT
  compiler/control/OMROptions.cpp
  compiler/ras/LimitFile.cpp
  ddr/include/ddr/std/sstream.hpp
  ddr/include/ddr/std/string.hpp
  ddr/include/ddr/std/unordered_map.hpp
  fvtest/omrGtestGlue/omrGtest.cpp
  fvtest/omrGtestGlue/omrTest.h
  include_core/omrcomp.h
  util/a2e/headers/ctype.h
Owners: @dsouzai, @0xdaryl, @mstoodle, @charliegracie

Fix exports for OpenXL build
  cmake/modules/platform/toolcfg/gnu.cmake
Owners: @youngar, @charliegracie

Skip strip step when linking libjvmtitest.so with OpenXL on AIX
  cmake/modules/platform/toolcfg/gnu.cmake
Owners: @youngar, @charliegracie

Add vblend vector operation
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718
