Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

Create a log filename builder
  compiler/compile/OMRCompilation.cpp
  compiler/control/CompileMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/FrontEnd.cpp
  compiler/env/FrontEnd.hpp
  compiler/ras/OptionsDebug.cpp
  fvtest/compilertest/tests/LimitFileTest.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @charliegracie

Refactor ARMHelperCallSnippet emitSnippetBody
  compiler/aarch64/codegen/ARM64HelperCallSnippet.cpp
  compiler/aarch64/codegen/ARM64HelperCallSnippet.hpp
Owners: @0xdaryl, @knn-k

Implement PPC codegen for mloadiFromArrayEvaluator for all Integral vector types
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Refactor ARM64HelperCallSnippet
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64HelperCallSnippet.cpp
  compiler/aarch64/codegen/ARM64HelperCallSnippet.hpp
Owners: @0xdaryl, @knn-k

Implement PPC codegen for mstoreiToArray for all Integral vector types
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Ensure isInternalPointer can be called for both store nodes
  compiler/optimizer/OMRCFGSimplifier.cpp
Owners: @vijaysun-omr

Enable boolean store simplification of CFG Simplifier
  compiler/optimizer/OMRCFGSimplifier.cpp
Owners: @vijaysun-omr

Disable matching of several patterns in CFG Simplification
  compiler/optimizer/OMRCFGSimplifier.cpp
Owners: @vijaysun-omr

Check for Mask type whenever we check for Vector type
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/codegen/CodeGenRA.cpp
  compiler/codegen/OMRLinkage.cpp
  compiler/codegen/RegisterPressureSimulatorInner.hpp
  compiler/il/Aliases.cpp
  compiler/il/OMRBlock.cpp
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRDataTypes_inlines.hpp
  compiler/il/OMRIL.cpp
  compiler/il/OMRILOps.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/OMRRegisterCandidate.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @knn-k, @mstoodle, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @fjeremic

Fix reference counts on memrefs on Power
  compiler/p/codegen/OMRMemoryReference.cpp
Owners: @aviansie-ben

Test clang format
  compiler/x/codegen/IntegerMultiplyDecomposer.cpp
Owners: @0xdaryl, @mstoodle

New trace point checkResize
  gc/base/j9mm.tdf
Owners: @charliegracie, @youngar

Fix vector shift opcodes on x86
  compiler/x/codegen/X86OpcodeTable.hpp
Owners: @0xdaryl, @mstoodle

Add tenure threshold api
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
Owners: @charliegracie, @youngar

Remove default value references
  compiler/codegen/Relocation.cpp
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/env/OMRClassEnv.hpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Runtime.hpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr, @Leonardo2718

Fix dead link in README
  README.md
Owners: @charliegracie, @mstoodle, @0xdaryl

Remove default value references
  compiler/codegen/Relocation.cpp
  compiler/compile/OMRNonHelperSymbols.enum
  compiler/compile/OMRSymbolReferenceTable.hpp
  compiler/env/OMRClassEnv.hpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/ras/Debug.cpp
  compiler/runtime/Runtime.hpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr, @Leonardo2718

New trace point checkResize
  gc/base/j9mm.tdf
Owners: @charliegracie, @youngar

Add block device stats APIs to portlib
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Implement arithmetic reduction opcodes on IBM Z platform
  compiler/il/OMRDataTypes.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @vijaysun-omr, @Leonardo2718, @fjeremic

Remove obsolete Blog Posts section from README
  README.md
Owners: @charliegracie, @mstoodle, @0xdaryl

Add vector shift/rotate opcode support on IBM Z platform
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

add shared helpers for vector/mask element sizing and type checks
  compiler/il/OMRDataTypes.cpp
  compiler/il/OMRDataTypes.hpp
  compiler/il/OMRDataTypes_inlines.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
Owners: @vijaysun-omr, @Leonardo2718

Z: Add support for vbitselect, vblend, vmfma, vnot, and vmnot.
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Add support for vcompress and vexpand on IBM Z platform.
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Add log2 utility functions for int32_t and int64_t
  compiler/infra/Bit.hpp
Owners: @0xdaryl, @mstoodle

Add masked operation support to inlineVectorUnaryOp()
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Add OMRPortLib to Jit test compiler environment
  fvtest/compilertest/Jit.hpp
  fvtest/compilertest/control/TestJit.cpp
  fvtest/compilertriltest/JitTest.hpp
  fvtest/compilertriltest/VectorTest.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718, @fjeremic

New trace point checkResize
  gc/base/j9mm.tdf
Owners: @charliegracie, @youngar

Move vector tests to dedicated VectorTests subdirectory
  fvtest/compilertriltest/VectorTests/CMakeLists.txt
  fvtest/compilertriltest/VectorTests/VectorMaskTest.cpp
  fvtest/compilertriltest/VectorTests/VectorTest.cpp
  fvtest/compilertriltest/VectorTests/VectorTestUtils.cpp
  fvtest/compilertriltest/VectorTests/VectorTestUtils.hpp
  fvtest/compilertriltest/VectorTests/main.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Provide a default FrontEnd.hpp to define TR::FrontEnd
  compiler/env/CMakeLists.txt
  compiler/env/FrontEnd.hpp
  compiler/env/OMRFrontEnd.hpp
  compiler/env/TRFrontEnd.cpp
  compiler/env/TRFrontEnd.hpp
  fvtest/compilertest/build/files/common.mk
  fvtest/compilertest/env/FrontEnd.hpp
  jitbuilder/build/files/common.mk
  jitbuilder/env/FrontEnd.hpp
Owners: @dsouzai, @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718

Enhance default ObjectModel.cpp implementation
  compiler/env/OMRObjectModel.cpp
  fvtest/compilertest/env/ObjectModel.hpp
  fvtest/compilertest/env/TestObjectModel.hpp
  jitbuilder/env/JBObjectModel.hpp
  jitbuilder/env/ObjectModel.hpp
Owners: @dsouzai, @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718

Move StackAtlasPOD.hpp into compiler component as default implementation
  compiler/runtime/StackAtlasPOD.hpp
  fvtest/compilertest/runtime/StackAtlasPOD.hpp
Owners: @dsouzai, @charliegracie, @mstoodle, @0xdaryl

Add default code cache segment allocation to OMR::CodeCacheManager
  compiler/runtime/OMRCodeCacheManager.cpp
  compiler/runtime/OMRCodeCacheManager.hpp
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/runtime/CodeCacheManager.hpp
  fvtest/compilertest/runtime/TestCodeCacheManager.cpp
  fvtest/compilertest/runtime/TestCodeCacheManager.hpp
  jitbuilder/CMakeLists.txt
  jitbuilder/runtime/CodeCacheManager.hpp
  jitbuilder/runtime/JBCodeCacheManager.cpp
  jitbuilder/runtime/JBCodeCacheManager.hpp
Owners: @dsouzai, @youngar, @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718

Remove CodeCacheManager files from jitbuilder and compilertest
  fvtest/compilertest/build/files/common.mk
  jitbuilder/build/files/common.mk
Owners: @charliegracie, @mstoodle, @Leonardo2718

Move ResolvedMethod into compiler/compile
  compiler/compile/CMakeLists.txt
  compiler/compile/OMRMethod.cpp
  compiler/compile/OMRResolvedMethod.cpp
  compiler/compile/OMRResolvedMethod.hpp
  compiler/compile/ResolvedMethod.hpp
  compiler/compile/TRResolvedMethod.cpp
  compiler/compile/TRResolvedMethod.hpp
  compiler/ilgen/OMRMethodBuilder.cpp
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/build/files/common.mk
  fvtest/compilertest/compile/Method.hpp
  fvtest/compilertest/compile/ResolvedMethod.cpp
  fvtest/compilertest/compile/ResolvedMethod.hpp
  fvtest/compilertest/control/TestJit.cpp
  fvtest/compilertest/tests/TestDriver.cpp
  fvtest/compilertriltest/MinimalTest.cpp
  jitbuilder/CMakeLists.txt
  jitbuilder/build/files/common.mk
  jitbuilder/compile/Method.hpp
  jitbuilder/compile/ResolvedMethod.cpp
Owners: @0xdaryl, @mstoodle, @Leonardo2718, @youngar, @charliegracie, @fjeremic

Move code cache manager out of OMR::FrontEnd object
  compiler/env/OMRFrontEnd.cpp
  compiler/env/OMRFrontEnd.hpp
  compiler/runtime/CodeCacheManager.hpp
Owners: @dsouzai

Restructure optimizer for JitBuilder and compilertest
  compiler/optimizer/CMakeLists.txt
  compiler/optimizer/FullOptimizer.hpp
  compiler/optimizer/OMRFullOptimizer.cpp
  compiler/optimizer/OMRFullOptimizer.hpp
  compiler/optimizer/OMROptimizationManager.hpp
  compiler/optimizer/OMRSmallOptimizer.cpp
  compiler/optimizer/OMRSmallOptimizer.hpp
  compiler/optimizer/OptimizationStrategies.hpp
  compiler/optimizer/Optimizations.hpp
  compiler/optimizer/SmallOptimizer.hpp
  compiler/optimizer/UseDefInfo.hpp
  compiler/ras/LimitFile.cpp
  fvtest/compilertest/build/files/common.mk
  fvtest/compilertest/optimizer/Optimizer.hpp
  jitbuilder/CMakeLists.txt
  jitbuilder/build/files/common.mk
  jitbuilder/optimizer/JBOptimizer.cpp
  jitbuilder/optimizer/JBOptimizer.hpp
Owners: @vijaysun-omr, @0xdaryl, @mstoodle, @charliegracie, @Leonardo2718

Rewire tril and compiler unit tests to use jitbuilder not test compiler
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/JitTest.hpp
  fvtest/compilerunittest/CompilerUnitTest.hpp
  fvtest/tril/CMakeLists.txt
  fvtest/tril/examples/incordec/main.cpp
  fvtest/tril/examples/mandelbrot/main.cpp
  fvtest/tril/test/JitTest.hpp
  fvtest/tril/tril/CMakeLists.txt
  fvtest/tril/tril/compiler.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl, @charliegracie, @mstoodle

Remove unnecessary file x/codegen/Evaluator.cpp
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/x/codegen/Evaluator.cpp
  jitbuilder/CMakeLists.txt
  jitbuilder/x/codegen/Evaluator.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718
