Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

Replace TR_PrettyPrinterString by writing directly to a Logger
  compiler/compile/OMRCompilation.hpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/ras/Logger.hpp
  compiler/ras/Tree.cpp
Owners: @0xdaryl, @mstoodle

Add guarded virtual memory support for z/OS
  gc/base/MemoryManager.cpp
  gc/base/SparseVirtualMemory.hpp
  include_core/omrport.h
  include_core/unix/zos/omriarv64.h
  port/zos390/omriarv64.c
  port/zos390/omrvmem.c
  port/zos390/omrvmem_support_above_bar.s
Owners: @charliegracie, @youngar, @mstoodle, @0xdaryl, @babsingh

RISC-V: specify CMAKE_C_COMPILER and CMAKE_CXX_COMPILER for CI builds
  buildenv/jenkins/omrbuild.groovy
Owners: @charliegracie, @mstoodle, @0xdaryl

[TO DROP]: list contents of /usr/lib/ccache when using ccache
  buildenv/jenkins/omrbuild.groovy
Owners: @charliegracie, @mstoodle, @0xdaryl

Update ccache symlinks before building
  buildenv/jenkins/omrbuild.groovy
Owners: @charliegracie, @mstoodle, @0xdaryl

Z: Implement vector bit swap evaluators
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

init impl
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

add fault
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Revert "add fault"
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Z: Use z17 bit compress/expand instructions in vector bitmask
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Disable const refs on AArch64
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Fix incorrect loopDrivingInductionVariable assignment and missing lower bound check in buildBoundCheckComparisonsTree
  compiler/optimizer/LoopVersioner.cpp
Owners: @vijaysun-omr

enable define OMR_SCAVENGER_TRACE_BACKOUT
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Improvements to MemoryBufferLogger
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle

Replace getName(TR::Snippet) with direct Logger output
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64HelperCallSnippet.cpp
  compiler/aarch64/codegen/ConstantDataSnippet.cpp
  compiler/aarch64/codegen/OMRSnippet.cpp
  compiler/aarch64/codegen/OMRSnippet.hpp
  compiler/arm/codegen/ARMDebug.cpp
  compiler/arm/codegen/OMRSnippet.cpp
  compiler/arm/codegen/OMRSnippet.hpp
  compiler/codegen/OMRUnresolvedDataSnippet.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/riscv/codegen/RVHelperCallSnippet.cpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/DivideCheckSnippet.cpp
  compiler/x/codegen/HelperCallSnippet.cpp
  compiler/x/codegen/OMRSnippet.cpp
  compiler/x/codegen/OMRSnippet.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86FPConversionSnippet.cpp
Owners: @0xdaryl, @knn-k, @mstoodle

Add OMR::Snippet::getName()
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRSnippet.cpp
  compiler/codegen/OMRSnippet.hpp
Owners: @0xdaryl, @mstoodle

Update OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Adds flags to control recognized call transformer
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
Owners: @vijaysun-omr, @Leonardo2718

AArch64: Implement vector mand/mor/mxor/msplats
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

Add rebug
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Add guarded virtual memory support for z/OS
  gc/base/MemoryManager.cpp
  gc/base/SparseVirtualMemory.hpp
  include_core/omrport.h
  include_core/unix/zos/omriarv64.h
  port/zos390/omriarv64.c
  port/zos390/omrvmem.c
  port/zos390/omrvmem_support_above_bar.s
Owners: @charliegracie, @youngar, @mstoodle, @0xdaryl, @babsingh

fix
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Revert "Add rebug"
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Change return type of atomic addU32 to U32
  gc/base/AtomicOperations.hpp
Owners: @charliegracie, @youngar

Simplify array ref nodes with NULL base
  compiler/codegen/CodeGenPrep.cpp
Owners: @0xdaryl, @mstoodle

Implement mstoreiToArray for x86 with AVX512 support
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @mstoodle

Compute register mask values rather than select with switch
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie

Compute register RegNums from index rather than select with switch
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
Owners: @0xdaryl, @mstoodle

Add X86 CodeGenerator flags to enable extended register use
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/amd64/codegen/OMRCodeGenerator.cpp
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Introduce eGPRs and extended XMMRs
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/amd64/codegen/OMRMachine.hpp
  compiler/x/amd64/codegen/OMRRealRegister.cpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/amd64/codegen/RealRegisterMaskEnum.hpp
  compiler/x/codegen/OMRRealRegister.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/i386/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
Owners: @0xdaryl, @mstoodle

AArch64: Introduce Register::setAssignZeroRegister()
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRRegister.hpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

add prints to CS path
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Define target-specific constants in Helpers.inc conditionally
  compiler/runtime/Helpers.inc
Owners: @dsouzai

RISC-V: implement GCMaps and RegisterMaps
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
Owners: @0xdaryl, @mstoodle

RISC-V: add getPreservedRegisterMapForGC() to linkage properties
  compiler/riscv/codegen/OMRLinkage.cpp
  compiler/riscv/codegen/OMRLinkage.hpp
Owners: @0xdaryl, @mstoodle

AArch64: Implement binary search in lookupEvaluator
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/LookupTest.cpp
  fvtest/tril/tril/CMakeLists.txt
  fvtest/tril/tril/CaseNodeConverter.cpp
  fvtest/tril/tril/CaseNodeConverter.hpp
  fvtest/tril/tril/GenericNodeConverter.cpp
  fvtest/tril/tril/ilgen.cpp
  fvtest/tril/tril/simple_compiler.cpp
Owners: @0xdaryl, @knn-k, @Leonardo2718, @fjeremic

RISC-V: add methods to InstructionDelegate
  compiler/riscv/codegen/OMRInstructionDelegate.hpp
Owners: @0xdaryl, @mstoodle

RISC-V: call InstructionDelegate::encodeBranchToLabel()
  compiler/riscv/codegen/RVInstruction.cpp
Owners: @0xdaryl, @mstoodle

AArch64: Replace TR::InstOpCode by OP
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64HelperCallSnippet.cpp
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/ARM64OutOfLineCodeSection.cpp
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/BinaryEvaluator.cpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/FPTreeEvaluator.cpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/GenerateInstructions.hpp
  compiler/aarch64/codegen/InstOpCode.hpp
  compiler/aarch64/codegen/Instruction.hpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRInstruction.cpp
  compiler/aarch64/codegen/OMRInstruction.hpp
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/aarch64/codegen/OMRLinkage.hpp
  compiler/aarch64/codegen/OMRMachine.cpp
  compiler/aarch64/codegen/OMRMemoryReference.cpp
  compiler/aarch64/codegen/OMRMemoryReference.hpp
  compiler/aarch64/codegen/OMRRegisterDependency.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/aarch64/codegen/UnaryEvaluator.cpp
Owners: @0xdaryl, @knn-k

Always return NULL for PureFunction useDef aliases
  compiler/il/Aliases.cpp
Owners: @vijaysun-omr, @Leonardo2718
