Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

Add Clang Format Dockerfile
  buildenv/jenkins/clang_format/Dockerfile
Owners: @charliegracie, @mstoodle, @0xdaryl

Address clang-format issue with __asm
  compiler/ras/CallStack.cpp
Owners: @0xdaryl, @mstoodle

Add Clang Format File
  compiler/.clang-format
Owners: @0xdaryl, @mstoodle

Add documentation about the compiler component code format
  doc/CodingStandard.md
  doc/compiler/CodingStandard.md
Owners: @charliegracie, @mstoodle, @0xdaryl

Remove space at end of the line to ensure merging namespaces functions correctly
  compiler/ilgen/IlGen.hpp
Owners: @mstoodle, @Leonardo2718

Z: Disable last iTable cache
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Z: Implement mAllTrue mAnyTrue mmAllTrue mmAnyTrue
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @fjeremic

Emit vzeroupper after arraycopy ymm/zmm use
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Increase short arraycopy threshold on x86
  compiler/control/OMROptions.hpp
Owners: @dsouzai

x86: Fix FP vcmpgt/vcmpge on SSE
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Fix race on spinThreads in monitor exit and acquire paths
  thread/common/omrthread.c
  thread/common/threadhelpers.cpp
Owners: @charliegracie, @youngar, @babsingh

Prevent JIT bodies from strictly outliving methods inlined into them
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/CMakeLists.txt
  compiler/env/OMRRetainedMethodSet.cpp
  compiler/env/OMRRetainedMethodSet.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/InlinerFailureReason.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/abstractinterpreter/OMRIDTBuilder.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/OMRRuntimeAssumptions.hpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr, @Leonardo2718

Update RetainedMethodSet (for review, to squash)
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/env/OMRRetainedMethodSet.cpp
  compiler/env/OMRRetainedMethodSet.hpp
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/Inliner.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr

Remove TR_X86FPStackRegister class
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRRegisterDependency.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Register.hpp
Owners: @0xdaryl, @mstoodle

Remove X86Register.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Register.hpp
Owners: @0xdaryl, @mstoodle

Open XL DDR Enablement initial commit
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-scanner/CMakeLists.txt
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  util/hookable/CMakeLists.txt
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar

Address clang-format issue with __asm
  compiler/ras/CallStack.cpp
Owners: @0xdaryl, @mstoodle

Add Clang Format Dockerfile
  buildenv/jenkins/clang_format/Dockerfile
Owners: @charliegracie, @mstoodle, @0xdaryl

Clang Format Linter Scripts
  buildenv/jenkins/clang_format/clangFormatCheck.groovy
  buildenv/jenkins/clang_format/clangFormatCheck.sh
Owners: @charliegracie, @mstoodle, @0xdaryl

Add documentation about the compiler component code format
  doc/CodingStandard.md
  doc/compiler/CodingStandard.md
Owners: @charliegracie, @mstoodle, @0xdaryl

Checkout code from PR
  buildenv/jenkins/clang_format/clangFormatCheck.groovy
Owners: @charliegracie, @mstoodle, @0xdaryl

Add Clang Format File
  compiler/.clang-format
Owners: @0xdaryl, @mstoodle

Remove space at end of the line to ensure merging namespaces functions correctly
  compiler/ilgen/IlGen.hpp
Owners: @mstoodle, @Leonardo2718

Don't set tableBackByRawStorage flag
  compiler/optimizer/ValuePropagationCommon.cpp
Owners: @vijaysun-omr

Z: Implement mAllTrue mAnyTrue mmAllTrue mmAnyTrue
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @fjeremic

Remove TR_X86FPStackRegister class
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRRegisterDependency.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Register.hpp
Owners: @0xdaryl, @mstoodle

Remove X86Register.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRMachine.hpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86Register.hpp
Owners: @0xdaryl, @mstoodle

x86: Fix FP vcmpgt/vcmpge on SSE
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Set decimal precision when creating store for pdload
  compiler/optimizer/PartialRedundancy.cpp
Owners: @vijaysun-omr

Prevent clang-format from formatting TR_CompilationOptions
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Open XL DDR Enablement initial commit
  cmake/config.cmake
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-scanner/CMakeLists.txt
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  util/hookable/hookable.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

PPC codegen for s2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Add optional spin/sleep in park()
  include_core/omrthread.h
  include_core/omrthread_generated.h
  include_core/thrtypes.h
  thread/common/omrthread.c
  thread/common/threaddef.h
  thread/common/threadhelpers.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

debug ddrgen scan
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Enable s2m for integral types only
  compiler/p/codegen/OMRCodeGenerator.cpp
Owners: @aviansie-ben

AArch64: Use ldar/stlr for volatile loads/stores
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

Set decimal precision when creating store for pdload
  compiler/optimizer/PartialRedundancy.cpp
Owners: @vijaysun-omr

Fix GC IDs for JFR
  gc/base/CycleState.hpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Debug DwarfParser parsing issues
  cmake/modules/ddr/DDRSetStub.cmake.in
  ddr/include/ddr/error.hpp
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

x86: Implement vector shift/rotate for short/int/long on AVX-2+
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86OpcodeTable.hpp
Owners: @0xdaryl, @mstoodle
