Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

x86: enable mstore/mstorei mask opcodes
  compiler/x/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

Fix GC IDs for JFR
  gc/base/CycleState.hpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

PPC codegen for i2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

AArch64: Use ldar/stlr for volatile loads/stores
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

Implement PPC codegen for s2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Z: Adding vector compare opcodes to supported list
  compiler/z/codegen/OMRCodeGenerator.cpp
Owners: @fjeremic

Implement PPC codegen for l2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Prevent JIT bodies from strictly outliving methods inlined into them
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/CMakeLists.txt
  compiler/env/OMRRetainedMethodSet.cpp
  compiler/env/OMRRetainedMethodSet.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/InlinerFailureReason.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/abstractinterpreter/OMRIDTBuilder.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/OMRRuntimeAssumptions.hpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr, @Leonardo2718

Update RetainedMethodSet (for review, to squash)
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/env/OMRRetainedMethodSet.cpp
  compiler/env/OMRRetainedMethodSet.hpp
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/Inliner.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr

Handle allocation failure adding a segment to CS2 sparse bit vector
  compiler/cs2/sparsrbit.h
Owners: @0xdaryl, @mstoodle

Set CS2 sparse bit vector segment count after allocation succeeds
  compiler/cs2/sparsrbit.h
Owners: @0xdaryl, @mstoodle

Extract common logic for adding a segment to a CS2 sparse bit vector
  compiler/cs2/sparsrbit.h
Owners: @0xdaryl, @mstoodle

Handle alloc failure when removing a CS2 sparse bit vector segment
  compiler/cs2/sparsrbit.h
Owners: @0xdaryl, @mstoodle

Add a macro flag for RAM class sub-4G allocation
  include_core/j9nongenerated.h
Owners: @charliegracie, @mstoodle, @0xdaryl

Use 64-bit instructions for length child and result regs
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Debug DwarfParser parsing issues
  cmake/modules/ddr/DDRSetStub.cmake.in
  ddr/include/ddr/error.hpp
  ddr/lib/ddr-scanner/dwarf/DwarfParser.cpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

Alternate implementation (use vupkhsw)
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Implement PPC codegen for s2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

AArch64: Use ldar/stlr for volatile loads/stores
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

Add a couple of border frequency threshold options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Fix GC IDs for JFR
  gc/base/CycleState.hpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Revert zOS to use Libdwarf route again to read dwo
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-scanner/CMakeLists.txt
  ddr/lib/ddr-scanner/Makefile
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar

Add support for dispatchJ9Method for MethodHandles
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/z/codegen/CallSnippet.cpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/S390HelperCallSnippet.cpp
Owners: @vijaysun-omr, @Leonardo2718, @fjeremic

PPC codegen for m2i
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Try parse single dwo with new libdwarf
  cmake/config.cmake
  cmake/modules/FindLibDwarf.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/os/zos.cmake
  ddr/include/ddr/error.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

Z: Implement boolean array to mask evaluators
  compiler/il/VectorOperations.enum
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @vijaysun-omr, @Leonardo2718, @fjeremic

Add new MEMORY_TYPE_* flags for RAM class sub-types
  include_core/j9nongenerated.h
Owners: @charliegracie, @mstoodle, @0xdaryl

PPC codegen for m2s
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Fix GC IDs for JFR
  gc/base/CycleState.hpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Fix clobber evaluation of Node's register
  compiler/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

Add OMRPortLibrary parameter to TR::CompilerEnv constructor
  compiler/env/CompilerEnv.hpp
Owners: @dsouzai

Pass port library to compilertest JIT initialization
  fvtest/compilertest/Jit.hpp
  fvtest/compilertest/control/TestJit.cpp
  fvtest/compilertriltest/JitTest.hpp
  fvtest/tril/test/JitTest.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718, @fjeremic

Z: Implement boolean array to mask evaluators
  compiler/il/VectorOperations.enum
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @vijaysun-omr, @Leonardo2718, @fjeremic

x86: remove supports_feature_test
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
Owners: @0xdaryl, @mstoodle

Implement PPC codegen for s2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Try parse single dwo with new libdwarf
  cmake/config.cmake
  cmake/modules/FindLibDwarf.cmake
  cmake/modules/FindLibElf.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/os/zos.cmake
  ddr/include/ddr/error.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

Implement PPC codegen for l2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

PPC codegen for i2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Off-heap related update
  gc/base/AllocateDescription.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

Allow more complex methods to be compiled under aggressive optimization
  compiler/control/OMROptions.cpp
Owners: @dsouzai
