Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

Allocate Vector registers before GPRs
  compiler/p/codegen/OMRMachine.cpp
  compiler/p/codegen/OMRRegisterDependency.cpp
  compiler/p/codegen/PPCDebug.cpp
Owners: @aviansie-ben

Save comp phase in a local rather than a stack allocated object
  compiler/optimizer/OMROptimizer.cpp
Owners: @vijaysun-omr

Use reverse byte order load on LE systems
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Off-heap related update
  gc/base/AllocateDescription.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

Try parse single dwo with new libdwarf
  cmake/config.cmake
  cmake/modules/FindLibDwarf.cmake
  cmake/modules/FindLibElf.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/os/zos.cmake
  ddr/include/ddr/error.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-scanner/CMakeLists.txt
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

/* testing B.O.B */
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

x86: Implement mand, mor, mxor
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/VectorMaskTest.cpp
Owners: @0xdaryl, @mstoodle, @Leonardo2718, @fjeremic

Revert "/* testing B.O.B */"
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

Implement PPC codegen for s2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Fix GC IDs for JFR
  gc/base/CycleState.hpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Fix race on spinThreads in monitor exit and acquire paths
  thread/common/omrthread.c
  thread/common/threadhelpers.cpp
Owners: @charliegracie, @youngar, @babsingh

Revert to the old behavior for unblock_spinlock_threads
  thread/common/omrthread.c
Owners: @charliegracie, @youngar, @babsingh

Unconditionally invoke unblock_spinlock_threads
  thread/common/omrthread.c
Owners: @charliegracie, @youngar, @babsingh

Save and propagate si_pid for async signals, update omrsig_info()
  include_core/omrport.h
  port/aix/omrsignal_context.c
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/linux386/omrsignal_context.c
  port/linuxaarch64/omrsignal_context.c
  port/linuxamd64/omrsignal_context.c
  port/linuxarm/omrsignal_context.c
  port/linuxppc/omrsignal_context.c
  port/linuxriscv64/omrsignal_context.c
  port/linuxs390/omrsignal_context.c
  port/omrportpriv.h
  port/osx/omrsignal_context.c
  port/unix/omrsignal.c
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
  port/zos390/omrsignal_context.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Z: Enable msplats opcode
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Implement PPC codegen for s2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Z: Implement integral vreductionadd evaluator
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Initial Logger class
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle

Add option for tracing block iteration
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Add more trace options that require JIT log
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Implement CircularLogger
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Remove unused dump functions from OMROptimizer
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMROptimizer.hpp
Owners: @vijaysun-omr

Add new trace verification options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Implement MemoryBufferLogger
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle

Delete unused TR_Debug::printInstruction
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
Owners: @0xdaryl, @mstoodle

Cache TR::Compilation object in local to improve readability (X codegen)
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRLinkage.cpp
  compiler/x/codegen/X86SystemLinkage.cpp
  compiler/x/i386/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

Rename Options::openLogFile to include Logger
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Implement PPC codegen for l2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Use reverse byte order load on LE systems
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Requested changes + use reverse byte order load on LE systems
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Eliminate some getLoggingEnabled() checks
  compiler/codegen/NodeEvaluation.cpp
  compiler/compile/OMRAliasBuilder.cpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OSRData.cpp
  compiler/control/CompileMethod.cpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/ilgen/ByteCodeIteratorWithState.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/infra/HedgeTree.hpp
  compiler/optimizer/DominatorVerifier.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/ras/CFGChecker.cpp
  compiler/ras/CFGChecker.hpp
  compiler/ras/CallStack.cpp
  compiler/ras/CallStackIterator.hpp
  compiler/ras/Debug.cpp
  compiler/ras/ILValidationUtils.cpp
  compiler/ras/Tree.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr, @Leonardo2718

Remove remaining remnants of traceMsg family of macros
  compiler/compile/OMRCompilation.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  fvtest/tril/tril/CallConverter.cpp
  fvtest/tril/tril/GenericNodeConverter.cpp
  fvtest/tril/tril/ilgen.cpp
Owners: @0xdaryl, @mstoodle, @Leonardo2718, @fjeremic

Create Logger documentation
  doc/compiler/debug/Loggers.md
Owners: @charliegracie, @mstoodle, @0xdaryl

Introduce conditional logger convenience macros
  compiler/env/OMRIO.cpp
  compiler/env/OMRIO.hpp
  compiler/ras/Logger.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Cache log file and logger in Compilation object
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
Owners: @0xdaryl, @mstoodle

Remove Debug::trace() and Debug::vtrace functions in favour of TR::Logger
  compiler/optimizer/CopyPropagation.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
Owners: @vijaysun-omr, @0xdaryl, @mstoodle, @fjeremic

DEBUG all dwo parsing
  ddr/include/ddr/error.hpp
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Try parse single dwo with new libdwarf
  cmake/config.cmake
  cmake/modules/FindLibDwarf.cmake
  cmake/modules/FindLibElf.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/os/zos.cmake
  ddr/include/ddr/error.hpp
  ddr/include/ddr/scanner/dwarf/DwarfScanner.hpp
  ddr/lib/ddr-scanner/CMakeLists.txt
  ddr/lib/ddr-scanner/dwarf/DwarfScanner.cpp
  ddr/tools/ddrgen/ddrgen.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

Revert "/* testing B.O.B */"
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

/* testing B.O.B */
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718
