Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

AArch64: Implement mloadiFromArray and mstoreiToArray
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

Fix false container detection from host cgroups
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Unify completeBackout
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Handle removed edges in mergeDefConstraints in GVP
  compiler/optimizer/OMRValuePropagation.cpp
Owners: @vijaysun-omr

Call addSimplifierCommon at the end of laddSimplifier
  compiler/optimizer/OMRSimplifierHandlers.cpp
Owners: @vijaysun-omr

RISC-V: implement and use MemoryReference::generateBinaryEncoding()
  compiler/riscv/codegen/OMRMemoryReference.cpp
  compiler/riscv/codegen/OMRMemoryReference.hpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVInstruction.hpp
Owners: @0xdaryl, @mstoodle

comment out verbose trace logs
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Fix incorrect loopDrivingInductionVariable assignment and missing lower bound check in buildBoundCheckComparisonsTree
  compiler/optimizer/LoopVersioner.cpp
Owners: @vijaysun-omr

Improvements to MemoryBufferLogger
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle

Replace getName(TR::Snippet) with direct Logger output
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64HelperCallSnippet.cpp
  compiler/aarch64/codegen/ConstantDataSnippet.cpp
  compiler/aarch64/codegen/OMRSnippet.cpp
  compiler/aarch64/codegen/OMRSnippet.hpp
  compiler/arm/codegen/ARMDebug.cpp
  compiler/arm/codegen/OMRSnippet.cpp
  compiler/arm/codegen/OMRSnippet.hpp
  compiler/codegen/OMRUnresolvedDataSnippet.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/riscv/codegen/RVHelperCallSnippet.cpp
  compiler/x/codegen/DataSnippet.cpp
  compiler/x/codegen/DivideCheckSnippet.cpp
  compiler/x/codegen/HelperCallSnippet.cpp
  compiler/x/codegen/OMRSnippet.cpp
  compiler/x/codegen/OMRSnippet.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/codegen/X86FPConversionSnippet.cpp
Owners: @0xdaryl, @knn-k, @mstoodle

Add OMR::Snippet::getName()
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRSnippet.cpp
  compiler/codegen/OMRSnippet.hpp
Owners: @0xdaryl, @mstoodle

Define target-specific constants in Helpers.inc conditionally
  compiler/runtime/Helpers.inc
Owners: @dsouzai

unify flip
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Z: Use z17 bit compress/expand instructions in vector bitmask
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

refactor: remove unused parameter suppressions from empty stub
  compiler/x/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Remove unused Relocation::trace()
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
Owners: @0xdaryl, @mstoodle

Make Relocation::apply() a pure virtual method
  compiler/codegen/Relocation.cpp
  compiler/codegen/Relocation.hpp
Owners: @0xdaryl, @mstoodle

RISC-V: use new R_RISCV_BRANCH and R_RISCV_JAL relocations
  compiler/riscv/CMakeLists.txt
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVRelocation.cpp
  compiler/riscv/codegen/RVRelocation.hpp
Owners: @0xdaryl, @mstoodle

RISC-V: remove unused ::addDependency from RVSystemLinkage.cpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
Owners: @0xdaryl, @mstoodle

Cache children of select node in selectSimplifier
  compiler/optimizer/OMRSimplifierHandlers.cpp
Owners: @vijaysun-omr

unify more
  gc/base/MarkingScheme.hpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

more unify
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

RISC-V: change OMRLinkage::buildArgs to take 2 condition parameters
  compiler/riscv/codegen/OMRLinkage.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
  compiler/riscv/codegen/RVSystemLinkage.hpp
Owners: @0xdaryl, @mstoodle

Implement mstoreiToArray for x86 with AVX512 support
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

re-enable clush copy scan cache for STW
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Initialize device major and minor when declared
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Move assertions below variable declarations
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Include void PureFunctions into PRE
  compiler/optimizer/LocalAnalysis.cpp
Owners: @vijaysun-omr

Fix initialization of compilation classes and structures
  compiler/control/OMROptions.hpp
  compiler/infra/Statistics.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Revert "Add guarded virtual memory support for z/OS"
  gc/base/MemoryManager.cpp
  gc/base/SparseVirtualMemory.hpp
  include_core/omrport.h
  include_core/unix/zos/omriarv64.h
  port/zos390/omriarv64.c
  port/zos390/omrvmem.c
  port/zos390/omrvmem_support_above_bar.s
Owners: @charliegracie, @youngar, @mstoodle, @0xdaryl, @babsingh

Add portlib API to read /proc/diskstats
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Add fvtests for omrsysinfo_get_all_diskstats
  fvtest/porttest/si.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Add missing missing Inst_ forms for x86 code generator
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/OMRX86Instruction.hpp
Owners: @0xdaryl, @mstoodle

Introduce eGPRs and extended XMMRs
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/amd64/codegen/OMRMachine.hpp
  compiler/x/amd64/codegen/OMRRealRegister.cpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/amd64/codegen/RealRegisterMaskEnum.hpp
  compiler/x/codegen/OMRRealRegister.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/i386/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
Owners: @0xdaryl, @mstoodle

Compute register RegNums from index rather than select with switch
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
Owners: @0xdaryl, @mstoodle

Compute register mask values rather than select with switch
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie

Add X86 CodeGenerator flags to enable extended register use
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/amd64/codegen/OMRCodeGenerator.cpp
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Update to handler second object allocation sampling
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/TLHAllocationInterface.cpp
  gc/base/TLHAllocationSupport.cpp
Owners: @charliegracie, @youngar

revert unify processRememberedSetInBackout: cascades into openj9
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

fix percolate
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718
