Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

Add GC collection reason
  gc/base/CycleState.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Add GC collection reason
  gc/base/CycleState.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/standard/ConcurrentGC.cpp
Owners: @charliegracie, @youngar

Add CAS API for 8-bit and 16 bit values
  fvtest/CMakeLists.txt
  fvtest/atomictest/CMakeLists.txt
  fvtest/atomictest/TestCAE.cpp
  fvtest/atomictest/main.cpp
  fvtest/omrtest.mk
  gc/base/AtomicOperations.hpp
  include_core/AtomicSupport.hpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

AArch64: Use ldadd for increment
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

Add xtune:footprint suboption to xtune
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

refactor: simplify barrier type detection
  include_core/omrgcconsts.h
Owners: @charliegracie, @mstoodle, @0xdaryl

refactor: move omr::node::getmonitorclass to openj9
  compiler/il/OMRNode.cpp
Owners: @vijaysun-omr, @Leonardo2718

refactor: move openj9 specific arm evaluators to openj9
  compiler/arm/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

refactor: move computedcalls specific recognized method code to openj9
  compiler/arm/codegen/OMRLinkage.cpp
Owners: @0xdaryl, @knn-k

refactor: relocate aot related bits from compareintsforequality
  compiler/arm/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @knn-k

refactor: move relocation related code to openj9
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @knn-k

refactor: incorrect register reference printing in jit dumps
  compiler/ras/Debug.cpp
Owners: @0xdaryl, @mstoodle

refactor: infinite recursion in debug mode due to assert
  compiler/il/OMRSymbolReference.cpp
Owners: @vijaysun-omr, @Leonardo2718

feat: replace custom numeric limit functions with std::numeric_limits
  lib/OMRDataTypes.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl

feat: add api calls for storing and retrieving generated code
  lib/jitbuilder/JitBuilder.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

fix: address review feedback — There is no such header file.
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @knn-k

fix: address review feedback — You cannot compile this line.
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @knn-k

Correct Windows version detection
  port/win32/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Remove unsupported (and redundant) _Packed attributes
  port/zos390/omrsimap.h
Owners: @charliegracie, @youngar, @babsingh

Test
  README.md
Owners: @charliegracie, @mstoodle, @0xdaryl

Adds flags to control recognized call transformer
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
Owners: @vijaysun-omr, @Leonardo2718

Add X86 CodeGenerator flags to enable extended register use
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/amd64/codegen/OMRCodeGenerator.cpp
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Compute register mask values rather than select with switch
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie

Introduce eGPRs and extended XMMRs
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/amd64/codegen/OMRMachine.hpp
  compiler/x/amd64/codegen/OMRRealRegister.cpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/amd64/codegen/RealRegisterMaskEnum.hpp
  compiler/x/codegen/OMRRealRegister.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/i386/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
Owners: @0xdaryl, @mstoodle

Compute register RegNums from index rather than select with switch
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
Owners: @0xdaryl, @mstoodle

New trace point checkResize
  gc/base/j9mm.tdf
Owners: @charliegracie, @youngar

RISC-V: remove length parameter from MemoryReference
  compiler/riscv/codegen/FPTreeEvaluator.cpp
  compiler/riscv/codegen/MemoryReference.hpp
  compiler/riscv/codegen/OMRMemoryReference.cpp
  compiler/riscv/codegen/OMRMemoryReference.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @mstoodle

Add support for Nursery only compact
  gc/base/standard/CompactScheme.cpp
  gc/base/standard/CompactScheme.hpp
  gc/base/standard/ParallelCompactTask.cpp
  gc/base/standard/ParallelCompactTask.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/ParallelGlobalGC.hpp
Owners: @charliegracie, @youngar

test
  compiler/env/defines.h
Owners: @dsouzai

Implement vnot operation for x86, added support for vector bitwise not operation across all integer types with masked operation support.
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/VnotTest.cpp
Owners: @0xdaryl, @mstoodle, @Leonardo2718, @fjeremic

Fix z/OS CPU usage error handling in retrieveZosCpuUsageStats
  port/zos390/omrsysinfo_helpers.c
Owners: @charliegracie, @youngar, @babsingh

AArch64: Implement binary search in lookupEvaluator
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @knn-k

Apply clang-format to ControlFlowEvaluator.cpp
  compiler/aarch64/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @knn-k

Report GNUC version
  include_core/AtomicSupport.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Report GNUC version
  include_core/AtomicSupport.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl

fix(port): validate path length in win32 omrfile_findfirst()
  port/win32/omrfile.c
Owners: @charliegracie, @youngar, @babsingh

Implemented the verified the vectorization of mstoreiToArray opcode using Vector128 in Int8 case
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @mstoodle

Added the encoding logic for EVEX into the memory reference binary length estimator and one new Instruction parameter
  compiler/x/amd64/codegen/OMRMemoryReference.cpp
  compiler/x/amd64/codegen/OMRMemoryReference.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRMemoryReference.hpp
  compiler/x/codegen/X86BinaryEncoding.cpp
Owners: @0xdaryl, @mstoodle

Remove unnecessary buffering in Z printSymbolName
  compiler/z/codegen/S390Debug.cpp
Owners: @fjeremic

Add Logger print[sc] variants that return exact chars logged
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle
