Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

fix double percolate
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Add X86 CodeGenerator flags to enable extended register use
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/amd64/codegen/OMRCodeGenerator.cpp
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Compute register RegNums from index rather than select with switch
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
Owners: @0xdaryl, @mstoodle

Introduce eGPRs and extended XMMRs
  compiler/x/amd64/codegen/OMRMachine.cpp
  compiler/x/amd64/codegen/OMRMachine.hpp
  compiler/x/amd64/codegen/OMRRealRegister.cpp
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/amd64/codegen/RealRegisterMaskEnum.hpp
  compiler/x/codegen/OMRRealRegister.hpp
  compiler/x/codegen/X86Debug.cpp
  compiler/x/i386/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
Owners: @0xdaryl, @mstoodle

Compute register mask values rather than select with switch
  compiler/x/amd64/codegen/OMRRealRegister.hpp
  compiler/x/amd64/codegen/RealRegisterEnum.hpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRRealRegister.cpp
  compiler/x/i386/codegen/OMRRealRegister.hpp
  compiler/x/i386/codegen/RealRegisterEnum.hpp
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie

Add z/OS EBCDIC encoding rules to .gitattributes (#1889)
  .gitattributes
Owners: @charliegracie, @mstoodle, @0xdaryl

Add z/OS EBCDIC encoding rules to .gitattributes (#1889)
  .gitattributes
Owners: @charliegracie, @mstoodle, @0xdaryl

Implement mstoreiToArray for x86 with AVX512 support
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

Seed STC within MVC loops for arraysetEvaluator
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

remove comments
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Pre-seed each block with its own STC
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

AArch64: enable call tests
  fvtest/compilertriltest/CallTest.cpp
  fvtest/compilertriltest/LinkageTest.cpp
  fvtest/compilertriltest/MinimalTest.cpp
  fvtest/jitbuildertest/CMakeLists.txt
Owners: @Leonardo2718, @fjeremic, @0xdaryl, @mstoodle, @charliegracie

Enable trampolines if supported
  compiler/runtime/OMRCodeCacheManager.cpp
Owners: @dsouzai

[NOT FOR UPSTREAM] Avoid deadlock in calling reserveResolvedTrampoline()
  compiler/runtime/OMRCodeCache.cpp
Owners: @dsouzai

AArch64: implement trampolines
  compiler/runtime/Trampoline.cpp
Owners: @dsouzai

RISC-V: implement trampolines
  compiler/runtime/Trampoline.cpp
Owners: @dsouzai

Do not initialize _needsMethodTrampolines in initializeCodeCache()
  compiler/control/SimpleJit.cpp
Owners: @dsouzai

Implement reserveTrampolineIfNecessary() and methodTrampolineLookup()
  compiler/env/OMRFrontEnd.cpp
  compiler/env/OMRFrontEnd.hpp
Owners: @dsouzai

RISC-V: enable CallReturnTest in JitBuilder tests
  fvtest/jitbuildertest/CMakeLists.txt
Owners: @mstoodle, @charliegracie, @Leonardo2718

RISC-V: call functions via trampolines if needed
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
Owners: @0xdaryl, @mstoodle

Implement OMR::VMMethodEnv::startPC()
  compiler/compile/OMRResolvedMethod.hpp
  compiler/env/OMRVMMethodEnv.hpp
Owners: @0xdaryl, @mstoodle, @dsouzai

Initialize device major and minor when declared
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Move assertions below variable declarations
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

RISC-V: use AUIPC + JALR to implement calls
  compiler/riscv/codegen/OMRCodeGenerator.cpp
  compiler/riscv/codegen/OMRCodeGenerator.hpp
  compiler/riscv/codegen/RVInstruction.cpp
  compiler/riscv/codegen/RVRelocation.cpp
  compiler/riscv/codegen/RVRelocation.hpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
Owners: @0xdaryl, @mstoodle

Validate major numbers dynamically
  fvtest/porttest/si.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Add fvtests for omrsysinfo_get_all_diskstats
  fvtest/porttest/si.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Add portlib API to read /proc/diskstats
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrsysinfo.c
  port/omrportpriv.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Seed STC within MVC loops for arraysetEvaluator
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Pre-seed each block with its own STC
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Fix alignment/remainder handling for Z arrayset
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

ddrgen: Fix references to anonymous types
  ddr/lib/ddr-scanner/pdb/PdbScanner.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Make PostponedType private to PdbScanner
  ddr/include/ddr/scanner/pdb/PdbScanner.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl

AArch64: Refactor ARM64LabelInstruction / ARM64BranchInstruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Owners: @0xdaryl, @knn-k, @mstoodle

Register x86 CRC32C runtime helpers
  compiler/runtime/Helpers.inc
Owners: @dsouzai

Fix condition code for branch varlen control flow
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Fix bad remainder handling for optimized path
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Implement mstoreiToArray and mloadiFromArray for x86 128 bit
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

feature toggle
  gc/base/EnvironmentBase.hpp
  gc/base/MarkingScheme.hpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

comment
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Use the valid opt level accessor for option sets
  compiler/control/OMROptions.cpp
Owners: @dsouzai
