Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

Add x86 vpbroadcast{b,w,d,q} instructions
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

Emit vzeroupper after arraycopy ymm/zmm use
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Increase short arraycopy threshold on x86
  compiler/control/OMROptions.hpp
Owners: @dsouzai

x86: Create vector broadcast helper
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Add vpbroadcast{b,w,d,q} binary encoder unit tests
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Improve x86 arrayset
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Use vpbroadcastb GPR variant in arrayset
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Add x86 vpbroadcastb GPR variant instruction
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

Add vpbroadcastb GPR variant binary encoder tests
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Add vpbroadcast{b,w} paths to broadcast helper
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Implement mAnyTrue and mmAnyTrue
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Add Clang Format Dockerfile
  buildenv/jenkins/clang_format/Dockerfile
Owners: @charliegracie, @mstoodle, @0xdaryl

Add Clang Format File
  compiler/.clang-format
Owners: @0xdaryl, @mstoodle

Clang Format Linter Scripts
  buildenv/jenkins/clang_format/clangFormatCheck.groovy
  buildenv/jenkins/clang_format/clangFormatCheck.sh
Owners: @charliegracie, @mstoodle, @0xdaryl

AArch64: Use ldar/stlr for volatile loads/stores
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

Fix comment indentation
  port/zos390/omrsimap.h
Owners: @charliegracie, @youngar, @babsingh

Accelerate new converter method
  compiler/optimizer/ValuePropagationCommon.cpp
Owners: @vijaysun-omr

Checkout code from PR
  buildenv/jenkins/clang_format/clangFormatCheck.groovy
Owners: @charliegracie, @mstoodle, @0xdaryl

Improve omrsysinfo_get_CPU_load calculation and accuracy
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

x86: disable vector opmask registers by default
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRCodeGenerator.hpp
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @dsouzai, @0xdaryl, @mstoodle

x86: Prevent unaligned unary/binary sse ops
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/UnaryEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Add new J9SysinfoCPUTime fields: userTime, systemTime and idleTime
  include_core/omrport.h
  port/unix/omrsysinfo.c
  port/win32/omrsysinfo.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Apply throw() for signal functions with Open XL
  include_core/omrsig.h
Owners: @charliegracie, @mstoodle, @0xdaryl

On AIX attempt to load shared archive member even when decorate not set
  port/aix/omrsl.c
Owners: @charliegracie, @youngar, @babsingh

Add Clang Format Dockerfile
  buildenv/jenkins/clang_format/Dockerfile
Owners: @charliegracie, @mstoodle, @0xdaryl

Checkout code from PR
  buildenv/jenkins/clang_format/clangFormatCheck.groovy
Owners: @charliegracie, @mstoodle, @0xdaryl

Add Clang Format File
  compiler/.clang-format
Owners: @0xdaryl, @mstoodle

Clang Format Linter Scripts
  buildenv/jenkins/clang_format/clangFormatCheck.groovy
  buildenv/jenkins/clang_format/clangFormatCheck.sh
Owners: @charliegracie, @mstoodle, @0xdaryl

Add documentation about the compiler component code format
  doc/CodingStandard.md
  doc/compiler/CodingStandard.md
Owners: @charliegracie, @mstoodle, @0xdaryl

Address clang-format issue with __asm
  compiler/ras/CallStack.cpp
Owners: @0xdaryl, @mstoodle

x86: Create vector broadcast helper
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Add vpbroadcast{b,w} paths to broadcast helper
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Use vpbroadcastb GPR variant in arrayset
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Add x86 vpbroadcast{b,w,d,q} instructions
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

Add x86 vpbroadcastb GPR variant instruction
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

Improve x86 arrayset
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Add vpbroadcastb GPR variant binary encoder tests
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Add vpbroadcast{b,w,d,q} binary encoder unit tests
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Checkout code from PR
  buildenv/jenkins/clang_format/clangFormatCheck.groovy
Owners: @charliegracie, @mstoodle, @0xdaryl

Clang Format Linter Scripts
  buildenv/jenkins/clang_format/clangFormatCheck.groovy
  buildenv/jenkins/clang_format/clangFormatCheck.sh
Owners: @charliegracie, @mstoodle, @0xdaryl
