Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

Add Open XL toolchain and config changes for z/OS
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/toolcfg/openxl.cmake
Owners: @youngar, @charliegracie

x86: Add disableAVX2/512 options and check XCR0 for OS support
  compiler/x/env/OMRCPU.cpp
  compiler/x/runtime/X86Runtime.hpp
Owners: @0xdaryl, @mstoodle

Fix offheap guard for OMR
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Clean up references to iiload/iistore ilload/ilstore iaload/iastore ibload/ibstore
  compiler/aarch64/codegen/UnaryEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/codegen/NodeEvaluation.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/infra/TreeServices.cpp
  compiler/optimizer/CopyPropagation.cpp
  compiler/optimizer/GeneralLoopUnroller.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LoopReducer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/StripMiner.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/UnaryEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/UnaryEvaluator.cpp
Owners: @0xdaryl, @knn-k, @mstoodle, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @fjeremic

Add enum for symbol memory access mode
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/ras/Debug.cpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle

Add unsafe symrefs arrays for all access modes
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Owners: @0xdaryl, @mstoodle

Refine Symbol::isVolatile checks
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbolReference.cpp
  compiler/il/OMRSymbolReference.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/LocalAnalysis.cpp
  compiler/optimizer/LocalAnticipatability.cpp
  compiler/optimizer/LocalDeadStoreElimination.cpp
  compiler/optimizer/LocalLiveRangeReducer.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalReordering.cpp
  compiler/optimizer/LocalTransparency.cpp
  compiler/optimizer/LoopCanonicalizer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMRLocalCSE.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/optimizer/UseDefInfo.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle

Consider the compileMethod() API in replenishInvocationCount() Assertion
  compiler/control/OptimizationPlan.hpp
Owners: @dsouzai

Move DAA related implementations out of OMR
  compiler/compile/ResolvedMethod.cpp
  compiler/compile/ResolvedMethod.hpp
Owners: @0xdaryl, @mstoodle

Accelerate Integer and Long expand and compress methods
  compiler/optimizer/RedundantAsyncCheckRemoval.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @vijaysun-omr, @fjeremic

Add use of count leading and trailing zeros instruction for zNext
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Accelerate DAA ExternalDecimal.checkExternalDecimal api
  compiler/compile/ResolvedMethod.cpp
  compiler/compile/ResolvedMethod.hpp
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/InstOpCode.cpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
Owners: @0xdaryl, @mstoodle, @vijaysun-omr, @fjeremic

Move canEmulate from Instruction to InstOpCode
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRInstruction.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Add support for zNext processor
  compiler/z/codegen/InstOpCode.cpp
  compiler/z/codegen/OMRInstOpCode.enum
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRInstructionKindEnum.hpp
  compiler/z/codegen/S390Debug.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390GenerateInstructions.hpp
  compiler/z/codegen/S390Instruction.cpp
  compiler/z/codegen/S390Instruction.hpp
  compiler/z/env/OMRCPU.cpp
  compiler/z/env/OMRCPU.hpp
  include_core/omrport.h
  port/unix/omrsysinfo.c
Owners: @fjeremic, @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Use load indexed address instructions for aladd and aiadd
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRCodeGenerator.hpp
  compiler/z/codegen/OMRMemoryReference.cpp
  compiler/z/codegen/OMRMemoryReference.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Add opcode property for emulatable instructions
  compiler/z/codegen/OMRInstOpCode.hpp
  compiler/z/codegen/OMRInstOpCodeProperties.hpp
  compiler/z/codegen/OMRInstruction.cpp
  compiler/z/codegen/OMRInstruction.hpp
Owners: @fjeremic

x86: Add options to disable SIMD features
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

x86: Disable AVX-512 if zmm XCR0 flags are not set
  compiler/x/env/OMRCPU.cpp
  compiler/x/runtime/X86Runtime.hpp
Owners: @0xdaryl, @mstoodle

Fix several issues in omrfiletext.c
  port/common/omrfiletext.c
  port/unix/omrfiletext.c
  port/win32/omrfiletext.c
Owners: @charliegracie, @youngar, @babsingh

Replace OMR_ENV_OPENXL with OMR_TOOLCHAIN=openxl
  cmake/modules/OmrDetectSystemInformation.cmake
  configure
  configure.ac
  example/glue/configure_includes/configure_aix_ppc.mk
  omrmakefiles/rules.aix.mk
  tools/configure
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

Explicit header definitions for Open XL warnings
  cmake/modules/platform/os/zos.cmake
  compiler/cs2/timer.h
  compiler/infra/Array.hpp
  include_core/unix/thrdsup.h
  port/zos390/omrcel4ro31.h
  port/zos390/omrgetjobid.c
  port/zos390/omrgetjobname.c
  port/zos390/omrgetsysname.c
  port/zos390/omrgetuserid.c
  port/zos390/omrintrospect.h
  port/zos390/omrosbacktrace_impl.c
  port/zos390/omrosdump.c
  port/zos390/omrsignal_context.c
  port/zos390/omrsignal_context.h
  thread/unix/thrdsup.c
  util/omrutil/unix/zos/getstoragekey.c
Owners: @youngar, @charliegracie, @0xdaryl, @mstoodle, @babsingh

Add Open XL toolchain and config changes for z/OS
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/toolcfg/openxl.cmake
Owners: @youngar, @charliegracie

Add env var to allow OSR at new opcodes
  compiler/compile/OMRCompilation.cpp
Owners: @0xdaryl, @mstoodle

Propagate doNotProfile state when cloning nodes
  compiler/il/OMRBlock.cpp
Owners: @vijaysun-omr, @Leonardo2718

Remove macro redefinitions that cause issues with Open XL
  ddr/include/ddr/std/string.hpp
  ddr/include/ddr/std/unordered_map.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl

x86: Move broadcast logic into CodegenUtils helper
  compiler/x/codegen/CodegenUtils.cpp
  compiler/x/codegen/CodegenUtils.hpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: Move loadConstant helpers into CodegenUtils
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/CodegenUtils.cpp
  compiler/x/codegen/CodegenUtils.hpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/OMRMachine.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/SubtractAnalyser.cpp
  compiler/x/codegen/UnaryEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: add helper to find VL for given SIMD opcodes
  compiler/x/codegen/CodegenUtils.cpp
  compiler/x/codegen/CodegenUtils.hpp
Owners: @0xdaryl, @mstoodle

x86: create helpers macros to manage registers
  compiler/x/codegen/CodegenUtils.hpp
Owners: @0xdaryl, @mstoodle

x86: Create helpers for generating loops
  compiler/x/CMakeLists.txt
  compiler/x/codegen/CodegenUtils.cpp
  compiler/x/codegen/CodegenUtils.hpp
Owners: @0xdaryl, @mstoodle

Change return type of TR_FrontEnd::getStringUTF8Length to int32_t
  compiler/env/FrontEnd.cpp
  compiler/env/FrontEnd.hpp
Owners: @dsouzai

AArch64: Do not allocate system linkage frame if not needed
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
Owners: @0xdaryl, @knn-k

Remove chkDontInlineUnsafePutOrderedCall debug flag print
  compiler/ras/Debug.cpp
Owners: @0xdaryl, @mstoodle

Add enum for symbol memory access ordering semantics
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/ras/Debug.cpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle

Refine Symbol::isVolatile tests
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/il/OMRSymbolReference.cpp
  compiler/il/OMRSymbolReference.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/LocalAnalysis.cpp
  compiler/optimizer/LocalAnticipatability.cpp
  compiler/optimizer/LocalDeadStoreElimination.cpp
  compiler/optimizer/LocalLiveRangeReducer.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalReordering.cpp
  compiler/optimizer/LocalTransparency.cpp
  compiler/optimizer/LoopCanonicalizer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMRLocalCSE.hpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/optimizer/UseDefInfo.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle

Add unsafe symrefs arrays for all access modes
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Owners: @0xdaryl, @mstoodle

Fast Path Math.min/max_F/D
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Owners: @aviansie-ben

Add bit compress and expand IL opcdes
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/env/OMRCPU.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @dsouzai, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

P: Add pdepd / pextd instructions
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Owners: @aviansie-ben

x86: Add pdep / pext instructions
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie
