Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

Named virtual registers
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
Owners: @0xdaryl, @mstoodle

Add option for tracing block iteration
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Remove unused dump functions from OMROptimizer
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMROptimizer.hpp
Owners: @vijaysun-omr

Delete unused TR_Debug::printInstruction
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
Owners: @0xdaryl, @mstoodle

Initial OMR::Logger class
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle

Add new trace verification options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Add more trace options that require JIT log
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Rename Options::openLogFile to include OMR::Logger
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Cache TR::Compilation object in local to improve readability (X codegen)
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRLinkage.cpp
  compiler/x/codegen/X86SystemLinkage.cpp
  compiler/x/i386/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

Implement OMR::CircularLogger
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Implement MemoryBufferLogger
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle

Remove remaining remnants of traceMsg family of macros
  compiler/compile/OMRCompilation.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  fvtest/tril/tril/CallConverter.cpp
  fvtest/tril/tril/GenericNodeConverter.cpp
  fvtest/tril/tril/ilgen.cpp
Owners: @0xdaryl, @mstoodle, @Leonardo2718, @fjeremic

Introduce conditional logger convenience macros
  compiler/env/OMRIO.cpp
  compiler/env/OMRIO.hpp
  compiler/ras/Logger.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Create Logger documentation
  doc/compiler/debug/Loggers.md
Owners: @charliegracie, @mstoodle, @0xdaryl

Eliminate some getLoggingEnabled() checks
  compiler/codegen/NodeEvaluation.cpp
  compiler/compile/OMRAliasBuilder.cpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OSRData.cpp
  compiler/control/CompileMethod.cpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/ilgen/ByteCodeIteratorWithState.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/infra/HedgeTree.hpp
  compiler/optimizer/DominatorVerifier.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMROptimizer.cpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/VPConstraint.cpp
  compiler/optimizer/ValuePropagationCommon.cpp
  compiler/ras/CFGChecker.cpp
  compiler/ras/CFGChecker.hpp
  compiler/ras/CallStack.cpp
  compiler/ras/CallStackIterator.hpp
  compiler/ras/Debug.cpp
  compiler/ras/ILValidationUtils.cpp
  compiler/ras/Tree.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr, @Leonardo2718

Remove TR_Debug::trace|vtrace functions in favour of OMR::Logger
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/optimizer/CopyPropagation.cpp
  compiler/ras/CFGChecker.cpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
  compiler/ras/Tree.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRMemoryReference.cpp
Owners: @vijaysun-omr, @Leonardo2718, @0xdaryl, @mstoodle, @fjeremic

Cache log file and logger in Compilation object
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
Owners: @0xdaryl, @mstoodle

Introduce options to force logger choice
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

RISC-V: remove length parameter from MemoryReference
  compiler/riscv/codegen/FPTreeEvaluator.cpp
  compiler/riscv/codegen/MemoryReference.hpp
  compiler/riscv/codegen/OMRMachine.cpp
  compiler/riscv/codegen/OMRMemoryReference.cpp
  compiler/riscv/codegen/OMRMemoryReference.hpp
  compiler/riscv/codegen/OMRRegisterDependency.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @mstoodle

RISC-V: use factory methods to create `MemoryReference`s
  compiler/riscv/codegen/MemoryReference.hpp
  compiler/riscv/codegen/OMRLinkage.cpp
  compiler/riscv/codegen/OMRMachine.cpp
  compiler/riscv/codegen/OMRRegisterDependency.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/RVSystemLinkage.cpp
Owners: @0xdaryl, @mstoodle

RISC-V: provide factory methods for `MemoryReference`
  compiler/riscv/codegen/MemoryReference.hpp
  compiler/riscv/codegen/OMRMemoryReference.cpp
Owners: @0xdaryl, @mstoodle

Update the compiler target to zOSV3R1 for Open XL
  cmake/modules/platform/toolcfg/openxl.cmake
Owners: @youngar, @charliegracie

x86: Implement msplats opcode
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Implement PPC codegen for s2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Combine bu2i comparison optimization in z/codegen
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
Owners: @fjeremic

Fix encoding issues to parse DDR info with Open XL
  ddr/lib/ddr-blobgen/java/genBinaryBlob.cpp
  ddr/lib/ddr-blobgen/java/genSuperset.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

WIP: Rework to use omrstr_printf to handle Type parsing
  ddr/include/ddr/blobgen/java/genBinaryBlob.hpp
  ddr/lib/ddr-blobgen/java/genBinaryBlob.cpp
  ddr/lib/ddr-blobgen/java/genBlobJava.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Implement PPC codegen for s2m
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Tidy up thread API
  fvtest/threadtest/createTest.cpp
  include_core/thread_api.h
  include_core/thrtypes.h
  thread/common/omrthread.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Combine bu2i comparison optimization in z/codegen
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
Owners: @fjeremic

Add allocation tracepoint
  gc/base/j9mm.tdf
Owners: @charliegracie, @youngar

New trace point checkResize
  gc/base/j9mm.tdf
Owners: @charliegracie, @youngar

Add proper allocator support to Loggers
  compiler/compile/OMRCompilation.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/infra/Assert.cpp
  compiler/optimizer/VirtualGuardCoalescer.cpp
  compiler/ras/CallStack.cpp
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr

Introduce CompilerEnv message logger
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/OMRCompilerEnv.hpp
  compiler/ras/Logger.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Add factory constructor for TR::Options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  fvtest/compilerunittest/CompilerUnitTest.hpp
Owners: @dsouzai, @charliegracie, @mstoodle, @0xdaryl

Create a log filename builder
  compiler/compile/OMRCompilation.cpp
  compiler/control/CompileMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/FrontEnd.cpp
  compiler/env/FrontEnd.hpp
  compiler/ras/OptionsDebug.cpp
  fvtest/compilertest/tests/LimitFileTest.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @charliegracie

Named virtual registers
  compiler/codegen/CodeGenRA.cpp
  compiler/codegen/OMRCodeGenerator.cpp
  compiler/codegen/OMRCodeGenerator.hpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
Owners: @0xdaryl, @mstoodle

Add factory constructor for TR::Options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  fvtest/compilerunittest/CompilerUnitTest.hpp
Owners: @dsouzai, @charliegracie, @mstoodle, @0xdaryl

Add proper allocator support to Loggers
  compiler/compile/OMRCompilation.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/infra/Assert.cpp
  compiler/optimizer/VirtualGuardCoalescer.cpp
  compiler/ras/CallStack.cpp
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr

Introduce CompilerEnv message logger
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/OMRCompilerEnv.hpp
  compiler/ras/Logger.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle
