Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

Fixes clang-format check not liking the ternary split across 2 lines
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Fix PRE incorrectly hoisting division/remainder outside try-catch scope
  compiler/optimizer/LocalAnalysis.cpp
Owners: @vijaysun-omr

Implement mstoreiToArray and mloadiFromArray for x86 128 bit
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

fix bugs
  gc/base/MarkingScheme.cpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Fix PRE incorrectly hoisting division/remainder outside try-catch scope
  compiler/optimizer/PartialRedundancy.cpp
Owners: @vijaysun-omr

Fix table index corruption from garbage upper 32 bits on x86
  compiler/x/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @mstoodle

move feature flag
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Replace List usage in the DeadTreesElimination pass
  compiler/optimizer/DeadTreesElimination.cpp
Owners: @vijaysun-omr

refactor feature flag
  gc/base/GCExtensionsBase.hpp
  gc/base/MarkingScheme.cpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Use the valid opt level accessor for option sets
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Fixes clang-format check not liking the ternary split across 2 lines
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Fix alignment/remainder handling for Z arrayset
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Seed STC within MVC loops for arraysetEvaluator
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Pre-seed each block with its own STC
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Fix condition code for branch varlen control flow
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Rename the recorder-prefixed fields to internal-prefixed ones-step1
  gc/base/EnvironmentBase.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/TLHAllocationInterface.cpp
  gc/base/TLHAllocationSupport.cpp
Owners: @charliegracie, @youngar

Fix LocalCSE issue allowing an IntPtr to get an incorrect Pinning Array
  compiler/optimizer/OMRLocalCSE.cpp
Owners: @vijaysun-omr

Added isUnresolvedString overload that returns string address
  compiler/compile/TRResolvedMethod.cpp
  compiler/compile/TRResolvedMethod.hpp
Owners: @0xdaryl, @mstoodle

Segregate AOT Code Cache
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/control/OptionsUtil.hpp
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCacheManager.cpp
Owners: @dsouzai

unifying missed parts
  gc/base/MemorySubSpaceGenerational.cpp
  gc/base/MemorySubSpaceSemiSpace.cpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
Owners: @charliegracie, @youngar

fix typos
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Clean up comment with recommendation from Marius
  compiler/control/OMROptions.cpp
Owners: @dsouzai

Fix LoopVersioner incorrectly eliminating bound checks for decrementing induction variables
  compiler/optimizer/LoopVersioner.cpp
Owners: @vijaysun-omr

comments
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Fix vector shift to apply 32-bit shift amount modulo
  compiler/x/codegen/OMRTreeEvaluator.cpp
  fvtest/compilertriltest/VectorTest.cpp
Owners: @0xdaryl, @mstoodle, @Leonardo2718, @fjeremic

Enable vector int64 multiplication on IBM Z platform
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Fix table index corruption from garbage upper 32 bits on x86
  compiler/x/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @mstoodle

unify sliding compact
  gc/base/standard/ParallelGlobalGC.cpp
Owners: @charliegracie, @youngar

Fix bad remainder handling for optimized path
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic

Split legacy vs optimized arrayset Const len paths
  compiler/z/codegen/OpMemToMem.cpp
Owners: @fjeremic
