Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

Fix supportsArrayTranslate
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @knn-k, @aviansie-ben

Anchor RdBar Nodes after Duplication in Rematerialization
  compiler/optimizer/Inliner.cpp
Owners: @vijaysun-omr

PRE fix to handle data address pointer correctly
  compiler/optimizer/LocalAnticipatability.cpp
  compiler/optimizer/LocalTransparency.cpp
Owners: @vijaysun-omr

Lower optimization level workaround for omrzfs.c
  port/CMakeLists.txt
Owners: @charliegracie, @youngar, @babsingh

Reorder J9ZOS390 conditionals in AtomicSupport.hpp for Open XL z/OS
  include_core/AtomicSupport.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Add enum for symbol memory access ordering semantics
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/il/OMRSymbol.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/ras/Debug.cpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle

Refine Symbol::isVolatile tests
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/il/OMRSymbolReference.cpp
  compiler/il/OMRSymbolReference.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/LocalAnalysis.cpp
  compiler/optimizer/LocalAnticipatability.cpp
  compiler/optimizer/LocalDeadStoreElimination.cpp
  compiler/optimizer/LocalLiveRangeReducer.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalReordering.cpp
  compiler/optimizer/LocalTransparency.cpp
  compiler/optimizer/LoopCanonicalizer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMRLocalCSE.hpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/optimizer/UseDefInfo.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle

Add unsafe symrefs arrays for all access modes
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Owners: @0xdaryl, @mstoodle

Remove chkDontInlineUnsafePutOrderedCall debug flag print
  compiler/ras/Debug.cpp
Owners: @0xdaryl, @mstoodle

Add env var to allow OSR at new opcodes
  compiler/compile/OMRCompilation.cpp
Owners: @0xdaryl, @mstoodle

jb: Make sure BytecodeBuilders are all counted
  compiler/control/CompilationController.cpp
  compiler/control/OMROptions.cpp
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/OMRCompilerEnv.hpp
  compiler/ilgen/OMRMethodBuilder.cpp
  compiler/runtime/OMRCodeCache.cpp
  compiler/runtime/OMRCodeCacheManager.cpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  jitbuilder/control/Jit.cpp
Owners: @dsouzai, @mstoodle, @Leonardo2718, @0xdaryl, @charliegracie

jb: Fix memory leaks
  compiler/control/OMROptions.cpp
  compiler/ilgen/OMRBytecodeBuilder.cpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRMethodBuilder.cpp
  compiler/ilgen/OMRMethodBuilder.hpp
  compiler/ilgen/OMRTypeDictionary.cpp
  compiler/ilgen/OMRTypeDictionary.hpp
Owners: @dsouzai, @mstoodle, @Leonardo2718

jb: Convert subword return values to Word
  compiler/ilgen/OMRIlBuilder.cpp
Owners: @mstoodle, @Leonardo2718

jb: Make BytecodeBuilder's name parameter const char * not char *
  compiler/ilgen/BytecodeBuilder.hpp
  compiler/ilgen/OMRBytecodeBuilder.cpp
  compiler/ilgen/OMRBytecodeBuilder.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  jitbuilder/apigen/jitbuilder.api.json
Owners: @mstoodle, @Leonardo2718, @charliegracie

jb: Enable aarch64 to support narrow size ifcmp operations
  compiler/ilgen/OMRIlBuilder.cpp
Owners: @mstoodle, @Leonardo2718

jb: Add non default copy constructor to OMR::TypeDictionary
  compiler/ilgen/OMRTypeDictionary.cpp
  compiler/ilgen/OMRTypeDictionary.hpp
Owners: @mstoodle, @Leonardo2718

jb: Remove extra dead code at end of CMakeLists.txt
  jitbuilder/CMakeLists.txt
Owners: @mstoodle, @charliegracie, @Leonardo2718

Add bit compress and expand IL opcdes
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/env/OMRCPU.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
  compiler/x/amd64/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @dsouzai, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

jb: Add non default copy constructor to OMR::TypeDictionary
  compiler/ilgen/OMRTypeDictionary.cpp
  compiler/ilgen/OMRTypeDictionary.hpp
Owners: @mstoodle, @Leonardo2718

jb: Remove extra dead code at end of CMakeLists.txt
  jitbuilder/CMakeLists.txt
Owners: @mstoodle, @charliegracie, @Leonardo2718

jb: Make BytecodeBuilder's name parameter const char * not char *
  compiler/ilgen/BytecodeBuilder.hpp
  compiler/ilgen/OMRBytecodeBuilder.cpp
  compiler/ilgen/OMRBytecodeBuilder.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlBuilder.hpp
  jitbuilder/apigen/jitbuilder.api.json
Owners: @mstoodle, @Leonardo2718, @charliegracie

jb: Convert subword return values to Word
  compiler/ilgen/OMRIlBuilder.cpp
Owners: @mstoodle, @Leonardo2718

jb: Enable aarch64 to support narrow size ifcmp operations
  compiler/ilgen/OMRIlBuilder.cpp
Owners: @mstoodle, @Leonardo2718

x86: add additional instruction property field
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/X86Debug.cpp
Owners: @0xdaryl, @mstoodle

x86: EVEX displacement shortening now subject to instruction flags
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie

Merge pull request #235 from ehsan-ibm/ZOS_fix_atoe_fprintf_functionality
  util/a2e/atoe.c
  util/a2e/atoe_utils.c
Owners: @charliegracie, @mstoodle, @0xdaryl

ZOS: Fix const length buffer used in atoe methods
  util/a2e/atoe.c
  util/a2e/atoe_utils.c
Owners: @charliegracie, @mstoodle, @0xdaryl

No change
  INSTALL
Owners: @charliegracie, @mstoodle, @0xdaryl

Initial changes for Open XL z/os support
  include_core/omrsig.h
  port/common/omrgetsysname.h
  port/unix/omrshmem.c
  port/unix/omrshsem_deprecated.c
  port/zos390/omrgetthent.h
  port/zos390/omrsimap.h
  thread/common/thrprof.c
  thread/zos390/omrgetthent.h
  util/omrutil/gettimebase.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Remove macro redefinitions that cause issues with Open XL
  ddr/include/ddr/std/string.hpp
  ddr/include/ddr/std/unordered_map.hpp
Owners: @charliegracie, @mstoodle, @0xdaryl

Explicit header definitions for Open XL warnings
  cmake/modules/platform/os/zos.cmake
  compiler/cs2/timer.h
  compiler/infra/Array.hpp
  include_core/unix/thrdsup.h
  port/zos390/omrcel4ro31.h
  port/zos390/omrgetjobid.c
  port/zos390/omrgetjobname.c
  port/zos390/omrgetsysname.c
  port/zos390/omrgetuserid.c
  port/zos390/omrintrospect.h
  port/zos390/omrosbacktrace_impl.c
  port/zos390/omrosdump.c
  port/zos390/omrsignal_context.c
  port/zos390/omrsignal_context.h
  thread/unix/thrdsup.c
  util/omrutil/unix/zos/getstoragekey.c
Owners: @youngar, @charliegracie, @0xdaryl, @mstoodle, @babsingh

Add unsafe symrefs arrays for all access modes
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OMRSymbolReferenceTable.hpp
Owners: @0xdaryl, @mstoodle

Refine Symbol::isVolatile tests
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/il/OMRSymbolReference.cpp
  compiler/il/OMRSymbolReference.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/LocalAnalysis.cpp
  compiler/optimizer/LocalAnticipatability.cpp
  compiler/optimizer/LocalDeadStoreElimination.cpp
  compiler/optimizer/LocalLiveRangeReducer.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalReordering.cpp
  compiler/optimizer/LocalTransparency.cpp
  compiler/optimizer/LoopCanonicalizer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMRLocalCSE.hpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/optimizer/UseDefInfo.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle

Remove chkDontInlineUnsafePutOrderedCall debug flag print
  compiler/ras/Debug.cpp
Owners: @0xdaryl, @mstoodle

Add bit compress and expand IL opcdes
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/env/OMRCPU.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @dsouzai, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

x86: EVEX displacement shortening now subject to instruction flags
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/X86Ops.ins
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @0xdaryl, @mstoodle, @charliegracie

x86: add additional instruction property field
  compiler/x/codegen/OMRInstOpCode.cpp
  compiler/x/codegen/OMRInstOpCode.enum
  compiler/x/codegen/OMRInstOpCode.hpp
  compiler/x/codegen/X86Debug.cpp
Owners: @0xdaryl, @mstoodle

Add Open XL toolchain and config changes for z/OS
  cmake/modules/OmrDetectSystemInformation.cmake
  cmake/modules/ddr/DDRSetStub.cmake.in
  cmake/modules/platform/toolcfg/openxl.cmake
Owners: @youngar, @charliegracie

Add bit compress and expand IL opcdes
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/env/OMRCPU.hpp
  compiler/il/OMRILOps.hpp
  compiler/il/OMROpcodes.enum
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/p/env/OMRCPU.cpp
  compiler/p/env/OMRCPU.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/env/OMRCPU.cpp
  compiler/x/env/OMRCPU.hpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @dsouzai, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

Refine Symbol::isVolatile tests
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/il/OMRNode_inlines.hpp
  compiler/il/OMRSymbolReference.cpp
  compiler/il/OMRSymbolReference.hpp
  compiler/il/OMRSymbol_inlines.hpp
  compiler/optimizer/DeadTreesElimination.cpp
  compiler/optimizer/FieldPrivatizer.cpp
  compiler/optimizer/IsolatedStoreElimination.cpp
  compiler/optimizer/LocalAnalysis.cpp
  compiler/optimizer/LocalAnticipatability.cpp
  compiler/optimizer/LocalDeadStoreElimination.cpp
  compiler/optimizer/LocalLiveRangeReducer.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/LocalReordering.cpp
  compiler/optimizer/LocalTransparency.cpp
  compiler/optimizer/LoopCanonicalizer.cpp
  compiler/optimizer/LoopVersioner.cpp
  compiler/optimizer/OMRLocalCSE.cpp
  compiler/optimizer/OMRLocalCSE.hpp
  compiler/optimizer/OMRValuePropagation.cpp
  compiler/optimizer/SinkStores.cpp
  compiler/optimizer/Structure.cpp
  compiler/optimizer/UseDefInfo.cpp
  compiler/optimizer/UseDefInfo.hpp
  compiler/optimizer/VPHandlers.cpp
  compiler/p/codegen/OMRLoadStoreHandler.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718
