Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

Remove unnecessary p/codegen/Evaluator.cpp files
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/p/codegen/Evaluator.cpp
  jitbuilder/CMakeLists.txt
  jitbuilder/p/codegen/Evaluator.cpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718

Move z/codegen/Evaluator.cpp contents into compiler
  compiler/ras/Debug.cpp
  compiler/z/codegen/S390Snippets.cpp
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/z/codegen/Evaluator.cpp
  jitbuilder/CMakeLists.txt
  jitbuilder/z/codegen/Evaluator.cpp
Owners: @0xdaryl, @mstoodle, @fjeremic, @youngar, @charliegracie, @Leonardo2718

Unify jitbuilder/compilertest/compiler IlGeneratorMethodDetails
  compiler/ilgen/CMakeLists.txt
  compiler/ilgen/IlGeneratorMethodDetails.hpp
  compiler/ilgen/OMRIlGeneratorMethodDetails.cpp
  compiler/ilgen/OMRIlGeneratorMethodDetails.hpp
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/ilgen/IlGeneratorMethodDetails.hpp
  fvtest/compilertest/ilgen/TestIlGeneratorMethodDetails.cpp
  fvtest/compilertest/ilgen/TestIlGeneratorMethodDetails.hpp
  jitbuilder/CMakeLists.txt
  jitbuilder/build/files/common.mk
  jitbuilder/ilgen/IlGeneratorMethodDetails.hpp
  jitbuilder/ilgen/JBIlGeneratorMethodDetails.hpp
Owners: @mstoodle, @Leonardo2718, @youngar, @charliegracie, @0xdaryl

jb: Move JIT control logic into OMR compiler
  compiler/control/SimpleJit.cpp
  compiler/control/SimpleJit.hpp
  fvtest/compilertest/CMakeLists.txt
  fvtest/compilertest/control/TestJit.cpp
  jitbuilder/CMakeLists.txt
  jitbuilder/control/Jit.cpp
Owners: @dsouzai, @youngar, @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718

Eliminate calloc and sprintf calls in OMRLabelSymbol
  compiler/il/OMRLabelSymbol.cpp
  compiler/il/OMRLabelSymbol.hpp
Owners: @vijaysun-omr, @Leonardo2718

Fix generateVersion.pl to include Options.hpp not OMROptions.hpp
  tools/compiler/scripts/generateVersion.pl
Owners: @charliegracie, @mstoodle, @0xdaryl

Eradicate sprintf from the compiler component
  compiler/codegen/CodeGenPrep.cpp
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/compile/OSRData.cpp
  compiler/control/CompileMethod.cpp
  compiler/cs2/timer.h
  compiler/env/TRMemory.hpp
  compiler/ilgen/OMRIlBuilder.cpp
  compiler/ilgen/OMRIlValue.cpp
  compiler/ilgen/OMRMethodBuilder.cpp
  compiler/ilgen/OMRTypeDictionary.cpp
  compiler/ilgen/OMRVirtualMachineOperandArray.cpp
  compiler/ilgen/OMRVirtualMachineOperandStack.cpp
  compiler/infra/SimpleRegex.cpp
  compiler/infra/Statistics.hpp
  compiler/optimizer/OMRSimplifierHandlers.cpp
  compiler/optimizer/OrderBlocks.cpp
  compiler/ras/Debug.cpp
  compiler/ras/DebugCounter.cpp
  compiler/ras/Tree.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @Leonardo2718, @vijaysun-omr

Add CPU deallocation API to compiler
  compiler/env/OMRCPU.hpp
Owners: @dsouzai

Continue enhancing compiler's ResolvedMethod and IlGenerator
  compiler/compile/OMRResolvedMethod.cpp
  compiler/compile/OMRResolvedMethod.hpp
  compiler/compile/ResolvedMethod.hpp
  compiler/ilgen/IlGen.hpp
  compiler/ilgen/IlGeneratorMethodDetails.hpp
  compiler/ilgen/OMRIlGeneratorMethodDetails.cpp
  compiler/ilgen/OMRIlGeneratorMethodDetails.hpp
  compiler/ilgen/OMRMethodBuilder.cpp
  fvtest/compilertest/control/TestJit.cpp
  fvtest/compilertest/ilgen/MethodInfo.hpp
  fvtest/compilertest/tests/FooBarTest.cpp
  fvtest/compilertest/tests/OpCodesTest.hpp
  fvtest/compilertest/tests/Qux2Test.cpp
  fvtest/compilertest/tests/SimplifierFoldAndTest.cpp
  fvtest/compilertest/tests/TestDriver.cpp
  fvtest/compilertriltest/MinimalTest.cpp
  fvtest/compilerunittest/CompilerUnitTest.hpp
  fvtest/tril/test/IlGenTest.cpp
  fvtest/tril/tril/CallConverter.cpp
  fvtest/tril/tril/simple_compiler.cpp
Owners: @0xdaryl, @mstoodle, @Leonardo2718, @charliegracie, @fjeremic

Prevent localSlot accessing array out of bounds
  compiler/compile/OMRResolvedMethod.cpp
Owners: @0xdaryl, @mstoodle

Eradicate sprintf from the compiler test projects
  fvtest/compilertest/tests/OpCodesTest.cpp
  fvtest/compilertriltest/VectorMaskTest.cpp
  fvtest/compilertriltest/VectorTest.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl, @Leonardo2718, @fjeremic

Add GC collection reason
  gc/base/CycleState.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/MemorySubSpace.cpp
Owners: @charliegracie, @youngar

Z: Prevent register exchange across incompatible register kinds
  compiler/z/codegen/OMRMachine.cpp
Owners: @fjeremic

Add CAS API for 8 and 16 bits
  gc/base/AtomicOperations.hpp
  include_core/AtomicSupport.hpp
Owners: @charliegracie, @youngar, @mstoodle, @0xdaryl

Implement and enable vectorization of the following opcodes:
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
Owners: @aviansie-ben

Create OMR getter for PPG_vmemTmpDirPath
  include_core/omrport.h
  port/common/omrport.c
  port/common/omrvmem.c
  port/linux/omrvmem.c
  port/omrportpriv.h
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

Use correct thread environment when flushing caches
  gc/base/OMRVMInterface.cpp
  gc/base/OMRVMThreadInterface.cpp
  gc/base/OMRVMThreadInterface.hpp
Owners: @charliegracie, @youngar

Move setupProfiledGuardRelocation implementation to OpenJ9
  compiler/x/codegen/ControlFlowEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Z: Add support for vbitselect, vblend, vmfma, vnot, and vmnot.
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
Owners: @fjeremic

Pretenure large objects
  gc/base/MemorySubSpaceGenerational.cpp
Owners: @charliegracie, @youngar

Add GC collection reason
  gc/base/CycleState.hpp
  gc/base/EnvironmentBase.hpp
  gc/base/MemorySubSpace.cpp
  gc/base/segregated/SegregatedGC.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Dummy
  CONTRIBUTING.md
Owners: @charliegracie, @mstoodle, @0xdaryl

New trace point checkResize
  gc/base/j9mm.tdf
Owners: @charliegracie, @youngar

Add proper allocator support to Loggers
  compiler/compile/OMRCompilation.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/TRMemory.cpp
  compiler/env/TRMemory.hpp
  compiler/infra/Assert.cpp
  compiler/optimizer/VirtualGuardCoalescer.cpp
  compiler/ras/CallStack.cpp
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr

Add factory constructor for TR::Options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  fvtest/compilerunittest/CompilerUnitTest.hpp
Owners: @dsouzai, @charliegracie, @mstoodle, @0xdaryl

Ensure JIT IO flush/close propagate return values
  compiler/env/OMRIO.cpp
  compiler/env/OMRIO.hpp
Owners: @dsouzai

Fix operation of applying suffixes to log filenames
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Create a log filename builder
  compiler/compile/OMRCompilation.cpp
  compiler/control/CompileMethod.cpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/FrontEnd.cpp
  compiler/env/FrontEnd.hpp
  compiler/ras/OptionsDebug.cpp
  fvtest/compilertest/tests/LimitFileTest.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @charliegracie

Replace Log with Logger; manage log file from within Logger
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/control/OptimizationPlan.hpp
  compiler/ras/Debug.cpp
  compiler/ras/Debug.hpp
Owners: @0xdaryl, @mstoodle, @dsouzai

Allow TRIOStreamLogger to implicitly manage a TR::FILE stream
  compiler/env/OMRIO.cpp
  compiler/env/OMRIO.hpp
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Add fread() and correct fseek() in OMR::IO API
  compiler/env/OMRIO.cpp
  compiler/env/OMRIO.hpp
Owners: @dsouzai

Introduce CompilerEnv message logger
  compiler/env/OMRCompilerEnv.cpp
  compiler/env/OMRCompilerEnv.hpp
  compiler/ras/Logger.hpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Add Logger read() operations
  compiler/ras/Logger.cpp
  compiler/ras/Logger.hpp
Owners: @0xdaryl, @mstoodle

Replace findLogFile with Logger versions
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/ras/Debug.hpp
  compiler/ras/OptionsDebug.cpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Allow an AssertingLogger to be used as the default Logger
  compiler/control/OMROptions.cpp
  compiler/ras/Logger.cpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Ensure compilation Loggers are never NULL
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Owners: @dsouzai

Add CAS API for 8 and 16 bits
  fvtest/CMakeLists.txt
  fvtest/atomictest/CMakeLists.txt
  fvtest/atomictest/TestCAE.cpp
  fvtest/atomictest/main.cpp
  fvtest/omrtest.mk
  gc/base/AtomicOperations.hpp
  include_core/AtomicSupport.hpp
Owners: @youngar, @charliegracie, @mstoodle, @0xdaryl

AArch64: Add generateLoadEffectiveAddress helper
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @knn-k

Fixed incorrect Windows version detection
  port/win32/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Set higher timer resolution in thread sleep on Windows
  include_core/win/thrdsup.h
  thread/common/omrthread.c
Owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718
