Repository eclipse-omr/omr, changes with the owners that CODEOWNERS names for each.
All owners: @charliegracie, @mstoodle, @0xdaryl, @youngar, @dsouzai, @vijaysun-omr, @Leonardo2718, @knn-k, @aviansie-ben, @fjeremic, @babsingh

CODEOWNERS:

###############################################################################
# Copyright IBM Corp. and others 2018
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which accompanies this
# distribution and is available at https://www.eclipse.org/legal/epl-2.0/
# or the Apache License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the following
# Secondary Licenses when the conditions for such availability set
# forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
# General Public License, version 2 with the GNU Classpath
# Exception [1] and GNU General Public License, version 2 with the
# OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] https://openjdk.org/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0-only WITH Classpath-exception-2.0 OR GPL-2.0-only WITH OpenJDK-assembly-exception-1.0
###############################################################################

# Global project leads/owners
* @charliegracie @mstoodle @0xdaryl

# Build / Configure and CI
*.mk @charliegracie
*.yml @charliegracie

# CMake
*.cmake @youngar @charliegracie
/cmake/ @youngar @charliegracie
**/CMakeLists.txt @youngar @charliegracie

# GC
/gc/ @charliegracie @youngar
/glue/ @charliegracie @youngar

# Compiler
/compiler/ @0xdaryl @mstoodle
/compiler/control/ @dsouzai
/compiler/env/ @dsouzai
/compiler/runtime/ @dsouzai
/compiler/optimizer/ @vijaysun-omr
/compiler/il/ @vijaysun-omr @Leonardo2718
/compiler/arm/ @0xdaryl @knn-k
/compiler/aarch64/ @0xdaryl @knn-k
/compiler/p/ @aviansie-ben
/compiler/z/ @fjeremic

# JitBuilder
/jitbuilder/ @mstoodle @charliegracie @Leonardo2718
/compiler/ilgen @mstoodle @Leonardo2718

# Port Library
/port/ @charliegracie @youngar @babsingh

# Thread Library
/thread/ @charliegracie @youngar @babsingh

# OMR Core Utilities
/include_core/OMR/ @youngar @charliegracie @Leonardo2718 @babsingh

# Tril and Testing
/fvtest/tril/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/compilertriltest/ @Leonardo2718 @fjeremic @0xdaryl
/fvtest/jitbuildertest/ @mstoodle @charliegracie @Leonardo2718

Identify MutableCallSite for guards based on known object index
  compiler/compile/VirtualGuard.cpp
  compiler/compile/VirtualGuard.hpp
  compiler/optimizer/Inliner.hpp
Owners: @0xdaryl, @mstoodle, @vijaysun-omr

x86: Introduce vector mask tests
  fvtest/compilertriltest/CMakeLists.txt
  fvtest/compilertriltest/VectorMaskTest.cpp
Owners: @Leonardo2718, @fjeremic, @0xdaryl

Add x86 vpbroadcast{b,w,d,q} instructions
  compiler/x/codegen/X86Ops.ins
Owners: @0xdaryl, @mstoodle

Add vpbroadcast{b,w,d,q} binary encoder unit tests
  fvtest/compilerunittest/x/BinaryEncoder.cpp
Owners: @charliegracie, @mstoodle, @0xdaryl

x86: Create vector broadcast helper
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Add vpbroadcast{b,w} paths to broadcast helper
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Improve x86 arrayset
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

Use getprocs64 to extract command line on AIX
  port/common/omrport.tdf
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Add the macros with the hardcoded prefixes
  compiler/aarch64/codegen/OMRLinkage.cpp
  compiler/arm/codegen/FPTreeEvaluator.cpp
  compiler/codegen/CodeGenRA.cpp
  compiler/codegen/OMRTreeEvaluator.cpp
  compiler/compile/OMRSymbolReferenceTable.cpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/optimizer/InductionVariable.cpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/OrderBlocks.cpp
  compiler/p/codegen/BinaryEvaluator.cpp
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRPeephole.cpp
  compiler/ras/DebugCounter.cpp
  compiler/x/codegen/BinaryEvaluator.cpp
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/OMRMemoryReference.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/i386/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/BinaryCommutativeAnalyser.cpp
  compiler/z/codegen/BinaryEvaluator.cpp
  compiler/z/codegen/ControlFlowEvaluator.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRLinkage.cpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/OMRPeephole.cpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/S390GenerateInstructions.cpp
  compiler/z/codegen/S390Instruction.cpp
Owners: @0xdaryl, @knn-k, @mstoodle, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @fjeremic

Refactor the code
  compiler/codegen/CodeGenRA.cpp
  compiler/il/Aliases.cpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRResolvedMethodSymbol.cpp
  compiler/optimizer/Inliner.cpp
  compiler/z/codegen/OMRCodeGenerator.cpp
  compiler/z/codegen/OMRMachine.cpp
  compiler/z/codegen/OMRPeephole.cpp
Owners: @0xdaryl, @mstoodle, @vijaysun-omr, @Leonardo2718, @fjeremic

x86: Create vector broadcast helper
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/SIMDTreeEvaluator.cpp
Owners: @0xdaryl, @mstoodle

x86: enable mstore/mstorei mask opcodes
  compiler/x/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

x86: Implement vector shift/rotate for short/int/long on AVX-2+
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/X86OpcodeTable.hpp
Owners: @0xdaryl, @mstoodle

Add msplats Vector operation
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

Add an alternative way to unmap heapProxyObject
  gc/base/SparseAddressOrderedFixedSizeDataPool.cpp
  gc/base/SparseAddressOrderedFixedSizeDataPool.hpp
  gc/base/SparseVirtualMemory.cpp
  gc/base/SparseVirtualMemory.hpp
Owners: @charliegracie, @youngar

Conditionally retry code cache reservation ignoring the kind
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/runtime/OMRCodeCacheManager.cpp
  compiler/runtime/OMRCodeCacheManager.hpp
Owners: @dsouzai

Use mmap to Allocate Code Cache Memory on 64-bit PPC
  port/aix/omrvmem.c
Owners: @charliegracie, @youngar, @babsingh

Use getprocs64 to extract command line on AIX
  port/common/omrport.tdf
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Remove TR_X87_Mask guarded code
  compiler/codegen/RegisterConstants.hpp
  compiler/ras/Debug.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRRegisterDependency.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
Owners: @0xdaryl, @mstoodle

Add binary logical operations for masks
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

x86: Insert padding after end-of-method call
  compiler/x/codegen/OMRCodeGenerator.cpp
Owners: @0xdaryl, @mstoodle

Add binary logical operations for masks
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

Add msplats Vector operation
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
  compiler/aarch64/codegen/OMRTreeEvaluator.hpp
  compiler/arm/codegen/OMRTreeEvaluator.cpp
  compiler/arm/codegen/OMRTreeEvaluator.hpp
  compiler/il/VectorOperations.enum
  compiler/optimizer/OMRSimplifierTable.enum
  compiler/optimizer/ValuePropagationTable.hpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
  compiler/p/codegen/OMRTreeEvaluator.hpp
  compiler/riscv/codegen/OMRTreeEvaluator.cpp
  compiler/riscv/codegen/OMRTreeEvaluator.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRTreeEvaluator.hpp
  compiler/z/codegen/OMRTreeEvaluator.cpp
  compiler/z/codegen/OMRTreeEvaluator.hpp
Owners: @0xdaryl, @knn-k, @vijaysun-omr, @Leonardo2718, @aviansie-ben, @mstoodle, @fjeremic

Use proc_listpids to extract pids on macOS
  port/common/omrport.tdf
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Enable Power Instruction cnttzw for the CountPositives Instrinsic
  compiler/p/codegen/OMRInstOpCode.enum
  compiler/p/codegen/OMRInstOpCodeProperties.hpp
Owners: @aviansie-ben

Initial changes for Open XL z/os support
  port/common/omrgetsysname.h
  port/unix/omrshmem.c
  port/unix/omrshsem_deprecated.c
  port/zos390/omrgetthent.h
  port/zos390/omrsimap.h
  thread/common/thrprof.c
  thread/zos390/omrgetthent.h
  util/omrutil/gettimebase.c
Owners: @charliegracie, @youngar, @babsingh, @mstoodle, @0xdaryl

Modify scavenger GC count
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Enable /proc support on z/OS for system processes (APAR OA62757)
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Initial changes for Open XL z/os support
  port/common/omrgetsysname.h
  port/unix/omrshmem.c
  port/unix/omrshsem_deprecated.c
  port/zos390/omrgetthent.h
  port/zos390/omrsimap.h
  thread/common/thrprof.c
  thread/zos390/omrgetthent.h
  util/omrutil/gettimebase.c
Owners: @charliegracie, @youngar, @babsingh, @mstoodle, @0xdaryl

Remove usage of zos_rename_exports for Open XL
  cmake/modules/platform/toolcfg/openxl.cmake
Owners: @youngar, @charliegracie

Adjust header includes to resolve Open XL errors
  port/unix/omrfile.c
  port/unix_include/omriconvhelpers.h
Owners: @charliegracie, @youngar, @babsingh

Enable /proc support on z/OS for system processes (APAR OA62757)
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Modify scavenger GC count
  gc/base/Collector.cpp
  gc/base/GCExtensionsBase.cpp
  gc/base/GCExtensionsBase.hpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Owners: @charliegracie, @youngar

Add kill switch for disabling the use of AVX instructions in arraycopies
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
Owners: @dsouzai, @0xdaryl, @mstoodle

Use proc_listpids to extract pids on macOS
  port/common/omrport.tdf
  port/unix/omrsysinfo.c
Owners: @charliegracie, @youngar, @babsingh

Prevent JIT bodies from strictly outliving methods inlined into them
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
  compiler/env/CMakeLists.txt
  compiler/env/OMRRetainedMethodSet.cpp
  compiler/env/OMRRetainedMethodSet.hpp
  compiler/il/OMRNode.cpp
  compiler/il/OMRNode.hpp
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/Inliner.cpp
  compiler/optimizer/InlinerFailureReason.hpp
  compiler/optimizer/LocalOpts.cpp
  compiler/optimizer/VPHandlers.cpp
  compiler/optimizer/abstractinterpreter/OMRIDTBuilder.cpp
  compiler/ras/Debug.cpp
  compiler/runtime/OMRRuntimeAssumptions.hpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr, @Leonardo2718

Update RetainedMethodSet (for review, to squash)
  compiler/compile/OMRCompilation.cpp
  compiler/compile/OMRCompilation.hpp
  compiler/env/OMRRetainedMethodSet.cpp
  compiler/env/OMRRetainedMethodSet.hpp
  compiler/optimizer/CallInfo.hpp
  compiler/optimizer/Inliner.cpp
Owners: @0xdaryl, @mstoodle, @dsouzai, @vijaysun-omr

Implement mAnyTrue and mmAnyTrue
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Implement mAllTrue and mmAllTrue
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Owners: @aviansie-ben

Add GC pause info for use in JFR
  gc/base/segregated/SegregatedGC.cpp
  gc/base/standard/ConcurrentGC.cpp
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
  gc/stats/CollectionStatistics.hpp
Owners: @charliegracie, @youngar
